Repository camunda/camunda-docs, pull requests merged in 2021-11, with the labels that each got.

#423 feat: add page for making iam production ready
  docs/self-managed/iam/deployment/making-iam-production-ready.md
  sidebars.js
Labels: kind/documentation, component/iam

#425 feat: add to list of environmental variables
  docs/self-managed/iam/deployment/configuration-variables.md
Labels: kind/documentation, component/iam

#450 Remove Prow-related files
  versioned_docs/version-0.26/components/OWNERS
  versioned_docs/version-0.26/components/cloud-console/OWNERS
  versioned_docs/version-0.26/components/operate/OWNERS
  versioned_docs/version-0.26/components/tasklist/OWNERS
  versioned_docs/version-0.26/components/zeebe/OWNERS
  versioned_docs/version-0.26/guides/OWNERS
Labels: area/infra, kind/cleanup

#440 Migrate all 3rd Party Libraries & Dependencies to Reference
  docs/components/operate/third-party-libraries/operate-backend-dependencies.md
  docs/components/operate/third-party-libraries/operate-frontend-dependencies.md
  docs/components/tasklist/third-party-libraries/tasklist-backend-dependencies.md
  docs/components/tasklist/third-party-libraries/tasklist-frontend-dependencies.md
  docs/components/zeebe/third-party-libraries/zeebe-dependencies.md
  docs/reference/dependencies.md
  docs/reference/overview.md
  docs/self-managed/iam/third-party-libraries/backend-third-party-libraries.md
  docs/self-managed/iam/third-party-libraries/frontend-third-party-libraries.md
  sidebars.js
  static/.htaccess
Labels: needs-rebase
