Repository camunda/camunda-docs, pull requests merged in 2022-06, with the labels that each got.

#953 linking to operate and tasklist usage metric APIs documentation
  docs/apis-clients/overview.md
Labels: component/docs

#952 removing regions detail from guides content
  docs/guides/assets/react-components/create-cluster.md
Labels: component/docs

#961 lowercase process analyst and process developer
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
Labels: component/docs

#920 clarifying deployment in utilizing forms and adjusting UI for BPMN guide
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/utilizing-forms.md
Labels: component/docs

#829 chore(element-templates): update to latest schema version
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component/modeler, component/docs

#996 adjust broken POJO GH link
  docs/apis-clients/java-client-examples/data-pojo.md
Labels: component:zeebe

#830 implementing dmn guide
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/img/dmn-model-example.png
  docs/guides/img/dmn-table-blank.png
  docs/guides/img/dmn-table-complete-example.png
  docs/guides/img/dmn-table-example.png
  sidebars.js
Labels: component:docs
