Repository camunda/camunda-docs, pull requests merged in 2022-07, with the labels that each got.

#995 make console api rest more visible
  docs/apis-clients/console-api-reference.md
Labels: component:docs

#1013 changing open-source to open source
  CONTRIBUTING.MD
  docs/apis-clients/overview.md
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/concepts/processes.md
  docs/components/modeler/forms/camunda-forms-reference.md
  docs/components/zeebe/open-source/community-contributions.md
  docs/components/zeebe/technical-concepts/protocols.md
  howtos/configuration.md
  howtos/documentation-workflows.MD
Labels: component:docs

#1014 Docs c8 feedback cleanup
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/self-managed/platform-deployment/kubernetes.md
Labels: component:docs

#1017 correcting text according to UI
  docs/guides/setup-client-connection-credentials.md
Labels: component:docs

#1041 chore(optimize): version policy
  docs/self-managed/optimize-deployment/version-policy.md
  sidebars.js
Labels: component:optimize

#1004 chore(docs): add migration guide for upgrade to 3.9.0-preview-1
  docs/self-managed/optimize-deployment/migration-update/3.8-to-3.9-preview.md
  docs/self-managed/optimize-deployment/migration-update/instructions.md
  docs/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_380_390_preview_1.diff
Labels: component:optimize

#1058 Clarify secrets in expressions and request header
  docs/components/console/manage-clusters/manage-secrets.md
  docs/components/modeler/web-modeler/connectors/available-connectors/rest.md
Labels: component:docs

#994 docs(identity): add troubleshooting for SSL issues
  docs/self-managed/identity/troubleshooting/common-problems.md
  docs/self-managed/identity/troubleshooting/index.md
  docs/self-managed/platform-deployment/known-limitations.md
  sidebars.js
Labels: component:identity

#1066 fix gsg structure overview
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/guides/introduction-to-camunda-cloud.md
  docs/guides/introduction-to-camunda-platform-8.md
  docusaurus.config.js
  sidebars.js
Labels: component:docs, dx

#1067 chore(optimize): update email config instructions
  docs/components/optimize/userguide/additional-features/alerts.md
Labels: component:optimize

#1069 rename api clients pages
  docs/apis-clients/cli-client/cli-get-started.md
  docs/apis-clients/go-client/go-get-started.md
  docs/apis-clients/optimize-api/configuration/disable-sharing.md
  docs/apis-clients/optimize-api/configuration/enable-sharing.md
  docs/apis-clients/optimize-api/dashboard/delete-dashboard.md
  docs/apis-clients/optimize-api/dashboard/export-dashboard-definitions.md
  docs/apis-clients/optimize-api/dashboard/get-dashboard-ids.md
  docs/apis-clients/optimize-api/event-ingestion.md
  docs/apis-clients/optimize-api/external-variable-ingestion.md
  docs/apis-clients/optimize-api/import-entities.md
  docs/apis-clients/optimize-api/optimize-api-authorization.md
  docs/apis-clients/optimize-api/report/delete-report.md
  docs/apis-clients/optimize-api/report/export-report-definitions.md
  docs/apis-clients/optimize-api/report/get-data-export.md
  docs/apis-clients/optimize-api/report/get-report-ids.md
  docs/apis-clients/optimize-api/variable-labeling.md
  docs/apis-clients/tasklist-api/tasklist-api-overview.md
  docs/apis-clients/tasklist-api/tasklist-api-tutorial.md
  docs/apis-clients/working-with-apis-clients.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/concepts/incidents.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/tasklist/introduction.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/self-managed/optimize-deployment/install-and-start.md
  docs/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  docs/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  docusaurus.config.js
  product-links.txt
  sidebars.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-1.3/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
Labels: component:docs, dx

#1071 rename components overview pages
  docs/components/best-practices/architecture/understanding-human-tasks-management.md
  docs/components/best-practices/best-practices-overview.md
  docs/components/best-practices/modeling/creating-readable-process-models.md
  docs/components/components-overview.md
  docs/components/concepts/incidents.md
  docs/components/concepts/process-instance-creation.md
  docs/components/concepts/processes.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/console/console-troubleshooting/common-pitfalls.md
  docs/components/console/console-troubleshooting/feedback-and-support.md
  docs/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  docs/components/console/introduction-to-console.md
  docs/components/modeler/about-modeler.md
  docs/components/modeler/bpmn/bpmn-primer.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/forms/camunda-forms-reference.md
  docs/components/modeler/web-modeler/connectors/available-connectors/available-connectors-overview.md
  docs/components/modeler/web-modeler/connectors/introduction-to-connectors.md
  docs/components/modeler/web-modeler/connectors/use-connectors.md
  docs/components/operate/operate-introduction.md
  docs/components/optimize/userguide/decision-analysis/decision-analysis-overview.md
  docs/components/optimize/userguide/process-analysis/process-analysis-overview.md
  docs/components/optimize/what-is-optimize.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/tasklist/userguide/using-tasklist.md
  docs/components/zeebe/technical-concepts/technical-concepts-overview.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/getting-started-orchestrate-api-endpoints.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/implementing-connectors.md
  docs/guides/introduction-to-camunda-platform-8.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/guides/utilizing-forms.md
  docs/self-managed/concepts/access-control/permissions.md
  docs/self-managed/identity/user-guide/adding-a-permission.md
  docusaurus.config.js
  product-links.txt
  sidebars.js
  static/.htaccess
  versioned_docs/version-1.3/components/best-practices/architecture/understanding-human-tasks-management.md
  versioned_docs/version-1.3/components/best-practices/modeling/creating-readable-process-models.md
Labels: component:docs, dx

#1075 Update workflow-patterns.md
  docs/components/concepts/workflow-patterns.md
Labels: component:docs

#1077 docs rename selfmanaged
  docs/apis-clients/operate-api/index.md
  docs/apis-clients/tasklist-api/tasklist-api-overview.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/operations/operating-camunda-c7.md
  docs/components/components-overview.md
  docs/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/update-guide/026-to-100.md
  docs/guides/update-guide/130-to-800.md
  docs/reference/glossary.md
  docs/reference/supported-environments.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/identity/getting-started/install-identity.md
  docs/self-managed/identity/troubleshooting/troubleshoot-identity.md
  docs/self-managed/identity/what-is-identity.md
  docs/self-managed/operate-deployment/install-and-start.md
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/optimize-deployment/install-and-start.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/index.md
  docs/self-managed/platform-deployment/platform-8-deployment.md
  docs/self-managed/tasklist-deployment/install-and-start.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/troubleshooting/log-levels.md
  docs/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  docusaurus.config.js
  sidebars.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-1.3/components/best-practices/operations/operating-camunda-c7.md
Labels: component:docs, dx

#1070 Omit public modifier for test classes
  docs/components/best-practices/development/testing-process-definitions.md
Labels: component:docs

#1085 chore(deps): update docusaurus from beta-18 to beta-20
  docs/apis-clients/cli-client/cli-get-started.md
  docs/components/components-overview.md
  docs/components/concepts/incidents.md
  docs/components/concepts/job-workers.md
  docs/components/concepts/process-instance-creation.md
  docs/components/concepts/processes.md
  docs/components/console/introduction-to-console.md
  docs/components/modeler/about-modeler.md
  docs/components/zeebe/technical-concepts/technical-concepts-overview.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/implementing-connectors.md
  docs/guides/utilizing-forms.md
  docs/reference/glossary.md
  docs/reference/supported-environments.md
  docusaurus.config.js
  package-lock.json
  package.json
  src/theme/Footer/index.js
  versioned_docs/version-0.26/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-1.0/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-1.1/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-1.1/components/zeebe/technical-concepts/index.md
  versioned_docs/version-1.2/apis-clients/grpc.md
  versioned_docs/version-1.2/apis-clients/java-client/testing.md
  versioned_docs/version-1.2/components/cloud-console/introduction.md
  versioned_docs/version-1.2/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-1.2/components/zeebe/technical-concepts/index.md
  versioned_docs/version-1.2/guides/getting-started/monitor-your-process-in-operate.md
  versioned_docs/version-1.2/reference/glossary.md
  versioned_docs/version-1.3/apis-clients/grpc.md
  versioned_docs/version-1.3/apis-clients/java-client/testing.md
  versioned_docs/version-1.3/components/cloud-console/introduction.md
  versioned_docs/version-1.3/components/cloud-console/manage-organization/manage-users.md
  versioned_docs/version-1.3/components/concepts/incidents.md
  versioned_docs/version-1.3/components/concepts/job-workers.md
  versioned_docs/version-1.3/components/concepts/process-instance-creation.md
  versioned_docs/version-1.3/components/concepts/processes.md
  versioned_docs/version-1.3/components/modeler/about.md
  versioned_docs/version-1.3/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-1.3/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-1.3/components/overview.md
  versioned_docs/version-1.3/components/zeebe/technical-concepts/index.md
  versioned_docs/version-1.3/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-1.3/guides/getting-started/monitor-your-process-in-operate.md
  versioned_docs/version-1.3/guides/utilizing-forms.md
  versioned_docs/version-1.3/reference/glossary.md
Labels: component:docs, dx

#1097 chore(product-links): update prop panel links
  product-links.txt
Labels: component:docs, dx

#1088 decision report
  docs/apis-clients/optimize-api/report/delete-report.md
  docs/apis-clients/optimize-api/report/get-data-export.md
  docs/components/optimize/userguide/collections-dashboards-reports.md
  docs/components/optimize/userguide/combined-process-reports.md
  docs/self-managed/optimize-deployment/migration-update/2.2-to-2.3.md
  sidebars.js
  static/.htaccess
Labels: component:docs, component:optimize, dx

#1086 connectors technical review
  docs/components/modeler/web-modeler/connectors/available-connectors/available-connectors-overview.md
  docs/components/modeler/web-modeler/connectors/available-connectors/rest.md
  docs/components/modeler/web-modeler/connectors/available-connectors/sendgrid.md
  docs/components/modeler/web-modeler/connectors/available-connectors/slack.md
  docs/components/modeler/web-modeler/connectors/introduction-to-connectors.md
  docs/components/modeler/web-modeler/connectors/use-connectors.md
Labels: component:modeler, component:docs, dx, component:connectors

#1099 adjust numerical lists across guides
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/message-correlation.md
  docs/guides/setup-client-connection-credentials.md
Labels: component:docs

#1105 Docs versions fix
  static/.htaccess
  versioned_docs/version-0.25/components/overview.md
  versioned_docs/version-0.26/components/overview.md
  versioned_docs/version-1.0/components/overview.md
  versioned_docs/version-1.1/components/overview.md
  versioned_docs/version-1.2/apis-clients/overview.md
  versioned_docs/version-1.2/components/overview.md
  versioned_docs/version-1.2/self-managed/overview.md
  versioned_docs/version-1.3/apis-clients/overview.md
  versioned_docs/version-1.3/components/overview.md
  versioned_docs/version-1.3/self-managed/overview.md
  versioned_sidebars/version-0.25-sidebars.json
  versioned_sidebars/version-0.26-sidebars.json
  versioned_sidebars/version-1.0-sidebars.json
  versioned_sidebars/version-1.1-sidebars.json
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-1.3-sidebars.json
Labels: component:docs, dx
