Repository camunda/camunda-docs, pull requests merged in 2022-10, with the labels that each got.

#1319 Add dependencies for identity
  docs/reference/dependencies.md
  versioned_docs/version-8.0/reference/dependencies.md
Labels: component:identity

#1336 chore(deps): update supported engine versions to remove 7.15 and add 7.18
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.9-preview-to-3.9.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
Labels: component:optimize

#1334 feat: automate & describe versioning process now that multi-instance makes it more complicated
  hacks/cutNewVersions.sh
  howtos/release-procedure.md
Labels: kind/enhancement, component:docs, dx, epic:optimize-versions

#1357 fix: correct numeration
  docs/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
Labels: kind/bug

#1361 feat(connector-sdk): release SDK version -> 0.2.0 to 0.2.2
  docs/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
Labels: component:docs

#1354 docs(banner): sign up banner CTA
  docusaurus.config.js
Labels: component:docs

#1352 Identity/add external provider info
  docs/self-managed/identity/user-guide/configure-external-identity-provider.md
  docs/self-managed/identity/user-guide/img/keycloak-add-identity-provider.png
  docs/self-managed/identity/user-guide/img/keycloak-add-user-federation.png
  docs/self-managed/identity/user-guide/img/keycloak-realm-select.png
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.0/self-managed/identity/user-guide/configure-external-identity-provider.md
  versioned_docs/version-8.0/self-managed/identity/user-guide/img/keycloak-add-identity-provider.png
  versioned_docs/version-8.0/self-managed/identity/user-guide/img/keycloak-add-user-federation.png
  versioned_docs/version-8.0/self-managed/identity/user-guide/img/keycloak-realm-select.png
Labels: component:identity

#1367 chore: re-synchronize sidebars & optimize_sidebars in prep for v8.1
  optimize_sidebars.js
  sidebars.js
Labels: component:docs, dx

#1372 chore(backup-restore): lowercase list
  docs/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/backup-and-restore.md
Labels: component:docs

#1374 chore(typo): Fix grammar and missing Oxford Comma
  versioned_docs/version-8.1/components/best-practices/best-practices-overview.md
Labels: component:docs

#1395 Add note about critical Zeebe issue in version 8.1.1
  docs/guides/update-guide/800-to-810.md
  versioned_docs/version-8.1/guides/update-guide/800-to-810.md
Labels: component:zeebe

#1390 adjust feature rename for micronaut
  versioned_docs/version-1.2/apis-clients/community-clients/micronaut.md
  versioned_docs/version-1.3/apis-clients/community-clients/micronaut.md
  versioned_docs/version-8.0/apis-clients/community-clients/micronaut.md
Labels: component:docs

#1398 adjust modeler references
  docs/apis-clients/go-client/go-get-started.md
  docs/components/modeler/desktop-modeler/element-templates/about-templates.md
  docs/components/modeler/desktop-modeler/element-templates/additional-resources.md
  docs/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  docs/components/modeler/desktop-modeler/flags/flags.md
  docs/components/modeler/desktop-modeler/install-the-modeler.md
  docs/components/modeler/desktop-modeler/plugins/plugins.md
  docs/components/modeler/desktop-modeler/search-paths/search-paths.md
  docs/components/modeler/dmn/dmn.md
  docs/guides/migrating-from-cawemo.md
  docs/guides/utilizing-forms.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/platform-deployment/docker.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-8.0/apis-clients/go-client/go-get-started.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/about-templates.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/additional-resources.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/plugins/plugins.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.0/guides/migrating-from-cawemo.md
  versioned_docs/version-8.0/guides/utilizing-forms.md
  versioned_docs/version-8.0/self-managed/about-self-managed.md
  versioned_docs/version-8.1/apis-clients/go-client/go-get-started.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/about-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/additional-resources.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/plugins/plugins.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.1/guides/migrating-from-cawemo.md
  versioned_docs/version-8.1/guides/utilizing-forms.md
  versioned_docs/version-8.1/self-managed/about-self-managed.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
Labels: component:modeler

#1409 (retro) zeebe management api review
  docs/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/management-api.md
Labels: component:zeebe

#1401 (retro) identity external provider review
  docs/self-managed/identity/user-guide/configure-external-identity-provider.md
  versioned_docs/version-8.0/self-managed/identity/user-guide/configure-external-identity-provider.md
  versioned_docs/version-8.1/self-managed/identity/user-guide/configure-external-identity-provider.md
Labels: component:identity

#1402 (retro) c8 backup and restore review
  docs/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/backup-and-restore.md
Labels: component:docs

#1406 (retro) optimize backup docs review
  docs/self-managed/backup-restore/optimize-backup.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.1/self-managed/backup-restore/optimize-backup.md
Labels: component:optimize

#1410 (retro) early access review
  docs/reference/early-access.md
  versioned_docs/version-8.1/reference/early-access.md
Labels: component:docs

#1400 (retro) technical review web modeler self managed
  docs/reference/supported-environments.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/overview.md
  docs/self-managed/web-modeler/installation.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.1/self-managed/about-self-managed.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/web-modeler/installation.md
Labels: component:modeler

#1411 (retro) external sso review
  docs/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.1/components/console/manage-organization/external-sso.md
Labels: component:docs

#1399 docs: describe multi-instance sidebars
  hacks/generateOptimizeSidebars.md
  howtos/documentation-guidelines.md
  howtos/versioning.md
Labels: kind/enhancement, component:docs, dx

#1424 (retro) process instance modification review
  docs/components/operate/userguide/process-instance-modification.md
  versioned_docs/version-8.1/components/operate/userguide/process-instance-modification.md
Labels: component:operate

#1423 (retro) zeebe backup restore review
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
  docs/self-managed/zeebe-deployment/operations/backups.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.1/self-managed/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/backups.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:zeebe

#1425 (retro) connectors review
  docs/components/integration-framework/connectors/out-of-the-box-connectors/aws-lambda.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/aws-sqs.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/googledrive.md
  versioned_docs/version-8.1/components/integration-framework/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.1/components/integration-framework/connectors/out-of-the-box-connectors/aws-sqs.md
  versioned_docs/version-8.1/components/integration-framework/connectors/out-of-the-box-connectors/googledrive.md
Labels: component:connectors

#1407 (retro) operate and tasklist backup restore review
  docs/self-managed/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.1/self-managed/backup-restore/operate-tasklist-backup.md
Labels: component:operate, component:tasklist

#1421 feat: add ability to run local Apache server to test htaccess redirects
  Dockerfile
  docker-compose.yml
  howtos/documentation-guidelines.md
Labels: component:docs, dx
