Repository camunda/camunda-docs, pull requests merged in 2022-12, with the labels that each got.

#1550 GSC Ownership Verification
  static/google936814ef67c9c249.html
Labels: dx

#1549 feat(connectors): move secrets handling to Connector guide
  docs/components/connectors/use-connectors.md
  docs/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.0/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.1/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-secrets.md
Labels: component:connectors

#1546 incorporate javadoc link
  docs/apis-clients/java-client/index.md
  versioned_docs/version-8.0/apis-clients/java-client/index.md
  versioned_docs/version-8.1/apis-clients/java-client/index.md
Labels: component:docs

#1495 Adjust docs for Tasklist `claimTask` mutation
  docs/apis-clients/tasklist-api/assets/tasklist.graphqls
  docs/apis-clients/tasklist-api/directives/deprecated.mdx
  docs/apis-clients/tasklist-api/directives/include.mdx
  docs/apis-clients/tasklist-api/directives/skip.mdx
  docs/apis-clients/tasklist-api/directives/specified-by.mdx
  docs/apis-clients/tasklist-api/enums/task-state.mdx
  docs/apis-clients/tasklist-api/generated.md
  docs/apis-clients/tasklist-api/inputs/task-query.mdx
  docs/apis-clients/tasklist-api/inputs/variable-input.mdx
  docs/apis-clients/tasklist-api/mutations/claim-task.mdx
  docs/apis-clients/tasklist-api/mutations/complete-task.mdx
  docs/apis-clients/tasklist-api/mutations/delete-process-instance.mdx
  docs/apis-clients/tasklist-api/mutations/unclaim-task.mdx
  docs/apis-clients/tasklist-api/objects/form.mdx
  docs/apis-clients/tasklist-api/objects/task.mdx
  docs/apis-clients/tasklist-api/objects/user.mdx
  docs/apis-clients/tasklist-api/objects/variable.mdx
  docs/apis-clients/tasklist-api/queries/current-user.mdx
  docs/apis-clients/tasklist-api/queries/form.mdx
  docs/apis-clients/tasklist-api/queries/task.mdx
  docs/apis-clients/tasklist-api/queries/tasks.mdx
  docs/apis-clients/tasklist-api/queries/variable.mdx
  docs/apis-clients/tasklist-api/queries/variables.mdx
  docs/apis-clients/tasklist-api/scalars/boolean.mdx
  docs/apis-clients/tasklist-api/scalars/id.mdx
  docs/apis-clients/tasklist-api/scalars/int.mdx
  docs/apis-clients/tasklist-api/scalars/string.mdx
  docs/apis-clients/tasklist-api/sidebar-schema.js
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist

#1560 Update setup-client-connection-credentials.md
  docs/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.1/guides/setup-client-connection-credentials.md
Labels: component:docs

#1561 Update manage-api-clients.md
  docs/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-api-clients.md
Labels: component:docs

#1574 feat(connectors): consolidate third party notice links
  docs/reference/dependencies.md
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
Labels: component:connectors

#1521 feat(connectors): Slack channel creation
  docs/components/connectors/img/connectors-slack-compose.png
  docs/components/connectors/img/connectors-slack-create-channel.png
  docs/components/connectors/img/connectors-slack-invite-to-channel.png
  docs/components/connectors/img/connectors-slack-post-message.png
  docs/components/connectors/img/connectors-slack-red-properties.png
  docs/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.0/components/connectors/img/connectors-slack-compose.png
  versioned_docs/version-8.0/components/connectors/img/connectors-slack-create-channel.png
  versioned_docs/version-8.0/components/connectors/img/connectors-slack-invite-to-channel.png
  versioned_docs/version-8.0/components/connectors/img/connectors-slack-post-message.png
  versioned_docs/version-8.0/components/connectors/img/connectors-slack-red-properties.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-compose.png
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-create-channel.png
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-invite-to-channel.png
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-post-message.png
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-red-properties.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors

#1535 REST connector: update documentation for oauth
  docs/components/connectors/img/connectors-rest-oauth-token.png
  docs/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-oauth-token.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-oauth-token.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rest.md
Labels: component:connectors

#1552 Update available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
Labels: component:connectors

#1583 fix: add release notes and link to the blog post in the introduction of update guide
  docs/guides/update-guide/introduction.md
  versioned_docs/version-8.1/guides/update-guide/introduction.md
Labels: component:docs

#1573 Provide link to the console in the docs
  docs/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.1/guides/setup-client-connection-credentials.md
Labels: kind/cleanup, component:docs

#1575 Unify naming
  docs/apis-clients/java-client/index.md
  versioned_docs/version-8.1/apis-clients/java-client/index.md
Labels: kind/cleanup, component:docs

#1572 Remove unnecessary list element
  docs/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.1/guides/automating-a-process-using-bpmn.md
Labels: kind/cleanup, component:docs

#1586 chore(web-modeler): update to version 0.3.0-beta
  docs/reference/dependencies.md
  docs/reference/supported-environments.md
  docs/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
Labels: component:docs

#1566 standardize across Zeebe diagrams
  docs/components/concepts/assets/create-process-with-result.png
  docs/components/concepts/assets/create-process.png
  docs/components/concepts/assets/message-correlation.png
  docs/components/concepts/assets/variable-mappings.png
  docs/components/concepts/assets/variable-propagation.png
  docs/components/concepts/assets/variable-scopes.png
  docs/components/concepts/assets/zeebe-job-workers-graphic.png
  docs/components/zeebe/technical-concepts/assets/data-distribution.png
  docs/components/zeebe/technical-concepts/assets/internal-processing-job.png
  docs/components/zeebe/technical-concepts/assets/zeebe-architecture.png
Labels: component:zeebe, component:docs, dx
