Repository camunda/camunda-docs, pull requests merged in 2022-11, with the labels that each got.

#1439 note optimize collaborative capabilities
  docs/guides/improve-processes-with-optimize.md
  optimize/components/userguide/collections-dashboards-reports.md
  optimize/components/userguide/creating-dashboards.md
  optimize/components/userguide/creating-reports.md
  optimize/components/userguide/user-permissions.md
  optimize/components/what-is-optimize.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.9.0/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/creating-dashboards.md
  optimize_versioned_docs/version-3.9.0/components/userguide/creating-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/user-permissions.md
  optimize_versioned_docs/version-3.9.0/components/what-is-optimize.md
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.0/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.1/guides/improve-processes-with-optimize.md
Labels: component:optimize

#1451 switch position of optimize and tasklist in sidebar
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:optimize

#1467 feat(connectors): include Integration Framework
  docs/components/connectors/introduction.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.0/components/connectors/introduction.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/introduction.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1488 fix process typo in best practice
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.0/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.1/components/best-practices/architecture/sizing-your-environment.md
Labels: component:docs

#1472 feat(connectors): describe BPMN Errors
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/img/use-connectors-error-general.png
  docs/components/connectors/use-connectors.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/img/use-connectors-error-general.png
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/img/use-connectors-error-general.png
  versioned_docs/version-8.1/components/connectors/use-connectors.md
Labels: hold, component:connectors

#1456 feat(guides): add Connectors `0.3` update guide
  docs/guides/update-guide/connectors/010-to-020.md
  docs/guides/update-guide/connectors/020-to-030.md
  docs/guides/update-guide/connectors/introduction.md
  sidebars.js
  versioned_docs/version-8.0/guides/update-guide/connectors/010-to-020.md
  versioned_docs/version-8.0/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.0/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.1/guides/update-guide/connectors/010-to-020.md
  versioned_docs/version-8.1/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1499 feat: update Connectors to 0.3.0
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/console/manage-clusters/manage-secrets.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.0/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.0/self-managed/platform-deployment/local.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
Labels: component:connectors

#1462 fix(self-managed): fix misleading description for restore
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/zeebe-backup-and-restore.md
Labels: component:zeebe, component:docs

#1494 feat: introduce Connector SDK `0.3.0`
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/img/use-connectors-error-general.png
  docs/components/connectors/use-connectors.md
  docs/components/console/manage-clusters/manage-secrets.md
  docs/guides/update-guide/connectors/010-to-020.md
  docs/guides/update-guide/connectors/020-to-030.md
  docs/guides/update-guide/connectors/introduction.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/manual.md
  sidebars.js
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/img/use-connectors-error-general.png
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.0/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.0/guides/update-guide/connectors/010-to-020.md
  versioned_docs/version-8.0/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.0/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.0/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.0/self-managed/platform-deployment/local.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/img/use-connectors-error-general.png
  versioned_docs/version-8.1/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.1/guides/update-guide/connectors/010-to-020.md
  versioned_docs/version-8.1/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1448 feat(rest-connector): Update docs for Rest-http Connector
  docs/components/connectors/img/connectors-rest-basic-auth.png
  docs/components/connectors/img/connectors-rest-bearer-token-auth.png
  docs/components/connectors/img/connectors-rest-http-connection-timeout.png
  docs/components/connectors/img/connectors-rest-red-properties.png
  docs/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-basic-auth.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-bearer-token-auth.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-http-connection-timeout.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-red-properties.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-basic-auth.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-bearer-token-auth.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-http-connection-timeout.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-red-properties.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rest.md
Labels: component:connectors

#1449 feat(rabbitmq-connector): add documentation for rabbitMq connector
  docs/components/connectors/img/connectors-rabbitmq-append-connector.png
  docs/components/connectors/img/connectors-rabbitmq-credentials-fields.png
  docs/components/connectors/img/connectors-rabbitmq-message-with-properties.png
  docs/components/connectors/img/connectors-rabbitmq-red-properties.png
  docs/components/connectors/img/connectors-rabbitmq-routing.png
  docs/components/connectors/img/connectors-rabbitmq-uri-fields.png
  docs/components/connectors/img/connectors-rabbitmq-wrench-shaped.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq.md
  docs/reference/dependencies.md
  docs/self-managed/connectors-deployment/install-and-start.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-append-connector.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-credentials-fields.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-message-with-properties.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-red-properties.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-routing.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-uri-fields.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-wrench-shaped.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-append-connector.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-credentials-fields.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-message-with-properties.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-red-properties.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-routing.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-uri-fields.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-wrench-shaped.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: hold, component:connectors

#1469 docs(aws sns): add AWS SNS OOTB connector doc
  docs/components/connectors/img/connectors-aws-sns-filled.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-sns.md
  docs/reference/dependencies.md
  docs/self-managed/connectors-deployment/install-and-start.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-aws-sns-filled.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-sns.md
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/components/connectors/img/connectors-aws-sns-filled.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-sns.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1502 chore(self-managed): set index page for supported platforms
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/enhancement, component:docs

#1514 docs(self-managed): create a guide to use existing keycloak instance
  docs/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/enhancement

#1523 docs(saas): data-retention
  docs/components/concepts/data-retention.md
  sidebars.js
  versioned_docs/version-8.1/components/concepts/data-retention.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:zeebe, component:operate, component:tasklist, component:optimize

#1525 Adjust docs for Tasklist claimTask mutation 8.1
  versioned_docs/version-8.1/apis-clients/tasklist-api/assets/tasklist.graphqls
  versioned_docs/version-8.1/apis-clients/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/directives/include.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/directives/skip.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/enums/task-state.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/generated.md
  versioned_docs/version-8.1/apis-clients/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/mutations/delete-process-instance.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/objects/form.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/objects/task.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/objects/user.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/objects/variable.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/current-user.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/form.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/task.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/tasks.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/variable.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/queries/variables.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/scalars/boolean.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/scalars/id.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/scalars/int.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/scalars/string.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/sidebar-schema.js
  versioned_docs/version-8.1/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist

#1520 docs(self-managed): enrich local kubernetes cluster guide
  docs/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
Labels: kind/enhancement, component:self-managed

#1537 chore(self-managed): set index page for platform guides
  docs/self-managed/platform-deployment/helm-kubernetes/guides/guides.md
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/guides.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/enhancement, component:self-managed

#1504 docs(connectors): introduced Kafka doc
  docs/components/connectors/img/connectors-kafka-filled.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-lambda.md
  docs/components/connectors/out-of-the-box-connectors/aws-sqs.md
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  docs/reference/dependencies.md
  docs/self-managed/connectors-deployment/install-and-start.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-kafka-filled.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-sqs.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/components/connectors/img/connectors-kafka-filled.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1545 docs(go-client): add missing task header detail and refer to Operate instead of Zeebe Monitor
  docs/apis-clients/go-client/go-get-started.md
  versioned_docs/version-1.3/apis-clients/go-client/get-started.md
  versioned_docs/version-8.0/apis-clients/go-client/go-get-started.md
  versioned_docs/version-8.1/apis-clients/go-client/go-get-started.md
Labels: component:docs

#1543 docs(self-managed): add zeebe ingress pitfalls
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
Labels: kind/enhancement, component:self-managed
