Repository camunda/camunda-docs, pull requests merged in 2022-08, with the labels that each got.

#1100 chore(deps): update docusaurus to rc.1
  package-lock.json
  package.json
Labels: dependencies, component:docs, dx

#1114 chore: rewrite Footer customization based on docusaurus 2.0.0-rc.1
  src/theme/ColorModeToggle/index.js
  src/theme/Footer/gtag.js
  src/theme/Footer/index.js
  src/theme/Footer/styles.module.css
  src/theme/Icon/ExternalLink/index.js
  src/theme/Icon/ExternalLink/styles.module.css
  src/theme/README.md
Labels: component:docs, dx

#1079 GSG Human Orchestration Edits + Move cluster creation guides (Experiment 315 & 337)
  docs/guides/assets/react-components/create-cluster.md
  docs/guides/getting-started-orchestrate-api-endpoints.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/img/dinner-bpmn-model.png
  docs/guides/img/form-import-example.png
  docs/guides/img/form-values-example.png
  docs/guides/img/gateway-symbol-example.png
  docs/guides/img/honeycomb-icon-example.png
  docs/guides/img/sequence-flow-example.png
  docs/guides/img/wrench-icon-example.png
  docs/guides/introduction-to-camunda-platform-8.md
  sidebars.js
Labels: component:docs

#1123 chore: Revert "debug(ci): enable debug flag for link checking (#1098)"
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
Labels: component:docs, dx

#1124 docs(chore): Add links to Tasklist
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: component:docs

#1137 technical review of openshift docs
  docs/self-managed/platform-deployment/kubernetes-helm.md
  docs/self-managed/platform-deployment/kubernetes.md
  docs/self-managed/platform-deployment/openshift-helm.md
  docs/self-managed/platform-deployment/openshift.md
  docs/self-managed/platform-deployment/platform-8-deployment.md
Labels: component:docs

#1144 ensure updated optimize screenshots are automated
  docs/components/optimize/img/dashboard-sharingPopover.png
  docs/components/optimize/img/optimize-process-performance-dashboard.png
  docs/components/optimize/userguide/creating-reports.md
  docs/components/optimize/userguide/img/report-heatmap-example.png
  docs/components/optimize/what-is-optimize.md
Labels: component:docs, component:optimize, dx

#1150 {docs}(content): {Community Extensions updates}
  docs/apis-clients/working-with-apis-clients.md
  docs/components/zeebe/open-source/community-contributions.md
  versioned_docs/version-8.0/apis-clients/working-with-apis-clients.md
  versioned_docs/version-8.0/components/zeebe/open-source/community-contributions.md
Labels: component:docs

#1159 clarify xml editing in desktop modeler
  docs/components/modeler/about-modeler.md
Labels: component:modeler, component:docs, dx

#1148 Add SaaS architecture diagram
  docs/components/components-overview.md
  docs/components/img/ComponentsAndArchitecture_SaaS.png
  versioned_docs/version-8.0/components/components-overview.md
  versioned_docs/version-8.0/components/img/ComponentsAndArchitecture_SaaS.png
Labels: component:docs, dx

#1149 docs(chore): update reviewers
  howtos/documentation-guidelines.md
Labels: component:docs, dx

#1155 update introduction to camunda ids
  docs/guides/introduction-to-camunda-platform-8.md
  docusaurus.config.js
  sidebars.js
  versioned_docs/version-0.25/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-0.26/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-1.0/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-1.1/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-1.2/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-1.3/guides/introduction-to-camunda-cloud.md
  versioned_docs/version-8.0/guides/introduction-to-camunda-platform-8.md
  versioned_sidebars/version-0.25-sidebars.json
  versioned_sidebars/version-0.26-sidebars.json
  versioned_sidebars/version-1.0-sidebars.json
  versioned_sidebars/version-1.1-sidebars.json
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-1.3-sidebars.json
  versioned_sidebars/version-8.0-sidebars.json
Labels: component:docs

#1165 "Operater" typo in architecture diagram
  docs/components/img/ComponentsAndArchitecture_SaaS.png
  versioned_docs/version-8.0/components/img/ComponentsAndArchitecture_SaaS.png
Labels: component:docs, dx

#1175 lowercase secrets
  docs/components/console/manage-clusters/manage-secrets.md
  docs/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  docs/self-managed/optimize-deployment/install-and-start.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/kubernetes-helm.md
  versioned_docs/version-8.0/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.0/self-managed/platform-deployment/kubernetes-helm.md
Labels: component:docs

#1174 ensure all sidebar labels are sentence case structure
  docs/components/best-practices/architecture/sizing-your-environment-c7.md
  docs/components/best-practices/management/following-the-customer-success-path.md
  docs/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  docs/components/concepts/workflow-patterns.md
  docs/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  docs/components/integration-framework/connectors/custom-built-connectors/connector-templates.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/slack.md
  docs/components/integration-framework/connectors/use-connectors.md
  docs/components/modeler/bpmn/multi-instance/multi-instance.md
  docs/components/modeler/forms/camunda-forms-reference.md
  docs/guides/getting-started-orchestrate-api-endpoints.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/message-correlation.md
  docs/guides/setup-client-connection-credentials.md
  docs/self-managed/identity/troubleshooting/common-problems.md
  docs/self-managed/platform-deployment/known-limitations.md
  docs/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  sidebars.js
  versioned_docs/version-8.0/components/best-practices/architecture/sizing-your-environment-c7.md
  versioned_docs/version-8.0/components/best-practices/management/following-the-customer-success-path.md
  versioned_docs/version-8.0/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-8.0/components/concepts/workflow-patterns.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-templates.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.0/components/integration-framework/connectors/use-connectors.md
  versioned_docs/version-8.0/components/modeler/bpmn/multi-instance/multi-instance.md
  versioned_docs/version-8.0/components/modeler/forms/camunda-forms-reference.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-api-endpoints.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.0/guides/message-correlation.md
  versioned_docs/version-8.0/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.0/self-managed/identity/troubleshooting/common-problems.md
  versioned_docs/version-8.0/self-managed/platform-deployment/known-limitations.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_sidebars/version-8.0-sidebars.json
Labels: component:docs

#1170 feat: MDX plugin to interpret link target URLs based on source file directory
  package-lock.json
  package.json
  src/mdx/expandVersionedUrl.js
  src/mdx/expandVersionedUrl.spec.js
  src/mdx/versionedLinks.js
Labels: component:docs, dx

#1180 Add brief PR guidance and template checklist
  .github/pull_request_template.md
  howtos/documentation-guidelines.md
Labels: component:docs, dx

#1183 feat: add PRs to Documentation board in In Review column when review requested from Amara or Christina
  .github/workflows/sync-board.yaml
Labels: kind/enhancement, component:docs, dx

#1153 Minor changes to HTO
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/img/expression-input-example.png
  docs/guides/img/wrench-icon-example.png
  versioned_docs/version-8.0/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.0/guides/img/expression-input-example.png
  versioned_docs/version-8.0/guides/img/wrench-icon-example.png
Labels: component:docs

#1198 Remove second H1 on the home page
  src/pages/index.js
Labels: kind/bug, component:docs, dx

#1197 chore: add a gitattributes to normalize line endings, and normalize some previously added files
  .gitattributes
  versioned_docs/version-1.3/self-managed/optimize-deployment/rest-api/dashboard/export-dashboard-definitions.md
  versioned_docs/version-1.3/self-managed/optimize-deployment/rest-api/dashboard/get-dashboard-ids.md
  versioned_docs/version-1.3/self-managed/optimize-deployment/rest-api/import-entities.md
  versioned_docs/version-1.3/self-managed/optimize-deployment/rest-api/report/export-report-definitions.md
  versioned_docs/version-1.3/self-managed/optimize-deployment/rest-api/report/get-report-ids.md
Labels: kind/feature, component:docs, dx

#1205 uppercase connectors
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/console/manage-clusters/manage-secrets.md
  docs/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  docs/components/integration-framework/connectors/custom-built-connectors/connector-templates.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  docs/components/integration-framework/connectors/out-of-the-box-connectors/slack.md
  docs/components/integration-framework/connectors/use-connectors.md
  docs/components/integration-framework/introduction.md
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  docs/components/zeebe/open-source/community-contributions.md
  docs/guides/getting-started-orchestrate-api-endpoints.md
  docs/guides/implementing-connectors.md
  docs/guides/introduction-to-camunda-platform-8.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/reference/glossary.md
  versioned_docs/version-8.0/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.0/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.0/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.0/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/integration-framework/connectors/custom-built-connectors/connector-templates.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/sendgrid.md
  versioned_docs/version-8.0/components/integration-framework/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.0/components/integration-framework/connectors/use-connectors.md
  versioned_docs/version-8.0/components/integration-framework/introduction.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.0/components/zeebe/open-source/community-contributions.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-api-endpoints.md
  versioned_docs/version-8.0/guides/implementing-connectors.md
  versioned_docs/version-8.0/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.0/reference/glossary.md
Labels: component:docs

#1211 docs(self-managed): enhance reading flow
  docs/self-managed/platform-deployment/amazon-eks.md
  docs/self-managed/platform-deployment/kubernetes-helm.md
  docs/self-managed/platform-deployment/kubernetes.md
Labels: kind/enhancement

#1206 rename connectors guide
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/introduction-to-camunda-platform-8.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.0/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.0/guides/introduction-to-camunda-platform-8.md
  versioned_sidebars/version-8.0-sidebars.json
Labels: component:docs

#1166 feat: set up optimize docs instance and move one doc over
  docs/components/components-overview.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/modeler/web-modeler/start-instance.md
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/guides/improve-processes-with-optimize.md
  docs/guides/introduction-to-camunda-platform-8.md
  docs/guides/setting-up-development-project.md
  docusaurus.config.js
  hacks/generateOptimizeSidebars.js
  hacks/generateOptimizeSidebars.md
  optimize/img/dashboard-sharingPopover.png
  optimize/what-is-optimize.md
  optimize_sidebars.js
  sidebars.js
  src/mdx/expandVersionedUrl.js
  src/mdx/expandVersionedUrl.spec.js
Labels: component:docs, dx

#1219 Typo in Operate API docs (8.0)
  versioned_docs/version-8.0/apis-clients/operate-api/index.md
Labels: component:docs, dx
