Repository camunda/camunda-docs, pull requests merged in 2023-08, with the labels that each got.

#2348 Updates for revamped billing page and usage alerts
  docs/components/console/manage-organization/img/edit_usage_alert.png
  docs/components/console/manage-organization/img/email_usage_alert.png
  docs/components/console/manage-organization/img/notification_usage_alert.png
  docs/components/console/manage-organization/img/set_up_usage_alert.png
  docs/components/console/manage-organization/img/turn_off_usage_alert.png
  docs/components/console/manage-organization/img/usage_alerts_logs.png
  docs/components/console/manage-organization/usage-alerts.md
  docs/components/console/manage-organization/usage-history.md
  docs/components/console/manage-plan/img/cc-entrypoint.png
  sidebars.js
  versioned_docs/version-8.2/components/console/manage-organization/img/edit_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/img/email_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/img/notification_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/img/set_up_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/img/turn_off_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/img/usage_alerts_logs.png
  versioned_docs/version-8.2/components/console/manage-organization/usage-alerts.md
  versioned_docs/version-8.2/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.2/components/console/manage-plan/img/cc-entrypoint.png
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:console

#2378 chore: update product-links for modeler
  product-links.txt
Labels: component:modeler

#2379 docs(optimize): add raw data report response change to migration guide
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11.md
  optimize_sidebars.js
  sidebars.js
Labels: component:optimize

#2383 versioned migration guide restructure
  docs/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.0/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.0/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.0/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.0/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/adjusting-bpmn-models.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/adjusting-dmn-models.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/index.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.0/guides/migrating-from-cawemo.md
  versioned_docs/version-8.1/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.1/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.1/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.1/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/adjusting-bpmn-models.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/adjusting-dmn-models.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/index.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.1/guides/migrating-from-cawemo.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.2/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.2/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.2/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/adjusting-bpmn-models.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/adjusting-dmn-models.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/index.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.2/guides/migrating-from-cawemo.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, c7migration

#2385 chore(web-modeler): update dependencies for 8.3.0-alpha4
  docs/reference/dependencies.md
Labels: component:modeler

#2386 archive(1.1) preparation: ignore 1.1.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2388 chore(web-modeler): update dependencies for 8.2.5
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler

#1881 Java Client code example not working
  docs/apis-tools/java-client/index.md
  versioned_docs/version-8.2/apis-tools/java-client/index.md
Labels: component:docs

#2390 docs(self-managed): update openshift supported versions
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: component:self-managed

#2399 improve(export): include flow node data in json export
  optimize/apis-tools/optimize-api/report/get-data-export.md
Labels: component:optimize

#2389 chore: update modeler screenshots to 5.14.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/deploy-icon.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-icon.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2409 docs(irsa): switch keycloak to automated docker way
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
Labels: kind/enhancement, component:docs

#2412 Mention need for seperate image to use OpenSearch
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:operate

#2367 feat: document new forms spacer component
  docs/components/modeler/forms/form-element-library/forms-element-library-spacer.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  static/img/form-icons/form-spacer.svg
Labels: component:modeler

#2410 feat(tasklist): Add docs for start form events
  docs/components/tasklist/userguide/img/tasklist-processes-start-with-form.png
  docs/components/tasklist/userguide/starting-processes.md
Labels: component:tasklist

#2290 feat(connectors): add authorization section to http webhook connector
  docs/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
Labels: component:connectors

#2356 docs(ootbc): introduce aws eventBridge inbound connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2418 adjust java delegate casing
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  docs/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  docs/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  docs/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.0/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.1/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7/migration-readiness.md
  versioned_docs/version-8.2/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7/migration-readiness.md
Labels: component:docs

#2421 archive(1.1) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2420 [Acquisition Team] - Revert banner/nav changes
  docusaurus.config.js
  src/css/custom.css
  src/theme/Navbar/Search/index.js
Labels: component:docs, dx

#2424 archive(1.1) isolation: manual steps
  docusaurus.config.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.1/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-1.1/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-1.1/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/form.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/form.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/tasks.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/variables.mdx
Labels: kind/cleanup, dx, epic:archive-old-versions

#2422 feat(archive): automate update of docusaurus.config.js
  hacks/isolateVersion/7-updateDocusaurusConfig.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2428 archive(1.1) fix: update icon URLs based on virtual directory
  docusaurus.config.js
Labels: kind/bug, dx, epic:archive-old-versions

#2430 archiving(1.1) exclude: remove version 1.1, part 1: reviewable steps
  docusaurus.config.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2419 Update overview.md
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
Labels: kind/bug, component:operate

#2414 Add non-Zeebe Community Clients to docs
  docs/apis-tools/community-clients/index.md
  docs/apis-tools/working-with-apis-tools.md
  sidebars.js
  versioned_docs/version-8.2/apis-tools/community-clients/index.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2360 Update amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
Labels: component:self-managed

#2442 Update redhat-openshift.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: component:self-managed

#2359 Add Modeling Guidance Documentation
  docs/components/modeler/reference/modeling-guidance/index.md
  docs/components/modeler/reference/modeling-guidance/rules/called-element.md
  docs/components/modeler/reference/modeling-guidance/rules/element-type.md
  docs/components/modeler/reference/modeling-guidance/rules/error-reference.md
  docs/components/modeler/reference/modeling-guidance/rules/escalation-reference.md
  docs/components/modeler/reference/modeling-guidance/rules/feel.md
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/message-reference.md
  docs/components/modeler/reference/sidebar-schema.js
  sidebars.js
  src/css/custom.css
  src/mdx/MarkerGuideline.js
Labels: component:modeler

#2439 archive(1.2) prep: ignore 1.2.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2443 chore: remove linkcheck.yaml
  .github/workflows/linkcheck.yaml
Labels: kind/cleanup, dx, epic:build-time

#2427 modeler documentation review
  docs/components/modeler/about-modeler.md
  docs/components/modeler/bpmn/bpmn.md
  docs/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
  docs/components/modeler/desktop-modeler/model-your-first-diagram.md
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/components/modeler/web-modeler/collaboration.md
  docs/components/modeler/web-modeler/import-diagram.md
  docs/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.2/components/modeler/about-modeler.md
  versioned_docs/version-8.2/components/modeler/bpmn/bpmn.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/model-your-first-diagram.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/components/modeler/web-modeler/collaboration.md
  versioned_docs/version-8.2/components/modeler/web-modeler/import-diagram.md
  versioned_docs/version-8.2/guides/automating-a-process-using-bpmn.md
Labels: component:modeler, component:docs, dx

#2449 docs(alerts): alerts are part of collection not report
  docs/guides/improve-processes-with-optimize.md
  versioned_docs/version-1.3/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.0/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.1/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.2/guides/improve-processes-with-optimize.md
Labels: component:docs, component:optimize

#2451 archive(1.2) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2375 second iteration identity revisions
  docs/self-managed/concepts/access-control/applications.md
  docs/self-managed/identity/deployment/application-monitoring.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/identity/deployment/starting-configuration.md
  docs/self-managed/identity/getting-started/install-identity.md
  docs/self-managed/identity/troubleshooting/common-problems.md
  docs/self-managed/identity/troubleshooting/troubleshoot-identity.md
  docs/self-managed/identity/user-guide/additional-features/adding-an-api.md
  docs/self-managed/identity/user-guide/additional-features/incorporate-applications.md
  docs/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  docs/self-managed/identity/user-guide/authorizations/managing-user-access.md
  docs/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  docs/self-managed/identity/user-guide/configuration/configure-logging.md
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  docs/self-managed/identity/user-guide/configuration/making-identity-production-ready.md
  docs/self-managed/identity/user-guide/groups/assign-users-roles-to-group.md
  docs/self-managed/identity/user-guide/roles/add-assign-permission.md
  docs/self-managed/identity/user-guide/roles/add-assign-role.md
  docs/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.1/self-managed/identity/deployment/starting-configuration.md
  versioned_docs/version-8.2/self-managed/concepts/access-control/applications.md
  versioned_docs/version-8.2/self-managed/identity/deployment/application-monitoring.md
  versioned_docs/version-8.2/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.2/self-managed/identity/deployment/starting-configuration.md
  versioned_docs/version-8.2/self-managed/identity/getting-started/install-identity.md
  versioned_docs/version-8.2/self-managed/identity/troubleshooting/common-problems.md
  versioned_docs/version-8.2/self-managed/identity/troubleshooting/troubleshoot-identity.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/additional-features/adding-an-api.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/additional-features/incorporate-applications.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/authorizations/managing-user-access.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/configure-logging.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/making-identity-production-ready.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/groups/assign-users-roles-to-group.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/roles/add-assign-permission.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/roles/add-assign-role.md
  versioned_docs/version-8.2/self-managed/identity/what-is-identity.md
Labels: component:identity, component:docs

#2457 docs(api): remove c7 only badge from endpoint working in c8saas
  optimize/apis-tools/optimize-api/dashboard/delete-dashboard.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/dashboard/delete-dashboard.md
Labels: component:optimize

#2455 feat: Add warning about formId on Tasklist REST API
  docs/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-form-controller.md
  versioned_docs/version-8.2/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-form-controller.md
Labels: component:tasklist, component:docs

#2459 remove references to C8 Slack
  code-of-conduct.md
  docs/self-managed/platform-deployment/overview.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  docusaurus.config.js
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_390_3100.diff
  src/pages/contact.md
  versioned_docs/version-8.0/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.0/self-managed/platform-deployment/platform-8-deployment.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:docs

#2337 Add labels back to guides
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-account.md
  docs/guides/getting-started-orchestrate-api-endpoints.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/migrating-from-cawemo.md
  docs/guides/model-your-first-process.md
  docs/guides/setup-client-connection-credentials.md
  docs/guides/update-guide/connectors/060-to-070.md
  docs/guides/utilizing-forms.md
Labels: component:docs

#2448 feat(docs): update Algolia configuration information
  howtos/configuration.md
Labels: kind/enhancement, dx

#2437 feat: clarified Connectors and Helm relations
  docs/self-managed/connectors-deployment/install-and-start.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.0/self-managed/platform-deployment/kubernetes-helm.md
  versioned_docs/version-8.0/self-managed/platform-deployment/platform-8-deployment.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
Labels: component:docs, component:connectors, component:self-managed

#2462 chore: list child pages as carts
  docs/components/modeler/reference/modeling-guidance/index.md
Labels: component:modeler

#2469 Add new console search functionality
  docs/components/console/manage-organization/advanced-search.md
  docs/components/console/manage-organization/img/open_console_search.png
  docs/components/console/manage-organization/usage-alerts.md
  sidebars.js
  versioned_docs/version-8.2/components/console/manage-organization/advanced-search.md
  versioned_docs/version-8.2/components/console/manage-organization/img/open_console_search.png
  versioned_docs/version-8.2/components/console/manage-organization/usage-alerts.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:console

#2472 archiving(1.2) exclude: remove version 1.2, part 1: reviewable steps
  docusaurus.config.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2477 archive(1.3) preparation: ignore 1.3.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2474 Add usage metrics page
  docs/reference/usage-metrics.md
  sidebars.js
  versioned_docs/version-8.0/reference/usage-metrics.md
  versioned_docs/version-8.1/reference/usage-metrics.md
  versioned_docs/version-8.2/reference/usage-metrics.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2471 fix: clarify recommended catch all modeling
  docs/components/modeler/bpmn/error-events/error-events.md
  docs/components/modeler/bpmn/escalation-events/escalation-events.md
Labels: component:modeler, component:docs

#2433 feat: introduce whatsapp connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/whatsapp.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/whatsapp.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/whatsapp.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/whatsapp.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2488 Addition to ES statement
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:docs, component:self-managed

#2334 feat(ingress-setup): add section for ingress controllers
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
Labels: component:self-managed

#2466 Removes "API Endpoints" in Connectors context
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/introduction-to-camunda-platform-8.md
  sidebars.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-8.0/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.0/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.1/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/introduction-to-camunda-platform-8.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2481 feat(archival): take into account Optimize when deleting other versions
  hacks/isolateVersion/1-deleteOtherVersions.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2486 chore(ootbc): removed incorrect note
  docs/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
Labels: component:connectors

#2492 docs(identity): update the keycloak supported version for the 8.2 version
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:identity

#2456 parentFlowNodeKey added to operate api
  docs/apis-tools/operate-api/overview.md
Labels: component:operate

#2490 add front matter values to meta
  src/pages/meta.md
Labels: component:docs

#2494 archive(1.3) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.7.0-sidebars.json
  optimize_versions.json
  src/mdx/expandVersionedUrl.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versioned_sidebars/version-1.3-sidebars.json
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2482 adjust desktop modeler link
  docs/components/modeler/desktop-modeler/connect-to-camunda-platform-8.md
  docs/components/modeler/desktop-modeler/index.md
  docs/components/modeler/desktop-modeler/model-your-first-diagram.md
  docs/components/modeler/desktop-modeler/start-instance.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.0/components/modeler/desktop-modeler/connect-to-camunda-platform-8.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/model-your-first-diagram.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/start-instance.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/connect-to-camunda-platform-8.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/model-your-first-diagram.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/start-instance.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/connect-to-camunda-platform-8.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/index.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/model-your-first-diagram.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/start-instance.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler, component:docs

#2468 docs(cicd): Add CI/CD integration guide
  docs/guides/devops-lifecycle/img/modeler-ci-cd.png
  docs/guides/devops-lifecycle/img/visual-diff.png
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  sidebars.js
Labels: component:modeler, component:docs, target:8.3

#2495 feat: update automated archival steps (for Optimize & changes to main)
  hacks/isolateVersion/2-reduceVersionManifest.sh
  hacks/isolateVersion/3-preventCrawling.sh
  hacks/isolateVersion/4-fixDockerfile.sh
  hacks/isolateVersion/5-updateThemeComponents.sh
  hacks/isolateVersion/6-updateCIWorkflows.sh
  hacks/isolateVersion/7-updateDocusaurusConfig.sh
  hacks/isolateVersion/8-configureOptimizeDocs.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2499 add optional note
  src/pages/meta.md
Labels: component:docs

#2387 Add important note about Premium SSD v2
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
Labels: component:docs, component:self-managed

#2505 refactor(zeebe): update metrics route for 8.3.0
  docs/self-managed/zeebe-deployment/operations/metrics.md
Labels: component:zeebe, component:self-managed

#2500 archive(1.3) isolation - part 3, manual steps
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.3/apis-tools/go-client/get-started.md
  versioned_docs/version-1.3/components/best-practices/architecture/understanding-human-tasks-management.md
  versioned_docs/version-1.3/components/best-practices/modeling/creating-readable-process-models.md
Labels: kind/cleanup, dx, epic:archive-old-versions

#2470 Document Resource Deletion concept
  docs/apis-tools/grpc.md
  docs/components/concepts/resource-deletion.md
  docs/guides/update-guide/820-to-830.md
  sidebars.js
Labels: target:8.3

#2408 docs(helm): adds section about zeebe running as non-root by default
  docs/guides/update-guide/820-to-830.md
  docs/reference/announcements.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:zeebe, component:self-managed

#2516 Stadtler best practices 82 hints
  docs/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  docs/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.2/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.2/components/best-practices/modeling/creating-readable-process-models.md
Labels: best-practices

#2489 Clarify Optimize History for C7 and C8
  optimize/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:docs, component:optimize

#2517 Move devops lifecycle guide
  sidebars.js
  versioned_docs/version-8.2/guides/devops-lifecycle/img/modeler-ci-cd.png
  versioned_docs/version-8.2/guides/devops-lifecycle/img/visual-diff.png
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler
