Repository camunda/camunda-docs, pull requests merged in 2023-11, with the labels that each got.

#2834 Docs feedback support links
  docs/components/best-practices/development/service-integration-patterns.md
  docs/reference/early-access.md
  docs/reference/status.md
  src/pages/contact.md
  versioned_docs/version-8.0/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.0/components/console/console-troubleshooting/feedback-and-support.md
  versioned_docs/version-8.0/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.0/reference/status.md
  versioned_docs/version-8.0/self-managed/platform-deployment/platform-8-deployment.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.1/components/console/console-troubleshooting/feedback-and-support.md
  versioned_docs/version-8.1/reference/early-access.md
  versioned_docs/version-8.1/reference/status.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
  versioned_docs/version-8.1/self-managed/web-modeler/installation.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.2/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.2/reference/early-access.md
  versioned_docs/version-8.2/reference/status.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.3/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.3/reference/early-access.md
  versioned_docs/version-8.3/reference/status.md
Labels: component:docs

#2832 archive(8.0) isolation: manual steps
  static/.htaccess
  versioned_docs/version-8.0/apis-tools/go-client/go-get-started.md
  versioned_docs/version-8.0/apis-tools/operate-api/index.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.0/components/modeler/feel/language-guide/feel-variables.md
Labels: dx

#2842 archive(8.0) isolation: port recent changes in main
  versioned_docs/version-8.0/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.0/components/console/console-troubleshooting/feedback-and-support.md
  versioned_docs/version-8.0/components/modeler/bpmn/exclusive-gateways/exclusive-gateways.md
  versioned_docs/version-8.0/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.0/reference/status.md
  versioned_docs/version-8.0/self-managed/platform-deployment/platform-8-deployment.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/zeebe-installation.md
Labels: kind/cleanup, dx

#2836 Add ISM to OpenSearch exporter configuration
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: component:self-managed, target:8.4

#2808 Move the BPMN diagram to the expected folder
  static/bpmn/best-practices/dealing-with-problems-and-exceptions-assets/custom-idempotency-handling.bpmn
Labels: kind/bug, best-practices

#2840 chore(docs): remove unsupported ES version from Optimize supported en…
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: component:optimize

#2824 Improve docs for unsupported multi-tenancy features in 8.3
  versioned_docs/version-8.3/apis-tools/cli-client/cli-get-started.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
Labels: component:docs, target:8.3

#2823 docs(guide): Adjust Air Gapped Installation Guide for 8.3 Release
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
Labels: component:self-managed

#2838 Fix operate multi tenancy flag
  docs/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate

#2850 Document multi-tenancy support for resource deletion
  docs/apis-tools/grpc.md
Labels: component:zeebe, target:8.4

#2822 Document tenant-aware broadcast signal RPC
  docs/apis-tools/grpc.md
Labels: component:zeebe, target:8.4

#2856 clarify-zeebe-version
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#2817 Add admonition for Identity property
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:identity, support

#2858 Revert #2800
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
Labels: component:docs

#2857 adjust UI references in Console to sentence case
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/console/manage-clusters/manage-api-clients.md
  docs/components/console/manage-clusters/manage-secrets.md
  docs/components/console/manage-organization/manage-users.md
  docs/components/console/manage-organization/usage-history.md
  docs/components/console/manage-plan/cancel-starter-subscription.md
  docs/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  docs/components/console/manage-plan/update-billing-reservations.md
  docs/components/console/manage-plan/update-creditcard.md
  docs/components/console/manage-plan/upgrade-to-starter-plan.md
  docs/guides/assets/react-components/create-cluster.md
  docs/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.1/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.1/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.2/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.2/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.2/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.2/components/console/manage-plan/cancel-starter-subscription.md
  versioned_docs/version-8.2/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.2/components/console/manage-plan/update-billing-reservations.md
  versioned_docs/version-8.2/components/console/manage-plan/update-creditcard.md
  versioned_docs/version-8.2/components/console/manage-plan/upgrade-to-starter-plan.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.2/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.3/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.3/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.3/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.3/components/console/manage-plan/cancel-starter-subscription.md
  versioned_docs/version-8.3/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.3/components/console/manage-plan/update-billing-reservations.md
  versioned_docs/version-8.3/components/console/manage-plan/update-creditcard.md
  versioned_docs/version-8.3/components/console/manage-plan/upgrade-to-starter-plan.md
  versioned_docs/version-8.3/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.3/guides/setup-client-connection-credentials.md
Labels: component:docs, component:console

#2742 concepts review
  docs/components/concepts/backups.md
  docs/components/concepts/clusters.md
  docs/components/concepts/data-retention.md
  docs/components/concepts/expressions.md
  docs/components/concepts/incidents.md
  docs/components/concepts/job-workers.md
  docs/components/concepts/messages.md
  docs/components/concepts/outbound-connectors-job-workers.md
  docs/components/concepts/process-instance-creation.md
  docs/components/concepts/process-instance-modification.md
  docs/components/concepts/processes.md
  docs/components/concepts/resource-authorizations.md
  docs/components/concepts/resource-deletion.md
  docs/components/concepts/variables.md
  docs/components/concepts/workflow-patterns.md
  versioned_docs/version-8.3/components/concepts/backups.md
  versioned_docs/version-8.3/components/concepts/clusters.md
  versioned_docs/version-8.3/components/concepts/data-retention.md
  versioned_docs/version-8.3/components/concepts/expressions.md
  versioned_docs/version-8.3/components/concepts/incidents.md
  versioned_docs/version-8.3/components/concepts/job-workers.md
  versioned_docs/version-8.3/components/concepts/messages.md
  versioned_docs/version-8.3/components/concepts/outbound-connectors-job-workers.md
  versioned_docs/version-8.3/components/concepts/process-instance-creation.md
  versioned_docs/version-8.3/components/concepts/process-instance-modification.md
  versioned_docs/version-8.3/components/concepts/processes.md
  versioned_docs/version-8.3/components/concepts/resource-authorizations.md
  versioned_docs/version-8.3/components/concepts/resource-deletion.md
  versioned_docs/version-8.3/components/concepts/variables.md
  versioned_docs/version-8.3/components/concepts/workflow-patterns.md
Labels: component:docs

#2843 archive(8.0) exclude: remove versions 8.0 and 3.8.0, part 1: reviewable steps
  docusaurus.config.js
  hacks/isolateVersion/8-configureOptimizeDocs.sh
  howtos/release-procedure.md
  optimize_versions.json
  src/mdx/expandVersionedUrl.js
  src/versions.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx

#2795 draft connector marketplace
  docs/components/connectors/introduction.md
  docs/components/connectors/use-connectors/index.md
  docs/components/modeler/about-modeler.md
  docs/components/modeler/web-modeler/camunda-marketplace.md
  docs/components/modeler/web-modeler/img/connector-marketplace.png
  docs/components/modeler/web-modeler/img/marketplace-icon.png
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.2/components/connectors/introduction.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/modeler/about-modeler.md
  versioned_docs/version-8.2/components/modeler/web-modeler/camunda-marketplace.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/connector-marketplace.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/marketplace-icon.png
  versioned_docs/version-8.3/components/connectors/introduction.md
  versioned_docs/version-8.3/components/connectors/use-connectors/index.md
  versioned_docs/version-8.3/components/modeler/about-modeler.md
  versioned_docs/version-8.3/components/modeler/web-modeler/camunda-marketplace.md
  versioned_docs/version-8.3/components/modeler/web-modeler/img/connector-marketplace.png
  versioned_docs/version-8.3/components/modeler/web-modeler/img/marketplace-icon.png
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:modeler, component:docs, component:connectors

#2866 remove marketplace from 8.2
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  versioned_docs/version-8.2/components/connectors/introduction.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/modeler/about-modeler.md
  versioned_docs/version-8.2/components/modeler/web-modeler/camunda-marketplace.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/connector-marketplace.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/marketplace-icon.png
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2852 feat: migrate from Prof to Starter and other smaller additions
  docs/components/concepts/data-retention.md
  docs/components/console/manage-plan/img/console-retrieve-plan.png
  docs/components/console/manage-plan/img/console-switch-update-plan.png
  docs/components/console/manage-plan/migrate-from-prof-to-starter.md
  sidebars.js
  versioned_docs/version-8.3/components/concepts/data-retention.md
  versioned_docs/version-8.3/components/console/manage-plan/img/console-retrieve-plan.png
  versioned_docs/version-8.3/components/console/manage-plan/img/console-switch-update-plan.png
  versioned_docs/version-8.3/components/console/manage-plan/migrate-from-prof-to-starter.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:console

#2861 docs(zeebe): add docs for dynamic scaling api
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
  sidebars.js
Labels: component:zeebe, target:8.4, 8.4.0-alpha1

#2865 feat: add AWS Aurora documentation for Identity
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
Labels: component:identity, 8.4.0-alpha1

#2354 add beta terms how to
  docs/components/console/manage-organization/enable-alpha-features.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/reference/early-access.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.1/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.1/reference/early-access.md
  versioned_docs/version-8.2/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/reference/early-access.md
  versioned_docs/version-8.3/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/reference/early-access.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:docs, dx

#2872 docs(alpha-features): simplify early access program
  docs/components/console/manage-organization/enable-alpha-features.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/reference/alpha-features.md
  docs/reference/early-access.md
  docs/reference/overview.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.1/reference/alpha-features.md
  versioned_docs/version-8.1/reference/early-access.md
  versioned_docs/version-8.1/reference/overview.md
  versioned_docs/version-8.1/self-managed/about-self-managed.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
  versioned_docs/version-8.1/self-managed/web-modeler/installation.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/reference/alpha-features.md
  versioned_docs/version-8.2/reference/early-access.md
  versioned_docs/version-8.2/reference/overview.md
  versioned_docs/version-8.3/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/reference/alpha-features.md
  versioned_docs/version-8.3/reference/early-access.md
  versioned_docs/version-8.3/reference/overview.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:docs

#2876 itty bitty bing adjustment
  versioned_docs/version-8.2/guides/update-guide/100-to-110.md
Labels: component:docs

#2878 Add cluster tag to docs
  docs/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.3/components/console/manage-clusters/create-cluster-include.md
Labels: component:docs, component:console

#2870 Connectors: updating docs
  docs/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.1/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.2/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.3/guides/use-connectors-in-hybrid-mode.md
Labels: component:connectors

#2881 Small tweaks in migrate-from-prof-to-starter page
  docs/components/console/manage-plan/img/console_redeem_coupon_code.png
  docs/components/console/manage-plan/migrate-from-prof-to-starter.md
  versioned_docs/version-8.3/components/console/manage-plan/img/console_redeem_coupon_code.png
  versioned_docs/version-8.3/components/console/manage-plan/migrate-from-prof-to-starter.md
Labels: component:console

#2768 console docs review
  docs/components/console/console-troubleshooting/common-pitfalls.md
  docs/components/console/introduction-to-console.md
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/console/manage-clusters/delete-cluster.md
  docs/components/console/manage-clusters/manage-alerts.md
  docs/components/console/manage-clusters/manage-api-clients.md
  docs/components/console/manage-clusters/manage-ip-whitelists.md
  docs/components/console/manage-clusters/manage-secrets.md
  docs/components/console/manage-clusters/rename-cluster.md
  docs/components/console/manage-clusters/settings.md
  docs/components/console/manage-organization/delete-account.md
  docs/components/console/manage-organization/external-sso.md
  docs/components/console/manage-organization/manage-users.md
  docs/components/console/manage-organization/organization-settings.md
  docs/components/console/manage-organization/switch-organization.md
  docs/components/console/manage-organization/usage-alerts.md
  docs/components/console/manage-plan/cancel-starter-subscription.md
  docs/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.3/components/console/console-troubleshooting/common-pitfalls.md
  versioned_docs/version-8.3/components/console/introduction-to-console.md
  versioned_docs/version-8.3/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.3/components/console/manage-clusters/delete-cluster.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-ip-whitelists.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-secrets.md
  versioned_docs/version-8.3/components/console/manage-clusters/rename-cluster.md
  versioned_docs/version-8.3/components/console/manage-clusters/settings.md
  versioned_docs/version-8.3/components/console/manage-organization/delete-account.md
  versioned_docs/version-8.3/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.3/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.3/components/console/manage-organization/organization-settings.md
  versioned_docs/version-8.3/components/console/manage-organization/switch-organization.md
  versioned_docs/version-8.3/components/console/manage-organization/usage-alerts.md
  versioned_docs/version-8.3/components/console/manage-plan/cancel-starter-subscription.md
  versioned_docs/version-8.3/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
Labels: component:docs, component:console

#2883 Clarify extensions
  docs/components/modeler/feel/what-is-feel.md
  versioned_docs/version-8.3/components/modeler/feel/what-is-feel.md
Labels: component:modeler

#2890 chore(reference): clarify alpha features vs alpha releases
  docs/reference/release-policy.md
  versioned_docs/version-8.1/reference/release-policy.md
  versioned_docs/version-8.2/reference/release-policy.md
  versioned_docs/version-8.3/reference/release-policy.md
Labels: component:docs

#2891 feat(guides): add experimentation disclaimer
  docs/guides/create-account.md
  versioned_docs/version-8.1/guides/create-account.md
  versioned_docs/version-8.2/guides/create-account.md
  versioned_docs/version-8.3/guides/create-account.md
Labels: component:docs

#2898 docs(identity): alter rewrite rules to make the trailing slash optional
  static/.htaccess
Labels: component:identity

#2892 chore(modeler): update screenshots to v5.17.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2875 docs(general): add configuring Entra ID page
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connecting-to-entra-id.md
  sidebars.js
Labels: component:operate

#2896 docs(web-modeler): update dependencies for Web Modeler 8.2.8
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler

#2880 docs(operate): update version dependencies
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:operate, 8.4.0-alpha1

#2904 docs(web-modeler): update dependencies for Web Modeler 8.4.0-alpha1
  docs/reference/dependencies.md
Labels: component:modeler

#2906 docs(web-modeler): update dependencies for Web Modeler 8.3.1
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:modeler

#2887 chore(docs): use Optimize C8 versioning for helm chart matrix
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: component:docs

#2864 feat: document `zeebe:taskDefinition` binding
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#2788 feat(connectors,aws): connectors aws auth types
  docs/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/aws-lambda.md
Labels: component:connectors

#2905 docs(web-modeler): document how to set up secure connections to Identity
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/identity.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/configuration/identity.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:modeler, component:self-managed

#2837 feat: Add docs about new separator element in form-js
  docs/components/modeler/forms/form-element-library/forms-element-library-separator.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  static/img/form-icons/form-separator.svg
  versioned_docs/version-8.3/components/modeler/forms/sidebar-schema.js
Labels: component:modeler

#2846 docs(desktop-modeler): add `formFieldTypes` to closed forms
  docs/components/modeler/desktop-modeler/telemetry/telemetry.md
Labels: component:modeler

#2859 Reintroduce #2800 (add jobKey to incident endpoint)
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
Labels: 8.4.0-alpha1

#2884 An update of a link
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-1.3/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-1.3/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.1/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.1/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.2/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.2/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.3/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.3/components/modeler/bpmn/message-events/message-events.md
Labels: component:modeler, best-practices

#2895 chore(doc): Document camunda.tasklist.persistent.sessions.enabled par…
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist

#2882 docs: adding tasklist opensearch docs
  docs/self-managed/tasklist-deployment/data-retention.md
  docs/self-managed/tasklist-deployment/importer-and-archiver.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  sidebars.js
Labels: component:tasklist, 8.4.0-alpha1

#2914 chore(migration): add upgrade notice for issue OPT-7419
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
Labels: component:self-managed

#2909 docs(docker): add note on multi-platform support for Web Modeler
  docs/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
Labels: component:modeler, component:self-managed

#2918 Add `userTask` flag to ES and OS exporters
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: component:zeebe, component:self-managed

#2908 docs(operations): Fix wrong information about update procedure
  docs/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/zeebe-in-production.md
Labels: component:self-managed

#2901 clarify when job workers poll for additional jobs
  docs/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.1/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.2/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.3/apis-tools/java-client/job-worker.md
Labels: component:docs

#2932 Add webhook connector changes to the update-guide
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:connectors

#2926 docs(zeebe-exporters): add form index infos
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: component:zeebe, component:self-managed

#2923 Document message templates and generated value
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#2844 fix: url to token issuer
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.2/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.3/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
Labels: component:self-managed

#2921 technical review best practices
  docs/components/best-practices/architecture/sizing-your-environment.md
  docs/components/best-practices/architecture/understanding-human-tasks-management.md
  docs/components/best-practices/best-practices-overview.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/best-practices/development/understanding-transaction-handling-c7.md
  docs/components/best-practices/management/doing-a-proper-poc.md
  docs/components/best-practices/management/following-the-customer-success-path.md
  docs/components/best-practices/modeling/creating-readable-process-models.md
  docs/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  docs/components/best-practices/modeling/modeling-with-situation-patterns.md
  docs/components/best-practices/modeling/naming-bpmn-elements.md
  docs/components/best-practices/modeling/naming-technically-relevant-ids.md
Labels: best-practices

#2885 connectors review
  docs/components/connectors/connector-types.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/custom-built-connectors/connector-templates.md
  docs/components/connectors/custom-built-connectors/update-guide/010-to-020.md
  docs/components/connectors/custom-built-connectors/update-guide/0100-to-0110.md
  docs/components/connectors/custom-built-connectors/update-guide/030-to-040.md
  docs/components/connectors/custom-built-connectors/update-guide/050-to-060.md
  docs/components/connectors/custom-built-connectors/update-guide/060-to-070.md
  docs/components/connectors/manage-connector-templates.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/gitlab.md
  docs/components/connectors/out-of-the-box-connectors/microsoft-teams.md
  docs/components/connectors/out-of-the-box-connectors/openai.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  docs/components/connectors/out-of-the-box-connectors/twilio.md
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/protocol/polling.md
Labels: component:connectors

#2942 feat(connectors): refreshing docs
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/protocol/rest.md
  docs/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/protocol/rest.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/use-connectors/inbound.md
Labels: component:docs, component:connectors

#2943 chore(docs): remove customer onboarding data from C7 docs
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
Labels: component:optimize

#2902 zeebe docs review
  docs/components/zeebe/technical-concepts/architecture.md
  docs/components/zeebe/technical-concepts/clustering.md
  docs/components/zeebe/technical-concepts/internal-processing.md
  docs/components/zeebe/technical-concepts/partitions.md
  docs/components/zeebe/technical-concepts/process-lifecycles.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/components/zeebe/technical-concepts/technical-concepts-overview.md
  docs/components/zeebe/zeebe-overview.md
Labels: component:zeebe

#2897 chore(play): clarify hybrid mode support
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#2924 docs(tasklist): document Fetch variables in Task Search REST api
  docs/apis-tools/tasklist-api-rest/schemas/models/include-variable.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/task-search-response.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/variable-search-response.mdx
Labels: component:tasklist

#2949 feat(templates): document correlationKey changes
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler, 8.4.0-alpha2

#2927 docs(self-managed): add install zeebe exporters guide
  docs/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:self-managed

#2841 fix(supported_envs): support a given minor and beyond
  docs/reference/supported-environments.md
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
Labels: component:zeebe, component:operate, component:tasklist, component:optimize

#2958 fix: unify paths
  docs/components/modeler/forms/configuration/forms-config-data-binding.md
  versioned_docs/version-8.3/components/modeler/forms/configuration/forms-config-data-binding.md
Labels: component:modeler

#2941 retro review of 2932
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:connectors

#2961 Update CLI commands
  docs/apis-tools/cli-client/index.md
  versioned_docs/version-8.3/apis-tools/cli-client/index.md
Labels: component:docs

#2826 chore(aws): add first iteration on eksctl usage
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed, component:infex

#2825 chore(aws): add first iteration on aws eks tf docs
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed, component:infex

#2934 chore(aws): eks targeted helm guide to deploy C8
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/assets/camunda-8-self-managed-architecture-aws.png
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.mdx
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed, component:infex

#2938 docs(forms): add iFrame component
  docs/components/modeler/forms/form-element-library/forms-element-library-iframe.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  static/img/form-icons/form-iframe.svg
Labels: component:modeler, 8.4.0-alpha2

#2968 DMN Guide typo
  docs/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.2/guides/create-decision-tables-using-dmn.md
Labels: component:docs

#2947 feat: export artifacts when building docs locally via Docker
  .dockerignore
  Dockerfile.build
  howtos/moving-content.md
  howtos/setup.md
  package.json
Labels: kind/enhancement, dx
