Repository camunda/camunda-docs, pull requests merged in 2023-06, with the labels that each got.

#2131 feat(connectors): inbound rabbitmq connector
  docs/components/connectors/img/connectors-rabbitmq-inbound-properties-red.png
  docs/components/connectors/img/connectors-rabbitmq-inbound-routing.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-inbound-properties-red.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rabbitmq-inbound-routing.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-inbound-properties-red.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rabbitmq-inbound-routing.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.2/components/connectors/img/connectors-rabbitmq-inbound-properties-red.png
  versioned_docs/version-8.2/components/connectors/img/connectors-rabbitmq-inbound-routing.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2149 docs: update Camunda Modeler supported environments for 8.2 release
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:modeler

#2107 feat(connectors): add Kafka inbound connector docs
  docs/components/connectors/img/connectors-kafka-inbound-filled.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  sidebars.js
  versioned_docs/version-8.1/components/connectors/img/connectors-kafka-inbound-filled.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_docs/version-8.2/components/connectors/img/connectors-kafka-inbound-filled.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2154 docs(desktop-modeler): update telemetry docs
  docs/components/modeler/desktop-modeler/telemetry/telemetry.md
Labels: component:modeler

#1713 docs(ootbc): added Blue Prism connector doc
  docs/components/connectors/img/connectors-blue-prism-get-item-by-id.png
  docs/components/connectors/img/connectors-blueprism-add-item.png
  docs/components/connectors/img/connectors-blueprism-example.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/blueprism.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-blue-prism-get-item-by-id.png
  versioned_docs/version-8.0/components/connectors/img/connectors-blueprism-add-item.png
  versioned_docs/version-8.0/components/connectors/img/connectors-blueprism-example.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/blueprism.md
  versioned_docs/version-8.1/components/connectors/img/connectors-blue-prism-get-item-by-id.png
  versioned_docs/version-8.1/components/connectors/img/connectors-blueprism-add-item.png
  versioned_docs/version-8.1/components/connectors/img/connectors-blueprism-example.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/blueprism.md
  versioned_docs/version-8.2/components/connectors/img/connectors-blue-prism-get-item-by-id.png
  versioned_docs/version-8.2/components/connectors/img/connectors-blueprism-add-item.png
  versioned_docs/version-8.2/components/connectors/img/connectors-blueprism-example.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/blueprism.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2155 assorted: Archive pre-work
  src/pages/contact.md
  src/pages/index.js
  src/theme/NavbarItem/index.js
Labels: kind/enhancement, dx, epic:archive-old-versions

#2163 docs(identity): update the keycloak supported version for next (8.3) version
  docs/reference/supported-environments.md
Labels: component:identity

#2166 chore: archival of version 0.25, part 2: automated steps
  Dockerfile
  static/robots.txt
  versions.json
Labels: dx, epic:archive-old-versions

#2167 chore: archival of version 0.25, part 3: manual steps
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  docusaurus.config.js
  src/pages/contact.md
  src/pages/index.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/.htaccess
Labels: dx, epic:archive-old-versions

#2170 docs(play): explain Play's hosting
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#2162 Removed broken link
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
Labels: component:operate

#2181 feat(docs): describe the process for archiving an unsupported version of the docs
  howtos/versioning.md
Labels: component:docs, dx

#2160 feat: a set of bash scripts to do the least complex steps of archiving a version
  hacks/isolateVersion/1-reduceVersionManifest.sh
  hacks/isolateVersion/2-deleteOtherVersions.sh
  hacks/isolateVersion/3-preventCrawling.sh
  hacks/isolateVersion/4-fixDockerfile.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2172 chore(ci): prevent 0.25.x tags from accidentally being deployed to docs.camunda.io
  .github/workflows/publish-prod.yaml
Labels: dx, epic:archive-old-versions

#2191 fix(data-handling): correct variable scope documentation
  docs/components/modeler/data-handling.md
  versioned_docs/version-8.2/components/modeler/data-handling.md
Labels: component:modeler

#2158 docs(dashboards/reports): add new description feature
  optimize/components/userguide/additional-features/img/report-with-process-variants.png
  optimize/components/userguide/creating-reports.md
  optimize/components/userguide/edit-mode.md
  optimize/components/userguide/img/dashboad-descriptionModal.png
  optimize/components/userguide/img/dashboard-dashboardEditActions.png
  optimize/components/userguide/img/dashboard-showMoreDescription.png
  optimize/components/userguide/img/dashboard-viewMode-monitorFeatures.png
  optimize/components/userguide/img/filter-editMode.png
  optimize/components/userguide/img/report-descriptionModal.png
  optimize/components/userguide/img/report-reportEditActions.png
  optimize/components/userguide/process-analysis/report-analysis/edit-mode.md
  optimize/components/userguide/process-analysis/report-analysis/img/NumberConfiguration.png
  optimize/components/userguide/process-analysis/report-analysis/img/barLine.png
  optimize/components/userguide/process-analysis/report-analysis/img/chartConfiguration.png
  optimize/components/userguide/process-analysis/report-analysis/img/durationAggregation.png
  optimize/components/userguide/process-analysis/report-analysis/img/heatmap.png
  optimize/components/userguide/process-analysis/report-analysis/img/horizontalBar.png
  optimize/components/userguide/process-analysis/report-analysis/img/rawdata.png
  optimize/components/userguide/process-analysis/report-analysis/img/report-showMoreDescription.png
  optimize/components/userguide/process-analysis/report-analysis/img/sorting.png
  optimize/components/userguide/process-analysis/report-analysis/img/stackedBar.png
  optimize/components/userguide/process-analysis/report-analysis/img/targetValue.png
  optimize/components/userguide/process-analysis/report-analysis/img/targetline.png
  optimize/components/userguide/process-analysis/report-analysis/img/targetvalue-1.png
  optimize/components/userguide/process-analysis/report-analysis/overview.md
  optimize/components/userguide/process-analysis/report-analysis/view-mode.md
  optimize/components/userguide/view-mode.md
Labels: component:optimize

#2198 Common sidebar entry for RabbitMQ connectors
  sidebars.js
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2179 chore(docs): mark assignee/candidate group data reports as C7 only
  optimize/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.10.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.7.0/components/userguide/process-analysis/report-analysis/edit-mode.md
  optimize_versioned_docs/version-3.8.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/process-analysis/report-analysis/define-reports.md
Labels: component:optimize

#2197 chore(web-modeler): update dependencies for 8.2.4
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler, component:self-managed

#2180 chore(docs): warn about engine historic data clean up time
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup/configuration.md
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
Labels: component:optimize

#2199 chore: remove version 0.25, part 1: reviewable steps
  .github/workflows/publish-stage.yaml
  docusaurus.config.js
  src/css/custom.css
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2195 docs: update dependencies.md
  docs/reference/dependencies.md
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:docs

#2201 docs(optimize): implement gramatical suggestions
  optimize/components/userguide/creating-reports.md
  optimize/components/userguide/edit-mode.md
  optimize/components/userguide/process-analysis/report-analysis/view-mode.md
  optimize/components/userguide/view-mode.md
Labels: component:optimize

#2187 feat(ootbc,sns): added inbound connector docs
  docs/components/connectors/img/connectors-aws-sns-inbound-intermediate-filled.png
  docs/components/connectors/img/connectors-aws-sns-inbound-start-filled.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  sidebars.js
  versioned_docs/version-8.1/components/connectors/img/connectors-aws-sns-inbound-intermediate-filled.png
  versioned_docs/version-8.1/components/connectors/img/connectors-aws-sns-inbound-start-filled.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  versioned_docs/version-8.2/components/connectors/img/connectors-aws-sns-inbound-intermediate-filled.png
  versioned_docs/version-8.2/components/connectors/img/connectors-aws-sns-inbound-start-filled.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
Labels: component:docs, component:connectors

#1984 Error handling in connectors
  docs/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
Labels: component:connectors

#2202 docs(desktop-modeler): enable further debug logging
  docs/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
Labels: component:modeler

#2216 chore(connectors): remove topic from Kafka consumer response in the docs
  docs/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/install-and-start.md
Labels: component:connectors

#2169 Update forms library
  docs/components/modeler/forms/form-element-library/forms-element-library-button.md
  docs/components/modeler/forms/form-element-library/forms-element-library-checkbox.md
  docs/components/modeler/forms/form-element-library/forms-element-library-checklist.md
  docs/components/modeler/forms/form-element-library/forms-element-library-datetime.md
  docs/components/modeler/forms/form-element-library/forms-element-library-number.md
  docs/components/modeler/forms/form-element-library/forms-element-library-radio.md
  docs/components/modeler/forms/form-element-library/forms-element-library-select.md
  docs/components/modeler/forms/form-element-library/forms-element-library-taglist.md
  docs/components/modeler/forms/form-element-library/forms-element-library-textarea.md
  docs/components/modeler/forms/form-element-library/forms-element-library-textfield.md
  docs/components/modeler/forms/sidebar-schema.js
Labels: component:modeler

#2141 docs(web-modeler): upgrade Laravel to v10
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:modeler

#2192 docs(tasklist): Fix custom user and password configuration
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.0/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.1/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist

#2217 chore(web-modeler): update dependencies for 8.3.0-alpha2
  docs/reference/dependencies.md
Labels: component:modeler, component:self-managed

#2214 chore: update Desktop Modeler screenshots
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2224 chore: ignore 0.26 tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2226 New blog link
  docusaurus.config.js
Labels: kind/bug, component:docs

#2227 Update link for release notes (on blog)
  docs/reference/release-notes.md
  versioned_docs/version-8.1/reference/release-notes.md
  versioned_docs/version-8.2/reference/release-notes.md
Labels: kind/bug, component:docs

#2194 Docs(public-process): Start process from a public form
  docs/components/modeler/bpmn/none-events/none-events.md
  docs/components/modeler/web-modeler/advanced-modeling/publish-public-processes.md
  docs/components/modeler/web-modeler/img/create-form.png
  docs/components/modeler/web-modeler/img/embed-start-form.png
  docs/components/modeler/web-modeler/img/implement-mode-active.png
  docs/components/modeler/web-modeler/img/public-form.png
  docs/components/modeler/web-modeler/img/public-link.png
  docs/components/modeler/web-modeler/img/publication-section.png
  docs/components/modeler/web-modeler/img/select-start-event.png
  docs/components/modeler/web-modeler/img/start-form-configured.png
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/components/tasklist/userguide/starting-processes.md
  docs/components/tasklist/userguide/using-tasklist.md
  sidebars.js
Labels: component:tasklist, component:modeler

#2157 docs(self-managed): zeebe gateway auth is enabled by default in 8.2
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/security/client-authorization.md
Labels: component:zeebe, component:self-managed

#2222 Reorg of console docs
  docs/components/console/console-troubleshooting/common-pitfalls.md
  docs/components/console/manage-organization/img/cc-entrypoint.png
  docs/components/console/manage-organization/manage-users.md
  docs/components/console/manage-plan/cancel-professional-subscription.md
  docs/components/console/manage-plan/img/billing-overview.png
  docs/components/console/manage-plan/img/cc-ending.png
  docs/components/console/manage-plan/img/cc-enter.png
  docs/components/console/manage-plan/img/cc-manage.png
  docs/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  docs/components/console/manage-plan/update-billing-reservations.md
  docs/components/console/manage-plan/update-creditcard.md
  docs/components/console/manage-plan/upgrade-to-professional-plan.md
  docs/guides/assets/react-components/create-cluster.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/components/console/console-troubleshooting/common-pitfalls.md
  versioned_docs/version-8.2/components/console/manage-organization/img/cc-entrypoint.png
  versioned_docs/version-8.2/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.2/components/console/manage-plan/cancel-professional-subscription.md
  versioned_docs/version-8.2/components/console/manage-plan/img/billing-overview.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cc-ending.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cc-enter.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cc-manage.png
  versioned_docs/version-8.2/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.2/components/console/manage-plan/update-billing-reservations.md
  versioned_docs/version-8.2/components/console/manage-plan/update-creditcard.md
  versioned_docs/version-8.2/components/console/manage-plan/upgrade-to-professional-plan.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:console

#2218 docs(self-managed): add Identity contextPath in sm troubleshooting
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:self-managed

#2230 feat: add an archival script for updating theme components
  hacks/isolateVersion/5-updateThemeComponents.sh
  hacks/isolateVersion/allSteps.sh
  hacks/isolateVersion/assets/README.md
  hacks/isolateVersion/assets/theme/DocVersionBanner/index.js
Labels: kind/feature, dx, epic:archive-old-versions

#2229 chore: isolation of version 0.26, part 2: automated steps
  Dockerfile
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2223 chore: reorder automated archival steps
  hacks/isolateVersion/1-deleteOtherVersions.sh
  hacks/isolateVersion/2-reduceVersionManifest.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2235 chore: isolation of version 0.26, part 3: manual steps
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  docusaurus.config.js
  src/pages/contact.md
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-0.26/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-0.26/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-0.26/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/tasks.mdx
Labels: kind/cleanup, dx, epic:archive-old-versions

#2239 chore: remove version 0.26, part 1: reviewable steps
  docusaurus.config.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2228 Refine incident page
  docs/components/concepts/incidents.md
  versioned_docs/version-8.2/components/concepts/incidents.md
Labels: kind/bug, component:docs

#2247 chore: isolation of version 0.26, followup: fix htaccess rules
  static/.htaccess
Labels: kind/bug, dx, epic:archive-old-versions

#2241 add link to forum
  docs/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
Labels: component:modeler

#2144 docs(self-managed): versioning details for install and upgrade
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:self-managed, target:8.2

#2246 [Acquisition Team Experiment] add keywords metadata
  docs/components/components-overview.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/modeler/about-modeler.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/components/components-overview.md
  versioned_docs/version-8.2/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.2/components/modeler/about-modeler.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
Labels: component:docs

#2242 Update code snippet to replace misleading reference
  optimize/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup/installation.md
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/install-and-start.md
Labels: component:optimize

#2248 add interceptors to sidebar, fix link
  docs/components/zeebe/technical-concepts/protocols.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/components/zeebe/technical-concepts/protocols.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: kind/bug, component:zeebe, component:docs

#2244 Add Database configuration issue to troubleshooting
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:modeler

#2259 chore(web-modeler): add Web Modeler logging configuration to troubles…
  docs/self-managed/troubleshooting/log-levels.md
  versioned_docs/version-8.2/self-managed/troubleshooting/log-levels.md
Labels: component:modeler
