Repository camunda/camunda-docs, pull requests merged in 2023-05, with the labels that each got.

#2043 docs(micronaut): change link in next
  docs/apis-tools/community-clients/micronaut.md
Labels: kind/bug

#2057 chore(web-modeler): update list of third-party libraries
  docs/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler, component:self-managed

#2052 docs: link self-signed certificate configuration
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.2/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
Labels: component:modeler, component:self-managed

#2067 fix the call of adress variable
  versioned_docs/version-8.2/apis-tools/java-client/index.md
Labels: component:zeebe

#2069 docs(ootbc): dynamoDb add internal link to item operations
  docs/components/connectors/out-of-the-box-connectors/aws-dynamodb.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-dynamodb.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-dynamodb.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-dynamodb.md
Labels: component:docs, component:connectors

#1991 docs: fixing log4j2.xml Tasklist file path
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist

#1955 docs(tasklist, identity): add description for `redirectRootUrl` property
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:operate, component:tasklist, target:8.3

#2035 docs: tasklist process available on SaaS
  docs/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.2/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist

#2040 docs(web-modeler): link Play mode docs from configuration page
  docs/self-managed/modeler/web-modeler/configuration.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration.md
Labels: component:modeler, component:self-managed

#2072 docs(update-guide): add 8.1 to 8.2 to intro
  docs/guides/update-guide/introduction.md
  versioned_docs/version-8.2/guides/update-guide/introduction.md
Labels: kind/bug, component:docs

#2081 Follow up 1978, add Twilio Connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/twilio.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/twilio.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/bug, component:connectors

#2077 chore(docs): Add Optimize 3.10 to the supported environments matrix
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:optimize

#2086 chore: clean up remaining dangling :::note terminators
  docs/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/google-maps-platform.md
Labels: component:docs

#2087 chore(web-modeler): update list of dependencies
  docs/reference/dependencies.md
Labels: component:modeler, component:self-managed

#2097 feat: extract & expand a Guide to Writing Redirect Rules
  howtos/documentation-guidelines.md
  howtos/redirect-rules.md
Labels: kind/enhancement, dx

#2082 docs(web-modeler): merge api documentation
  docs/apis-tools/web-modeler-api/index.md
  docs/self-managed/modeler/web-modeler/api.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/api.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: kind/bug, component:modeler

#2092 chore: bring contributing.md up to date
  CONTRIBUTING.MD
Labels: component:docs

#2099 [Acquisition Team Experiment] docs(index.js): rename hero buttons and adjust columns
  src/pages/index.js
Labels: component:docs, dx

#2106 docs(config): fix try free link
  docusaurus.config.js
Labels: component:docs

#2091 feat(desktop-modeler): initial take on troubleshooting page
  docs/components/modeler/desktop-modeler/troubleshooting.md
  sidebars.js
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler

#2112 add ignorePatterns to sitemap config
  docusaurus.config.js
Labels: dx

#2115 fix(zeebe): Remove `BROKER_` suffix from env vars in gateway config
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:zeebe

#2058 docs(modeler): describe run and publish options
  docs/apis-tools/working-with-apis-tools.md
  docs/components/modeler/web-modeler/img/signal-start-event.png
  docs/components/modeler/web-modeler/img/tasklist-processes.png
  docs/components/modeler/web-modeler/img/web-modeler-convert-to-timer.png
  docs/components/modeler/web-modeler/img/web-modeler-convert-to-webhook.png
  docs/components/modeler/web-modeler/img/web-modeler-deploy.png
  docs/components/modeler/web-modeler/img/web-modeler-start-instance.png
  docs/components/modeler/web-modeler/img/web-modeler-webhook-panel.png
  docs/components/modeler/web-modeler/img/wrench.png
  docs/components/modeler/web-modeler/new-web-modeler.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/components/modeler/web-modeler/start-instance.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/signal-start-event.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/tasklist-processes.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/web-modeler-convert-to-timer.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/web-modeler-convert-to-webhook.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/web-modeler-deploy.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/web-modeler-start-instance.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/web-modeler-webhook-panel.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/wrench.png
  versioned_docs/version-8.2/components/modeler/web-modeler/new-web-modeler.md
  versioned_docs/version-8.2/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/start-instance.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler

#2105 docs(connectors): document intermediate webhooks
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.0/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
Labels: component:connectors

#2089 docs(web-modeler): document Amazon Aurora PostgreSQL support
  docs/reference/supported-environments.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/database.md
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/database.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler

#2121 Fix ignorePattern format in sitemap
  docusaurus.config.js
Labels: dx

#2122 adjust descriptions flagged by bing
  docs/apis-tools/go-client/index.md
  docs/apis-tools/java-client/index.md
  docs/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
  docs/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  docs/components/modeler/desktop-modeler/search-paths/search-paths.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  versioned_docs/version-8.0/self-managed/tasklist-deployment/taskslist-api.md
  versioned_docs/version-8.2/apis-tools/go-client/index.md
  versioned_docs/version-8.2/apis-tools/java-client/index.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/connect-to-camunda-cloud.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/security/client-authorization.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
Labels: component:docs

#2130 chore(web-modeler): align supported Keycloak versions with Identity
  docs/reference/supported-environments.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:modeler, component:docs, component:self-managed

#2124 fix(connectors): fix connectors starter dependency
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:connectors

#2125 Update sitemap & release procedure
  docusaurus.config.js
  howtos/release-procedure.md
Labels: dx

#2134 chore(zeebe): update of dependencies for 8.0.14, 8.1.12 & 8.2.5
  docs/reference/dependencies.md
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:zeebe

#2123 a slightly better description of the console api clients
  docs/apis-tools/console-api-reference.md
  docs/components/console/manage-organization/img/create-console-api-client.png
  versioned_docs/version-8.2/apis-tools/console-api-reference.md
  versioned_docs/version-8.2/components/console/manage-organization/img/create-console-api-client.png
Labels: component:console

#2126 Add release note and blog links to Announcements page
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
Labels: component:docs

#2139 chore(cawemo): remove cawemo references from docs
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/modeler/desktop-modeler/element-templates/additional-resources.md
  docs/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/additional-resources.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/configuring-templates.md
Labels: kind/cleanup, component:modeler

#2142 docs(identity): fix the log appender options to match reality
  docs/self-managed/identity/user-guide/configuration/configure-logging.md
  versioned_docs/version-8.1/self-managed/identity/user-guide/configure-logging.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/configure-logging.md
Labels: component:identity

#2148 fix: broken anchor links
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:docs, component:connectors

#2146 remove older and `next` optimize versions from sitemap
  docusaurus.config.js
Labels: dx

#2147 adjust termination references
  docs/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.0/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.1/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.2/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
Labels: kind/bug, kind/cleanup, dx, best-practices

#2152 [Acquisition Team Experiment] - revert button, try free -> sign up
  src/pages/index.js
Labels: component:docs, dx

#2140 refine PR template
  .github/pull_request_template.md
Labels: component:docs, dx

#2150 Remove Connectors template.md file from all versions
  docs/components/connectors/out-of-the-box-connectors/template.md
  static/.htaccess
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/template.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/template.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/template.md
Labels: component:docs, component:connectors

#2133 Update overview.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/apis-tools/tasklist-api/tasklist-api-overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
Labels: component:docs

#2117 Cancel prof plan may 16
  docs/components/console/manage-plan/cancel-professional-subscription.md
  docs/components/console/manage-plan/img/cancel-prof-plan-cancel-cta.png
  docs/components/console/manage-plan/img/cancel-prof-plan-last-screen.png
  docs/components/console/manage-plan/img/cancel-prof-plan-manage-subscription.png
  docs/components/console/manage-plan/img/cc-entrypoint.png
  sidebars.js
  versioned_docs/version-8.2/components/console/manage-plan/cancel-professional-subscription.md
  versioned_docs/version-8.2/components/console/manage-plan/img/cancel-prof-plan-cancel-cta.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cancel-prof-plan-last-screen.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cancel-prof-plan-manage-subscription.png
  versioned_docs/version-8.2/components/console/manage-plan/img/cc-entrypoint.png
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:console
