Repository camunda/camunda-docs, pull requests merged in 2023-03, with the labels that each got.

#1754 chore(web-modeler): update to version 0.6.0-beta
  docs/reference/dependencies.md
  docs/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
Labels: component:modeler, component:self-managed

#1756 docs(connectros): adding missing connectors to list
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
Labels: component:docs, component:connectors

#1710 docs(text reports): add text reports to dashboard edit
  optimize/components/userguide/edit-mode.md
  optimize/components/userguide/img/dashboard-addAReportModal-externalReport.png
  optimize/components/userguide/img/dashboard-addAReportModal-textReport.png
  optimize/components/userguide/img/dashboard-addAReportModal.png
  optimize/components/userguide/img/dashboard-dashboardEditActions.png
  optimize/components/userguide/img/dashboard-reportEditActions.png
Labels: component:optimize

#1712 docs(self-managed): include Web Modeler in docs on Helm/Kubernetes
  docs/self-managed/modeler/web-modeler/configuration.md
  docs/self-managed/modeler/web-modeler/installation.md
  docs/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-separated-ingress.png
  docs/self-managed/platform-architecture/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
Labels: component:modeler, component:self-managed

#1761 Update reviewer list
  howtos/documentation-guidelines.md
Labels: component:docs

#1762 docs(dependencies): add query string and fix OOTB connectors headings
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
Labels: component:docs, dx

#1767 docs(manual): link to camunda-platform release page
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
Labels: kind/bug, component:docs, component:self-managed

#1766 docs(platform-deployment): add docker back to development list
  docs/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
Labels: kind/bug, component:docs, component:self-managed

#1758 chore: 1621 hide announcement bar for logged in users
  src/theme/AnnouncementBar/index.js
Labels: dx

#1768 chore: fix move-to-done for external PRs
  .github/workflows/move-to-done.yaml
Labels: dx

#1735 Docs apis clients restructure
  docs/apis-clients/cli-client/index.md
  docs/apis-clients/console-api-reference.md
  docs/apis-clients/go-client/index.md
  docs/apis-clients/img/ComponentsAndArchitecture_SaaS.png
  docs/apis-clients/java-client/index.md
  docs/apis-clients/operate-api/index.md
  docs/apis-clients/public-api.md
  docs/apis-clients/tasklist-api/tasklist-api-overview.md
  docs/apis-clients/web-modeler-api/index.md
  docs/apis-clients/working-with-apis-clients.md
  docs/apis-clients/working-with-apis-tools.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/concepts/incidents.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: dx

#1757 Add odd replication factor recommendation
  docs/components/zeebe/technical-concepts/partitions.md
  docs/reference/glossary.md
  versioned_docs/version-8.1/components/zeebe/technical-concepts/partitions.md
  versioned_docs/version-8.1/reference/glossary.md
Labels: component:zeebe, component:docs

#1769 add note to community clients
  docs/apis-clients/community-clients/index.md
  versioned_docs/version-8.0/apis-clients/community-clients/index.md
  versioned_docs/version-8.1/apis-clients/community-clients/index.md
Labels: component:docs, dx

#1771 chore(self-managed): backport Web Modeler updates on Helm/Kubernetes to 8.1
  docs/self-managed/platform-architecture/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-separated-ingress.png
  versioned_docs/version-8.1/self-managed/platform-architecture/overview.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
  versioned_docs/version-8.1/self-managed/web-modeler/installation.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:modeler, component:self-managed

#1773 Update regions.md
  docs/reference/regions.md
Labels: component:docs

#1703 docs(bpmn-modes): add documentation about dedicated modes, and update…
  docs/components/modeler/web-modeler/collaborate-with-modes.md
  docs/components/modeler/web-modeler/collaboration.md
  docs/components/modeler/web-modeler/design-your-process.md
  docs/components/modeler/web-modeler/img/design-mode.png
  docs/components/modeler/web-modeler/img/implement-mode.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-action-menu-item.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-clock-icon-button.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-breadcrumb.png
  docs/components/modeler/web-modeler/img/mode-tab-navigation.png
  docs/components/modeler/web-modeler/img/web-modeler-new-user-new-diagram.png
  docs/components/modeler/web-modeler/implement-your-process.md
  docs/components/modeler/web-modeler/milestones.md
  sidebars.js
  versioned_docs/version-8.1/components/modeler/web-modeler/collaborate-with-modes.md
  versioned_docs/version-8.1/components/modeler/web-modeler/design-your-process.md
  versioned_docs/version-8.1/components/modeler/web-modeler/img/design-mode.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/implement-mode.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/milestones/web-modeler-milestone-action-menu-item.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/milestones/web-modeler-milestone-clock-icon-button.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-breadcrumb.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/mode-tab-navigation.png
  versioned_docs/version-8.1/components/modeler/web-modeler/img/web-modeler-new-user-new-diagram.png
  versioned_docs/version-8.1/components/modeler/web-modeler/implement-your-process.md
  versioned_docs/version-8.1/components/modeler/web-modeler/milestones.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:modeler

#1791 march bing adjustments
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/tasklist-deployment/taskslist-api.md
  versioned_docs/version-0.25/components/zeebe/basics/workflows.md
  versioned_docs/version-0.25/components/zeebe/bpmn-workflows/bpmn-primer.md
  versioned_docs/version-0.25/components/zeebe/clients/java-client-examples/workflow-deploy.md
  versioned_docs/version-0.25/components/zeebe/clients/java-client/index.md
  versioned_docs/version-0.25/components/zeebe/clients/java-client/logging.md
  versioned_docs/version-0.25/components/zeebe/clients/java-client/setup.md
  versioned_docs/version-0.25/components/zeebe/getting-started/create-workflow-instance.md
  versioned_docs/version-0.25/components/zeebe/introduction/what-is-zeebe.md
  versioned_docs/version-0.25/components/zeebe/operations/authorization.md
  versioned_docs/version-0.25/components/zeebe/reference/incidents.md
  versioned_docs/version-0.26/components/concepts/workflows.md
  versioned_docs/version-0.26/components/zeebe/deployment-guide/getting-started/deploy-a-workflow.md
  versioned_docs/version-0.26/components/zeebe/deployment-guide/getting-started/index.md
  versioned_docs/version-0.26/components/zeebe/deployment-guide/security/authentication.md
  versioned_docs/version-0.26/components/zeebe/technical-concepts/workflow-lifecycles.md
  versioned_docs/version-1.0/components/zeebe/deployment-guide/kubernetes/helm/installing-helm.md
  versioned_docs/version-1.3/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-1.3/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-8.0/self-managed/tasklist-deployment/taskslist-api.md
  versioned_docs/version-8.1/self-managed/tasklist-deployment/taskslist-api.md
Labels: component:docs, dx

#1792 adjust deployment glossary link
  docs/reference/glossary.md
  versioned_docs/version-8.0/reference/glossary.md
  versioned_docs/version-8.1/reference/glossary.md
Labels: component:docs, dx

#1785 docs(text reports): update screenshot
  optimize/components/userguide/img/dashboard-addAReportModal-textReport.png
Labels: component:optimize

#1782 adjust update and upgrade references
  docs/apis-clients/java-client/zeebe-process-test.md
  docs/components/best-practices/operations/operating-camunda-c7.md
  docs/guides/update-guide/120-to-130.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operate-deployment/schema-and-migration.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/operations/health.md
  docs/self-managed/zeebe-deployment/operations/update-zeebe.md
  docs/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  optimize/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize/self-managed/optimize-deployment/migration-update/2.7-to-3.0.md
  optimize/self-managed/optimize-deployment/migration-update/3.0-to-3.1.md
  optimize/self-managed/optimize-deployment/migration-update/3.1-to-3.2.md
  optimize/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/2.7-to-3.0.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/3.0-to-3.1.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/3.1-to-3.2.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  versioned_docs/version-8.1/apis-clients/java-client/zeebe-process-test.md
  versioned_docs/version-8.1/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.1/guides/update-guide/120-to-130.md
  versioned_docs/version-8.1/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.1/self-managed/operate-deployment/schema-and-migration.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.1/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/update-zeebe.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/zeebe-in-production.md
Labels: component:docs, dx

#1775 Added section about Route for Zeebe Gateway on Openshift
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: component:self-managed

#1789 Adjust Inbound Webhook Connectors docs
  docs/components/connectors/img/use-inbound-connector-template-filled-gh.png
  docs/components/connectors/img/use-inbound-connector-template-filled.png
  docs/components/connectors/img/use-inbound-connector-webhooks-tab.png
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/http-webhook.md
  docs/components/connectors/out-of-the-box-connectors/rest.md
  static/.htaccess
  versioned_docs/version-8.0/components/connectors/img/use-github-connector-template.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template-filled-gh.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template-filled.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template.png
  versioned_docs/version-8.0/components/connectors/introduction.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-template-filled-gh.png
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-template-filled.png
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-webhooks-tab.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rest.md
  versioned_sidebars/version-8.0-sidebars.json
Labels: component:connectors

#1794 Docs apis tools styling
  docs/apis-clients/cli-client/index.md
  docs/apis-clients/go-client/index.md
  docs/apis-clients/grpc.md
  docs/apis-clients/operate-api/index.md
  docs/apis-clients/tasklist-api/tasklist-api-overview.md
  docs/apis-clients/working-with-apis-tools.md
  optimize/apis-clients/optimize-api/optimize-api-authorization.md
  src/theme/DocCard/index.js
  src/theme/DocCard/styles.module.css
Labels: component:docs, dx

#1751 Add user task scheduling docs section
  docs/components/modeler/bpmn/assets/react-components/iso-8601-date-time.md
  docs/components/modeler/bpmn/timer-events/timer-events.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: component:modeler

#1770 feat(connectors): add Power Automate connector documentation
  docs/components/connectors/img/connectors-power-automate-allow-implicit-flow.png
  docs/components/connectors/img/connectors-power-automate-bearer-token.png
  docs/components/connectors/img/connectors-power-automate-cluster-api-credentials.png
  docs/components/connectors/img/connectors-power-automate-connection-name.png
  docs/components/connectors/img/connectors-power-automate-create-new-connection.png
  docs/components/connectors/img/connectors-power-automate-oauth-token.png
  docs/components/connectors/img/connectors-power-automate-operations.png
  docs/components/connectors/img/connectors-power-automate-trigger-a-flow-run.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/power-automate.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-allow-implicit-flow.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-bearer-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-cluster-api-credentials.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-connection-name.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-create-new-connection.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-oauth-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-operations.png
  versioned_docs/version-8.0/components/connectors/img/connectors-power-automate-trigger-a-flow-run.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-allow-implicit-flow.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-bearer-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-cluster-api-credentials.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-connection-name.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-create-new-connection.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-oauth-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-operations.png
  versioned_docs/version-8.1/components/connectors/img/connectors-power-automate-trigger-a-flow-run.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs, component:connectors

#1803 fix(zeebe): remove trailing slash from rebalance url
  docs/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-1.3/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/rebalancing.md
Labels: component:zeebe

#1816 chore(web-modeler): update to version 0.8.0-beta
  docs/reference/dependencies.md
  docs/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
Labels: component:modeler, component:self-managed

#1790 docs(console-api-reference): consistency and small restructure
  docs/apis-clients/console-api-reference.md
  versioned_docs/version-8.1/apis-clients/console-api-reference.md
Labels: kind/bug, component:docs, component:console

#1820 Pepopowitz/dockerfile improvement
  Dockerfile
  howtos/documentation-guidelines.md
Labels: component:docs, dx

#1802 Add release notes page
  docs/reference/overview.md
  docs/reference/release-notes.md
  sidebars.js
  versioned_docs/version-8.1/reference/overview.md
  versioned_docs/version-8.1/reference/release-notes.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs

#1818 Add ES 7.17.x to Supported Environment
  docs/reference/supported-environments.md
  versioned_docs/version-8.1/reference/supported-environments.md
Labels: component:zeebe, component:operate, component:tasklist, component:docs

#1841 fix: rename all apis-clients/working-with-apis-clients docs to apis-tools/working-with-apis-tools so that docusaurus top nav item is consistent across all versions
  docs/apis-tools/img/ComponentsAndArchitecture_SaaS.png
  docs/apis-tools/working-with-apis-tools.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/concepts/incidents.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  docusaurus.config.js
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.2/apis-tools/overview.md
  versioned_docs/version-1.2/guides/migrating-from-Camunda-Platform.md
  versioned_docs/version-1.3/apis-tools/overview.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-1.3/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-1.3/components/concepts/incidents.md
  versioned_docs/version-1.3/guides/migrating-from-Camunda-Platform.md
  versioned_docs/version-8.0/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.0/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.0/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.0/components/concepts/incidents.md
  versioned_docs/version-8.0/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.0/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.1/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.1/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.1/components/concepts/incidents.md
  versioned_docs/version-8.1/components/concepts/what-is-camunda-platform-8.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.1/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-1.3-sidebars.json
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: dx

#1843 docs(identity): revert Keycloak 20 support
  docs/reference/supported-environments.md
Labels: component:identity

#1827 docs(self-managed): update Helm chart docs after Web Modeler subchart was merged to parent
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
Labels: component:modeler, component:self-managed

#1810 docs(web-modeler): update configuration page for context path support
  docs/self-managed/modeler/web-modeler/configuration.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
Labels: component:modeler, component:self-managed

#1845 docs(reports): update docs to show the automatic preview update
  optimize/components/userguide/additional-features/img/report-with-process-variants.png
  optimize/components/userguide/decision-analysis/img/dmn_date_chart.png
  optimize/components/userguide/decision-analysis/img/dmn_pie_chart.png
  optimize/components/userguide/decision-analysis/img/dmn_progress_bar.png
  optimize/components/userguide/decision-analysis/img/dmn_raw_data_report.png
  optimize/components/userguide/img/area-chart-report.png
  optimize/components/userguide/img/combined-config.png
  optimize/components/userguide/img/report-reportEditActions.png
  optimize/components/userguide/img/table-report.png
  optimize/components/userguide/process-analysis/img/combined-filter.png
  optimize/components/userguide/process-analysis/report-analysis/edit-mode.md
  optimize/components/userguide/process-analysis/report-analysis/img/NumberConfiguration.png
  optimize/components/userguide/process-analysis/report-analysis/img/barLine.png
  optimize/components/userguide/process-analysis/report-analysis/img/chartConfiguration.png
  optimize/components/userguide/process-analysis/report-analysis/img/heatmap.png
  optimize/components/userguide/process-analysis/report-analysis/img/horizontalBar.png
  optimize/components/userguide/process-analysis/report-analysis/img/rawdata.png
  optimize/components/userguide/process-analysis/report-analysis/img/sorting.png
  optimize/components/userguide/process-analysis/report-analysis/img/stackedBar.png
  optimize/components/userguide/process-analysis/report-analysis/img/targetValue.png
  optimize/components/userguide/process-analysis/report-analysis/img/targetvalue-1.png
Labels: component:optimize

#1834 chore(optimize): add update guide for optimize 3.10
  optimize/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_390_3100.diff
  optimize_sidebars.js
  sidebars.js
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:optimize

#1851 technical review of instant preview dashboards
  optimize/components/userguide/instant-preview-dashboards.md
Labels: component:docs, component:optimize

#1861 console: new set of screenshots
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/delete-account.png
  docs/components/console/manage-plan/img/checkout.png
  docs/guides/img/home.png
  versioned_docs/version-8.1/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.1/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.1/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.1/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.1/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.1/components/console/manage-organization/img/delete-account.png
  versioned_docs/version-8.1/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.1/guides/img/home.png
Labels: component:console

#1847 fix(connectors): PowerAutomate doc clarification
  docs/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/power-automate.md
Labels: component:connectors

#1817 feat(connectors): OpenAI & ChatGPT Connector
  docs/components/connectors/img/connectors-openai-prompt-engineering.png
  docs/components/connectors/img/connectors-openai-red-properties.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/openai.md
  package-lock.json
  package.json
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-openai-prompt-engineering.png
  versioned_docs/version-8.0/components/connectors/img/connectors-openai-red-properties.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.1/components/connectors/img/connectors-openai-prompt-engineering.png
  versioned_docs/version-8.1/components/connectors/img/connectors-openai-red-properties.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/openai.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1840 feat(connectors): add Camunda Operate connector
  docs/components/connectors/img/connectors-operate-auth.png
  docs/components/connectors/img/connectors-operate-cluster-saas.png
  docs/components/connectors/img/connectors-operate-cluster-sm.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/operate.md
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-operate-auth.png
  versioned_docs/version-8.0/components/connectors/img/connectors-operate-cluster-saas.png
  versioned_docs/version-8.0/components/connectors/img/connectors-operate-cluster-sm.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.1/components/connectors/img/connectors-operate-auth.png
  versioned_docs/version-8.1/components/connectors/img/connectors-operate-cluster-saas.png
  versioned_docs/version-8.1/components/connectors/img/connectors-operate-cluster-sm.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/operate.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1864 docs(BP): add to next
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.1/components/best-practices/architecture/sizing-your-environment.md
Labels: component:docs

#1837 Document Opensearch and Elasticsearch exporters
  docs/reference/supported-environments.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/exporters.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  sidebars.js
Labels: component:zeebe

#1867 docs(zeebe): update disk watermark configuration
  docs/guides/update-guide/810-to-820.md
  docs/self-managed/zeebe-deployment/operations/disk-space.md
Labels: component:zeebe, component:docs

#1859 docs: Document new Operate API endpoints, fields and limitations (including migration)
  docs/apis-clients/operate-api/index.md
  docs/guides/update-guide/810-to-820.md
  docs/reference/announcements.md
  versioned_docs/version-8.0/apis-clients/operate-api/index.md
  versioned_docs/version-8.1/apis-clients/operate-api/index.md
Labels: component:operate

#1862 docs(identity): add documentation for group management
  docs/self-managed/concepts/access-control/groups.md
  docs/self-managed/identity/user-guide/groups/assigning-roles-to-a-group.md
  docs/self-managed/identity/user-guide/groups/assigning-users-to-a-group.md
  docs/self-managed/identity/user-guide/groups/creating-a-group.md
  docs/self-managed/identity/user-guide/groups/creating-authorizations-for-a-group.md
  docs/self-managed/identity/user-guide/img/assign-role-to-group-modal-1.png
  docs/self-managed/identity/user-guide/img/assign-role-to-group-modal-2.png
  docs/self-managed/identity/user-guide/img/assign-role-to-group-refreshed-table.png
  docs/self-managed/identity/user-guide/img/assign-role-to-group-tab.png
  docs/self-managed/identity/user-guide/img/assign-user-to-group-modal-1.png
  docs/self-managed/identity/user-guide/img/assign-user-to-group-modal-2.png
  docs/self-managed/identity/user-guide/img/assign-user-to-group-refreshed-table.png
  docs/self-managed/identity/user-guide/img/assign-user-to-group-tab.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-modal-1.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-modal-2.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-modal-3.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-modal-4.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-refreshed-table.png
  docs/self-managed/identity/user-guide/img/create-authorization-for-group-tab.png
  docs/self-managed/identity/user-guide/img/create-group-modal-1.png
  docs/self-managed/identity/user-guide/img/create-group-modal-2.png
  docs/self-managed/identity/user-guide/img/create-group-refreshed-table.png
  docs/self-managed/identity/user-guide/img/create-group-tab.png
  sidebars.js
Labels: component:identity

#1833 feat(connectors): add github connector documentation
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/github.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs, component:connectors

#1882 docs(zeebe): document configuration for GCS backup store
  docs/self-managed/backup-restore/backup-and-restore.md
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
Labels: kind/feature, component:zeebe, target:8.2
