Repository camunda/camunda-docs, pull requests merged in 2023-10, with the labels that each got.

#2596 guides documentation review
  docs/guides/assets/react-components/create-cluster.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-account.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/improve-processes-with-optimize.md
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/guides/migrating-from-camunda-7/adjusting-dmn-models.md
  docs/guides/migrating-from-camunda-7/adjusting-source-code.md
  docs/guides/migrating-from-cawemo.md
  docs/guides/model-your-first-process.md
  docs/guides/setting-up-development-project.md
  docs/guides/setup-client-connection-credentials.md
  docs/guides/utilizing-forms.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.0/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.0/guides/create-account.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.0/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.0/guides/migrating-from-cawemo.md
  versioned_docs/version-8.0/guides/model-your-first-process.md
  versioned_docs/version-8.0/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.0/guides/utilizing-forms.md
  versioned_docs/version-8.1/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.1/guides/create-account.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.1/guides/migrating-from-cawemo.md
  versioned_docs/version-8.1/guides/model-your-first-process.md
  versioned_docs/version-8.1/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.1/guides/utilizing-forms.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.2/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.2/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.2/guides/create-account.md
  versioned_docs/version-8.2/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.2/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-7/adjusting-dmn-models.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-7/adjusting-source-code.md
  versioned_docs/version-8.2/guides/migrating-from-cawemo.md
  versioned_docs/version-8.2/guides/model-your-first-process.md
  versioned_docs/version-8.2/guides/setting-up-development-project.md
  versioned_docs/version-8.2/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.2/guides/utilizing-forms.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2675 feat: detect crossover links as a PR check
  .github/workflows/check-format.yaml
  .vale.ini
  styles/camunda/all/hrefProduction.yml
  styles/camunda/docsInstance/hrefDocsToDocs.yml
  styles/camunda/docsInstance/hrefDocsToOptimize.yml
  styles/camunda/optimizeInstance/hrefOptimizeToDocs.yml
  styles/camunda/optimizeInstance/hrefOptimizeToOptimize.yml
Labels: component:docs, dx

#2681 adjust best practice bug
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.0/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.1/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.2/components/best-practices/architecture/sizing-your-environment.md
Labels: component:docs

#2680 feat: automatically add review comments to prettier infractions
  .github/workflows/build-docs.yaml
  .github/workflows/check-format.yaml
Labels: component:docs

#2666 Update usage-alerts.md
  docs/components/console/manage-organization/img/edit_usage_alert.png
  docs/components/console/manage-organization/usage-alerts.md
  versioned_docs/version-8.2/components/console/manage-organization/img/edit_usage_alert.png
  versioned_docs/version-8.2/components/console/manage-organization/usage-alerts.md
Labels: component:console

#2679 feat: redirect current versions
  hacks/cutNewVersions.sh
  static/.htaccess
Labels: kind/enhancement, dx

#2243 chore(web-modeler): use current helm config for database connectivity
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
Labels: component:modeler

#2692 Remove community-maintained clients from supported environments page
  docs/reference/supported-environments.md
  versioned_docs/version-8.0/reference/supported-environments.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:docs

#2685 chore: update Desktop Modeler screenshots to v5.16.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/deploy-icon.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-icon.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2658 Update the FEEL documentation for version 8.3
  docs/components/concepts/expressions.md
  docs/components/concepts/incidents.md
  docs/components/concepts/process-instance-modification.md
  docs/components/concepts/variables.md
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-boolean.md
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-list.md
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-numeric.md
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-range.md
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-temporal.md
  docs/components/modeler/feel/language-guide/feel-boolean-expressions.md
  docs/components/modeler/feel/language-guide/feel-context-expressions.md
  docs/components/modeler/feel/language-guide/feel-error-handling.md
  docs/components/modeler/feel/language-guide/feel-expressions-introduction.md
  docs/components/modeler/feel/language-guide/feel-functions.md
  docs/components/modeler/feel/language-guide/feel-list-expressions.md
  docs/components/modeler/feel/language-guide/feel-numeric-expressions.md
  docs/components/modeler/feel/language-guide/feel-string-expressions.md
  docs/components/modeler/feel/language-guide/feel-temporal-expressions.md
  docs/components/modeler/feel/language-guide/feel-unary-tests.md
  docs/components/modeler/feel/language-guide/feel-variables.md
  docs/components/modeler/feel/sidebar-schema.js
  docs/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:modeler, component:docs, target:8.3

#2704 chore: synchronize sidebars for vNext
  hacks/generateOptimizeSidebars.md
  optimize_sidebars.js
  sidebars.js
Labels: kind/cleanup, dx

#2705 chore: synchronize sidebars for v8.2
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
Labels: kind/cleanup, dx

#2619 clarify relationship api orchestration connectors
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
Labels: component:docs, component:connectors

#2669 update output mapping description
  docs/components/concepts/variables.md
  versioned_docs/version-8.2/components/concepts/variables.md
Labels: component:docs

#2710 chore: synchronize sidebars for v8.1/3.9.0
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/cleanup, dx

#2711 chore: synchronize sidebars for v8.0/3.8.0
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  versioned_sidebars/version-8.0-sidebars.json
Labels: kind/cleanup, dx

#2712 chore: synchronize sidebars for v1.3/3.7.0
  optimize_versioned_sidebars/version-3.7.0-sidebars.json
Labels: kind/cleanup, dx

#2703 feat: document changes to exported records
  docs/self-managed/operational-guides/update-guide/820-to-830.md
Labels: kind/feature, component:zeebe, target:8.3

#2696 Document multi-tenancy for Zeebe gRPC
  docs/apis-tools/grpc.md
Labels: kind/feature, component:zeebe, target:8.3

#2695 Add degraded status to the health endpoint in the gateway
  docs/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/health.md
Labels: component:zeebe

#2607 docs(ootbc): introduce http polling connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/protocol/polling.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/protocol/polling.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/protocol/polling.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2713 docs(identity): introduce Identity specific documentation relating to multi tenancy
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/identity/user-guide/img/tenant-management-assign-applications-modal.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-applications-refreshed.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-applications-tab.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-groups-modal.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-groups-refreshed.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-groups-tab.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-modal.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-refreshed.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-tab.png
  docs/self-managed/identity/user-guide/img/tenant-management-details.png
  docs/self-managed/identity/user-guide/img/tenant-management-modal-1.png
  docs/self-managed/identity/user-guide/img/tenant-management-tab.png
  docs/self-managed/identity/user-guide/tenants/managing-tenants.md
  sidebars.js
Labels: component:identity

#2715 chore(web-modeler): update dependencies for 8.3.0
  docs/reference/dependencies.md
  docs/reference/supported-environments.md
Labels: component:modeler

#2684 Update versioning-process-definitions.md
  docs/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.0/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.1/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.2/components/best-practices/operations/versioning-process-definitions.md
Labels: component:docs, best-practices

#2714 feat(connectors): explained different inbound connector types
  docs/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
Labels: component:connectors

#2716 docs(web-modeler): correct Optimize version for 8.3.x
  docs/reference/supported-environments.md
Labels: component:modeler

#2621 Remove mention of OS2.5+ support
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:zeebe, component:operate, component:tasklist, component:optimize, target:8.3

#2725 docs(8.3-release): add release notes and blog link
  docs/self-managed/operational-guides/update-guide/introduction.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/introduction.md
Labels: target:8.3

#2720 add migration warning
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:operate, component:tasklist, component:optimize, component:self-managed

#2723 chore(modeler): update screenshots to use recent engine version
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/deploy-icon.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-icon.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2726 cleanup: update order-process.bpmn in Operate userguide
  docs/components/operate/userguide/assets/order-process.bpmn
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-1.3/components/operate/userguide/assets/order-process.bpmn
  versioned_docs/version-1.3/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.0/components/operate/userguide/assets/order-process.bpmn
  versioned_docs/version-8.0/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.0/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.1/components/operate/userguide/assets/order-process.bpmn
  versioned_docs/version-8.1/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.1/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.2/components/operate/userguide/assets/order-process.bpmn
  versioned_docs/version-8.2/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.2/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.3/components/operate/userguide/assets/order-process.bpmn
  versioned_docs/version-8.3/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.3/components/operate/userguide/resolve-incidents-update-variables.md
Labels: component:operate, component:docs, dx

#2722 chore(optimize): update third party dependencies for 3.11
  docs/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:docs

#2699 Adding Overview section and few small changes
  docs/apis-tools/console-api-reference.md
  versioned_docs/version-8.3/apis-tools/console-api-reference.md
Labels: component:console

#2677 Explain play hosting
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#2324 Add ES to update guide
  docs/self-managed/operational-guides/update-guide/elasticsearch/7-to-8.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/elasticsearch/7-to-8.md
Labels: component:docs

#2732 Add CLA assistant info
  howtos/configuration.md
Labels: dx

#2721 Add multi tenancy section to Job Worker
  docs/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.3/apis-tools/java-client/job-worker.md
Labels: target:8.3

#2729 chore(optimize): update translation to match final release
  optimize/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_310_311.diff
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_310_311.diff
Labels: component:docs, component:optimize

#2670 Update supported-environments.md
  docs/reference/supported-environments.md
Labels: component:optimize

#2693 add pages missing to reference overview
  docs/reference/overview.md
  docs/reference/status.md
  versioned_docs/version-8.1/reference/overview.md
  versioned_docs/version-8.1/reference/status.md
  versioned_docs/version-8.2/reference/overview.md
  versioned_docs/version-8.2/reference/status.md
  versioned_docs/version-8.3/reference/overview.md
  versioned_docs/version-8.3/reference/status.md
Labels: component:docs

#2724 feat(element-templates): link zeebe concepts
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#2733 make migration warning clearer
  docs/reference/announcements.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:operate, component:tasklist, component:docs, component:optimize

#2736 bing bugs
  docs/apis-tools/community-clients/index.md
  docs/guides/message-correlation.md
  versioned_docs/version-8.2/apis-tools/community-clients/index.md
  versioned_docs/version-8.2/guides/message-correlation.md
  versioned_docs/version-8.3/apis-tools/community-clients/index.md
  versioned_docs/version-8.3/guides/message-correlation.md
Labels: component:docs

#2730 docs(MT:tasklist): document MT-related changes for Tasklist
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/form-response.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/task-response.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/task-search-response.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/variable-response.mdx
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/responses/form-response.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/responses/task-response.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/responses/task-search-response.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/responses/variable-response.mdx
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist

#2743 Update clarification
  docs/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
Labels: component:docs

#2740 remove beta border for web modeler
  docs/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
Labels: component:modeler, component:docs

#2745 update keycloak supported environment
  docs/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: component:docs

#2504 feat(forms): document group element
  docs/components/modeler/forms/assets/group-mapping-example.png
  docs/components/modeler/forms/configuration/forms-config-data-binding.md
  docs/components/modeler/forms/form-element-library/forms-element-library-group.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  static/img/form-icons/form-group.svg
  versioned_docs/version-8.3/components/modeler/forms/assets/group-mapping-example.png
  versioned_docs/version-8.3/components/modeler/forms/configuration/forms-config-data-binding.md
  versioned_docs/version-8.3/components/modeler/forms/form-element-library/forms-element-library-group.md
  versioned_docs/version-8.3/components/modeler/forms/form-element-library/forms-element-library.md
Labels: component:modeler, component:docs

#2734 Document multi-tenancy support for Zeebe
  docs/apis-tools/go-client/go-get-started.md
  docs/self-managed/concepts/img/multi-tenancy.png
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.3/apis-tools/go-client/go-get-started.md
  versioned_docs/version-8.3/self-managed/concepts/img/multi-tenancy.png
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:docs

#2750 Put message-correlation back into 8.2 sidebars
  versioned_sidebars/version-8.2-sidebars.json
Labels: kind/bug, component:docs

#2744 chore(operate): add resource deletion to user guide
  docs/components/concepts/resource-deletion.md
  docs/components/operate/userguide/delete-resources.md
  docs/components/operate/userguide/img/delete-resources/decision-button.png
  docs/components/operate/userguide/img/delete-resources/decision-filters.png
  docs/components/operate/userguide/img/delete-resources/decision-modal.png
  docs/components/operate/userguide/img/delete-resources/decision-operations-panel.png
  docs/components/operate/userguide/img/delete-resources/process-button.png
  docs/components/operate/userguide/img/delete-resources/process-filters.png
  docs/components/operate/userguide/img/delete-resources/process-modal.png
  docs/components/operate/userguide/img/delete-resources/process-operations-panel.png
  sidebars.js
  versioned_docs/version-8.3/components/concepts/resource-deletion.md
  versioned_docs/version-8.3/components/operate/userguide/delete-resources.md
  versioned_docs/version-8.3/images/operate/delete-resources/decision-button.png
  versioned_docs/version-8.3/images/operate/delete-resources/decision-filters.png
  versioned_docs/version-8.3/images/operate/delete-resources/decision-modal.png
  versioned_docs/version-8.3/images/operate/delete-resources/decision-operations-panel.png
  versioned_docs/version-8.3/images/operate/delete-resources/process-button.png
  versioned_docs/version-8.3/images/operate/delete-resources/process-filters.png
  versioned_docs/version-8.3/images/operate/delete-resources/process-modal.png
  versioned_docs/version-8.3/images/operate/delete-resources/process-operations-panel.png
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:operate, component:docs

#2667 feat(element-templates): added "implementationType" property for execution listeners
  docs/components/modeler/desktop-modeler/element-templates/c7-defining-templates.md
Labels: component:modeler, component:docs

#2748 Connectors secret provider should point to the correct repo
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:docs, component:connectors

#2749 docs: changing ES supported versions
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: component:docs

#2741 adjust ui references
  docs/guides/create-account.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.1/guides/create-account.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.1/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.2/guides/create-account.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.3/guides/create-account.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/guides/setup-client-connection-credentials.md
Labels: component:docs

#2753 Update usage history section with one single tab for usage
  docs/components/console/manage-organization/img/plans_usage_history_chart_view.gif
  docs/components/console/manage-organization/img/plans_usage_history_chart_view.png
  docs/components/console/manage-organization/img/plans_usage_history_table_view.png
  docs/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.3/components/console/manage-organization/img/plans_usage_history_chart_view.gif
  versioned_docs/version-8.3/components/console/manage-organization/img/plans_usage_history_chart_view.png
  versioned_docs/version-8.3/components/console/manage-organization/img/plans_usage_history_table_view.png
  versioned_docs/version-8.3/components/console/manage-organization/usage-history.md
Labels: component:console

#2760 docs(identity): add mt link for Identity to the sidebar
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:identity

#2762 docs(operate): document multi-tenancy
  docs/apis-tools/operate-api/overview.md
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:operate

#2755 Update multi-tenancy.md
  docs/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
Labels: component:docs

#2763 Connectors/default secret provider config
  docs/reference/supported-environments.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors

#2772 chore(announcements): correct OpenSearch note
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
Labels: component:docs

#2777 Connectors/OOTB/Salesforce: Added reference to examples
  docs/components/connectors/out-of-the-box-connectors/salesforce.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/salesforce.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/salesforce.md
Labels: component:connectors

#2766 Added a section about connectors stackdriver logging configuration
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors

#2706 chore(element-templates): add new group options
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#2783 chore(connectors): Add error variable support
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/use-connectors/index.md
Labels: component:connectors

#2773 chore(connectors): updated runtime execution information
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.0/self-managed/platform-deployment/local.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.2/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
Labels: component:connectors

#2780 archive(8.0) prep: filter 8.0.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2774 doc: Update build-your-own-client.md
  docs/apis-tools/build-your-own-client.md
  versioned_docs/version-8.3/apis-tools/build-your-own-client.md
Labels: component:docs

#2786 Add auto-updates info and steps
  docs/components/console/manage-organization/manage-users.md
  docs/reference/auto-updates.md
  docs/reference/overview.md
  sidebars.js
  versioned_docs/version-8.3/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.3/reference/auto-updates.md
  versioned_docs/version-8.3/reference/overview.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:docs, component:console

#2770 chore(guides): update modeler API reference to v1
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:modeler

#2794 fix(reference): added 8.3 version matrix for dependency components
  docs/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: component:self-managed

#2791 chore: hint to multi-tenancy in migration note
  docs/reference/announcements.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:docs

#2793 docs(optimize): instant dashboar copying and rename
  optimize/components/userguide/instant-process-dashboards.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.11.0/components/userguide/instant-process-dashboards.md
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:optimize

#2627 Add sentence how to support custom idempotency handling
  docs/components/best-practices/development/dealing-with-problems-and-exceptions-assets/custom-idempotency-handling.bpmn
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
Labels: component:docs

#2790 chore(guides): update Web Modeler CI/CD guide for 8.2
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:modeler

#2796 archive(8.0) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  hacks/isolateVersion/allSteps.sh
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versions.json
  src/mdx/expandVersionedUrl.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versioned_sidebars/version-8.0-sidebars.json
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2801 docs(web-modeler): update dependencies for Web Modeler 8.2.7
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler

#2809 Fix typo in header
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:self-managed

#2800 docs(operate): add jobKey to incident endpoint
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
Labels: component:operate

#2811 Update sizing-your-environment.md
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.3/components/best-practices/architecture/sizing-your-environment.md
Labels: best-practices

#2818 Reorder Reference sidebar in /next/ and 8.3
  sidebars.js
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:docs

#2803 update elasticsearch support
  docs/reference/announcements.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
Labels: support, component:self-managed

#2830 adjust elasticsearch note
  docs/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
Labels: component:docs
