Repository camunda/camunda-docs, pull requests merged in 2023-01, with the labels that each got.

#1590 feat: rest connector - simplify authentication types
  docs/components/connectors/img/connectors-rest-basic-auth.png
  docs/components/connectors/img/connectors-rest-basic.png
  docs/components/connectors/img/connectors-rest-bearer-token-auth.png
  docs/components/connectors/img/connectors-rest-bearer-token.png
  docs/components/connectors/img/connectors-rest-red-properties.png
  docs/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-basic-auth.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-basic.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-bearer-token-auth.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-bearer-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-rest-red-properties.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-basic-auth.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-basic.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-bearer-token-auth.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-bearer-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-rest-red-properties.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rest.md
Labels: component:docs, component:connectors

#1576 chore(self-managed): update using existing keycloak guide
  docs/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
Labels: component:self-managed

#1581 1580 document web modeler public api
  docs/apis-clients/web-modeler-api/index.md
  docs/self-managed/modeler/web-modeler/api.md
  sidebars.js
Labels: component:docs

#1599 docs: fix sidebar links
  howtos/documentation-guidelines.md
Labels: component:docs

#1582 docs(processes): Update optimize processes page
  optimize/components/userguide/img/processOverview.png
  optimize/components/userguide/process-dashboards.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:optimize

#1601 fix: run the enforce-labels action more frequently to avoid unmergeable PRs
  .github/workflows/enforce-labels.yaml
Labels: dx

#1589 Create regions.md
  docs/reference/regions.md
Labels: component:docs

#1606 docs(regions): add to 8.1 & sidebars
  sidebars.js
  versioned_docs/version-8.1/reference/regions.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs

#1610 Updated sizing recommendation and relaxed binding to SaaS
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.1/components/best-practices/architecture/sizing-your-environment.md
Labels: component:docs

#1602 docs(web-modeler): update the text and screenshot in the engine versi…
  docs/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  docs/components/modeler/web-modeler/img/diagram-errors/version-selector.png
  versioned_docs/version-8.1/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  versioned_docs/version-8.1/components/modeler/web-modeler/img/diagram-errors/version-selector.png
Labels: component:modeler

#1608 correct bing errors
  docs/self-managed/zeebe-deployment/operations/disk-space.md
  docs/self-managed/zeebe-deployment/operations/rebalancing.md
  src/pages/contact.md
  versioned_docs/version-0.25/components/zeebe/operations/setting-up-a-cluster.md
  versioned_docs/version-0.26/components/modeler/cloud-modeler/launch-cloud-modeler.md
  versioned_docs/version-1.0/components/zeebe/deployment-guide/kubernetes/helm/installing-helm.md
  versioned_docs/version-1.0/components/zeebe/deployment-guide/kubernetes/operator/zeebe-operator.md
  versioned_docs/version-1.1/components/clients/java-client/testing.md
  versioned_docs/version-1.1/components/zeebe/deployment-guide/getting-started/deploy-a-process.md
  versioned_docs/version-1.1/components/zeebe/deployment-guide/kubernetes/operator/zeebe-operator.md
  versioned_docs/version-1.3/components/best-practices/development/handling-data-in-processes.md
  versioned_docs/version-1.3/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-1.3/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-1.3/components/best-practices/management/following-the-customer-success-path.md
Labels: component:docs

#1615 chore(web-modeler): update to version 0.4.0-beta
  docs/reference/dependencies.md
  docs/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
Labels: component:modeler, component:self-managed

#1594 chore(ui-config): Remove and deprecate navbar styling configuration
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
Labels: component:optimize

#1593 docs(ootb connectors): document inbound connector
  docs/components/connectors/img/connector-concept.png
  docs/components/connectors/img/use-github-connector-template.png
  docs/components/connectors/img/use-inbound-connector-template-filled-gh.png
  docs/components/connectors/img/use-inbound-connector-template-filled.png
  docs/components/connectors/img/use-inbound-connector-template.png
  docs/components/connectors/introduction.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/http-webhook.md
  docs/components/connectors/use-connectors.md
  docs/guides/update-guide/connectors/030-to-040.md
  docs/guides/update-guide/connectors/introduction.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connector-concept.png
  versioned_docs/version-8.0/components/connectors/img/use-github-connector-template.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template-filled-gh.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template-filled.png
  versioned_docs/version-8.0/components/connectors/img/use-inbound-connector-template.png
  versioned_docs/version-8.0/components/connectors/introduction.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.0/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.0/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.1/components/connectors/img/connector-concept.png
  versioned_docs/version-8.1/components/connectors/img/use-github-connector-template.png
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-template-filled-gh.png
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-template-filled.png
  versioned_docs/version-8.1/components/connectors/img/use-inbound-connector-template.png
  versioned_docs/version-8.1/components/connectors/introduction.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.1/components/connectors/use-connectors.md
  versioned_docs/version-8.1/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs, component:connectors

#1629 chore(connectors): add info about protected microsoft teams apis
  docs/components/connectors/out-of-the-box-connectors/microsoft-teams.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/microsoft-teams.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/microsoft-teams.md
Labels: component:docs, component:connectors

#1597 docs(web-modeler): add new page on configuration variables
  docs/self-managed/modeler/web-modeler/configuration.md
  docs/self-managed/modeler/web-modeler/installation.md
  docs/self-managed/platform-deployment/docker.md
  sidebars.js
Labels: component:modeler, component:self-managed

#1631 adjust form elements typos
  docs/components/modeler/forms/form-element-library/forms-element-library-image.md
  docs/components/modeler/forms/form-element-library/forms-element-library-textarea.md
Labels: component:docs

#1640 chore(tasklist): clarify access privileges of tasklist user
  docs/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.0/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.1/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist

#1641 saas-invites: restrict hostnames
  docs/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.1/components/console/manage-organization/manage-users.md
Labels: component:console

#1591 document platform 8 screenshot automation guidelines
  howtos/documentation-guidelines.md
Labels: component:docs, dx

#1636 docs(connectors): add result mapping doc
  docs/components/connectors/img/connectors-response-mapping-result.png
  docs/components/connectors/img/connectors-response-mapping.png
  docs/components/connectors/use-connectors.md
  versioned_docs/version-8.0/components/connectors/img/connectors-response-mapping-result.png
  versioned_docs/version-8.0/components/connectors/img/connectors-response-mapping.png
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/connectors/img/connectors-response-mapping-result.png
  versioned_docs/version-8.1/components/connectors/img/connectors-response-mapping.png
  versioned_docs/version-8.1/components/connectors/use-connectors.md
Labels: component:docs, component:connectors

#1651 feat: make announcement bar dismissable
  docusaurus.config.js
  src/css/custom.css
Labels: component:docs, dx

#1655 docs(announcement): reverse list
  docs/reference/announcements.md
  versioned_docs/version-8.1/reference/announcements.md
Labels: component:docs

#1646 implement image borders
  src/css/custom.css
Labels: component:docs
