Repository camunda/camunda-docs, pull requests merged in 2023-09, with the labels that each got.

#2509 chore(optimize): add note about unusual ES support
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11.md
  optimize/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
Labels: component:optimize

#2539 adjust meta header h1
  src/pages/meta.md
Labels: component:docs

#2520 Connectors/salesforce
  docs/components/connectors/out-of-the-box-connectors/asana.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/salesforce.md
  sidebars.js
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/salesforce.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2545 [unsupported/0.26] cleanup: remove Search from 0.26 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2542 [unsupported/0.25] chore: remove Search from 0.25 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2546 [unsupported/1.0] cleanup: remove Search from 1.0 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2547 [unsupported/1.1] cleanup: remove Search from 1.1 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2548 [unsupported/1.2] cleanup: remove Search from 1.2 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2549 [unsupported/1.3] cleanup: remove Search from 1.3 docs
  docusaurus.config.js
Labels: kind/cleanup, dx, epic:archive-old-versions

#2413 docs(self-managed): update helm chart versioning schema
  docs/reference/announcements.md
  docs/reference/supported-environments.md
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
Labels: component:self-managed

#2512 chore(docs): update optimize update guides to use correct version
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-7.20_8.3.md
  optimize/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/instructions.md
  sidebars.js
  static/.htaccess
Labels: component:optimize

#2559 console renaming
  docs/components/console/console-troubleshooting/feedback-and-support.md
  docs/components/console/introduction-to-console.md
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/console/manage-clusters/manage-alerts.md
  docs/components/console/manage-organization/advanced-search.md
  docs/components/console/manage-organization/delete-account.md
  docs/components/console/manage-organization/external-sso.md
  docs/components/console/manage-organization/manage-users.md
  docs/components/console/manage-plan/available-plans.md
  docs/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  docs/components/console/manage-plan/update-billing-reservations.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-1.3/components/operate/index.md
  versioned_docs/version-1.3/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.0/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.1/components/console/console-troubleshooting/feedback-and-support.md
  versioned_docs/version-8.1/components/console/introduction-to-console.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.1/components/console/manage-organization/delete-account.md
  versioned_docs/version-8.1/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.1/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.1/components/console/manage-organization/update-billing-reservations.md
  versioned_docs/version-8.1/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.1/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.2/components/console/console-troubleshooting/feedback-and-support.md
  versioned_docs/version-8.2/components/console/introduction-to-console.md
  versioned_docs/version-8.2/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.2/components/console/manage-organization/advanced-search.md
  versioned_docs/version-8.2/components/console/manage-organization/delete-account.md
  versioned_docs/version-8.2/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.2/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.2/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.2/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.2/components/console/manage-plan/update-billing-reservations.md
  versioned_docs/version-8.2/components/operate/userguide/resolve-incidents-update-variables.md
Labels: component:docs, component:console, target:8.3

#2557 adjust orchestrate apis redirect
  static/.htaccess
Labels: kind/bug, component:docs

#2566 zeebe renaming
  docs/components/zeebe/technical-concepts/architecture.md
  docs/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.1/components/zeebe/technical-concepts/architecture.md
  versioned_docs/version-8.1/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.2/components/zeebe/technical-concepts/architecture.md
  versioned_docs/version-8.2/components/zeebe/zeebe-overview.md
Labels: component:zeebe, component:docs, target:8.3

#2565 connectors renaming
  docs/components/connectors/connector-types.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/manage-connector-templates.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  docs/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/operate.md
  docs/components/connectors/out-of-the-box-connectors/power-automate.md
  docs/components/connectors/out-of-the-box-connectors/slack-inbound.md
  docs/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/use-connectors/inbound.md
  docs/components/connectors/use-connectors/index.md
  versioned_docs/version-8.1/components/connectors/connector-types.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/connector-types.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
Labels: component:docs, component:connectors, target:8.3

#2535 Update troubleshooting: On Gateway Timeout
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:self-managed

#2572 operate and tasklist rename
  docs/components/operate/operate-introduction.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/tasklist/userguide/starting-processes.md
  versioned_docs/version-8.1/components/operate/operate-introduction.md
  versioned_docs/version-8.1/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.2/components/operate/operate-introduction.md
  versioned_docs/version-8.2/components/tasklist/introduction-to-tasklist.md
Labels: component:operate, component:tasklist, component:docs, target:8.3

#2571 chore: update Camunda Modeler screenshots to v5.15
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2574 renaming apis tools
  docs/apis-tools/cli-client/cli-get-started.md
  docs/apis-tools/cli-client/index.md
  docs/apis-tools/console-api-reference.md
  docs/apis-tools/go-client/go-get-started.md
  docs/apis-tools/go-client/index.md
  docs/apis-tools/java-client/index.md
  docs/apis-tools/java-client/zeebe-process-test.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/public-api.md
  docs/apis-tools/tasklist-api/tasklist-api-overview.md
  docs/apis-tools/tasklist-api/tasklist-api-tutorial.md
  docs/apis-tools/working-with-apis-tools.md
  optimize/apis-tools/optimize-api/event-ingestion.md
  optimize/apis-tools/optimize-api/optimize-api-authorization.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/optimize-api-authorization.md
  optimize_versioned_docs/version-3.9.0/apis-tools/optimize-api/dashboard/delete-dashboard.md
  optimize_versioned_docs/version-3.9.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.9.0/apis-tools/optimize-api/optimize-api-authorization.md
  versioned_docs/version-8.1/apis-tools/cli-client/cli-get-started.md
  versioned_docs/version-8.1/apis-tools/cli-client/index.md
  versioned_docs/version-8.1/apis-tools/console-api-reference.md
  versioned_docs/version-8.1/apis-tools/go-client/go-get-started.md
  versioned_docs/version-8.1/apis-tools/go-client/index.md
  versioned_docs/version-8.1/apis-tools/java-client/index.md
  versioned_docs/version-8.1/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.1/apis-tools/operate-api/index.md
  versioned_docs/version-8.1/apis-tools/public-api.md
  versioned_docs/version-8.1/apis-tools/tasklist-api/tasklist-api-overview.md
  versioned_docs/version-8.1/apis-tools/tasklist-api/tasklist-api-tutorial.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/apis-tools/cli-client/cli-get-started.md
  versioned_docs/version-8.2/apis-tools/cli-client/index.md
  versioned_docs/version-8.2/apis-tools/console-api-reference.md
  versioned_docs/version-8.2/apis-tools/go-client/go-get-started.md
  versioned_docs/version-8.2/apis-tools/go-client/index.md
  versioned_docs/version-8.2/apis-tools/java-client/index.md
  versioned_docs/version-8.2/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/public-api.md
  versioned_docs/version-8.2/apis-tools/tasklist-api/tasklist-api-overview.md
  versioned_docs/version-8.2/apis-tools/tasklist-api/tasklist-api-tutorial.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
Labels: component:docs, target:8.3

#2575 fix status response typo
  docs/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/health.md
Labels: kind/bug, component:docs, component:self-managed

#2508 docs(zeebe): document job worker metrics concept
  docs/apis-tools/java-client/job-worker.md
Labels: component:docs

#2511 feat(zeebe): document new experiment job push feature
  docs/apis-tools/java-client/job-worker.md
  docs/components/concepts/assets/job-push-sequence.png
  docs/components/concepts/job-workers.md
Labels: component:zeebe, component:docs, target:8.3

#2510 feat(ootbc,hybrid): add guide how to run in hybrid mode
  docs/guides/host-custom-connector.md
  docs/guides/use-connectors-in-hybrid-mode.md
  sidebars.js
  versioned_docs/version-8.0/guides/host-custom-connector.md
  versioned_docs/version-8.0/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.1/guides/host-custom-connector.md
  versioned_docs/version-8.1/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.2/guides/host-custom-connector.md
  versioned_docs/version-8.2/guides/use-connectors-in-hybrid-mode.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2552 docs(TaskList): Include taskFilterByVariable in the API Docs - (alpha5 release)
  docs/apis-tools/tasklist-api-rest/schemas/enums/operator.mdx
  docs/apis-tools/tasklist-api-rest/schemas/models/task-variables.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
Labels: component:tasklist, target:8.3

#2556 docs(identity): update Keycloak assets and steps to v22
  docs/reference/dependencies.md
  docs/reference/supported-environments.md
  docs/self-managed/identity/troubleshooting/common-problems.md
  docs/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  docs/self-managed/identity/user-guide/img/keycloak-add-identity-provider.png
  docs/self-managed/identity/user-guide/img/keycloak-add-user-federation.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-add-1.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-add-2.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-add-3.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-add.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-update-1.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-client-update-2.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-realm-select.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-update-client-1.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-update-client-2.png
  docs/self-managed/identity/user-guide/img/keycloak-admin-update-client-4.png
  docs/self-managed/identity/user-guide/img/keycloak-realm-select.png
  docs/self-managed/platform-deployment/troubleshooting.md
Labels: component:identity, target:8.3

#2584 self managed architecture renaming
  docs/self-managed/about-self-managed.md
  docs/self-managed/platform-architecture/overview.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-8.1/self-managed/about-self-managed.md
  versioned_docs/version-8.1/self-managed/platform-architecture/overview.md
  versioned_docs/version-8.2/self-managed/about-self-managed.md
  versioned_docs/version-8.2/self-managed/platform-architecture/overview.md
Labels: component:docs, component:self-managed

#2580 Update supported-environments.md
  docs/reference/supported-environments.md
Labels: component:optimize

#2585 self managed platform deployment renaming
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/guides.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/platform-deployment/manual.md
  docs/self-managed/platform-deployment/overview.md
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/guides.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/guides.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:docs, component:self-managed

#2588 remove orphaned tasklist page
  docs/self-managed/tasklist-deployment/taskslist-api.md
  static/.htaccess
  versioned_docs/version-8.2/self-managed/tasklist-deployment/taskslist-api.md
Labels: component:tasklist, component:docs, component:self-managed

#2582 fix: Add info panel for phone pattern on form-js
  docs/components/modeler/forms/form-element-library/forms-element-library-textfield.md
  versioned_docs/version-8.2/components/modeler/forms/form-element-library/forms-element-library-textfield.md
Labels: component:modeler, component:docs

#2366 feat(comp/console): resource based auth
  docs/components/console/manage-clusters/img/cluster-settings.png
  docs/components/console/manage-clusters/settings.md
  docs/components/console/manage-organization/img/user-details-authorized-resources-example.png
  docs/components/console/manage-organization/img/user-details-authorized-resources.png
  docs/components/console/manage-organization/manage-users.md
  sidebars.js
Labels: component:console, target:8.3

#2425 docs(general): update starting-processes.md - RBAC
  docs/components/tasklist/userguide/starting-processes.md
Labels: component:tasklist, target:8.3

#2518 Docs url address terms
  docs/apis-tools/web-modeler-api/index.md
  docs/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/guides/update-guide/820-to-830.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
Labels: component:zeebe, component:docs

#2583 docs(general): create a concepts page for resource authorizations
  docs/components/concepts/resource-authorizations.md
  sidebars.js
Labels: component:docs

#2540 Create "Operational guides" section, move to Self-Managed
  docs/components/connectors/custom-built-connectors/update-guide/010-to-020.md
  docs/components/connectors/custom-built-connectors/update-guide/0100-to-0110.md
  docs/components/connectors/custom-built-connectors/update-guide/020-to-030.md
  docs/components/connectors/custom-built-connectors/update-guide/030-to-040.md
  docs/components/connectors/custom-built-connectors/update-guide/040-to-050.md
  docs/components/connectors/custom-built-connectors/update-guide/050-to-060.md
  docs/components/connectors/custom-built-connectors/update-guide/060-to-070.md
  docs/components/connectors/custom-built-connectors/update-guide/070-to-080.md
  docs/components/connectors/custom-built-connectors/update-guide/080-to-090.md
  docs/components/connectors/custom-built-connectors/update-guide/090-to-0100.md
  docs/components/connectors/custom-built-connectors/update-guide/introduction.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-eventbridge-webhook.md
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  docs/components/connectors/protocol/http-webhook.md
  docs/guides/update-guide/026-to-100.md
  docs/guides/update-guide/100-to-110.md
  docs/guides/update-guide/110-to-120.md
  docs/guides/update-guide/120-to-130.md
  docs/reference/announcements.md
  docs/reference/release-notes.md
  docs/reference/release-policy.md
  docs/self-managed/operational-guides/backup-restore/backup-and-restore.md
  docs/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  docs/self-managed/operational-guides/backup-restore/optimize-backup.md
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  docs/self-managed/operational-guides/troubleshooting/log-levels.md
  docs/self-managed/operational-guides/update-guide/130-to-800.md
  docs/self-managed/operational-guides/update-guide/800-to-810.md
  docs/self-managed/operational-guides/update-guide/810-to-820.md
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  docs/self-managed/operational-guides/update-guide/elasticsearch/7-to-8.md
  docs/self-managed/operational-guides/update-guide/introduction.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/operations/backups.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  docs/self-managed/zeebe-deployment/operations/update-zeebe.md
  optimize_sidebars.js
  sidebars.js
Labels: component:docs, component:self-managed

#2465 docs(guides): update HTO guide
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/img/expression-input-example.png
  docs/guides/img/form-editor-explained.png
  docs/guides/img/form-editor.png
  docs/guides/img/form-linking.png
  docs/guides/img/form-values-example.png
  docs/guides/img/implement-mode-active.png
  docs/guides/img/modeler-form-menu.png
  docs/guides/img/modeler-global-nav.png
  docs/guides/img/modeler-navigation-history.png
  docs/guides/img/modeler-navigation.png
  docs/guides/img/operate-human-tasks.png
  docs/guides/img/run-process.png
  docs/guides/img/user-task-tasklist.png
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/img/form-editor.png
  versioned_docs/version-8.2/guides/img/form-linking.png
  versioned_docs/version-8.2/guides/img/implement-mode-active.png
  versioned_docs/version-8.2/guides/img/modeler-form-menu.png
  versioned_docs/version-8.2/guides/img/modeler-global-nav.png
  versioned_docs/version-8.2/guides/img/modeler-navigation-history.png
  versioned_docs/version-8.2/guides/img/modeler-navigation.png
  versioned_docs/version-8.2/guides/img/operate-human-tasks.png
  versioned_docs/version-8.2/guides/img/run-process.png
Labels: kind/enhancement, component:tasklist, component:modeler, component:docs, target:8.2, target:8.3

#2589 adjust brand references
  docs/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: kind/bug, component:docs

#2594 retro review starting processes
  docs/components/tasklist/userguide/starting-processes.md
Labels: component:tasklist, component:docs

#2597 fix(github-webhook): fix enumeration mistake
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github-webhook.md
Labels: component:docs, component:connectors

#2600 docs(zeebe): refer to `forcePathStyleAccess` in upgrade guide
  docs/self-managed/operational-guides/update-guide/810-to-820.md
  versioned_docs/version-8.2/guides/update-guide/810-to-820.md
Labels: component:docs, component:self-managed

#2610 BPMN rework: Incorporate feedback by Bernd and Consulting
  docs/components/best-practices/modeling/creating-readable-process-models.md
  static/bpmn/best-practices/building-flexibility-into-bpmn-models-assets/boundary.bpmn
  static/bpmn/best-practices/building-flexibility-into-bpmn-models-assets/example-cancel-order.bpmn
  static/bpmn/best-practices/building-flexibility-into-bpmn-models-assets/example-order-proactive-communication.bpmn
  static/bpmn/best-practices/building-flexibility-into-bpmn-models-assets/example-order.bpmn
  static/bpmn/best-practices/building-flexibility-into-bpmn-models-assets/example-revalidate-order.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/TwitterDemoProcess.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/TwitterDemoProcessColor.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/avoiding-multi-page-sequence-flows.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/explicit-start-and-end-events.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/implicit-joining-gateways.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/model-from-left-to-right.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/overlapping-sequence-flows.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/retry-anti-pattern.bpmn
  static/bpmn/best-practices/creating-readable-process-models-assets/without-separation-of-splitting-and-joining-gateways.bpmn
  static/bpmn/best-practices/dealing-with-problems-and-exceptions-assets/business-transaction.bpmn
  static/bpmn/best-practices/dealing-with-problems-and-exceptions-assets/dealing-with-exception.bpmn
  static/bpmn/best-practices/dealing-with-problems-and-exceptions-assets/expected-results.bpmn
  static/bpmn/best-practices/dealing-with-problems-and-exceptions-assets/handling-a-bpmn-error.bpmn
  static/bpmn/best-practices/handling-data-in-processes-assets/TwitterDemoProcess.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/boundary-error-event.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/boundary-timer-event.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/interrupting-event-subprocess.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/multi-phase-escalation-with-boundary-events.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/multi-phase-escalation-with-event-based-gateways.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/non-interrupting-event-subprocess.bpmn
  static/bpmn/best-practices/modeling-beyond-the-happy-path-assets/passivity-as-activity.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/distinguishing-undesired-results-from-fatal-problems-2.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/distinguishing-undesired-results-from-fatal-problems-3.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/four-eyes-principle-using-a-loop.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/four-eyes-principle-using-a-multi-instance-task.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/multi-step-escalation-using-boundary-events.bpmn
  static/bpmn/best-practices/modeling-with-situation-patterns-assets/multi-step-escalation-using-gateways-forming-a-loop.bpmn
  static/bpmn/best-practices/naming-bpmn-elements-assets/gateway-inclusive-with-question.bpmn
  static/bpmn/best-practices/naming-bpmn-elements-assets/gateway-inclusive-without-question.bpmn
  static/bpmn/best-practices/naming-technically-relevant-ids-assets/TweetApprovalProcess.bpmn
  static/bpmn/best-practices/reporting-about-processes-assets/TwitterReportingMilestone.bpmn
  static/bpmn/best-practices/reporting-about-processes-assets/TwitterReportingPhases.bpmn
  static/bpmn/best-practices/routing-events-to-processes-assets/intermediate-events.bpmn
  static/bpmn/best-practices/routing-events-to-processes-assets/loan-application.bpmn
  static/bpmn/best-practices/routing-events-to-processes-assets/start-events.bpmn
  static/bpmn/best-practices/sizing-your-environment-assets/customer_onboarding.bpmn
  static/bpmn/best-practices/testing-process-definitions-assets/TwitterDemoProcess.bpmn
  static/bpmn/best-practices/versioning-process-definitions-assets/call-activities.bpmn
  static/bpmn/workflow-patterns/and.bpmn
  static/bpmn/workflow-patterns/compensation.bpmn
  static/bpmn/workflow-patterns/reactive-events-timer.bpmn
  static/bpmn/workflow-patterns/reactive-message-events.bpmn
  versioned_docs/version-1.3/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.0/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.1/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.2/components/best-practices/modeling/creating-readable-process-models.md
Labels: component:docs

#2602 operate and zeebe sm renaming
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/backup-restore/backup-and-restore.md
  docs/self-managed/operational-guides/troubleshooting/log-levels.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.1/self-managed/troubleshooting/log-levels.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/interceptors.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/security/client-authorization.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  versioned_docs/version-8.2/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/self-managed/troubleshooting/log-levels.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/security/client-authorization.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:docs, component:self-managed, target:8.3

#2528 reorder feedback and support page
  docs/components/console/console-troubleshooting/common-pitfalls.md
  docs/components/console/console-troubleshooting/feedback-and-support.md
  docs/self-managed/platform-deployment/overview.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  sidebars.js
  src/pages/contact.md
  static/.htaccess
  versioned_docs/version-8.2/components/console/console-troubleshooting/common-pitfalls.md
  versioned_docs/version-8.2/components/console/console-troubleshooting/feedback-and-support.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2618 console: new set of screenshots for the Renaming Grande
  docs/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-detail-alerts.png
  docs/components/console/manage-clusters/img/cluster-detail-clients.png
  docs/components/console/manage-clusters/img/cluster-detail-create-alert.png
  docs/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  docs/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets.png
  docs/components/console/manage-clusters/img/cluster-details-create-client.png
  docs/components/console/manage-clusters/img/cluster-details-created-client.png
  docs/components/console/manage-clusters/img/cluster-overview-empty.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-organization/img/activity-view.png
  docs/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  docs/components/console/manage-organization/img/avatar-menue.png
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/create-console-api-client.png
  docs/components/console/manage-organization/img/delete-account.png
  docs/components/console/manage-organization/img/trial-usage-history.png
  docs/components/console/manage-plan/img/checkout.png
  docs/guides/img/home.png
  versioned_docs/version-8.2/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-alerts.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-clients.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-alert.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-create-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-created-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-empty.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.2/components/console/manage-organization/img/activity-view.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue.png
  versioned_docs/version-8.2/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.2/components/console/manage-organization/img/create-console-api-client.png
  versioned_docs/version-8.2/components/console/manage-organization/img/delete-account.png
  versioned_docs/version-8.2/components/console/manage-organization/img/trial-usage-history.png
  versioned_docs/version-8.2/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.2/guides/img/home.png
Labels: component:console

#2613 RBA - Add one-liner for Operate changes
  docs/components/concepts/resource-authorizations.md
  docs/self-managed/operate-deployment/operate-authentication.md
Labels: component:identity, component:docs

#2620 Typo in Service Task
  docs/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.0/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.1/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/service-tasks/service-tasks.md
Labels: kind/bug, component:docs

#2603 sm connectors renaming
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/install-and-start.md
Labels: component:docs, component:connectors, component:self-managed

#2625 docs: Update canonical guidance
  howtos/moving-content.md
Labels: component:docs

#2605 renaming sm identity and misc
  docs/self-managed/identity/deployment/starting-configuration.md
  docs/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  docs/self-managed/identity/user-guide/configuration/making-identity-production-ready.md
  docs/self-managed/identity/what-is-identity.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-1.3/components/best-practices/architecture/extending-human-task-management-c7.md
  versioned_docs/version-1.3/components/best-practices/architecture/sizing-your-environment-c7.md
  versioned_docs/version-1.3/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.1/self-managed/identity/deployment/starting-configuration.md
  versioned_docs/version-8.1/self-managed/identity/user-guide/configure-external-identity-provider.md
  versioned_docs/version-8.1/self-managed/identity/user-guide/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.1/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.1/self-managed/web-modeler/configuration.md
  versioned_docs/version-8.2/self-managed/identity/deployment/starting-configuration.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/making-identity-production-ready.md
  versioned_docs/version-8.2/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.2/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:docs, component:self-managed

#2628 Add documentation clarifying usage of parentKey and parentProcessInstanceKey fields when filtering process instances
  docs/apis-tools/operate-api/overview.md
Labels: component:operate

#2617 docs(web-modeler): remove beta notice for Web Modeler API
  docs/apis-tools/console-api-reference.md
  docs/apis-tools/web-modeler-api/index.md
  docs/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
Labels: kind/feature, component:modeler

#2587 Docs concepts restructure
  docs/self-managed/concepts/access-control/apis.md
  docs/self-managed/concepts/access-control/applications.md
  docs/self-managed/concepts/access-control/groups.md
  docs/self-managed/concepts/access-control/permissions.md
  docs/self-managed/concepts/access-control/resource-authorizations.md
  docs/self-managed/concepts/access-control/roles.md
  docs/self-managed/concepts/access-control/users.md
  docs/self-managed/identity/user-guide/additional-features/adding-an-api.md
  docs/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  docs/self-managed/identity/user-guide/groups/assign-users-roles-to-group.md
  docs/self-managed/identity/user-guide/groups/create-group.md
  docs/self-managed/identity/user-guide/roles/add-assign-permission.md
  docs/self-managed/identity/user-guide/roles/add-assign-role.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:identity, component:docs, component:self-managed

#2638 Remove unused Zeebe logos
  static/img/zeebe-brand.svg
  static/img/zeebe-logo.png
  static/img/zeebe-logo.svg
Labels: component:docs

#2612 feat: improve inbound connector documentation
  docs/components/connectors/connector-types.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/use-connectors/inbound.md
  docs/components/connectors/use-connectors/index.md
  docs/reference/glossary.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/use-connectors/index.md
  versioned_docs/version-8.1/components/connectors/connector-types.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/connector-types.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/reference/glossary.md
Labels: component:connectors

#2636 Update image in docs-on-docs
  howtos/documentation-workflows.MD
Labels: component:docs

#2515 Update professional plan with starter naming
  docs/components/concepts/clusters.md
  docs/components/concepts/data-retention.md
  docs/components/console/manage-organization/external-sso.md
  docs/components/console/manage-organization/manage-users.md
  docs/components/console/manage-organization/usage-alerts.md
  docs/components/console/manage-organization/usage-history.md
  docs/components/console/manage-plan/available-plans.md
  docs/components/console/manage-plan/cancel-starter-subscription.md
  docs/components/console/manage-plan/img/checkout.png
  docs/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  docs/components/console/manage-plan/update-billing-reservations.md
  docs/components/console/manage-plan/update-creditcard.md
  docs/components/console/manage-plan/upgrade-to-professional-plan.md
  docs/components/console/manage-plan/upgrade-to-starter-plan.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/assets/react-components/create-cluster.md
  docs/reference/regions.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/components/concepts/data-retention.md
  versioned_docs/version-8.2/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.2/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.2/components/console/manage-organization/usage-alerts.md
  versioned_docs/version-8.2/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.2/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.2/components/console/manage-plan/cancel-starter-subscription.md
  versioned_docs/version-8.2/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.2/components/console/manage-plan/retrieve-invoices-or-update-billing-info.md
  versioned_docs/version-8.2/components/console/manage-plan/update-billing-reservations.md
  versioned_docs/version-8.2/components/console/manage-plan/update-creditcard.md
  versioned_docs/version-8.2/components/console/manage-plan/upgrade-to-professional-plan.md
  versioned_docs/version-8.2/components/console/manage-plan/upgrade-to-starter-plan.md
  versioned_docs/version-8.2/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.2/reference/regions.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:console

#2637 Remove Slack icon
  static/img/Slack-mark-white-RGB.png
Labels: component:docs

#2635 Remove Spring section from Java client docs
  docs/apis-tools/java-client/index.md
  versioned_docs/version-8.0/apis-tools/java-client/index.md
  versioned_docs/version-8.1/apis-tools/java-client/index.md
  versioned_docs/version-8.2/apis-tools/java-client/index.md
Labels: component:docs

#2641 Add links to documentation-workflows.md
  howtos/documentation-workflows.MD
Labels: component:docs

#2643 feat(connectors): outbound connector retry backoff
  docs/components/connectors/use-connectors/outbound.md
Labels: component:connectors

#2646 Correct limits on clusters available.
  docs/components/concepts/clusters.md
  versioned_docs/version-8.2/components/concepts/clusters.md
Labels: component:docs

#2626 Remove Public API page
  docs/apis-tools/public-api.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.8.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-1.3/apis-tools/overview.md
  versioned_docs/version-8.0/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/apis-tools/public-api.md
  versioned_sidebars/version-1.3-sidebars.json
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2640 Updates to meta page
  src/pages/meta.md
Labels: component:docs

#2647 rename repo resources
  README.md
  howtos/documentation-guidelines.md
  howtos/release-procedure.md
  howtos/technical-writing-styleguide.md
Labels: component:docs

#2642 Add clarification for C7 config for heap size
  optimize/self-managed/optimize-deployment/configuration/getting-started.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/getting-started.md
Labels: component:docs, component:optimize

#2624 add links to expressions static values page
  docs/components/connectors/out-of-the-box-connectors/slack.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/call-activities/call-activities.md
  docs/components/modeler/bpmn/message-events/message-events.md
  docs/components/modeler/bpmn/receive-tasks/receive-tasks.md
  docs/components/modeler/bpmn/service-tasks/service-tasks.md
  docs/components/modeler/bpmn/timer-events/timer-events.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/forms/form-element-library/forms-element-library-image.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.2/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.2/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/escalation-events/escalation-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/receive-tasks/receive-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/timer-events/timer-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.2/components/modeler/forms/form-element-library/forms-element-library-image.md
Labels: component:docs

#2651 feat(zeebe): message start events clarification
  docs/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-1.3/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.0/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.1/components/modeler/bpmn/message-events/message-events.md
Labels: component:zeebe

#2655 optimize renaming
  optimize/components/userguide/additional-features/alerts.md
  optimize/components/userguide/additional-features/event-based-processes.md
  optimize/components/userguide/combined-process-reports.md
  optimize/components/userguide/decision-analysis/decision-analysis-overview.md
  optimize/components/userguide/decision-analysis/decision-filter.md
  optimize/components/userguide/decision-analysis/decision-report.md
  optimize/components/userguide/instant-preview-dashboards.md
  optimize/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize/components/userguide/process-analysis/report-analysis/measures.md
  optimize/components/what-is-optimize.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.10.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.10.0/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.10.0/components/userguide/combined-process-reports.md
  optimize_versioned_docs/version-3.10.0/components/userguide/decision-analysis/decision-analysis-overview.md
  optimize_versioned_docs/version-3.10.0/components/userguide/decision-analysis/decision-filter.md
  optimize_versioned_docs/version-3.10.0/components/userguide/decision-analysis/decision-report.md
  optimize_versioned_docs/version-3.10.0/components/userguide/instant-preview-dashboards.md
  optimize_versioned_docs/version-3.10.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.10.0/components/userguide/process-analysis/report-analysis/measures.md
  optimize_versioned_docs/version-3.10.0/components/what-is-optimize.md
  optimize_versioned_docs/version-3.9.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.9.0/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.9.0/components/userguide/combined-process-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/decision-analysis/decision-analysis-overview.md
  optimize_versioned_docs/version-3.9.0/components/userguide/decision-analysis/decision-filter.md
  optimize_versioned_docs/version-3.9.0/components/userguide/decision-analysis/decision-report.md
  optimize_versioned_docs/version-3.9.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/process-analysis/report-analysis/measures.md
  optimize_versioned_docs/version-3.9.0/components/what-is-optimize.md
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
Labels: component:docs, component:optimize

#2654 fix: remove unnecessary complexity from canonical regular expression
  src/theme/DocItem/Metadata/determineCanonical.js
Labels: kind/bug, dx

#2639 Update DeployResource gRPC page to include form deployment response
  docs/apis-tools/grpc.md
Labels: component:docs

#2657 adjust connectors sdk
  docs/guides/host-custom-connector.md
  versioned_docs/version-8.0/guides/host-custom-connector.md
  versioned_docs/version-8.1/guides/host-custom-connector.md
  versioned_docs/version-8.2/guides/host-custom-connector.md
Labels: component:docs, component:connectors

#2656 Docs collapse connectors
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/github.md
  docs/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  docs/components/connectors/out-of-the-box-connectors/slack-inbound.md
  docs/components/connectors/out-of-the-box-connectors/slack.md
  docs/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  docs/components/connectors/out-of-the-box-connectors/twilio.md
  docs/components/connectors/protocol/http-webhook.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:docs, component:connectors

#2609 console: HMAC support for cluster alert webhooks
  docs/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-alerts.md
Labels: component:console

#2648 miscellaneous renaming
  CONTRIBUTING.MD
  code-of-conduct.md
  docs/components/components-overview.md
  docs/components/concepts/what-is-camunda-8.md
  docs/components/modeler/desktop-modeler/connect-to-camunda-8.md
  docs/components/modeler/dmn/decision-literal-expression.md
  docs/guides/host-custom-connector.md
  docs/guides/improve-processes-with-optimize.md
  docs/reference/announcements.md
  docs/reference/dependencies.md
  docs/reference/glossary.md
  docs/reference/licenses.md
  docs/reference/overview.md
  docs/reference/regions.md
  docs/reference/release-notes.md
  docs/reference/release-policy.md
  docs/reference/status.md
  docs/reference/supported-environments.md
  docs/reference/usage-metrics.md
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  docusaurus.config.js
  hacks/isolateVersion/7-updateDocusaurusConfig.sh
  optimize/self-managed/optimize-deployment/install-and-start.md
  spec/regression/smoke.spec.ts
  spec/regression/versionMapping.spec.ts
  src/pages/contact.md
  src/pages/index.js
  versioned_docs/version-8.1/components/components-overview.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/connect-to-camunda-8.md
  versioned_docs/version-8.1/guides/host-custom-connector.md
  versioned_docs/version-8.1/reference/announcements.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.1/reference/licenses.md
  versioned_docs/version-8.1/reference/overview.md
  versioned_docs/version-8.1/reference/regions.md
  versioned_docs/version-8.1/reference/release-notes.md
  versioned_docs/version-8.1/reference/release-policy.md
  versioned_docs/version-8.1/reference/status.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.1/reference/usage-metrics.md
  versioned_docs/version-8.2/components/components-overview.md
  versioned_docs/version-8.2/components/concepts/workflow-patterns.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/connect-to-camunda-8.md
  versioned_docs/version-8.2/guides/host-custom-connector.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.2/reference/glossary.md
  versioned_docs/version-8.2/reference/licenses.md
  versioned_docs/version-8.2/reference/overview.md
  versioned_docs/version-8.2/reference/regions.md
  versioned_docs/version-8.2/reference/release-notes.md
  versioned_docs/version-8.2/reference/release-policy.md
  versioned_docs/version-8.2/reference/status.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/reference/usage-metrics.md
Labels: component:docs

#2663 backport connectors condensing
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/twilio.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/twilio.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2671 update camunda platform docs references
  .github/pull_request_template.md
  CONTRIBUTING.MD
  docs/reference/licenses.md
  docusaurus.config.js
  howtos/documentation-guidelines.md
  howtos/markdown-and-mdx-features.md
  howtos/release-procedure.md
  howtos/versioning.md
  src/mdx/expandVersionedUrl.spec.js
  versioned_docs/version-8.0/reference/licenses.md
  versioned_docs/version-8.1/reference/licenses.md
  versioned_docs/version-8.2/reference/licenses.md
Labels: component:docs
