Repository camunda/camunda-docs, pull requests merged in 2023-12, with the labels that each got.

#2953 Form deployment and deletion GRPC
  docs/apis-tools/grpc.md
  versioned_docs/version-8.3/apis-tools/grpc.md
Labels: component:zeebe, 8.4.0-alpha2

#2937 fix connectors deployment code snippet
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors

#2975 retro review of 2949
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#2952 adjust references of connectors runtime
  docs/guides/use-connectors-in-hybrid-mode.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.1/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.2/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.3/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
Labels: component:connectors

#2935 mention editing support for connector templates
  docs/components/connectors/img/connector-templates/edit-connector-template-1.png
  docs/components/connectors/img/connector-templates/edit-connector-template-2.png
  docs/components/connectors/img/connector-templates/edit-connector-template-3.png
  docs/components/connectors/manage-connector-templates.md
  docs/components/modeler/desktop-modeler/element-templates/about-templates.md
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.1/components/connectors/img/connector-templates/edit-connector-template-1.png
  versioned_docs/version-8.1/components/connectors/img/connector-templates/edit-connector-template-2.png
  versioned_docs/version-8.1/components/connectors/img/connector-templates/edit-connector-template-3.png
  versioned_docs/version-8.1/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/about-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.2/components/connectors/img/connector-templates/edit-connector-template-1.png
  versioned_docs/version-8.2/components/connectors/img/connector-templates/edit-connector-template-2.png
  versioned_docs/version-8.2/components/connectors/img/connector-templates/edit-connector-template-3.png
  versioned_docs/version-8.2/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/about-templates.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.3/components/connectors/img/connector-templates/edit-connector-template-1.png
  versioned_docs/version-8.3/components/connectors/img/connector-templates/edit-connector-template-2.png
  versioned_docs/version-8.3/components/connectors/img/connector-templates/edit-connector-template-3.png
  versioned_docs/version-8.3/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/element-templates/about-templates.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler, component:connectors

#2847 Remove hardcoded helm chart version
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
Labels: component:self-managed

#2978 chore(docs): add Identity as requirement for Optimize
  docs/reference/supported-environments.md
  docs/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/platform-deployment/overview.md
Labels: component:identity, component:optimize

#2976 docs(play):rewrite for new version
  docs/components/modeler/web-modeler/img/play-definition.png
  docs/components/modeler/web-modeler/img/play-instance.png
  docs/components/modeler/web-modeler/img/play-mode.png
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-definition.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-mode.png
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-definition.png
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-mode.png
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#2967 feat(forms): document form linking
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/img/utl_linked.png
  docs/components/modeler/web-modeler/advanced-modeling/img/utl_overlay.png
  docs/components/modeler/web-modeler/advanced-modeling/publish-public-processes.md
  docs/components/modeler/web-modeler/advanced-modeling/user-task-linking.md
  docs/components/modeler/web-modeler/img/embed-start-form.png
  docs/components/modeler/web-modeler/img/link-start-form.png
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/img/form-linking.png
  docs/guides/img/modeler-form-menu.png
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/guides/utilizing-forms.md
  sidebars.js
Labels: component:modeler

#2982 Add 8.4 to Announcements
  docs/reference/announcements.md
Labels: component:docs

#2983 retro review of 2969
  docs/self-managed/zeebe-deployment/security/client-authorization.md
Labels: component:self-managed

#2931 updated air-gapped guide
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
Labels: component:docs, component:self-managed

#2977 chore(opt): add notice about user groups in C8
  optimize/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.10.0/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.11.0/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.7.0/components/userguide/collections-dashboards-reports.md
Labels: component:optimize

#2985 fix(docs): clarify availability for enterprise customers
  docs/components/modeler/web-modeler/collaborate-with-modes.md
  versioned_docs/version-8.2/components/modeler/web-modeler/collaborate-with-modes.md
  versioned_docs/version-8.3/components/modeler/web-modeler/collaborate-with-modes.md
Labels: component:modeler

#2993 Clarify Operate and Tasklist Backup prerequisity
  docs/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
Labels: component:operate, component:tasklist, component:self-managed

#2995 chore(MT): backport optimize MT docs
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/multi-tenancy.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
Labels: component:optimize

#2806 feat(helm): aws marketplace installation instructions
  docs/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:self-managed

#2971 chore(OptEnvVars): document common asked about env vars
  docs/self-managed/platform-deployment/docker.md
  optimize/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
Labels: component:optimize, component:self-managed

#3002 Fix typo in Modeler guide
  docs/components/modeler/desktop-modeler/connect-to-camunda-8.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/connect-to-camunda-8.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/connect-to-camunda-8.md
Labels: component:modeler, component:docs

#3001 docs(web-modeler): update dependencies for Web Modeler 8.2.9
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler, component:self-managed

#2996 Remove external task client
  docs/apis-tools/community-clients/python.md
  versioned_docs/version-8.1/apis-tools/community-clients/python.md
  versioned_docs/version-8.2/apis-tools/community-clients/python.md
  versioned_docs/version-8.3/apis-tools/community-clients/python.md
Labels: component:docs

#3010 docs(self-managed): clearly layout limitations
  docs/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
Labels: component:self-managed

#3011 docs(modeler): clearly scope token simulation purpose
  docs/components/modeler/web-modeler/token-simulation.md
  versioned_docs/version-8.3/components/modeler/web-modeler/token-simulation.md
Labels: component:modeler

#2966 docs(aws): clarify on load balancer tls requirements
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
Labels: component:self-managed, component:infex

#3016 Update documentation-guidelines.md
  howtos/documentation-guidelines.md
Labels: component:operate

#2998 Clarify header values are config names in Zeebe docs
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:zeebe, component:docs

#3020 docs(variables): document escaped characters handling
  docs/components/concepts/variables.md
  versioned_docs/version-8.3/components/concepts/variables.md
Labels: component:docs

#2981 refactor(self-managed): deprecate zeebe config props for identity
  docs/reference/announcements.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
Labels: component:zeebe, 8.4.0-alpha2

#3019 Update es to 89+
  docs/reference/announcements.md
  docs/reference/supported-environments.md
Labels: target:8.4

#2916 Webhook verification expression
  docs/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
Labels: component:connectors, 8.4.0-alpha2

#2989 feat(connectors): add MSFT O365 Connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/microsoft-o365-mail.md
  docs/components/connectors/protocol/http-webhook.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/microsoft-o365-mail.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/microsoft-o365-mail.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/microsoft-o365-mail.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:connectors, 8.4.0-alpha2

#2936 docs(ootbc): add api key auth in rest connector
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.1/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
Labels: component:connectors, 8.4.0-alpha2

#3023 docs(connectors): added notes to AMPQ and SQS connectors
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
Labels: component:docs, component:connectors

#3009 docs(web-modeler): update dependencies for Web Modeler 8.4.0-alpha2
  docs/reference/dependencies.md
Labels: component:modeler, component:self-managed, 8.4.0-alpha2

#2997 Rework existing multi-tenancy docs
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:zeebe, component:operate, component:tasklist, component:docs

#3000 Process instance migration concept documentation
  docs/components/concepts/assets/process-instance-migration/migration-active-elements-target.png
  docs/components/concepts/assets/process-instance-migration/migration-active_after-modification.png
  docs/components/concepts/assets/process-instance-migration/migration-active_after.png
  docs/components/concepts/assets/process-instance-migration/migration-active_before.png
  docs/components/concepts/assets/process-instance-migration/migration-basic_after.png
  docs/components/concepts/assets/process-instance-migration/migration-basic_before.png
  docs/components/concepts/assets/process-instance-migration/migration-basic_target.png
  docs/components/concepts/assets/process-instance-migration/migration-with-recreated-signal-event-subprocess_after.png
  docs/components/concepts/assets/process-instance-migration/migration-with-recreated-signal-event-subprocess_before.png
  docs/components/concepts/process-instance-migration.md
  media-src/components/concepts/process-instance-migration/migration-active-elements-before.bpmn
  media-src/components/concepts/process-instance-migration/migration-active-elements-target.bpmn
  media-src/components/concepts/process-instance-migration/migration-basic.bpmn
  media-src/components/concepts/process-instance-migration/migration-with-recreated-signal-event-subprocess.bpmn
  media-src/components/concepts/process-instance-migration/migration-with-recreated-signal-event-subprocess_after_migration.bpmn
  sidebars.js
Labels: component:docs, 8.4.0-alpha2

#2955 Document the MigrateProcessInstance RPC
  docs/apis-tools/grpc.md
Labels: component:zeebe, 8.4.0-alpha2

#3028 docs(aws): adjust irsa page to contain new info from 8.4 release
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
Labels: component:self-managed, target:8.4

#3022 docs(operate): add process instance migration to user guide
  docs/components/concepts/process-instance-migration.md
  docs/components/operate/userguide/img/process-instance-migration/highlight-mapping.png
  docs/components/operate/userguide/img/process-instance-migration/map-elements.png
  docs/components/operate/userguide/img/process-instance-migration/migrate-button.png
  docs/components/operate/userguide/img/process-instance-migration/operations-panel.png
  docs/components/operate/userguide/img/process-instance-migration/process-filters.png
  docs/components/operate/userguide/img/process-instance-migration/select-target-process.png
  docs/components/operate/userguide/img/process-instance-migration/summary.png
  docs/components/operate/userguide/process-instance-migration.md
  sidebars.js
Labels: component:operate, component:docs, 8.4.0-alpha2

#2946 feat: add documentation for user group management
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist, 8.4.0-alpha2

#2950 feat: document receive task message templates
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler

#3032 docs(general): Openid connect documentation
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connecting-to-entra-id.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  sidebars.js
  static/.htaccess
Labels: component:operate, component:tasklist, component:modeler, component:optimize

#3024 docs(zeebe): add job worker back pressure docs
  docs/apis-tools/java-client/job-worker.md
  docs/components/concepts/job-workers.md
Labels: component:zeebe, target:8.4

#3030 chore(desktop-modeler): update screenshots to v5.18.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2973 docs(aws): introduce starting guides for eks usage
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/assets/camunda-8-self-managed-architecture-aws.png
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
Labels: component:self-managed, component:infex

#3034 correct oidc meta and sidebar
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: kind/bug, component:docs

#3031 chore(operate): add OpenSearch configuration
  docs/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate, component:self-managed

#2994 Update combined-process-reports.md
  optimize/components/userguide/combined-process-reports.md
Labels: component:optimize

#2888 operate and tasklist docs review
  docs/components/operate/operate-introduction.md
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/components/operate/userguide/delete-finished-instances.md
  docs/components/operate/userguide/delete-resources.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  docs/components/operate/userguide/updating-operate.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/tasklist/userguide/starting-processes.md
  docs/components/tasklist/userguide/updating-tasklist.md
  docs/components/tasklist/userguide/using-tasklist.md
  docs/self-managed/platform-deployment/manual.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.3/components/operate/operate-introduction.md
Labels: component:operate, component:tasklist

#2963 Added docs about failJob
  docs/components/connectors/use-connectors/index.md
Labels: component:connectors

#3038 document deployment enabled functionality
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:modeler, component:self-managed

#3018 Update screenshot of Play to contain the restart process button and improve instruction
  docs/components/modeler/web-modeler/img/play-instance.png
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#3037 add known issue for keycloak
  versioned_docs/version-8.1/self-managed/identity/troubleshooting/common-problems.md
  versioned_docs/version-8.2/self-managed/identity/troubleshooting/common-problems.md
Labels: component:self-managed

#3036 docs(connectors): added guide to run custom connectors in helm
  docs/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:connectors

#2944 feat: Operate OpenAPI explorer (part 2)
  README.md
  api/operate/docs/by-id.api.mdx
  api/operate/docs/by-key-1.api.mdx
  api/operate/docs/by-key-2.api.mdx
  api/operate/docs/by-key-3.api.mdx
  api/operate/docs/by-key-4.api.mdx
  api/operate/docs/by-key-5.api.mdx
  api/operate/docs/by-key-6.api.mdx
  api/operate/docs/by-key.api.mdx
  api/operate/docs/delete.api.mdx
  api/operate/docs/get-statistics.api.mdx
  api/operate/docs/operate-public-api.info.mdx
  api/operate/docs/search-1.api.mdx
  api/operate/docs/search-2.api.mdx
  api/operate/docs/search-3.api.mdx
  api/operate/docs/search-4.api.mdx
  api/operate/docs/search-5.api.mdx
  api/operate/docs/search-6.api.mdx
  api/operate/docs/search-7.api.mdx
  api/operate/docs/search.api.mdx
  api/operate/docs/sequence-flows-by-key.api.mdx
  api/operate/docs/sidebar.js
  api/operate/docs/xml-by-key-1.api.mdx
  api/operate/docs/xml-by-key.api.mdx
  api/operate/operate-openapi.yaml
  api/operate/operate_sidebars.js
  docs/apis-tools/operate-api/authentication.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/operate-api/sidebar-schema.js
  docusaurus.config.js
  howtos/documentation-guidelines.md
  howtos/interactive-api-explorers.md
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/NavbarItem/index.js
  versioned_docs/version-8.3/apis-tools/operate-api/authentication.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/apis-tools/operate-api/sidebar-schema.js
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: dx

#3046 feat(connectors): added note on OData support
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.1/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
Labels: component:connectors

#3055 fix(connectors): typo in the inbound project outline
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.3/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:connectors

#3056 feat(self-managed): add note about tenant ID
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.3/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
Labels: component:modeler, component:self-managed

#3050 Update local-kubernetes-cluster.md, wrong command for switching the c…
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
Labels: component:docs, component:self-managed

#3062 fix broken markdown links
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
Labels: component:optimize

#2960 Added table about message correlation
  docs/components/concepts/messages.md
  versioned_docs/version-1.3/components/concepts/messages.md
  versioned_docs/version-8.1/components/concepts/messages.md
  versioned_docs/version-8.2/components/concepts/messages.md
  versioned_docs/version-8.3/components/concepts/messages.md
Labels: component:docs

#3005 Add 8.4 update guide
  docs/self-managed/operational-guides/update-guide/830-to-840.md
  docs/self-managed/operational-guides/update-guide/introduction.md
  optimize_sidebars.js
  sidebars.js
Labels: component:docs

#3071 backport optimize link fix
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/instructions.md
Labels: component:optimize

#3043 chore: add user restrictions section
  docs/self-managed/concepts/access-control/user-task-access-restrictions.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  optimize_sidebars.js
  sidebars.js
Labels: component:tasklist

#3045 fix: tasklist stringfy request
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
Labels: component:tasklist

#3074 resolve web modeler api sidebar
  docs/apis-tools/web-modeler-api/authentication.md
  docs/apis-tools/web-modeler-api/index.md
  docs/apis-tools/working-with-apis-tools.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  optimize_sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
Labels: component:modeler, component:docs

#3070 Set snapshot interval to 5m in config docs
  docs/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
Labels: component:zeebe, component:docs

#3077 Remove IAM admonition
  docs/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.1/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.2/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.3/self-managed/identity/what-is-identity.md
Labels: component:identity, component:docs

#3057 self managed review
  docs/self-managed/about-self-managed.md
  docs/self-managed/identity/user-guide/authorizations/managing-resource-authorizations.md
  docs/self-managed/identity/user-guide/configuration/configure-logging.md
  docs/self-managed/identity/user-guide/tenants/managing-tenants.md
  docs/self-managed/operate-deployment/data-retention.md
  docs/self-managed/operate-deployment/install-and-start.md
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operate-deployment/schema-and-migration.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  docs/self-managed/tasklist-deployment/data-retention.md
  docs/self-managed/tasklist-deployment/install-and-start.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  docs/self-managed/zeebe-deployment/operations/network-ports.md
  docs/self-managed/zeebe-deployment/security/security.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:self-managed

#3066 docs(web-modeler): start forms in self-managed
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/web-modeler/advanced-modeling/form-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/publish-public-processes.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/components/tasklist/userguide/starting-processes.md
  docs/guides/utilizing-forms.md
  sidebars.js
  static/.htaccess
Labels: component:modeler, target:8.4

#3064 Update Process Instance Migration concept for 8.4 release
  docs/components/concepts/process-instance-migration.md
  docs/components/operate/userguide/process-instance-migration.md
Labels: target:8.4

#3085 docs(operate): show bpmn process in screenshots
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/components/operate/userguide/delete-finished-instances.md
  docs/components/operate/userguide/img/delete-finished-instances/operate-finished-instance-detail.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instance-deleted-notification.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instance-detail-delete-operation-confirm.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instance-detail-finished-instances-navigate.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instance-detail-finished-instances.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instances-click-delete-operation.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instances-delete-operation-confirm.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-instances-finished-instances.png
  docs/components/operate/userguide/img/delete-finished-instances/operate-operations-panel-delete-operation.png
  docs/components/operate/userguide/img/get-familiar-with-operate/operate-introduction.png
  docs/components/operate/userguide/img/get-familiar-with-operate/operate-process-instance-id.png
  docs/components/operate/userguide/img/get-familiar-with-operate/operate-view-instance-detail.png
  docs/components/operate/userguide/img/get-familiar-with-operate/operate-view-process-cancel.png
  docs/components/operate/userguide/img/get-familiar-with-operate/operate-view-process.png
  docs/components/operate/userguide/img/selections-and-operations/operate-many-instances-with-incident.png
  docs/components/operate/userguide/img/selections-and-operations/operate-operations-panel.png
  docs/components/operate/userguide/img/selections-and-operations/operate-select-operation.png
  docs/components/operate/userguide/selections-operations.md
Labels: component:operate

#3075 Add multi-tenancy to C7 migration guide
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/conceptual-differences.md
Labels: component:docs, c7migration

#3073 fix: added helm equivalent values for env vars for generic oidc provider
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:self-managed, target:8.4

#3015 self managed architecture and deployment review
  docs/self-managed/about-self-managed.md
  docs/self-managed/platform-architecture/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  docs/self-managed/platform-deployment/overview.md
  optimize_sidebars.js
Labels: component:self-managed

#3079 feat(announcements): create clarity of OS support
  docs/reference/announcements.md
  docs/self-managed/operate-deployment/data-retention.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  docs/self-managed/tasklist-deployment/data-retention.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:docs

#3065 docs(self-managed): unify example deployment name
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:self-managed

#3097 docs(ootbc): improve sqs connector docs
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-sqs.md
Labels: component:connectors

#3059 adjust doc card length and descriptions
  docs/apis-tools/working-with-apis-tools.md
  docs/self-managed/identity/deployment/configuration-variables.md
  optimize/components/userguide/combined-process-reports.md
  src/theme/DocCard/index.js
  src/theme/DocCard/styles.module.css
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
Labels: component:docs

#3098 docs(webhook): Document webhook correlation result
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/use-connectors/inbound.md
Labels: component:connectors, target:8.4

#3087 feat(updateGuides): add note for supported environments
  docs/self-managed/operational-guides/update-guide/820-to-830.md
  docs/self-managed/operational-guides/update-guide/830-to-840.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:docs

#3099 docs(oidc): Connectors warning regarding OIDC
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:connectors, target:8.4

#3117 add zeebe auth intructions
  docs/apis-tools/grpc.md
  versioned_docs/version-8.2/apis-tools/grpc.md
  versioned_docs/version-8.3/apis-tools/grpc.md
Labels: component:zeebe

#3118 chore(tasklist): Update Tasklist configuration files locations
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.1/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist

#3081 Add update job timeout docs
  docs/apis-tools/grpc.md
  docs/components/concepts/job-workers.md
Labels: component:docs, target:8.4

#3120 fix: aws marketplace fixes required before publishing
  docs/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
Labels: component:docs

#3094 docs: document boundary events migration limitation
  docs/apis-tools/grpc.md
  docs/components/concepts/process-instance-migration.md
Labels: component:docs, target:8.4

#3124 feat(pim): deeplink limitations
  docs/components/operate/userguide/process-instance-migration.md
Labels: component:operate
