Repository camunda/camunda-docs, pull requests merged in 2023-07, with the labels that each got.

#2274 Document support for time date events
  docs/components/modeler/bpmn/timer-events/timer-events.md
Labels: component:zeebe, target:8.3

#2258 chor(es8): Update docs to reflect the current ES supported versions
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11.md
Labels: component:optimize

#2271 Self-Managed Zeebe Overview: Update page Title
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:docs

#2278 Add create account btn to navbar
  src/css/custom.css
  src/theme/Navbar/Search/index.js
Labels: component:docs, dx

#2280 technical review backups
  docs/apis-tools/console-api-reference.md
  versioned_docs/version-8.2/apis-tools/console-api-reference.md
Labels: component:console

#2279 technical review of identity contextpath
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
Labels: component:identity, component:self-managed

#2266 Documents: Fix brockers status checks #2207 #2273
  docs/guides/update-guide/120-to-130.md
  docs/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.0/guides/update-guide/120-to-130.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.1/guides/update-guide/120-to-130.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.2/guides/update-guide/120-to-130.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/health.md
Labels: component:zeebe

#2261 chore(web-modeler): first iteration of Web Modeler troubleshooting guide
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/self-managed/modeler/web-modeler/configuration/logging.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  docs/self-managed/platform-deployment/troubleshooting.md
  sidebars.js
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler

#2281 Add Distribution team
  howtos/documentation-guidelines.md
Labels: component:docs, dx, component:self-managed

#2250 Update Go Guide
  docs/apis-tools/go-client/go-get-started.md
  docs/apis-tools/go-client/index.md
  versioned_docs/version-8.2/apis-tools/go-client/go-get-started.md
  versioned_docs/version-8.2/apis-tools/go-client/index.md
Labels: component:zeebe, component:docs, dx

#2287 remove GA from signup link
  src/theme/Navbar/Search/index.js
Labels: dx

#2289 Remove banner over nav
  docusaurus.config.js
Labels: dx

#2294 archive(1.0) preparation: add optimize docs removal to isolation script
  hacks/isolateVersion/1-deleteOtherVersions.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2292 archive(1.0) preparation: ignore 1.0.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx, epic:archive-old-versions

#2029 docs(desktop-modeler): add about page
  docs/components/connectors/custom-built-connectors/connector-templates.md
  docs/components/modeler/about-modeler.md
  docs/components/modeler/desktop-modeler/index.md
  docs/components/modeler/desktop-modeler/install-the-modeler.md
  docs/components/modeler/desktop-modeler/model-your-first-diagram.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/introduction-to-camunda-platform-8.md
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  sidebars.js
Labels: component:modeler

#2296 docs(web-modeler): support for Amazon Aurora PostgreSQL 13.x & 15.x
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:modeler

#2295 retro review OPT-7028
  optimize/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.10.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.7.0/components/userguide/process-analysis/report-analysis/edit-mode.md
  optimize_versioned_docs/version-3.8.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.9.0/components/userguide/process-analysis/report-analysis/define-reports.md
Labels: component:docs, component:optimize

#2297 chore(desktop-modeler): backport about page to stable (8.2)
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-templates.md
  versioned_docs/version-8.2/components/modeler/about-modeler.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/index.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/install-the-modeler.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/model-your-first-diagram.md
  versioned_docs/version-8.2/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.2/guides/introduction-to-camunda-platform-8.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:modeler, target:8.2

#2301 update dependency version for releases
  versioned_docs/version-8.0/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:operate

#2293 Correct merge conflict in Tasklist API
  docs/apis-tools/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/inputs/task-query.mdx
Labels: kind/bug, component:tasklist, component:docs

#2305 retroactive review google sheets connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/google-sheets.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/google-sheets.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/google-sheets.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/google-sheets.md
Labels: component:docs, component:connectors

#2307 retro review public process
  docs/components/modeler/web-modeler/advanced-modeling/publish-public-processes.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/components/tasklist/userguide/starting-processes.md
Labels: component:modeler, component:docs

#2151 Add blurb about not requiring patches on update path
  docs/guides/update-guide/introduction.md
  versioned_docs/version-8.2/guides/update-guide/introduction.md
Labels: component:docs

#2308 docs(modeler/flags): document engine version flags
  docs/components/modeler/desktop-modeler/flags/flags.md
Labels: component:modeler

#2306 retro technical review aws sns inbound
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-sns-inbound.md
Labels: component:docs, component:connectors

#2272 docs: adding configuration for users act and view
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist, component:docs

#2193 fix(modeler): correct windows app path
  docs/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
Labels: kind/bug, component:modeler

#2263 chore(web-modeler): share connector templates with the organization
  docs/components/connectors/img/connector-templates/create-connector-template-4.png
  docs/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.0/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.1/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.2/components/connectors/img/connector-templates/create-connector-template-4.png
  versioned_docs/version-8.2/components/connectors/manage-connector-templates.md
Labels: component:modeler

#2260 docs(ootbc): add eventBridge documentation
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/aws-eventbridge.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-eventbridge.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-eventbridge.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-eventbridge.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2234 docs(helm): Includes breaking change notice for upgrading past 8.2.3
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:docs, component:self-managed, target:8.2

#2267 feat(connectors): added slack inbound documentation
  docs/components/connectors/img/connectors-slack-inbound-intermediate-filled.png
  docs/components/connectors/img/connectors-slack-inbound-start-filled.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/slack-inbound.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-inbound-intermediate-filled.png
  versioned_docs/version-8.1/components/connectors/img/connectors-slack-inbound-start-filled.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_docs/version-8.2/components/connectors/img/connectors-slack-inbound-intermediate-filled.png
  versioned_docs/version-8.2/components/connectors/img/connectors-slack-inbound-start-filled.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack-inbound.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2177 docs(ootbc): add twilio webhook connector
  docs/components/connectors/img/connectors-twilio-webhook-correlate-activate.png
  docs/components/connectors/img/connectors-twilio-webhook-variable-mapping.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/img/connectors-twilio-webhook-correlate-activate.png
  versioned_docs/version-8.1/components/connectors/img/connectors-twilio-webhook-variable-mapping.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_docs/version-8.2/components/connectors/img/connectors-twilio-webhook-correlate-activate.png
  versioned_docs/version-8.2/components/connectors/img/connectors-twilio-webhook-variable-mapping.png
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/twilio-webhook.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:connectors

#2299 feat: update screenshots for Camunda Desktop Modeler 5.13
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#2313 docs: (tasklist) update tasklist-rest-api overview
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.2/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
Labels: component:tasklist, target:8.2, target:8.3

#2317 feat(archiving): Automate workflow updates
  hacks/isolateVersion/6-updateCIWorkflows.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/enhancement, dx, epic:archive-old-versions

#2315 Add social logos to footer
  docusaurus.config.js
  src/css/custom.css
  static/img/Slack-mark-white-RGB.png
  static/img/github-mark-white.svg
  static/img/twitter.svg
Labels: dx

#2311 adjustments to remove OSS pages
  docs/components/zeebe/open-source/assets/exporters-stream.png
  docs/components/zeebe/open-source/community-contributions.md
  docs/components/zeebe/open-source/get-help-get-involved.md
  docs/components/zeebe/zeebe-overview.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/zeebe/open-source/assets/exporters-stream.png
  versioned_docs/version-8.1/components/zeebe/open-source/community-contributions.md
  versioned_docs/version-8.1/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.1/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.2/components/zeebe/open-source/assets/exporters-stream.png
  versioned_docs/version-8.2/components/zeebe/open-source/community-contributions.md
  versioned_docs/version-8.2/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.2/components/zeebe/zeebe-overview.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2318 archive(1.0) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  static/robots.txt
  versions.json
Labels: kind/cleanup, dx, epic:archive-old-versions

#2325 archive(1.0) isolation: manual steps
  docusaurus.config.js
  src/pages/index.js
  static/.htaccess
  versioned_docs/version-1.0/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-1.0/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-1.0/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/form.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/form.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/tasks.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/variables.mdx
Labels: kind/cleanup, dx, epic:archive-old-versions

#2275 Update usage-history.md
  docs/components/console/manage-organization/usage-history.md
  versioned_docs/version-8.2/components/console/manage-organization/usage-history.md
Labels: component:console

#2327 Adjust nav link URL for PMM
  src/theme/Navbar/Search/index.js
Labels: component:docs

#2270 Zeebe: Clarify usage of advertised host
  docs/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/broker.md
Labels: component:zeebe

#2328 docs(web-modeler): support for Amazon Aurora PostgreSQL 13.x & 15.x
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: kind/bug, component:modeler

#2276 fix(redhat-openshift.md): use correct env var name
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: component:operate, component:tasklist, component:self-managed

#2316 Clarify region value in SaaS
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
Labels: component:operate, component:tasklist, component:docs

#2319 docs(desktop-modeler): mention ALPN
  docs/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/troubleshooting.md
Labels: component:modeler

#2330 Add OpenSearch 2.5.x support to Zeebe
  docs/reference/supported-environments.md
Labels: component:zeebe, target:8.3

#2336 Move update guides up sidebar
  sidebars.js
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#2338 Add css tweak for Guide badging
  src/css/custom.css
Labels: component:docs, dx

#2174 Update forms library (part 2)
  docs/components/modeler/forms/configuration/forms-config-options.md
  docs/components/modeler/forms/form-element-library/forms-element-library-image.md
  docs/components/modeler/forms/form-element-library/forms-element-library-number.md
  docs/components/modeler/forms/form-element-library/forms-element-library-textfield.md
Labels: component:modeler

#2350 chore(reference): update supported environments
  docs/reference/supported-environments.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: component:docs, component:self-managed

#2352 Update Connectors docs to reflect the latest SDK changes
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/guides/update-guide/connectors/0100-to-0110.md
  docs/guides/update-guide/connectors/introduction.md
  sidebars.js
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.0/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.2/guides/update-guide/connectors/introduction.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2341 fix(import): user permissions get cleaned up from collections
  optimize/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize/self-managed/optimize-deployment/migration-update/3.10-to-3.11.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup/configuration.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup/service-config.yaml
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
Labels: component:optimize

#2361 add assets to ignorePatterns
  docusaurus.config.js
Labels: kind/bug, dx

#2345 console: automated cluster updates
  docs/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.2/components/console/manage-clusters/create-cluster-include.md
Labels: component:console

#2335 Cleanup Connectors update guides
  docs/guides/update-guide/connectors/0100-to-0110.md
  docs/guides/update-guide/connectors/020-to-030.md
  docs/guides/update-guide/connectors/030-to-040.md
  docs/guides/update-guide/connectors/040-to-050.md
  docs/guides/update-guide/connectors/050-to-060.md
  docs/guides/update-guide/connectors/060-to-070.md
  docs/guides/update-guide/connectors/070-to-080.md
  docs/guides/update-guide/connectors/080-to-090.md
  docs/guides/update-guide/connectors/090-to-0100.md
  docs/guides/update-guide/connectors/introduction.md
  sidebars.js
  versioned_docs/version-8.0/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.0/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.0/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.0/guides/update-guide/connectors/040-to-050.md
  versioned_docs/version-8.0/guides/update-guide/connectors/050-to-060.md
  versioned_docs/version-8.0/guides/update-guide/connectors/060-to-070.md
  versioned_docs/version-8.0/guides/update-guide/connectors/070-to-080.md
  versioned_docs/version-8.0/guides/update-guide/connectors/080-to-090.md
  versioned_docs/version-8.0/guides/update-guide/connectors/090-to-0100.md
  versioned_docs/version-8.0/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.1/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.1/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.1/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.1/guides/update-guide/connectors/040-to-050.md
  versioned_docs/version-8.1/guides/update-guide/connectors/050-to-060.md
  versioned_docs/version-8.1/guides/update-guide/connectors/060-to-070.md
  versioned_docs/version-8.1/guides/update-guide/connectors/070-to-080.md
  versioned_docs/version-8.1/guides/update-guide/connectors/080-to-090.md
  versioned_docs/version-8.1/guides/update-guide/connectors/090-to-0100.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.2/guides/update-guide/connectors/0100-to-0110.md
  versioned_docs/version-8.2/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.2/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.2/guides/update-guide/connectors/040-to-050.md
  versioned_docs/version-8.2/guides/update-guide/connectors/050-to-060.md
  versioned_docs/version-8.2/guides/update-guide/connectors/060-to-070.md
  versioned_docs/version-8.2/guides/update-guide/connectors/070-to-080.md
  versioned_docs/version-8.2/guides/update-guide/connectors/080-to-090.md
  versioned_docs/version-8.2/guides/update-guide/connectors/090-to-0100.md
  versioned_docs/version-8.2/guides/update-guide/connectors/introduction.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#2357 Add default distribution of ES clarification
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
Labels: component:docs

#2363 Fix worklfow typo in docs
  versioned_docs/version-1.1/components/zeebe/deployment-guide/getting-started/deploy-a-process.md
Labels: component:docs

#2346 chore(aws): add irsa documentation for next
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  optimize_sidebars.js
  sidebars.js
Labels: component:docs, component:self-managed

#2344 [Zeebe] Removed resource from Deployment:CREATED event
  docs/guides/update-guide/820-to-830.md
  docs/guides/update-guide/introduction.md
  sidebars.js
Labels: component:zeebe, target:8.3

#2365 docs(zeebe): document health probe changes
  docs/guides/update-guide/820-to-830.md
  docs/self-managed/zeebe-deployment/configuration/gateway-health-probes.md
  docs/self-managed/zeebe-deployment/operations/health.md
Labels: component:zeebe

#2283 Initial migration guide restructure
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/concepts/what-is-camunda-platform-8.md
  docs/guides/introduction-to-camunda-platform-8.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/guides/migrating-from-camunda-platform-7/adjusting-bpmn-models.md
  docs/guides/migrating-from-camunda-platform-7/adjusting-dmn-models.md
  docs/guides/migrating-from-camunda-platform-7/adjusting-source-code.md
  docs/guides/migrating-from-camunda-platform-7/conceptual-differences.md
  docs/guides/migrating-from-camunda-platform-7/index.md
  docs/guides/migrating-from-camunda-platform-7/migration-readiness.md
  docs/guides/migrating-from-cawemo.md
  sidebars.js
Labels: component:docs, c7migration
