Repository camunda/camunda-docs, pull requests merged in 2023-04, with the labels that each got.

#1884 remove version banner from 8.0
  docusaurus.config.js
  howtos/release-procedure.md
Labels: dx

#1871 docs(tasklist): GraphAPI new fields
  docs/apis-clients/tasklist-api/assets/tasklist.graphqls
  docs/apis-clients/tasklist-api/enums/sort.mdx
  docs/apis-clients/tasklist-api/enums/task-sort-fields.mdx
  docs/apis-clients/tasklist-api/inputs/date-filter-input.mdx
  docs/apis-clients/tasklist-api/inputs/task-order-by.mdx
  docs/apis-clients/tasklist-api/inputs/task-query.mdx
  docs/apis-clients/tasklist-api/objects/task.mdx
  docs/apis-clients/tasklist-api/scalars/DateTime.mdx
Labels: component:tasklist, target:8.2

#1821 Add tutorial for Operate API
  docs/apis-clients/operate-api/img/color-sequence-flows.png
  docs/apis-clients/operate-api/img/display-incidents.png
  docs/apis-clients/operate-api/img/render-diagram.png
  docs/apis-clients/operate-api/overview.md
  docs/apis-clients/operate-api/sidebar-schema.js
  docs/apis-clients/operate-api/tutorial.md
  docs/apis-clients/public-api.md
  docs/apis-tools/working-with-apis-tools.md
  docs/guides/update-guide/130-to-800.md
  docs/guides/update-guide/connectors/030-to-040.md
  docs/self-managed/operate-deployment/operate-authentication.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:operate

#1888 docs(identity): fix sidebar labels for group related pages
  docs/self-managed/identity/user-guide/groups/assigning-roles-to-a-group.md
  docs/self-managed/identity/user-guide/groups/assigning-users-to-a-group.md
  docs/self-managed/identity/user-guide/groups/creating-a-group.md
  docs/self-managed/identity/user-guide/groups/creating-authorizations-for-a-group.md
Labels: component:identity

#1872 docs: updating screenshots and reworking scenarios descriptions for tasklist 8.2
  docs/components/tasklist/img/tasklist-start-screen_light.png
  docs/components/tasklist/userguide/img/order-icon.png
  docs/components/tasklist/userguide/img/tasklist-claim_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-empty_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-list_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me_light.png
  docs/components/tasklist/userguide/img/tasklist-complete-task_light.png
  docs/components/tasklist/userguide/img/tasklist-processes-search.png
  docs/components/tasklist/userguide/img/tasklist-processes-start.png
  docs/components/tasklist/userguide/img/tasklist-processes.png
  docs/components/tasklist/userguide/img/tasklist-task-completed_light.png
  docs/components/tasklist/userguide/img/tasklist-task-ordering.png
  docs/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist, target:8.2

#1890 docs(operate): Announce changes from Spring Boot 3 update, plus elasticsearch versions
  docs/guides/update-guide/810-to-820.md
  docs/reference/announcements.md
  docs/reference/supported-environments.md
Labels: component:zeebe, component:operate, component:tasklist, component:optimize

#1889 add mention of client credentials
  docs/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
Labels: component:docs

#1874 feat: add data-handling page
  docs/components/modeler/data-handling.md
  docs/components/modeler/img/data-handling-example-json.png
  sidebars.js
Labels: component:modeler

#1880 Inform users about timer accuracy
  docs/components/modeler/bpmn/timer-events/timer-events.md
  versioned_docs/version-8.0/components/modeler/bpmn/timer-events/timer-events.md
  versioned_docs/version-8.1/components/modeler/bpmn/timer-events/timer-events.md
Labels: component:zeebe

#1898 docs(web-modeler): add PLAY_ENABLED variable to configuration page
  docs/self-managed/modeler/web-modeler/configuration.md
Labels: component:modeler, component:self-managed

#1866 docs(operate): backupId type changed to Integer
  docs/self-managed/backup-restore/operate-tasklist-backup.md
Labels: component:operate

#1891 docs(operate): Elasticsearch 8 ILM support
  docs/self-managed/operate-deployment/data-retention.md
  docs/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate

#1873 feat: updated forms text viewer documentation
  docs/components/modeler/forms/configuration/forms-config-templating-syntax.md
  docs/components/modeler/forms/form-element-library/forms-element-library-text.md
Labels: component:modeler

#1907 testing a few small description changes for bing
  docs/self-managed/tasklist-deployment/taskslist-api.md
  docs/self-managed/zeebe-deployment/operations/disk-space.md
  docs/self-managed/zeebe-deployment/operations/rebalancing.md
Labels: component:docs

#1910 New available GCP region: northamerica-northeast2
  docs/reference/regions.md
  versioned_docs/version-8.1/reference/regions.md
Labels: component:docs

#1865 Add broker and gateway YAML to docs
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  sidebars.js
Labels: component:zeebe, component:docs

#1914 chore(web-modeler): update list of third-party libraries
  docs/reference/dependencies.md
Labels: component:modeler, component:self-managed

#1911 docs: added connectors dependency onto helm charts diagram
  docs/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-combined-ingress.png
  docs/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-separated-ingress.png
  docs/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-deployment-diagram-high-availability-mode.png
  versioned_docs/version-8.1/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-combined-ingress.png
  versioned_docs/version-8.1/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-architecture-diagram-separated-ingress.png
  versioned_docs/version-8.1/self-managed/platform-architecture/assets/camunda-platform-8-self-managed-deployment-diagram-high-availability-mode.png
Labels: component:connectors, component:self-managed

#1906 Document throwing errors with variables
  docs/apis-clients/grpc.md
  docs/components/modeler/bpmn/error-events/error-events.md
Labels: component:docs

#1899 docs(web-modeler): remove beta status
  docs/apis-clients/web-modeler-api/index.md
  docs/reference/licenses.md
  docs/reference/supported-environments.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/modeler/web-modeler/api.md
  docs/self-managed/modeler/web-modeler/configuration.md
  docs/self-managed/modeler/web-modeler/installation.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  docs/self-managed/platform-deployment/overview.md
  optimize_sidebars.js
  sidebars.js
  src/css/custom.css
Labels: component:modeler, component:self-managed

#1887 docs: 8.2 upgrade for Tasklist
  docs/guides/update-guide/810-to-820.md
  docs/reference/announcements.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist, target:8.2

#1886 docs(operate): document resource based permissions
  docs/self-managed/operate-deployment/operate-authentication.md
Labels: component:operate

#1916 Correcting links for build errors
  docs/guides/update-guide/810-to-820.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:docs

#1913 docs(typo): Fix typo reuqest to request
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:docs

#1926 docs(.htaccess): add Identity redirect
  static/.htaccess
Labels: component:docs, dx

#1875 docs: add Tasklist REST API docs [to master]
  docs/apis-clients/tasklist-api-rest/controllers/_category_.yml
  docs/apis-clients/tasklist-api-rest/controllers/tasklist-api-rest-form-controller.md
  docs/apis-clients/tasklist-api-rest/controllers/tasklist-api-rest-task-controller.md
  docs/apis-clients/tasklist-api-rest/controllers/tasklist-api-rest-variables-controller.md
  docs/apis-clients/tasklist-api-rest/schemas/_category_.yml
  docs/apis-clients/tasklist-api-rest/schemas/enums/_category_.yml
  docs/apis-clients/tasklist-api-rest/schemas/enums/sort.mdx
  docs/apis-clients/tasklist-api-rest/schemas/enums/task-sort-fields.mdx
  docs/apis-clients/tasklist-api-rest/schemas/enums/task-state.mdx
  docs/apis-clients/tasklist-api-rest/schemas/models/_category_.yml
  docs/apis-clients/tasklist-api-rest/schemas/models/date-filter-input.mdx
  docs/apis-clients/tasklist-api-rest/schemas/models/task-order-by.mdx
  docs/apis-clients/tasklist-api-rest/schemas/requests/_category_.yml
  docs/apis-clients/tasklist-api-rest/schemas/requests/task-assign-request.mdx
  docs/apis-clients/tasklist-api-rest/schemas/requests/task-complete-request.mdx
  docs/apis-clients/tasklist-api-rest/schemas/requests/task-search-request.mdx
  docs/apis-clients/tasklist-api-rest/schemas/requests/variable-input.mdx
  docs/apis-clients/tasklist-api-rest/schemas/requests/variables-search-request.mdx
  docs/apis-clients/tasklist-api-rest/schemas/responses/_category_.yml
  docs/apis-clients/tasklist-api-rest/schemas/responses/error-response.mdx
  docs/apis-clients/tasklist-api-rest/schemas/responses/form-response.mdx
  docs/apis-clients/tasklist-api-rest/schemas/responses/task-response.mdx
  docs/apis-clients/tasklist-api-rest/schemas/responses/task-search-response.mdx
  docs/apis-clients/tasklist-api-rest/schemas/responses/variable-response.mdx
  docs/apis-clients/tasklist-api-rest/sidebar-schema.js
  docs/apis-clients/tasklist-api-rest/tasklist-api-rest-authentication.md
  docs/apis-clients/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/apis-clients/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  docs/apis-clients/tasklist-api/tasklist-api-overview.md
  docs/components/tasklist/introduction-to-tasklist.md
  sidebars.js
Labels: component:tasklist, target:8.2

#1915 docs(optimzie): update dependencies for 3.10.0
  docs/reference/dependencies.md
Labels: component:optimize

#1931 chore: synchronize sidebars (for v8.1/3.9.0)
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: dx

#1929 chore: synchronize sidebars (for vNext)
  docs/components/connectors/out-of-the-box-connectors/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  docs/components/connectors/out-of-the-box-connectors/http-webhook.md
  optimize_sidebars.js
  sidebars.js
Labels: dx

#1937 chore(sidebars): synchronize sidebars for 8.1/3.9.0 apis-tools
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
Labels: dx

#1939 chore(sidebars): synchronize next/apis-clients sidebars
  optimize_sidebars.js
Labels: dx

#1938 Docs tasklist links
  docs/apis-tools/working-with-apis-tools.md
  docusaurus.config.js
  versioned_docs/version-0.26/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-0.26/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-0.26/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-0.26/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-0.26/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-0.26/reference/tasklist-api/queries/tasks.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-1.0/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-1.0/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-1.0/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/form.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-1.0/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/form.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/tasks.mdx
  versioned_docs/version-1.0/reference/tasklist-api/queries/variables.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/deprecated.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/include.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/skip.mdx
  versioned_docs/version-1.1/reference/tasklist-api/directives/specified-by.mdx
  versioned_docs/version-1.1/reference/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-1.1/reference/tasklist-api/inputs/variable-input.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/claim-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/complete-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/mutations/unclaim-task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/form.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/user.mdx
  versioned_docs/version-1.1/reference/tasklist-api/objects/variable.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/current-user.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/form.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/task.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/tasks.mdx
  versioned_docs/version-1.1/reference/tasklist-api/queries/variables.mdx
Labels: component:docs

#1917 feat(zeebe): identity token validation in gateway
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/operate-deployment/operate-authentication.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  docs/self-managed/zeebe-deployment/security/security.md
  docs/self-managed/zeebe-gateway-deployment/the-zeebe-gateway.md
  sidebars.js
Labels: component:zeebe

#1952 fix urls
  docs/apis-tools/working-with-apis-tools.md
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  docs/components/best-practices/modeling/creating-readable-process-models.md
  docs/components/connectors/out-of-the-box-connectors/operate.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq.md
  docs/components/connectors/out-of-the-box-connectors/slack.md
  docs/components/connectors/use-connectors.md
  docs/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  docs/guides/migrating-from-camunda-platform-7.md
  docs/guides/migrating-from-cawemo.md
  docs/guides/model-your-first-process.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  optimize/apis-tools/optimize-api/optimize-api-authorization.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/optimize-api-authorization.md
  optimize_versioned_docs/version-3.8.0/apis-tools/optimize-api/optimize-api-authorization.md
  optimize_versioned_docs/version-3.9.0/apis-tools/optimize-api/optimize-api-authorization.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-1.3/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-1.3/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-1.3/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-1.3/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-1.3/guides/migrating-from-Camunda-Platform.md
  versioned_docs/version-8.0/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.0/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.0/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.0/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.0/guides/migrating-from-cawemo.md
  versioned_docs/version-8.0/guides/model-your-first-process.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.1/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.1/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.1/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.1/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.1/guides/migrating-from-cawemo.md
  versioned_docs/version-8.1/guides/model-your-first-process.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.2/components/best-practices/modeling/building-flexibility-into-bpmn-models.md
  versioned_docs/version-8.2/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.2/components/connectors/use-connectors.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-platform-7.md
  versioned_docs/version-8.2/guides/migrating-from-cawemo.md
  versioned_docs/version-8.2/guides/model-your-first-process.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
Labels: kind/bug, component:docs, dx

#1902 docs: describe super user mode
  docs/components/modeler/web-modeler/collaboration.md
Labels: component:modeler, component:docs

#1936 docs(connectors): migration guide from 0.7.x to 0.8.x
  docs/guides/update-guide/connectors/070-to-080.md
  docs/guides/update-guide/connectors/introduction.md
  sidebars.js
  versioned_docs/version-8.1/guides/update-guide/connectors/070-to-080.md
  versioned_docs/version-8.1/guides/update-guide/connectors/introduction.md
  versioned_docs/version-8.2/guides/update-guide/connectors/070-to-080.md
  versioned_docs/version-8.2/guides/update-guide/connectors/introduction.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#1825 docs(connectors): add Asana connector doc
  docs/components/connectors/out-of-the-box-connectors/asana.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/asana.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/asana.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/asana.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#1815 docs(connectors): added docs for GitLab connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/gitlab.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/gitlab.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/gitlab.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/gitlab.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, component:connectors

#1958 console 8.2.12 screenshots
  docs/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-detail-alerts.png
  docs/components/console/manage-clusters/img/cluster-detail-clients.png
  docs/components/console/manage-clusters/img/cluster-detail-create-alert.png
  docs/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  docs/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets.png
  docs/components/console/manage-clusters/img/cluster-details-create-client.png
  docs/components/console/manage-clusters/img/cluster-details-created-client.png
  docs/components/console/manage-clusters/img/cluster-overview-empty.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-organization/img/activity-view.png
  docs/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  docs/components/console/manage-organization/img/avatar-menue.png
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/delete-account.png
  docs/components/console/manage-organization/img/trial-usage-history.png
  docs/components/console/manage-plan/img/checkout.png
  docs/guides/img/home.png
  versioned_docs/version-8.2/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-alerts.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-clients.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-alert.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-create-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-created-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-empty.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.2/components/console/manage-organization/img/activity-view.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue.png
  versioned_docs/version-8.2/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.2/components/console/manage-organization/img/delete-account.png
  versioned_docs/version-8.2/components/console/manage-organization/img/trial-usage-history.png
  versioned_docs/version-8.2/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.2/guides/img/home.png
Labels: component:console

#1961 docs(apis-tools): add postman link
  docs/apis-tools/working-with-apis-tools.md
Labels: component:docs

#1969 adjust product links
  product-links.txt
Labels: component:docs, dx

#1977 docs(regions): update available GCP regions
  docs/reference/regions.md
  versioned_docs/version-8.2/reference/regions.md
Labels: component:docs

#1981 docs(api): Fix incorrect fields for api endpoints
  docs/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
Labels: component:operate, component:docs

#1985 technical review of notice note
  docs/reference/notices.md
  versioned_docs/version-8.2/reference/notices.md
Labels: component:docs

#1986 technical review of notice
  docs/reference/notices.md
  versioned_docs/version-8.2/reference/notices.md
Labels: component:docs

#1736 docs(clustering): update image w/ branding
  docs/components/zeebe/technical-concepts/assets/data-distribution.png
  versioned_docs/version-8.2/components/zeebe/technical-concepts/assets/data-distribution.png
Labels: component:docs

#1966 reorder APIs in sidebar
  docs/apis-tools/working-with-apis-tools.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs

#1968 docs(identity): document resource authorizations dependency on a database
  docs/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.2/self-managed/identity/deployment/configuration-variables.md
Labels: component:identity

#1996 Add Opensearch support
  docs/apis-tools/operate-api/overview.md
  docs/reference/announcements.md
  docs/reference/supported-environments.md
  docs/self-managed/operate-deployment/data-retention.md
  docs/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/self-managed/operate-deployment/data-retention.md
  versioned_docs/version-8.2/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate, target:8.2

#2009 docs(connectors): update changes to reflect 8.2 release
  docs/components/connectors/out-of-the-box-connectors/http-webhook.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  docs/self-managed/platform-deployment/docker.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.0/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
Labels: component:docs, component:connectors

#2007 docs(status): add status page to sidebars 8.0+
  sidebars.js
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: kind/bug, component:docs

#1948 Update Announcements page
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
Labels: component:docs

#2004 dx: speed up builds by using swc-loader instead of babel
  docusaurus.config.js
  package-lock.json
  package.json
Labels: dx

#2011 adjust signup page links
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/console/manage-plan/available-plans.md
  docs/components/operate/operate-introduction.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/guides/create-account.md
  docusaurus.config.js
  src/pages/index.js
  versioned_docs/version-8.0/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.0/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.0/components/operate/operate-introduction.md
  versioned_docs/version-8.0/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.0/guides/create-account.md
  versioned_docs/version-8.1/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.1/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.1/components/operate/operate-introduction.md
  versioned_docs/version-8.1/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.1/guides/create-account.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.2/components/console/manage-plan/available-plans.md
  versioned_docs/version-8.2/components/operate/operate-introduction.md
  versioned_docs/version-8.2/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.2/guides/create-account.md
Labels: component:docs, dx

#2016 chore: update publish-stage for move to AWS hosting
  .github/workflows/publish-stage.yaml
Labels: dx

#2022 docs(connectors,uipath): updated secrets usage
  docs/components/connectors/out-of-the-box-connectors/uipath.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/uipath.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/uipath.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/uipath.md
Labels: component:docs, component:connectors

#2008 add node sdk to next
  docs/apis-tools/working-with-apis-tools.md
Labels: component:docs

#2000 chore: rephrase element templates configuration
  docs/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  docs/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.0/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/element-templates/configuring-templates.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/search-paths/search-paths.md
Labels: component:modeler

#2019 chore: update publish-prod for move to AWS hosting
  .github/workflows/publish-prod.yaml
Labels: dx

#2031 console 8.2.30 - screenshots
  docs/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-detail-alerts.png
  docs/components/console/manage-clusters/img/cluster-detail-clients.png
  docs/components/console/manage-clusters/img/cluster-detail-create-alert.png
  docs/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  docs/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets.png
  docs/components/console/manage-clusters/img/cluster-details-create-client.png
  docs/components/console/manage-clusters/img/cluster-details-created-client.png
  docs/components/console/manage-clusters/img/cluster-overview-empty.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-organization/img/activity-view.png
  docs/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  docs/components/console/manage-organization/img/avatar-menue.png
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/delete-account.png
  docs/components/console/manage-organization/img/trial-usage-history.png
  docs/components/console/manage-plan/img/checkout.png
  docs/guides/img/home.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-alerts.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-clients.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-alert.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-detail-secrets.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-create-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-details-created-client.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-empty.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.2/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.2/components/console/manage-organization/img/activity-view.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  versioned_docs/version-8.2/components/console/manage-organization/img/avatar-menue.png
  versioned_docs/version-8.2/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.2/components/console/manage-organization/img/delete-account.png
  versioned_docs/version-8.2/components/console/manage-organization/img/trial-usage-history.png
  versioned_docs/version-8.2/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.2/guides/img/home.png
Labels: component:console

#2036 docs: update screenshot for connectors config
  docs/guides/img/connector-properties-panel.png
  versioned_docs/version-8.0/guides/img/connector-properties-panel.png
  versioned_docs/version-8.1/guides/img/connector-properties-panel.png
  versioned_docs/version-8.2/guides/img/connector-properties-panel.png
Labels: component:docs, component:connectors

#2037 docs(connectors): update SDK entry
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:docs, component:connectors

#2006 docs(glossary): update connectors terminology
  docs/reference/glossary.md
  versioned_docs/version-8.2/reference/glossary.md
Labels: component:docs, component:connectors, epic:connectors-restructure

#2039 docs(aws-lambda): fix link to manage-secrets
  docs/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-lambda.md
Labels: kind/bug, component:docs, component:connectors

#2038 Docs ootb connector intros
  docs/components/connectors/out-of-the-box-connectors/inbound/github-webhook.md
  docs/components/connectors/out-of-the-box-connectors/inbound/http-webhook.md
  docs/components/connectors/out-of-the-box-connectors/outbound/asana.md
  docs/components/connectors/out-of-the-box-connectors/outbound/automation-anywhere.md
  docs/components/connectors/out-of-the-box-connectors/outbound/aws-lambda.md
  docs/components/connectors/out-of-the-box-connectors/outbound/aws-sns.md
  docs/components/connectors/out-of-the-box-connectors/outbound/aws-sqs.md
  docs/components/connectors/out-of-the-box-connectors/outbound/easy-post.md
  docs/components/connectors/out-of-the-box-connectors/outbound/github.md
  docs/components/connectors/out-of-the-box-connectors/outbound/gitlab.md
  docs/components/connectors/out-of-the-box-connectors/outbound/google-maps-platform.md
  docs/components/connectors/out-of-the-box-connectors/outbound/googledrive.md
  docs/components/connectors/out-of-the-box-connectors/outbound/graphql.md
  docs/components/connectors/out-of-the-box-connectors/outbound/kafka.md
  docs/components/connectors/out-of-the-box-connectors/outbound/microsoft-teams.md
  docs/components/connectors/out-of-the-box-connectors/outbound/openai.md
  docs/components/connectors/out-of-the-box-connectors/outbound/operate.md
  docs/components/connectors/out-of-the-box-connectors/outbound/power-automate.md
  docs/components/connectors/out-of-the-box-connectors/outbound/rabbitmq.md
  docs/components/connectors/out-of-the-box-connectors/outbound/rest.md
  docs/components/connectors/out-of-the-box-connectors/outbound/sendgrid.md
  docs/components/connectors/out-of-the-box-connectors/outbound/slack.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/asana.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-lambda.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-sns.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/aws-sqs.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/easy-post.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/gitlab.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/googledrive.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/graphql.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/http-webhook.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/microsoft-teams.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rabbitmq.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/rest.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/sendgrid.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:docs, dx, component:connectors

#2026 identity restructure current version of docs
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  static/.htaccess
  versioned_docs/version-8.2/self-managed/concepts/access-control/applications.md
  versioned_docs/version-8.2/self-managed/concepts/access-control/users.md
  versioned_docs/version-8.2/self-managed/concepts/authentication/m2m-tokens.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/adding-a-permission.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/adding-a-role.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/adding-an-application.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/additional-features/adding-an-api.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/additional-features/incorporate-applications.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/assigning-a-permission-to-a-role.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/assigning-a-permission-to-an-application.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/assigning-a-role-to-a-user.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/authorizations/managing-user-access.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/configure-external-identity-provider-and-logging.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/making-identity-production-ready.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configure-logging.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/groups/assign-users-roles-to-group.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/groups/assigning-roles-to-a-group.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/groups/assigning-users-to-a-group.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/groups/create-group.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-api-details.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-api-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-application-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-permission-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-role-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/add-role-refreshed-table.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-permission-application-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-permission-application-modal-2.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-permission-modal-2.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-role-details.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-role-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-a-role-roles-tab.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-role-to-group-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-role-to-group-modal-2.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-user-to-group-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/assign-user-to-group-modal-2.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/create-group-modal-1.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/keycloak-admin-client-list.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/keycloak-admin-copy-client-credentials.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/img/keycloak-admin-update-client-3.png
  versioned_docs/version-8.2/self-managed/identity/user-guide/roles/add-assign-permission.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/roles/add-assign-role.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/api.md
  versioned_docs/version-8.2/self-managed/operate-deployment/operate-authentication.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/using-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:identity, component:docs, dx
