Repository camunda/camunda-docs, pull requests merged in 2023-02, with the labels that each got.

#1647 note breaking changes in backup and restore section
  docs/self-managed/backup-restore/backup-and-restore.md
  docs/self-managed/backup-restore/operate-tasklist-backup.md
  docs/self-managed/backup-restore/optimize-backup.md
Labels: component:docs

#1661 docs: update connectors related docs
  docs/guides/update-guide/connectors/030-to-040.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.0/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.0/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.1/guides/update-guide/connectors/030-to-040.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.1/self-managed/connectors-deployment/install-and-start.md
Labels: component:docs, component:connectors, component:self-managed

#1672 clarify type and taskdefinition
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.0/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.0/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.1/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.1/components/modeler/bpmn/service-tasks/service-tasks.md
Labels: component:docs

#1667 chore: enable Edit This Page links for optimize docs
  docusaurus.config.js
Labels: component:docs, dx

#1663 docs(web-modeler): add business rule task linking section and update …
  docs/components/modeler/web-modeler/advanced-modeling/business-rule-task-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/img/brt_linked.png
  docs/components/modeler/web-modeler/advanced-modeling/img/brt_overlay.png
  docs/components/modeler/web-modeler/advanced-modeling/img/brt_properties-panel.png
  docs/components/modeler/web-modeler/advanced-modeling/img/linked.png
  docs/components/modeler/web-modeler/advanced-modeling/img/overlay.png
  sidebars.js
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/business-rule-task-linking.md
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/img/brt_linked.png
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/img/brt_overlay.png
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/img/brt_properties-panel.png
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/img/linked.png
  versioned_docs/version-8.1/components/modeler/web-modeler/advanced-modeling/img/overlay.png
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:modeler

#1665 Add hint on testing Zeebe with zbctl
  docs/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.1/self-managed/platform-deployment/manual.md
Labels: dx

#1671 feat: explain in detail the arguments sent to token server
  docs/apis-clients/operate-api/index.md
  versioned_docs/version-8.1/apis-clients/operate-api/index.md
Labels: component:docs

#1676 ci(linkcheck): use github action instead of downloading tar, and ignore connection failures for cron-based workflow
  .github/workflows/build-docs.yaml
  .github/workflows/linkcheck.yaml
Labels: dx

#1679 docs(operate): websecurity configuration section
  docs/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate

#1670 adding new fields for TaskQuery on tasklist
  docs/apis-clients/tasklist-api/assets/tasklist.graphqls
  docs/apis-clients/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-8.1/apis-clients/tasklist-api/assets/tasklist.graphqls
  versioned_docs/version-8.1/apis-clients/tasklist-api/inputs/task-query.mdx
Labels: component:tasklist

#1684 Hail to my mighty gimp skillz
  docs/components/console/manage-clusters/img/client-auth.png
  versioned_docs/version-8.0/components/console/manage-clusters/img/client-auth.png
  versioned_docs/version-8.1/components/console/manage-clusters/img/client-auth.png
Labels: component:console

#1632 add clusters page
  docs/components/concepts/clusters.md
  docs/guides/assets/react-components/create-cluster.md
  sidebars.js
  versioned_docs/version-8.1/components/concepts/clusters.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs

#1689 docs(cluster): remove unclear SLA language
  docs/components/concepts/clusters.md
  versioned_docs/version-8.1/components/concepts/clusters.md
Labels: component:docs

#1691 resolve bing flagged errors for february
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-8.0/self-managed/platform-deployment/openshift-helm.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:docs

#1638 UIPath: add documentation for new connector
  docs/components/connectors/img/connectors-uipath-add-queue-item.png
  docs/components/connectors/img/connectors-uipath-bearer-token.png
  docs/components/connectors/img/connectors-uipath-configuration.png
  docs/components/connectors/img/connectors-uipath-get-queue-item-result-by-id.png
  docs/components/connectors/img/connectors-uipath-long-polling-pattern.png
  docs/components/connectors/img/connectors-uipath-oauth-token.png
  docs/components/connectors/img/connectors-uipath-operations.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/uipath.md
  docs/reference/dependencies.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-add-queue-item.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-bearer-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-configuration.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-get-queue-item-result-by-id.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-long-polling-pattern.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-oauth-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-uipath-operations.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/uipath.md
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-add-queue-item.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-bearer-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-configuration.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-get-queue-item-result-by-id.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-long-polling-pattern.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-oauth-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-uipath-operations.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/uipath.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs, component:connectors

#1686 Document Zeebe S3 backup store compression config
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/zeebe-backup-and-restore.md
Labels: kind/feature, component:zeebe, target:8.2

#1700 docs(content): remove exporters from components
  docs/components/zeebe/open-source/exporters.md
  docs/reference/glossary.md
  static/.htaccess
  versioned_docs/version-8.1/components/zeebe/open-source/exporters.md
  versioned_docs/version-8.1/reference/glossary.md
Labels: component:docs

#1669 feat(connectors): add graphql connector documentation
  docs/components/connectors/img/connectors-graphql-basic.png
  docs/components/connectors/img/connectors-graphql-bearer-token.png
  docs/components/connectors/img/connectors-graphql-http-method-url.png
  docs/components/connectors/img/connectors-graphql-oauth-token.png
  docs/components/connectors/img/connectors-graphql-query.png
  docs/components/connectors/img/connectors-graphql-red-properties.png
  docs/components/connectors/img/connectors-graphql-response-mapping.png
  docs/components/connectors/img/connectors-graphql-timeout.png
  docs/components/connectors/img/connectors-graphql-variables.png
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/graphql.md
  docs/components/connectors/out-of-the-box-connectors/rest.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-basic.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-bearer-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-http-method-url.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-oauth-token.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-query.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-red-properties.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-response-mapping.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-timeout.png
  versioned_docs/version-8.0/components/connectors/img/connectors-graphql-variables.png
  versioned_docs/version-8.0/components/connectors/out-of-the-box-connectors/graphql.md
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-basic.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-bearer-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-http-method-url.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-oauth-token.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-query.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-red-properties.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-response-mapping.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-timeout.png
  versioned_docs/version-8.1/components/connectors/img/connectors-graphql-variables.png
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/graphql.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/rest.md
  versioned_sidebars/version-8.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:connectors

#1690 Zeebe: Document support for default bucket encryption
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
Labels: kind/feature, component:zeebe, target:8.2

#1696 1695 operate include waitperiodbeforearchiving documentation
  docs/self-managed/operate-deployment/data-retention.md
  docs/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.1/self-managed/operate-deployment/data-retention.md
  versioned_docs/version-8.1/self-managed/operate-deployment/importer-and-archiver.md
Labels: component:operate

#1693 feat: update to Camunda Modeler 5.8.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/chooser.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/modal.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/overview.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/element-templates/img/update-template.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/element-configuration.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/elements.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/empty.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/new-diagram.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/properties-panel.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/start-instance-icon.png
  versioned_docs/version-8.1/components/modeler/desktop-modeler/img/start-instance-successful.png
Labels: component:modeler

#1714 oops: update broken link in v8.1 also
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: component:docs, dx

#1711 chore(docs): add notice of no longer being compatible with opensearch
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  optimize_versioned_docs/version-3.8.0/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
Labels: component:optimize

#1719 chore:replace slack link
  docs/components/zeebe/open-source/get-help-get-involved.md
  docs/self-managed/platform-deployment/overview.md
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  docusaurus.config.js
  src/pages/contact.md
  versioned_docs/version-8.0/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.0/self-managed/platform-deployment/platform-8-deployment.md
  versioned_docs/version-8.0/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/components/zeebe/open-source/get-help-get-involved.md
  versioned_docs/version-8.1/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:docs

#1717 feat: darker shade of orange to meet WCAG minimum contrast requirements
  src/css/custom.css
Labels: component:docs, dx

#1728 docs(connector-sdk): updated release version
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.0/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.1/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:docs, component:connectors

#1726 fix: stop failing `move-to-done` when there's no associated board item
  .github/workflows/move-to-done.yaml
Labels: dx

#1725 chore(deps): update docusaurus deps to 2.3.1
  package-lock.json
  package.json
Labels: dx

#1716 eliminate ordered-list indentation issues by rewriting operate API auth section
  docs/apis-clients/operate-api/index.md
  versioned_docs/version-8.1/apis-clients/operate-api/index.md
Labels: component:docs

#1724 Update zeebe backup docs
  docs/self-managed/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/zeebe-backup-and-restore.md
Labels: component:zeebe

#1744 docs(connctors): clarified connector exec retries
  docs/components/connectors/use-connectors.md
  versioned_docs/version-8.0/components/connectors/use-connectors.md
  versioned_docs/version-8.1/components/connectors/use-connectors.md
Labels: component:docs, component:connectors

#1737 docs(optimize): call out that the readiness endpoint does not want an Authorization header
  optimize/apis-clients/optimize-api/health-readiness.md
  optimize_versioned_docs/version-3.8.0/apis-clients/optimize-api/health-readiness.md
  optimize_versioned_docs/version-3.9.0/apis-clients/optimize-api/health-readiness.md
Labels: component:docs
