Repository camunda/camunda-docs, pull requests merged in 2024-06, with the labels that each got.

#3866 processDataCleanupMode -> cleanupMode
  optimize/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/setup/history-cleanup.md
Labels: component:optimize

#3852 Add web modeler note for allowlist
  docs/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.5/components/console/manage-clusters/manage-ip-allowlists.md
Labels: component:docs, component:console

#3789 docs: adding info on task access restrictions and APIs
  docs/components/concepts/access-control/user-task-access-restrictions.md
  docs/self-managed/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.5/components/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.5/self-managed/concepts/access-control/user-task-access-restrictions.md
Labels: component:tasklist

#3831 feat(connectors): correlation result and error handling strategies
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/reference/announcements.md
Labels: component:connectors, 8.6.0-alpha2

#3849 docs(web-modeler): update documentation on process applications
  docs/components/modeler/web-modeler/img/process-applications/deploy-process-application.png
  docs/components/modeler/web-modeler/img/process-applications/file-list.png
  docs/components/modeler/web-modeler/img/process-applications/reassign-main-process.png
  docs/components/modeler/web-modeler/img/process-applications/run-process-application.png
  docs/components/modeler/web-modeler/process-applications.md
Labels: component:web-modeler-SaaS

#3879 docs(zeebe): update zeebe gateway-service docs to include `operationReference` field in the appropriate grpc requests
  docs/apis-tools/zeebe-api/gateway-service.md
Labels: component:zeebe, component:docs, 8.6.0-alpha2

#3881 feat: document `placeholder` attribute on templates properties
  docs/components/modeler/desktop-modeler/element-templates/c7-defining-templates.md
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.4/components/modeler/desktop-modeler/element-templates/c7-defining-templates.md
  versioned_docs/version-8.4/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/element-templates/c7-defining-templates.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:modeler, 8.6.0-alpha2

#3870 Document Desktop Modeler `enable-new-context-pad` flag
  docs/components/modeler/desktop-modeler/flags/flags.md
  docs/components/modeler/desktop-modeler/flags/img/bpmn-only.png
  docs/components/modeler/desktop-modeler/flags/img/display-version.png
  docs/components/modeler/desktop-modeler/flags/img/new-context-pad.png
Labels: component:desktop-modeler, 8.6.0-alpha2

#3865 Document that Optimize alert emails only allow known users
  optimize/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.12.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.13.0/components/userguide/additional-features/alerts.md
Labels: component:optimize

#3874 Add the tech-writers team to the add-to-project workflow
  .github/workflows/add-to-project.yaml
Labels: dx

#3885 Add info admonition for SageMaker
  docs/components/connectors/out-of-the-box-connectors/amazon-sagemaker.md
Labels: component:connectors

#3877 chore(optimize): add missing c7 only note to ES plugin docs
  optimize/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
Labels: component:optimize, component:self-managed

#3707 docs(sql-connector): Add the documentation for the new SQL Connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/sql.md
  sidebars.js
Labels: component:connectors, 8.6.0-alpha2

#3838 docs(web-modeler): document OAUTH2_CLIENT_FETCH_REQUEST_CREDENTIALS
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3750 Adjust Spring Zeebe SDK docs
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/guides/migrating-from-camunda-7/adjusting-source-code.md
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
Labels: component:zeebe, 8.6.0-alpha2

#3757 docs(spring-zeebe-sdk): add missing spring sdk properties
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: kind/bug, component:zeebe

#3887 Web modeler - Remove mentions of Web Modeler being Enterprise only
  docs/reference/licenses.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/database.md
  docs/self-managed/modeler/web-modeler/configuration/identity.md
  docs/self-managed/modeler/web-modeler/configuration/logging.md
  docs/self-managed/modeler/web-modeler/installation.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  docs/self-managed/setup/deploy/other/docker.md
  docs/self-managed/setup/install.md
  docs/self-managed/setup/overview.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3899 Desktop Modeler Flags improvements
  docs/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/flags/flags.md
Labels: component:modeler, component:desktop-modeler

#3902 adjust macos reference
  docs/components/modeler/desktop-modeler/search-paths/search-paths.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/search-paths/search-paths.md
Labels: component:docs

#3904 docs(web-modeler): remove "saas only" limitation for process applications
  docs/components/modeler/web-modeler/process-applications.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3859 feat(connectors): new inbound correlation and activation features
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
  docs/components/connectors/out-of-the-box-connectors/github.md
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  docs/components/connectors/out-of-the-box-connectors/rabbitmq-outbound.md
  docs/components/connectors/out-of-the-box-connectors/slack.md
  docs/components/connectors/out-of-the-box-connectors/twilio.md
  docs/components/connectors/protocol/http-webhook.md
Labels: component:connectors, 8.6.0-alpha2

#3896 console: self-service leave organisation
  docs/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  docs/components/console/manage-organization/img/avatar-menue.png
  docs/components/console/manage-organization/organization-settings.md
  versioned_docs/version-8.5/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  versioned_docs/version-8.5/components/console/manage-organization/img/avatar-menue.png
  versioned_docs/version-8.5/components/console/manage-organization/organization-settings.md
Labels: component:console

#3898 externalSSO: new section about social login no longer working
  docs/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.5/components/console/manage-organization/external-sso.md
Labels: component:console

#3909 update backups ui and screenshots
  docs/components/console/manage-clusters/cluster-backups.md
  docs/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  docs/components/console/manage-clusters/img/cluster-detail-backups.png
  versioned_docs/version-8.4/components/console/manage-clusters/cluster-backups.md
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-backups.png
  versioned_docs/version-8.5/components/console/manage-clusters/cluster-backups.md
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-backups.png
Labels: component:console

#3872 Update user guide for Tasklist
  docs/components/tasklist/img/task-tile-specification.png
  docs/components/tasklist/img/tasklist-page-specifications.png
  docs/components/tasklist/img/tasklist-start-screen_light.png
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/tasklist/userguide/img/task-filters/tasklist-all-tasks.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-applied-filter-tasks.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-default-filters.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-delete-filter-dialog.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-edit-filter-dialog.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-filter-dialog-with-advanced-options.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-save-filter-dialog.jpg
  docs/components/tasklist/userguide/img/task-filters/tasklist-saved-filter-options.jpg
  docs/components/tasklist/userguide/img/tasklist-claim_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-empty_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-list_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me_light.png
  docs/components/tasklist/userguide/img/tasklist-complete-task_light.png
  docs/components/tasklist/userguide/img/tasklist-completing-task_light.png
  docs/components/tasklist/userguide/img/tasklist-notifications.png
  docs/components/tasklist/userguide/img/tasklist-task-completed_light.png
  docs/components/tasklist/userguide/img/tasklist-task-details-form.png
  docs/components/tasklist/userguide/img/tasklist-task-details-process-diagram.png
  docs/components/tasklist/userguide/img/tasklist-task-ordering.png
  docs/components/tasklist/userguide/img/tasklist-with-variables-claimed-by-me_light.png
  docs/components/tasklist/userguide/starting-processes.md
  docs/components/tasklist/userguide/styles.module.css
  docs/components/tasklist/userguide/tasklist-get-started.md
  docs/components/tasklist/userguide/using-filters.md
  docs/components/tasklist/userguide/using-tasklist.md
  optimize_sidebars.js
  sidebars.js
Labels: component:tasklist

#3894 chore(web-modeler): update list of dependencies
  docs/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3858 docs(web-modeler): add collaboration limit
  docs/components/modeler/web-modeler/collaboration.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3913 review and backport 3893
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/kafka.md
Labels: component:connectors

#3873 doc(openshift): rework structure
  docs/reference/supported-environments.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.5/self-managed/setup/deploy/openshift/redhat-openshift.md
Labels: kind/enhancement, component:self-managed, component:infex

#3911 update web modeler api ui
  docs/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.3/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.4/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/authentication.md
Labels: component:web-modeler-SaaS

#3914 add 3913 to next
  docs/components/connectors/out-of-the-box-connectors/kafka.md
Labels: component:connectors

#3907 Add update announcement for SaaS clusters
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:docs, support

#3892 fix: allow accessing Desktop Modeler landing page
  static/.htaccess
Labels: component:desktop-modeler

#3604 no-cloud URL announcement
  docs/reference/announcements.md
Labels: component:docs

#3901 chore(documentation): add info about missing secrets and clients in t…
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
Labels: component:web-modeler-SaaS

#3822 feat(connectors, soap): added SOAP connector doc
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/protocol/soap.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.5/components/connectors/protocol/soap.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:connectors, component:self-managed

#3860 Alpha2 release notes
  docs/reference/release-notes/860.md
Labels: 8.6.0-alpha2

#3925 docs(operate): add child instances to supported elements in instance migration guide
  docs/components/operate/userguide/process-instance-migration.md
  versioned_docs/version-8.5/components/operate/userguide/process-instance-migration.md
Labels: component:operate

#3931 Add links to release notes for 8.6.0-alpha2
  docs/reference/release-notes/860.md
Labels: component:docs

#3912 Adjust Play page for keywords
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.4/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.5/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler, component:web-modeler-SaaS, component:web-modeler-sm

#3920 retro review of 3604
  docs/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:docs

#3936 chore(desktop-modeler): backport improved flags documentation
  docs/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/flags/img/bpmn-only.png
  versioned_docs/version-8.5/components/modeler/desktop-modeler/flags/img/display-version.png
  versioned_docs/version-8.5/components/modeler/desktop-modeler/flags/img/new-context-pad.png
Labels: component:modeler, component:desktop-modeler

#3934 docs(guide): typo in zeebeGateway configuration
  docs/self-managed/setup/guides/multi-namespace-deployment.md
  versioned_docs/version-8.5/self-managed/setup/guides/multi-namespace-deployment.md
Labels: component:self-managed

#3935 update ingress indentation for local k8s yaml file
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/local-kubernetes-cluster.md
Labels: component:self-managed

#3939 Add API Orch guide on Help Center Announcement to Release notes
  docs/reference/release-notes/860.md
Labels: component:docs, 8.6.0-alpha2

#3938 clean up third party links
  docs/apis-tools/java-client/job-worker.md
  docs/components/connectors/custom-built-connectors/update-guide/020-to-030.md
  docs/guides/use-connectors-in-hybrid-mode.md
  docs/self-managed/setup/upgrade.md
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  versioned_docs/version-8.2/guides/update-guide/connectors/020-to-030.md
  versioned_docs/version-8.2/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  versioned_docs/version-8.3/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.3/components/connectors/custom-built-connectors/update-guide/020-to-030.md
  versioned_docs/version-8.3/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  versioned_docs/version-8.4/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.4/components/connectors/custom-built-connectors/update-guide/020-to-030.md
  versioned_docs/version-8.4/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
  versioned_docs/version-8.5/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.5/components/connectors/custom-built-connectors/update-guide/020-to-030.md
  versioned_docs/version-8.5/guides/use-connectors-in-hybrid-mode.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
Labels: kind/bug, component:docs

#3862 Add comprehensive table to release notes page
  docs/reference/release-notes/release-notes.md
  versioned_docs/version-8.5/reference/release-notes/release-notes.md
Labels: component:docs

#3937 version the link to the grafana dashboard config
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/metrics.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/metrics.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/metrics.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/metrics.md
Labels: component:docs, component:self-managed

#3948 docs(aws): add disclaimer about ownership for external-dns
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
Labels: component:self-managed, component:infex

#3897 getting started with spring java guide
  docs/guides/getting-started-java-spring.md
  docs/guides/img/prepare-transaction-example.png
  sidebars.js
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/guides/img/prepare-transaction-example.png
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs, dx

#3963 fix(web-modeler): correct environment variables for webapp certificate
  docs/self-managed/modeler/web-modeler/configuration/ssl.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/configuration/ssl.md
Labels: component:web-modeler-sm

#3968 Fix blog links
  docs/reference/release-notes/release-notes.md
  versioned_docs/version-8.5/reference/release-notes/release-notes.md
Labels: component:docs

#3969 fix(release-notes): fix formatting error in 8.6 release notes
  docs/reference/release-notes/860.md
Labels: component:web-modeler-sm, 8.6.0-alpha2

#3957 docs(connectors): Add info when to use message start events as inboun…
  docs/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.3/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.4/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.5/components/connectors/use-connectors/inbound.md
Labels: component:connectors

#3971 Added link to api docs of gcs
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
Labels: component:zeebe

#3970 docs(guide): typo in scale statefulset commands
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/cluster-scaling.md
Labels: component:self-managed

#3978 Spelling fix in logging.md
  optimize/self-managed/optimize-deployment/configuration/logging.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/logging.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/logging.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/logging.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/logging.md
Labels: component:docs, component:optimize

#3951 docs(next): bump new elasticsearch version
  docs/reference/supported-environments.md
Labels: 8.6.0-alpha3

#3959 add azure to list of zeebe backup store options
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
Labels: component:docs, component:self-managed

#3977 docs (setup SM): add missing backslash
  docs/self-managed/setup/install.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.5/self-managed/setup/install.md
Labels: component:docs, component:self-managed

#3967 document process application milestone versioning
  docs/components/modeler/web-modeler/milestones.md
  docs/components/modeler/web-modeler/process-applications.md
Labels: component:web-modeler-SaaS, 8.6.0-alpha3

#3982 chore: update modeler screenshots
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-1.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-2.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/history-time-to-live/info.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#3981 Fix Optimize Postman link
  optimize/apis-tools/optimize-api/optimize-api-authentication.md
  optimize_versioned_docs/version-3.12.0/apis-tools/optimize-api/optimize-api-authentication.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/optimize-api-authentication.md
Labels: kind/bug, component:docs

#3983 feat: add business knowledge model documentation
  docs/components/modeler/dmn/dmn.md
  versioned_docs/version-8.5/components/modeler/dmn/dmn.md
Labels: component:modeler

#3960 chore(preview-envs): Add preview env workflows to camunda docs repo
  .github/workflows/preview-env-deploy.yml
  .github/workflows/preview-env-teardown.yml
  docusaurus.config.js
Labels: deploy

#3993 docs(web-modeler): update dependencies list
  docs/reference/dependencies.md
Labels: component:modeler, 8.6.0-alpha3

#3984 Doc: Specify the patch version for soft pause feature.
  versioned_docs/version-8.2/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/management-api.md
Labels: component:zeebe

#3889 document the upgrade version flow for self-managed
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:docs, component:self-managed

#3995 Remove minimal feature set note for forms
  docs/guides/utilizing-forms.md
  versioned_docs/version-8.5/guides/utilizing-forms.md
Labels: component:tasklist, component:docs

#3986 Remove statements that C8 does not support instance migration
  docs/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.4/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.5/components/best-practices/operations/versioning-process-definitions.md
Labels: best-practices

#3996 docs(web-modeler): update dependencies list for versioned docs
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:modeler
