Repository camunda/camunda-docs, pull requests merged in 2024-07, with the labels that each got.

#3998 Add AI-powered alpha features management
  docs/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.5/components/console/manage-organization/enable-alpha-features.md
Labels: component:docs, component:console, 8.6.0-alpha3

#3999 docs(self-managed): mention the change of using image.tag
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#3792 docs landing page revamp
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.js
  src/pages/styles.module.css
  static/img/Camunda-self-managed.png
  static/img/confused-person.png
  static/img/customer-success.png
  static/img/education.png
  static/img/handbook.png
  static/img/homegrown-workflow.png
Labels: component:docs, deploy

#3917 feat(saas/console): section about default orgs for external identity providers
  docs/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.5/components/console/manage-organization/external-sso.md
Labels: component:console, 8.6.0-alpha3

#3974 clarify spring boot conventions for config, update spring links
  docs/self-managed/console-deployment/configuration.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  docs/self-managed/zeebe-deployment/configuration/environment-variables.md
  versioned_docs/version-1.3/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-1.3/self-managed/zeebe-deployment/configuration/environment-variables.md
  versioned_docs/version-8.2/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.2/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/environment-variables.md
  versioned_docs/version-8.3/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/environment-variables.md
  versioned_docs/version-8.4/self-managed/console-deployment/configuration.md
  versioned_docs/version-8.4/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.4/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/environment-variables.md
  versioned_docs/version-8.5/self-managed/console-deployment/configuration.md
  versioned_docs/version-8.5/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.5/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/environment-variables.md
Labels: component:docs, component:console, component:self-managed

#3979 8.6.0-alpha3 release notes
  docs/reference/release-notes/860.md
Labels: component:docs, 8.6.0-alpha3

#3988 E2E docs experience getting started guides
  docs/guides/getting-started-java-spring.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/model-your-first-process.md
  docs/guides/react-components/install-docker-compose.md
  docs/guides/react-components/install-plain-java.md
  docs/guides/react-components/saas-prerequisites.md
  docs/guides/react-components/sm-prerequisites.md
  docs/reference/help-center.md
  docs/reference/img/automation-project-guide.png
  docs/reference/img/open-help-center.png
  docusaurus.config.js
  sidebars.js
  src/pages/meta.md
  static/.htaccess
  versioned_docs/version-8.5/reference/help-center.md
  versioned_docs/version-8.5/reference/img/automation-project-guide.png
  versioned_docs/version-8.5/reference/img/open-help-center.png
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs, dx, deploy

#3973 add documentation for new post message in slack feature (thread id)
  docs/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors, 8.6.0-alpha3

#4005 docs: result of filtering is always a list, not a single item
  docs/components/modeler/feel/language-guide/feel-context-expressions.md
  versioned_docs/version-8.2/components/modeler/feel/language-guide/feel-context-expressions.md
  versioned_docs/version-8.3/components/modeler/feel/language-guide/feel-context-expressions.md
  versioned_docs/version-8.4/components/modeler/feel/language-guide/feel-context-expressions.md
  versioned_docs/version-8.5/components/modeler/feel/language-guide/feel-context-expressions.md
Labels: component:modeler

#4008 Instance migration enhancements
  docs/components/operate/userguide/process-instance-migration.md
Labels: component:operate, component:docs, 8.6.0-alpha3

#3991 chore(web-modeler): change all cloud URLs to non-cloud
  docs/apis-tools/web-modeler-api/authentication.md
  docs/apis-tools/web-modeler-api/index.md
  docs/components/connectors/protocol/rest.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/migrating-from-cawemo.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.2/guides/migrating-from-cawemo.md
  versioned_docs/version-8.3/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/migrating-from-cawemo.md
  versioned_docs/version-8.4/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.4/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.4/components/connectors/protocol/rest.md
  versioned_docs/version-8.4/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/guides/migrating-from-cawemo.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.5/components/connectors/protocol/rest.md
  versioned_docs/version-8.5/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/migrating-from-cawemo.md
Labels: component:web-modeler-SaaS

#3574 remove `cloud.` from frontend-hostnames
  docs/components/console/manage-clusters/manage-alerts.md
  docs/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.5/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.5/guides/setup-client-connection-credentials.md
Labels: component:console

#4020 docs: add missing space between the link and the following word "or"
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.3/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.4/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.5/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:connectors

#4034 docs landing page urgent tweaks
  src/css/custom.css
  src/pages/index.js
  static/img/Camunda-self-managed.png
  static/img/confused-person.png
  static/img/customer-success.png
  static/img/education.png
  static/img/handbook.png
  static/img/homegrown-workflow.png
Labels: component:docs

#4033 chore(web-modeler): remove mention of pull secret
  docs/self-managed/setup/install.md
Labels: component:web-modeler-sm

#4027 Update node-js-sdk.md
  docs/apis-tools/node-js-sdk.md
Labels: component:docs

#4040 minor typo adjustment
  docs/components/modeler/web-modeler/milestones.md
Labels: kind/bug

#4045 Update writing-good-workers.md
  docs/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.5/components/best-practices/development/writing-good-workers.md
Labels: best-practices

#4048 docs: add security notice 13
  docs/reference/notices.md
  versioned_docs/version-8.2/reference/notices.md
  versioned_docs/version-8.3/reference/notices.md
  versioned_docs/version-8.4/reference/notices.md
  versioned_docs/version-8.5/reference/notices.md
Labels: kind/bug

#4025 chore(cache): Implement a cache for docusaurus build
  .github/workflows/preview-env-deploy.yml
Labels: deploy

#4002 chore(context-pad): document as non-alpha feature
  docs/components/modeler/web-modeler/advanced-modeling/refactoring-suggestions.md
  docs/components/modeler/web-modeler/context-pad.md
  docs/components/modeler/web-modeler/img/context-pad/append-boundary-event.png
  docs/components/modeler/web-modeler/img/context-pad/append-element.png
  docs/components/modeler/web-modeler/img/context-pad/comments.png
  docs/components/modeler/web-modeler/img/context-pad/linking.png
  docs/components/modeler/web-modeler/img/context-pad/overview.png
  docs/components/modeler/web-modeler/img/new-context-pad/append-boundary-event.png
  docs/components/modeler/web-modeler/img/new-context-pad/append-element.png
  docs/components/modeler/web-modeler/img/new-context-pad/comments.png
  docs/components/modeler/web-modeler/img/new-context-pad/feedback.png
  docs/components/modeler/web-modeler/img/new-context-pad/linking.png
  docs/components/modeler/web-modeler/img/new-context-pad/overview.png
  docs/components/modeler/web-modeler/new-context-pad.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.5/components/modeler/web-modeler/advanced-modeling/refactoring-suggestions.md
  versioned_docs/version-8.5/components/modeler/web-modeler/context-pad.md
  versioned_docs/version-8.5/components/modeler/web-modeler/img/context-pad/append-boundary-event.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/context-pad/append-element.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/context-pad/comments.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/context-pad/linking.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/context-pad/overview.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/append-boundary-event.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/append-element.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/comments.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/feedback.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/linking.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/new-context-pad/overview.png
  versioned_docs/version-8.5/components/modeler/web-modeler/new-context-pad.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:modeler

#4037 Update user-task-analytics.md
  optimize/components/userguide/process-analysis/user-task-analytics.md
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/user-task-analytics.md
Labels: component:optimize

#3975 add note to optimize docs to use prefix when setting env vars
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize, component:self-managed

#4039 feat(zeebe): document new flow control configuration
  docs/self-managed/zeebe-deployment/configuration/broker.md
Labels: kind/feature, component:zeebe, target:8.6, 8.6.0-alpha4

#3997 docs(self-managed): update OpenShift routes instructions
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.5/self-managed/setup/deploy/openshift/redhat-openshift.md
Labels: component:self-managed

#4056 docs: describe preview sites
  howtos/documentation-guidelines.md
Labels: component:docs

#4042 docs: clarify supported environment for spring-zeebe sdk
  docs/reference/supported-environments.md
  versioned_docs/version-8.5/reference/supported-environments.md
Labels: component:docs

#4031 Add ES exporter to application.yaml
  docs/guides/react-components/install-plain-java.md
Labels: component:docs, e2e

#3837 implement pushfeedback
  package-lock.json
  package.json
  src/theme/DocItem/Footer/index.css
  src/theme/DocItem/Footer/index.js
Labels: component:docs, dx, deploy

#4060 chore(preview-envs): Look into improving commenting of preview enviro…
  .github/workflows/preview-env-deploy.yml
  .github/workflows/preview-env-teardown.yml
Labels: deploy

#4062 Remove archived node clients
  docs/apis-tools/community-clients/index.md
  versioned_docs/version-8.5/apis-tools/community-clients/index.md
Labels: component:docs

#4035 doc(marketplace): Rename mentions of "process blueprints" to "blueprints"
  docs/components/modeler/web-modeler/camunda-marketplace.md
  docs/components/modeler/web-modeler/img/browse-blueprints-ctas.png
  docs/components/modeler/web-modeler/img/browse-process-blueprints-ctas.png
  docs/components/modeler/web-modeler/img/marketplace-modal-blueprints.png
Labels: component:modeler, 8.6.0-alpha4

#4077 Add Ingress to glossary
  docs/reference/glossary.md
  versioned_docs/version-8.2/reference/glossary.md
  versioned_docs/version-8.3/reference/glossary.md
  versioned_docs/version-8.4/reference/glossary.md
  versioned_docs/version-8.5/reference/glossary.md
Labels: component:docs

#4067 docs: update spring Zeebe guide
  docs/guides/getting-started-java-spring.md
  docs/guides/react-components/install-plain-java.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
Labels: component:docs

#4064 clarify possible instances of zeebe rollback
  docs/self-managed/zeebe-deployment/operations/update-zeebe.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/update-zeebe.md
Labels: component:zeebe, component:self-managed

#3798 docs(self-managed): console byo oidc
  docs/self-managed/console-deployment/configuration.md
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:console, target:8.6, 8.6.0-alpha4

#3799 docs(api): add console sm admin api
  api/console-sm/console-sm-openapi.yaml
  api/console-sm/generation-strategy.js
  api/generate-api-docs.js
  docs/apis-tools/console-sm-api/console-sm-api-authentication.md
  docs/apis-tools/console-sm-api/console-sm-api-overview.md
  docs/apis-tools/console-sm-api/sidebar-schema.js
  docs/apis-tools/console-sm-api/specifications/console-sm-admin-api.info.mdx
  docs/apis-tools/console-sm-api/specifications/get-clusters.api.mdx
  docs/apis-tools/console-sm-api/specifications/get-usage-metrics.api.mdx
  docs/apis-tools/console-sm-api/specifications/sidebar.js
  docusaurus.config.js
  package.json
  sidebars.js
Labels: component:console, target:8.6, 8.6.0-alpha4

#3802 feat(console-sm): add envvar to disable auth
  docs/self-managed/console-deployment/configuration.md
Labels: target:8.6, 8.6.0-alpha4

#4089 hide email from pushfeedback
  src/theme/DocItem/Footer/index.js
Labels: kind/bug, deploy

#4076 Update community clients page
  docs/apis-tools/community-clients/index.md
  versioned_docs/version-8.5/apis-tools/community-clients/index.md
Labels: component:docs
