Repository camunda/camunda-docs, pull requests merged in 2024-12, with the labels that each got.

#4606 docs: clarify installation steps for local kubernetes cluster
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/local-kubernetes-cluster.md
Labels: component:self-managed

#4667 chore: update node to v22
  .github/workflows/build-docs.yaml
  .github/workflows/check-format.yaml
  .github/workflows/preview-env-deploy.yml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  .nvmrc
  Dockerfile.build
Labels: kind/cleanup, dx, theme:hygiene, deploy

#4632 docs(webhook-connector): Add Webhook connector Document Handling support documentation
  docs/components/connectors/protocol/http-webhook.md
Labels: component:connectors, 8.7.0-alpha2

#4702 remove duplicate call activity content
  docs/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.3/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.4/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.5/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.6/components/modeler/bpmn/call-activities/call-activities.md
Labels: component:modeler

#4688 docs(web-modeler): adapt documentation to accomodate change in authorization for deploy/run/play
  docs/components/modeler/web-modeler/deploy-process-application.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:web-modeler-sm

#4716 docs(priority-election): fix the property key
  docs/self-managed/zeebe-deployment/configuration/priority-election.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/priority-election.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/priority-election.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/priority-election.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/priority-election.md
Labels: component:zeebe, component:self-managed

#4657 Merge clients sdks
  docs/apis-tools/community-clients/c-sharp.md
  docs/apis-tools/community-clients/index.md
  docs/apis-tools/community-clients/micronaut.md
  docs/apis-tools/community-clients/python.md
  docs/apis-tools/community-clients/quarkus.md
  docs/apis-tools/community-clients/ruby.md
  docs/apis-tools/community-clients/rust.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_sidebars/version-8.5-sidebars.json
  versioned_sidebars/version-8.6-sidebars.json
Labels: component:docs, theme:api-streamline, deploy

#4573 migration support for zeebe user tasks
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
  docs/apis-tools/frontend-development/01-task-applications/03-task-application-architecture.md
  docs/apis-tools/migration-manuals/migrate-to-zeebe-user-tasks.md
  docs/apis-tools/tasklist-api-rest/assets/img/api-architecture.png
  docs/apis-tools/tasklist-api-rest/sidebar-schema.js
  docs/apis-tools/tasklist-api-rest/specifications/assign-task.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/complete-task.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/get-task-by-id.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/search-tasks.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/unassign-task.api.mdx
  docs/apis-tools/zeebe-api-rest/tutorial.md
  docs/components/concepts/process-instance-migration.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/web-modeler/advanced-modeling/form-linking.md
  docs/reference/release-notes/850.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.14.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/frontend-development/01-task-applications/03-task-application-architecture.md
  versioned_docs/version-8.6/apis-tools/migration-manuals/migrate-to-zeebe-user-tasks.md
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/sidebar-schema.js
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/zeebe-api-rest/tutorial.md
  versioned_docs/version-8.6/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.6/components/modeler/web-modeler/advanced-modeling/form-linking.md
  versioned_docs/version-8.6/reference/release-notes/850.md
  versioned_sidebars/version-8.6-sidebars.json
Labels: component:docs, theme:api-streamline, deploy

#4713 feat(feel): Add new built-in function
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-list.md
Labels: component:docs, target:8.7

#4728 Remove compensation event note
  docs/components/concepts/workflow-patterns.md
  versioned_docs/version-8.5/components/concepts/workflow-patterns.md
  versioned_docs/version-8.6/components/concepts/workflow-patterns.md
Labels: kind/bug, component:docs

#4724 Adjust Java client bootstrapping example
  docs/apis-tools/java-client/index.md
  versioned_docs/version-8.6/apis-tools/java-client/index.md
Labels: component:zeebe, component:docs

#4155 Update bpmn-coverage.md
  docs/components/modeler/bpmn/bpmn-coverage.md
Labels: component:modeler

#4676 add gemini documentation
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/google-gemini.md
  optimize_sidebars.js
  sidebars.js
Labels: component:connectors, 8.7.0-alpha2

#4666 8.7.0-alpha2 release notes
  docs/reference/release-notes/870.md
  src/css/custom.css
Labels: component:docs, deploy, 8.7.0-alpha2

#4583 docs(web-modeler): introduce gitlab sync
  docs/components/modeler/web-modeler/git-sync.md
  versioned_docs/version-8.6/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, deploy, 8.7.0-alpha3

#4743 Bump Connectors to alpha2.1 in release notes
  docs/reference/release-notes/870.md
Labels: component:connectors, 8.7.0-alpha2

#4744 docs(web-modeler): add specific role requirements for gitlab sync acc…
  docs/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm

#4749 DO NOT MERGE Bug notification for Operate login issue in alpha-2
  docs/reference/release-notes/870.md
Labels: kind/bug, component:docs, deploy, 8.7.0-alpha2

#4736 Update operate-openapi.yaml
  api/operate/operate-openapi.yaml
  docs/apis-tools/operate-api/specifications/by-id.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-1.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-2.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-3.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-4.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-5.api.mdx
  docs/apis-tools/operate-api/specifications/by-key-6.api.mdx
  docs/apis-tools/operate-api/specifications/by-key.api.mdx
  docs/apis-tools/operate-api/specifications/delete.api.mdx
  docs/apis-tools/operate-api/specifications/get-statistics.api.mdx
  docs/apis-tools/operate-api/specifications/search-1.api.mdx
  docs/apis-tools/operate-api/specifications/search-2.api.mdx
  docs/apis-tools/operate-api/specifications/search-3.api.mdx
  docs/apis-tools/operate-api/specifications/search-4.api.mdx
  docs/apis-tools/operate-api/specifications/search-5.api.mdx
  docs/apis-tools/operate-api/specifications/search-6.api.mdx
  docs/apis-tools/operate-api/specifications/search-7.api.mdx
  docs/apis-tools/operate-api/specifications/search.api.mdx
  docs/apis-tools/operate-api/specifications/sequence-flows-by-key.api.mdx
  docs/apis-tools/operate-api/specifications/xml-by-key-1.api.mdx
  docs/apis-tools/operate-api/specifications/xml-by-key.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-id.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-1.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-2.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-3.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-4.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-5.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key-6.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/by-key.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/delete.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/get-statistics.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-1.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-2.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-3.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-4.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-5.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-6.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search-7.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/search.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/sequence-flows-by-key.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/xml-by-key-1.api.mdx
  versioned_docs/version-8.6/apis-tools/operate-api/specifications/xml-by-key.api.mdx
Labels: deploy

#4750 chore: remove OpenSearch warnings
  docs/self-managed/operational-guides/backup-restore/optimize-backup.md
  optimize/self-managed/optimize-deployment/advanced-features/import-guide.md
  optimize/self-managed/optimize-deployment/configuration/shared-elasticsearch-cluster.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/install-and-start.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/advanced-features/import-guide.md
Labels: deploy, 8.7.0-alpha3

#4753 task(c8run)-update-guides-after-8.6.6-and-alpha2-release
  docs/guides/react-components/_install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, 8.7.0-alpha2

#4747 More explicit description how to apply the DNS changes
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
Labels: component:docs, component:self-managed

#4679 Announcements for 8.7 release
  docs/reference/announcements.md
  docs/reference/announcements/850.md
  docs/reference/announcements/860.md
  docs/reference/announcements/870.md
  docs/reference/img/doc-icon.png
  docs/reference/img/harmonized-indices-schema.png
  docs/reference/img/target-camunda-exporter.png
  sidebars.js
  src/css/custom.css
Labels: kind/enhancement, component:docs, deploy, 8.7.0-alpha2

#4730 Docs new features email
  docs/components/connectors/out-of-the-box-connectors/email.md
Labels: component:connectors, 8.7.0-alpha2

#4757 Update 8.7 Announcements
  docs/reference/announcements/870.md
Labels: component:docs, target:8.7

#4758 chore(web-modeler): rename "latest version" to "draft"
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-icon-highlight.png
  docs/components/modeler/web-modeler/milestones.md
  versioned_docs/version-8.6/components/modeler/web-modeler/milestones.md
Labels: component:web-modeler-SaaS

#4752 note ttl
  docs/components/concepts/messages.md
  versioned_docs/version-8.3/components/concepts/messages.md
  versioned_docs/version-8.4/components/concepts/messages.md
  versioned_docs/version-8.5/components/concepts/messages.md
  versioned_docs/version-8.6/components/concepts/messages.md
Labels: component:docs

#4648 Add orchestration cluster glossary terms
  docs/reference/glossary.md
Labels: target:8.7

#4393 feat(8.5): spring sdk oauth scope config
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: component:zeebe

#4763 reword enterprise usage and licensing links
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/install.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.6/self-managed/setup/install.md
Labels: component:docs, component:self-managed

#4771 feat(feel): Add new built-in function `is blank()`
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-string.md
Labels: target:8.7

#4748 docs(web-modeler): correct gitlab path path-creation statement
  docs/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#4721 Cluster deployment to AWS region
  docs/reference/regions.md
Labels: kind/feature, component:docs, component:console

#4769 Add deploy diagram breaking change
  docs/reference/announcements/870.md
  docs/reference/img/deploy-diagram-modal.png
Labels: component:docs, target:8.7

#4764 Add note that Spring support is unavailable in 8.6+
  docs/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.6/components/best-practices/development/testing-process-definitions.md
Labels: component:docs, support

#4317 feat(self-managed/console): describe tls config
  docs/self-managed/console-deployment/configuration/configuration.md
  docs/self-managed/console-deployment/configuration/ssl.md
  docs/self-managed/console-deployment/telemetry.md
  docs/self-managed/operational-guides/application-configs.md
  sidebars.js
  versioned_docs/version-8.5/self-managed/operational-guides/application-configs.md
Labels: component:console, component:self-managed, target:8.7, deploy

#4584 Update the SM desktop modeler instructions
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.3/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.4/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.5/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.6/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
Labels: component:self-managed, component:desktop-modeler, deploy

#4693 add helm variant of keycloak instructions, fix link
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.4/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.5/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.6/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
Labels: component:self-managed, deploy

#4781 fix(docusaurus 3): update docs to be mdx v3 compliant
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/best-practices/development/routing-events-to-processes-c7.md
  docs/components/best-practices/modeling/choosing-the-resource-binding-type.md
  docs/components/concepts/process-instance-creation.md
  docs/components/connectors/out-of-the-box-connectors/email.md
  docs/components/early-access/alpha/sap/odata-connector.md
  docs/components/early-access/experimental/rpa/camunda-rpa-framework-library.md
  docs/components/modeler/desktop-modeler/telemetry/telemetry.md
  docs/reference/notices.md
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  howtos/technical-writing-cheatsheet.md
  howtos/technical-writing-styleguide.md
  optimize/apis-tools/optimize-api/event-ingestion.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.11.0/apis-tools/optimize-api/external-variable-ingestion.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.3/components/concepts/process-instance-creation.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/telemetry/telemetry.md
  versioned_docs/version-8.3/reference/notices.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.4/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.4/components/concepts/process-instance-creation.md
  versioned_docs/version-8.4/components/modeler/desktop-modeler/telemetry/telemetry.md
  versioned_docs/version-8.4/reference/notices.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.5/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.5/components/concepts/process-instance-creation.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/telemetry/telemetry.md
  versioned_docs/version-8.5/reference/notices.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/840-to-850.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.6/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.6/components/best-practices/modeling/choosing-the-resource-binding-type.md
  versioned_docs/version-8.6/components/concepts/process-instance-creation.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/email.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/telemetry/telemetry.md
  versioned_docs/version-8.6/reference/notices.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/840-to-850.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs, dx, theme:hygiene

#4650 Remove Zeebe REST API
  api/generate-api-docs.js
  api/zeebe/generation-strategy.js
  api/zeebe/zeebe-openapi.yaml
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/apis-tools/zeebe-api-rest/sidebar-schema.js
  docs/apis-tools/zeebe-api-rest/specifications/assign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/complete-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/get-cluster-topology.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/sidebar.js
  docs/apis-tools/zeebe-api-rest/specifications/unassign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/update-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/zeebe-rest-api.info.mdx
  docs/apis-tools/zeebe-api-rest/tutorial.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  docs/components/console/manage-clusters/manage-api-clients.md
  docs/components/zeebe/technical-concepts/architecture.md
  docs/guides/setup-client-connection-credentials.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  docusaurus.config.js
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.5/apis-tools/community-clients/spring.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
Labels: target:8.7

#4783 clarify when automatic fetch occurs
  docs/components/modeler/desktop-modeler/use-connectors.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/use-connectors.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/use-connectors.md
Labels: component:modeler, component:connectors

#4775 Clarify SM Web Modeler cluster config requirement
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:web-modeler-sm

#4788 fix: use real, actual javascript in api generators
  api/generate-api-docs.js
Labels: kind/bug, dx

#4784 add nodejs sdk to overview page
  docs/apis-tools/node-js-sdk.md
  docs/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.5/apis-tools/node-js-sdk.md
  versioned_docs/version-8.5/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.6/apis-tools/node-js-sdk.md
  versioned_docs/version-8.6/apis-tools/working-with-apis-tools.md
Labels: component:docs, deploy

#4793 chore: finalize rename of console sm api to administration sm api
  api/administration-sm/administration-sm-openapi.yaml
  api/administration-sm/generation-strategy.js
  api/generate-api-docs.js
  docs/apis-tools/administration-sm-api/administration-sm-api-overview.md
  docs/apis-tools/administration-sm-api/specifications/administration-api-self-managed.info.mdx
  docs/apis-tools/administration-sm-api/specifications/get-clusters.api.mdx
  docs/apis-tools/administration-sm-api/specifications/get-usage-metrics.api.mdx
  docs/apis-tools/administration-sm-api/specifications/sidebar.js
  docusaurus.config.js
  package.json
  static/.htaccess
Labels: component:docs, dx, theme:hygiene

#4585 ec2 architecture and guide
  docs/self-managed/reference-architecture/img/management-cluster.jpg
  docs/self-managed/reference-architecture/img/orchestration-cluster.jpg
  docs/self-managed/reference-architecture/manual/img/manual-ha.jpg
  docs/self-managed/reference-architecture/manual/img/manual-single.jpg
  docs/self-managed/reference-architecture/manual/manual.md
  docs/self-managed/reference-architecture/reference-architecture.md
  docs/self-managed/setup/deploy/amazon/assets/aws-ec2-arch.jpg
  docs/self-managed/setup/deploy/amazon/assets/aws-ec2-arch.pdf
  docs/self-managed/setup/deploy/amazon/aws-ec2.md
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed, component:infex, target:8.7, deploy

#4804 User Task Listeners update guide changes
  docs/self-managed/operational-guides/update-guide/860-to-870.md
Labels: 8.7.0-alpha3

#4700 docs(console-sm): description how to configure proxy
  docs/self-managed/console-deployment/configuration/configuration.md
  versioned_docs/version-8.6/self-managed/console-deployment/configuration.md
Labels: component:console

#4806 fix: set info user task assignee for saas and sm
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.4/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.5/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.6/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: kind/bug, component:web-modeler-SaaS, component:web-modeler-sm

#4812 backport bpmn coverage changes
  versioned_docs/version-8.3/components/modeler/bpmn/bpmn-coverage.md
  versioned_docs/version-8.4/components/modeler/bpmn/bpmn-coverage.md
  versioned_docs/version-8.5/components/modeler/bpmn/bpmn-coverage.md
  versioned_docs/version-8.6/components/modeler/bpmn/bpmn-coverage.md
Labels: component:modeler
