Repository camunda/camunda-docs, pull requests merged in 2024-02, with the labels that each got.

#3220 docs: add information about prod clusters deployment and roles
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:docs, component:console, component:web-modeler-SaaS

#3273 docs( feel-built-in-functions-conversion): Fix invalid date time syntax
  docs/components/modeler/feel/builtin-functions/feel-built-in-functions-conversion.md
Labels: component:modeler

#3217 Avoid duplication of exporter examples
  docs/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/broker.md
Labels: component:zeebe, component:self-managed

#3236 Include rewind feature in play docs
  docs/components/modeler/web-modeler/img/play-rewind.png
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.4/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.4/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler, component:web-modeler-SaaS

#3282 Backport follow up on #3273
  versioned_docs/version-1.3/reference/feel/builtin-functions/feel-built-in-functions-conversion.md
  versioned_docs/version-8.1/components/modeler/feel/builtin-functions/feel-built-in-functions-conversion.md
  versioned_docs/version-8.2/components/modeler/feel/builtin-functions/feel-built-in-functions-conversion.md
  versioned_docs/version-8.3/components/modeler/feel/builtin-functions/feel-built-in-functions-conversion.md
  versioned_docs/version-8.4/components/modeler/feel/builtin-functions/feel-built-in-functions-conversion.md
Labels: component:modeler

#3284 fix: use fully-supported CSS for internal link icon
  src/css/custom.css
Labels: kind/bug, dx

#3198 Add cluster update page
  docs/components/console/manage-clusters/update-cluster.md
  sidebars.js
  versioned_docs/version-8.3/components/console/manage-clusters/update-cluster.md
  versioned_docs/version-8.4/components/console/manage-clusters/update-cluster.md
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs, component:console

#3134 docs(frontend): Add forms section
  docs/apis-tools/frontend-development/01-introduction-to-task-applications.md
  docs/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/01-concepts.md
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/02-embed-in-javascript.md
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/_category_.yml
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/img/forms-playground.png
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/policyReviewForm.js
  docs/apis-tools/frontend-development/03-forms/02-embed-forms/simpleForm.js
  docs/apis-tools/frontend-development/03-forms/03-customize-and-extend/01-styling.md
  docs/apis-tools/frontend-development/03-forms/03-customize-and-extend/02-custom-components.md
  docs/apis-tools/frontend-development/03-forms/03-customize-and-extend/03-integrate-api-data.md
  docs/apis-tools/frontend-development/03-forms/03-customize-and-extend/_category_.yml
  docs/apis-tools/frontend-development/03-forms/03-customize-and-extend/exampleForm.js
  docs/apis-tools/frontend-development/03-forms/_category_.yml
  docs/apis-tools/frontend-development/03-forms/img/form-editor.png
  docs/apis-tools/working-with-apis-tools.md
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  package-lock.json
  package.json
  src/css/formViewer.css
  src/mdx/FormViewer.jsx
  src/mdx/GitHubInlineIcon.js
Labels: kind/enhancement, component:tasklist, component:docs

#3254 3080 modeler to console
  docs/guides/assets/react-components/create-cluster.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/improve-processes-with-optimize.md
  docs/guides/model-your-first-process.md
  docs/guides/utilizing-forms.md
  src/pages/contact.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.2/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.2/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.2/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.2/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.2/guides/model-your-first-process.md
  versioned_docs/version-8.2/guides/utilizing-forms.md
  versioned_docs/version-8.3/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.3/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.3/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.3/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.3/guides/model-your-first-process.md
  versioned_docs/version-8.3/guides/utilizing-forms.md
  versioned_docs/version-8.4/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.4/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.4/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.4/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.4/guides/model-your-first-process.md
  versioned_docs/version-8.4/guides/utilizing-forms.md
Labels: component:docs

#3279 Add warning for NFS + Zeebe
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:zeebe

#3288 chore: update dependency licences
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
Labels: component:operate, 8.5.0-alpha1

#3211 console: rename IP whitelist to IP allowlist
  docs/apis-tools/console-api/authentication.md
  docs/apis-tools/console-api/console-api-reference.md
  docs/components/console/introduction-to-console.md
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-detail-alerts.png
  docs/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-clusters/manage-ip-whitelists.md
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/trial-usage-history.png
  docs/components/console/manage-plan/img/checkout.png
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  versioned_docs/version-8.2/apis-tools/console-api-reference.md
  versioned_docs/version-8.2/components/console/introduction-to-console.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-ip-whitelists.md
  versioned_docs/version-8.3/apis-tools/console-api-reference.md
  versioned_docs/version-8.3/components/console/introduction-to-console.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-ip-whitelists.md
  versioned_docs/version-8.4/apis-tools/console-api/authentication.md
  versioned_docs/version-8.4/apis-tools/console-api/console-api-reference.md
  versioned_docs/version-8.4/components/console/introduction-to-console.md
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-alerts.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-secrets.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.4/components/console/manage-clusters/manage-ip-whitelists.md
  versioned_docs/version-8.4/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.4/components/console/manage-organization/img/trial-usage-history.png
  versioned_docs/version-8.4/components/console/manage-plan/img/checkout.png
Labels: component:console

#3287 Backport 3239 - Guides groupings for sidebar
  versioned_docs/version-8.2/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.3/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.4/guides/automating-a-process-using-bpmn.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs

#3293 Add signal events to Best Practices tables
  docs/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.4/components/best-practices/development/routing-events-to-processes.md
Labels: component:docs, best-practices, target:8.4

#3304 docs(web-modeler): update dependencies for 8.2.11
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler

#3302 docs(web-modeler): update dependencies for 8.4.2
  versioned_docs/version-8.4/reference/dependencies.md
Labels: component:modeler

#3303 docs(web-modeler): update dependencies for 8.3.4
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:modeler

#3298 Remove unsupported versions from Announcements page
  docs/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: component:docs

#3300 feat: Add form-js to support matrix
  docs/reference/supported-environments.md
  versioned_docs/version-8.1/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
Labels: component:docs

#3307 fix footer link to modeler
  docusaurus.config.js
Labels: component:docs

#3305 docs(web-modeler): update dependencies for 8.5.0-alpha1
  docs/reference/dependencies.md
Labels: 8.5.0-alpha1, component:web-modeler-sm

#3299 feat(desktop-modeler): update screenshots to v5.20.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-1.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-2.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler, 8.5.0-alpha1

#3196 docs(web-modeler): document relationship between subject claim and Web Modeler resources
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  docs/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  docs/self-managed/operational-guides/update-guide/keycloak/keycloak-update.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.2/guides/update-guide/keycloak/keycloak-update.md
  versioned_docs/version-8.2/self-managed/backup-restore/modeler-backup-and-restore.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/keycloak/keycloak-update.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/keycloak/keycloak-update.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:web-modeler-sm

#3171 fix(broker): add multitenancy configuration
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:docs, component:self-managed

#3245 feat: Document linkable start forms with auth
  docs/components/tasklist/userguide/img/tasklist-processes-share-button.png
  docs/components/tasklist/userguide/img/tasklist-processes-start-with-form.png
  docs/components/tasklist/userguide/starting-processes.md
Labels: 8.5.0-alpha1

#3222 Document new Zeebe broker health checks
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/zeebe-deployment/operations/health.md
  sidebars.js
Labels: component:zeebe, 8.5.0-alpha1

#3265 docs(optimize): Add documentation for http2 flag
  optimize/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize, 8.5.0-alpha1

#3270 docs(ootbc): add FIFO support docs to sns connector
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/amazon-sns.md
Labels: component:connectors, 8.5.0-alpha1

#3238 docs(tasklist): describe the auto-select option
  docs/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist, component:docs, 8.5.0-alpha1

#3253 feat(backup): document the "dual-regions backups" feature for C8 SaaS
  docs/components/concepts/backups.md
  docs/reference/regions.md
Labels: component:docs, 8.5.0-alpha1

#3215 docs(identity): add keycloak 23 and remove keycloak 21 from identity …
  docs/reference/supported-environments.md
  docs/self-managed/identity/getting-started/install-identity.md
  docs/self-managed/identity/troubleshooting/troubleshoot-identity.md
  docs/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
Labels: component:identity, target:8.5

#3309 docs(web-modeler): document file download and export options
  docs/components/modeler/web-modeler/file-download.md
  docs/components/modeler/web-modeler/img/download/download-bpmn.png
  docs/components/modeler/web-modeler/img/download/download-connector-template.png
  docs/components/modeler/web-modeler/img/download/download-dmn.png
  docs/components/modeler/web-modeler/img/download/download-form.png
  docs/components/modeler/web-modeler/img/download/multi-file-download.png
  docs/components/modeler/web-modeler/img/download/single-file-download.png
  optimize_sidebars.js
  sidebars.js
Labels: component:web-modeler-SaaS, component:web-modeler-sm

#3313 fix: add html form component to sidebar schema
  docs/components/modeler/forms/sidebar-schema.js
Labels: component:modeler

#3311 Support process instance migration with active user tasks
  docs/apis-tools/zeebe-api/gateway-service.md
  docs/components/concepts/process-instance-migration.md
Labels: component:zeebe, component:docs, 8.5.0-alpha1

#3312 style(formatting): retro review 3147
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.3/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.4/self-managed/platform-deployment/troubleshooting.md
Labels: component:docs, component:self-managed

#3316 bing bugs
  docs/apis-tools/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.3/apis-tools/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.4/apis-tools/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
Labels: component:docs

#3317 backport resolve incident fixme
  versioned_docs/version-8.1/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.2/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.3/components/operate/userguide/resolve-incidents-update-variables.md
Labels: component:operate

#3248 Clarify development clusters for Starter vs Enterprise
  docs/components/concepts/clusters.md
  versioned_docs/version-8.4/components/concepts/clusters.md
Labels: component:console

#3323 replace enterprise link
  docs/reference/status.md
  src/pages/contact.md
  versioned_docs/version-8.1/reference/status.md
  versioned_docs/version-8.2/reference/status.md
  versioned_docs/version-8.3/reference/status.md
  versioned_docs/version-8.4/reference/status.md
Labels: kind/bug

#3322 Update Camunda 8.4 Announcement For Form Linking Bug
  docs/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: kind/bug, component:zeebe

#3326 Adding cost statement to Dual region Backups
  docs/components/concepts/backups.md
Labels: component:docs

#3286 Document limitations of startinstructions
  docs/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.1/apis-tools/grpc.md
  versioned_docs/version-8.2/apis-tools/grpc.md
  versioned_docs/version-8.3/apis-tools/grpc.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/gateway-service.md
Labels: component:zeebe

#3328 Revised Camunda 8.4 Announcement For Form Linking Bug
  docs/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: component:docs

#3331 fix: linked form known issue - recovery tutorial
  docs/components/modeler/web-modeler/advanced-modeling/form-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/img/linked_issue01.png
  docs/components/modeler/web-modeler/advanced-modeling/img/linked_issue02.png
  docs/components/modeler/web-modeler/advanced-modeling/img/linked_issue03.png
  docs/components/modeler/web-modeler/advanced-modeling/img/linked_issue04.png
  docs/reference/announcements.md
  versioned_docs/version-8.4/components/modeler/web-modeler/advanced-modeling/form-linking.md
  versioned_docs/version-8.4/components/modeler/web-modeler/advanced-modeling/img/linked_issue01.png
  versioned_docs/version-8.4/components/modeler/web-modeler/advanced-modeling/img/linked_issue02.png
  versioned_docs/version-8.4/components/modeler/web-modeler/advanced-modeling/img/linked_issue03.png
  versioned_docs/version-8.4/components/modeler/web-modeler/advanced-modeling/img/linked_issue04.png
  versioned_docs/version-8.4/reference/announcements.md
Labels: component:zeebe, component:web-modeler-SaaS, target: 8.4.3

#3285 Add zeebe tokenScope w/ postfix to MSFT Entra doc
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:identity, component:self-managed

#3334 Backport Component grouping in SM
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:self-managed

#3314 docs(ootbc): deprecate power Automate Connector
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/power-automate.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/power-automate.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs

#3318 feat(connectors): OIDC support
  docs/guides/host-custom-connector.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/guides/host-custom-connector.md
  versioned_docs/version-8.4/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:self-managed

#3337 announcement: camunda/zeebe#16406 announcement
  docs/reference/announcements.md
  versioned_docs/version-8.1/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: kind/bug, component:zeebe

#3320 docs(web-modeler): update supported envs for pg-16
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
Labels: component:web-modeler-sm

#3345 docs(web-modeler): add Web Modeler 8.5.0 to app version matrix
  docs/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm

#3342 replace process instance modification images
  docs/components/concepts/assets/process-instance-modification/process-instance-modification-example-1.png
  docs/components/concepts/assets/process-instance-modification/process-instance-modification-example-2.png
  docs/components/concepts/assets/process-instance-modification/process-instance-modification-example-3.png
  versioned_docs/version-8.4/components/concepts/assets/process-instance-modification/process-instance-modification-example-1.png
  versioned_docs/version-8.4/components/concepts/assets/process-instance-modification/process-instance-modification-example-2.png
  versioned_docs/version-8.4/components/concepts/assets/process-instance-modification/process-instance-modification-example-3.png
Labels: component:operate

#3349 fix(web-modeler): remove mention of 8.4 features
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: kind/bug, component:web-modeler-sm

#3336 Improvement: Guide for installing Zeebe exporters
  docs/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/install-zeebe-exporters.md
Labels: component:self-managed

#3137 add overviews to bpmn elements
  docs/components/modeler/bpmn/events.md
  docs/components/modeler/bpmn/gateways.md
  docs/components/modeler/bpmn/markers.md
  docs/components/modeler/bpmn/subprocesses.md
  docs/components/modeler/bpmn/tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/events.md
  versioned_docs/version-8.2/components/modeler/bpmn/gateways.md
  versioned_docs/version-8.2/components/modeler/bpmn/markers.md
  versioned_docs/version-8.2/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.2/components/modeler/bpmn/tasks.md
  versioned_docs/version-8.3/components/modeler/bpmn/events.md
  versioned_docs/version-8.3/components/modeler/bpmn/gateways.md
  versioned_docs/version-8.3/components/modeler/bpmn/markers.md
  versioned_docs/version-8.3/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.3/components/modeler/bpmn/tasks.md
  versioned_docs/version-8.4/components/modeler/bpmn/events.md
  versioned_docs/version-8.4/components/modeler/bpmn/gateways.md
  versioned_docs/version-8.4/components/modeler/bpmn/markers.md
  versioned_docs/version-8.4/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.4/components/modeler/bpmn/tasks.md
Labels: component:modeler

#3347 Add warning for disabling MT
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.3/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.4/self-managed/operational-guides/configure-multi-tenancy.md
Labels: component:self-managed

#3350 docs(task application): Remove strange backslash
  versioned_docs/version-8.4/apis-tools/frontend-development/introduction-to-task-applications.md
Labels: kind/bug

#3346 Remove operate feedback page and redirect
  docs/components/operate/userguide/operate-feedback-and-questions.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/operate/userguide/operate-feedback-and-questions.md
  versioned_docs/version-8.2/components/operate/userguide/operate-feedback-and-questions.md
  versioned_docs/version-8.3/components/operate/userguide/operate-feedback-and-questions.md
  versioned_docs/version-8.4/components/operate/userguide/operate-feedback-and-questions.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:operate, component:docs

#3333 feat: document embedded subprocesses
  docs/components/modeler/bpmn/embedded-subprocesses/assets/collapsed-subprocess.png
  docs/components/modeler/bpmn/embedded-subprocesses/embedded-subprocesses.md
  versioned_docs/version-8.4/components/modeler/bpmn/embedded-subprocesses/assets/collapsed-subprocess.png
  versioned_docs/version-8.4/components/modeler/bpmn/embedded-subprocesses/embedded-subprocesses.md
Labels: component:modeler

#3361 Quick win - link to Connectors dependencies in release assets
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
Labels: kind/bug, component:docs, component:connectors

#3294 Uncouple C7 and C8 - Routing events to processes
  docs/components/best-practices/development/routing-events-to-processes-c7.md
  docs/components/best-practices/development/routing-events-to-processes.md
  sidebars.js
  versioned_docs/version-8.4/components/best-practices/development/routing-events-to-processes-c7.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: best-practices

#3360 Update form component names for "Checkbox group" and "Radio group" components
  docs/components/modeler/forms/form-element-library/forms-element-library-checkbox-group.md
  docs/components/modeler/forms/form-element-library/forms-element-library-checklist.md
  docs/components/modeler/forms/form-element-library/forms-element-library-radio.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  static/.htaccess
  versioned_docs/version-8.4/components/modeler/forms/form-element-library/forms-element-library-checkbox-group.md
  versioned_docs/version-8.4/components/modeler/forms/form-element-library/forms-element-library-checklist.md
  versioned_docs/version-8.4/components/modeler/forms/form-element-library/forms-element-library-radio.md
  versioned_docs/version-8.4/components/modeler/forms/form-element-library/forms-element-library.md
  versioned_docs/version-8.4/components/modeler/forms/sidebar-schema.js
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:modeler

#3363 docs(identity): note the intention of the Identity UI in 8.4
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:identity

#3372 Typo on ISRA
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
Labels: component:docs, component:self-managed

#3366 migrate camunda 7 testing process definitions
  docs/components/best-practices/best-practices-overview.md
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/development/testing-process-definitions-c7.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/components/best-practices/operations/versioning-process-definitions.md
  sidebars.js
  versioned_docs/version-8.4/components/best-practices/best-practices-overview.md
  versioned_docs/version-8.4/components/best-practices/development/testing-process-definitions-c7.md
  versioned_docs/version-8.4/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.4/components/best-practices/operations/versioning-process-definitions.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: best-practices

#3380 Add simple release announcement to Slack
  .github/workflows/announce-release.yaml
Labels: dx

#3386 adjust Camunda typo
  docs/components/best-practices/management/doing-a-proper-poc.md
  versioned_docs/version-1.3/components/best-practices/management/doing-a-proper-poc.md
  versioned_docs/version-8.3/components/best-practices/management/doing-a-proper-poc.md
  versioned_docs/version-8.4/components/best-practices/management/doing-a-proper-poc.md
Labels: best-practices

#3357 adjust custom css for beta label
  src/css/custom.css
Labels: component:docs

#3335 feat: Tasklist REST API Explorer
  api/tasklist/docs/assign-task.api.mdx
  api/tasklist/docs/complete-task.api.mdx
  api/tasklist/docs/get-form.api.mdx
  api/tasklist/docs/get-task-by-id.api.mdx
  api/tasklist/docs/get-variable-by-id.api.mdx
  api/tasklist/docs/save-draft-task-variables.api.mdx
  api/tasklist/docs/search-task-variables.api.mdx
  api/tasklist/docs/search-tasks.api.mdx
  api/tasklist/docs/sidebar.js
  api/tasklist/docs/tasklist-rest-api.info.mdx
  api/tasklist/docs/unassign-task.api.mdx
  api/tasklist/tasklist-openapi.yaml
  api/tasklist/tasklist-sidebars.js
  docs/apis-tools/tasklist-api-rest/sidebar-schema.js
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docusaurus.config.js
  package-lock.json
  package.json
  src/theme/NavbarItem/index.js
  versioned_docs/version-8.4/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: kind/enhancement, dx

#3249 docs(web-modeler): publish connector templates to org available to admin
  docs/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.2/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.3/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.4/components/connectors/manage-connector-templates.md
Labels: component:web-modeler-SaaS

#3378 add note to concepts section
  docs/apis-tools/zeebe-api/gateway-service.md
  docs/components/concepts/process-instance-creation.md
  versioned_docs/version-8.1/apis-tools/grpc.md
  versioned_docs/version-8.1/components/concepts/process-instance-creation.md
  versioned_docs/version-8.2/apis-tools/grpc.md
  versioned_docs/version-8.2/components/concepts/process-instance-creation.md
  versioned_docs/version-8.3/apis-tools/grpc.md
  versioned_docs/version-8.3/components/concepts/process-instance-creation.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.4/components/concepts/process-instance-creation.md
Labels: component:docs

#3374 Subtle phrasing for Kubernetes flavors
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
Labels: component:docs, component:self-managed

#3379 feat: execute tag manager script right before loading osano.js
  docusaurus.config.js
  src/theme/Footer/index.js
  static/plugins/osano/index.js
Labels: dx

#3390 chore(docs): add note about Optimize version being used in 8.2 helm c…
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: kind/bug, component:optimize

#3385 fix: correct modeling-guidance image paths
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  docs/components/modeler/reference/rules/img/called-element/right.png
  docs/components/modeler/reference/rules/img/called-element/wrong.png
  docs/components/modeler/reference/rules/img/element-type/right.png
  docs/components/modeler/reference/rules/img/element-type/wrong.png
  docs/components/modeler/reference/rules/img/error-reference/right.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/rules/img/feel/right.png
  docs/components/modeler/reference/rules/img/feel/wrong.png
  docs/components/modeler/reference/rules/img/message-reference/right.png
  docs/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/called-element/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/called-element/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/element-type/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/element-type/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/error-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/error-reference/wrong-no-error-code.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/error-reference/wrong-no-error-reference.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/escalation-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-code.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/escalation-reference/wrong-no-escalation-reference.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/feel/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/feel/wrong.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/message-reference/right.png
  versioned_docs/version-8.4/components/modeler/reference/rules/img/message-reference/wrong-no-message-reference.png
Labels: component:modeler

#3324 Add `history-time-to-live` modeling guidance
  docs/components/modeler/reference/modeling-guidance/rules/history-time-to-live.md
  docs/components/modeler/reference/modeling-guidance/rules/img/history-time-to-live/info.png
  docs/components/modeler/reference/sidebar-schema.js
  src/mdx/MarkerGuideline.js
Labels: component:modeler

#3387 feat(components/modeler): document `disable-httl-hint` flag
  docs/components/modeler/desktop-modeler/flags/flags.md
Labels: component:modeler

#3393 feat(components/modeler): document `default-httl` flag
  docs/components/modeler/desktop-modeler/flags/flags.md
Labels: component:desktop-modeler
