Repository camunda/camunda-docs, pull requests merged in 2024-01, with the labels that each got.

#2948 docs(modeler): link default execution platform version flag
  docs/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/flags/flags.md
Labels: component:modeler

#3125 docs(zeebe): update cluster scaling docs
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
Labels: component:zeebe, target:8.4

#3102 docs(connectors): explained several fields
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/use-connectors/index.md
  docs/components/connectors/use-connectors/outbound.md
  versioned_docs/version-8.1/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.1/components/connectors/use-connectors/index.md
  versioned_docs/version-8.1/components/connectors/use-connectors/outbound.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/use-connectors/outbound.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/use-connectors/index.md
  versioned_docs/version-8.3/components/connectors/use-connectors/outbound.md
Labels: component:connectors

#3142 console: HEAD requests need to be accepted for alert-webhooks
  docs/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-alerts.md
Labels: component:console

#3139 docs(operate): depdency version updates
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:operate, target:8.4

#3113 adjust camunda apps UI
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.1/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.2/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.3/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
Labels: component:docs

#3041 docs(web-modeler): generic oidc provider support for Web Modeler
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/identity.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:modeler, target:8.4

#3145 docs(helm): Add OpenSearch note
  docs/reference/announcements.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
Labels: component:zeebe, component:operate, component:tasklist, target:8.4

#3088 chore(docs): remove identity dependency from Optimize support environ…
  docs/reference/supported-environments.md
Labels: component:identity, component:optimize

#3091 feat: Suggest missing changes across current/next versions
  .github/workflows/check-versions.yaml
  .github/workflows/check-versions/build-messages.js
  .github/workflows/check-versions/identify-missing-changes.action.js
  .github/workflows/check-versions/identify-missing-changes.js
  .github/workflows/check-versions/identify-missing-changes.spec.js
  .github/workflows/check-versions/version-config.json
Labels: component:docs, dx

#3122 docs(self-managed): add multi-namespace deployment guide
  docs/self-managed/platform-deployment/helm-kubernetes/guides/multi-namespace-deployment.md
  sidebars.js
Labels: component:self-managed, target:8.4

#3058 docs(optimize): create migration guide for 3.12
  optimize/self-managed/optimize-deployment/migration-update/3.11_8.3-to-3.12_8.4.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_311_312.diff
  optimize_sidebars.js
  sidebars.js
Labels: component:optimize

#3138 docs(forms): Add dynamic list section and clean up iframe section
  docs/components/modeler/forms/configuration/forms-config-data-binding.md
  docs/components/modeler/forms/form-element-library/forms-element-library-dynamiclist.md
  docs/components/modeler/forms/form-element-library/forms-element-library-group.md
  docs/components/modeler/forms/form-element-library/forms-element-library-iframe.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  static/img/form-icons/form-dynamiclist.svg
Labels: component:modeler, target:8.4

#3149 chore(optimize): update third party dependencies for 3.12
  docs/reference/dependencies.md
Labels: component:optimize

#3157 docs(web-modeler): dependency updates for recent releases
  docs/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:modeler, target:8.4

#3147 docs(ingress-nginx): correct nginx mentionings and replace NGINX Ingress usage
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.3/self-managed/platform-deployment/troubleshooting.md
Labels: component:self-managed, component:infex

#3084 docs(self-managed): updates for release cycle v8.4
  docs/reference/announcements.md
  docs/reference/release-policy.md
  docs/reference/supported-environments.md
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/operational-guides/update-guide/830-to-840.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  docs/self-managed/platform-deployment/helm-kubernetes/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.2/reference/release-policy.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.3/reference/release-policy.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/running-custom-connectors.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:self-managed

#3044 docs(optimize): update task analysis docs
  docs/guides/improve-processes-with-optimize.md
  optimize/apis-tools/optimize-api/variable-labeling.md
  optimize/components/userguide/additional-features/variable-labeling.md
  optimize/components/userguide/process-analysis/img/outlierExample_1_heatMap.png
  optimize/components/userguide/process-analysis/img/outlierExample_2_detailsModal.png
  optimize/components/userguide/process-analysis/img/outlierExample_2_distribution.png
  optimize/components/userguide/process-analysis/img/outlierExample_3_Variables.png
  optimize/components/userguide/process-analysis/outlier-analysis.md
  optimize/components/userguide/process-analysis/process-analysis-overview.md
  optimize/components/userguide/process-analysis/task-analysis.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:optimize

#3096 docs(web-modeler):document zeebe client configuration
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
Labels: target:8.4

#3121 add gh and postman links to docs
  docs/apis-tools/console-api-reference.md
  docs/apis-tools/grpc.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/apis-tools/tasklist-api/tasklist-api-overview.md
  docs/apis-tools/web-modeler-api/index.md
  optimize/apis-tools/optimize-api/optimize-api-authentication.md
Labels: component:docs

#3146 Update Zeebe security docs to highlight PKCS1 support
  docs/self-managed/zeebe-deployment/security/secure-cluster-communication.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/security/secure-cluster-communication.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/security/secure-cluster-communication.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/security/secure-cluster-communication.md
Labels: component:zeebe, component:self-managed

#3119 connectors and optimize sm docs review
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/connectors-deployment/install-and-start.md
  optimize/self-managed/optimize-deployment/configuration/authorization-management.md
  optimize/self-managed/optimize-deployment/configuration/clustering.md
  optimize/self-managed/optimize-deployment/configuration/event-based-processes.md
  optimize/self-managed/optimize-deployment/configuration/history-cleanup.md
  optimize/self-managed/optimize-deployment/configuration/object-variables.md
  optimize/self-managed/optimize-deployment/configuration/security-instructions.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/install-and-start.md
  optimize/self-managed/optimize-deployment/plugins/plugin-system.md
  optimize/self-managed/optimize-deployment/version-policy.md
Labels: component:optimize, component:connectors, component:self-managed

#3154 fix: prevent large images from stretching locally
  src/css/custom.css
Labels: component:docs, dx

#3153 chore: synchronize sidebars for v8.1/3.9.0
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
Labels: kind/cleanup, dx

#3116 [BLOCKED] feat: Add script to update version configuration of check-versions workflow when cutting a new version
  hacks/cutNewVersions.sh
Labels: component:docs, dx

#3048 Move unexpected MT behavior to troubleshooting sections
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  optimize/self-managed/optimize-deployment/configuration/multi-tenancy.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:operate, component:docs, component:optimize

#3103 link tenants and multi tenancy docs
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/identity/user-guide/tenants/managing-tenants.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/tenants/managing-tenants.md
Labels: component:docs, component:self-managed

#3115 cookie to bearer changes
  docs/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-form-controller.md
  docs/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-task-controller.md
  docs/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-variables-controller.md
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-form-controller.md
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-task-controller.md
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/controllers/tasklist-api-rest-variables-controller.md
Labels: component:tasklist

#3160 chore: synchronize sidebars for v8.2/3.10.0
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
Labels: kind/cleanup, dx

#3150 Expand api sidebars
  docs/apis-tools/console-api/authentication.md
  docs/apis-tools/console-api/console-api-reference.md
  docs/apis-tools/console-api/sidebar-schema.js
  docs/apis-tools/java-client/job-worker.md
  docs/apis-tools/working-with-apis-tools.md
  docs/apis-tools/zeebe-api/deprecated-rpcs.md
  docs/apis-tools/zeebe-api/gateway-service.md
  docs/apis-tools/zeebe-api/grpc.md
  docs/apis-tools/zeebe-api/sidebar-schema.js
  docs/apis-tools/zeebe-api/technical-error-handling.md
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/concepts/backups.md
  docs/components/concepts/job-workers.md
  docs/components/concepts/process-instance-creation.md
  docs/components/concepts/process-instance-migration.md
  docs/components/concepts/process-instance-modification.md
  docs/components/concepts/resource-deletion.md
  docs/components/concepts/signals.md
  docs/components/console/introduction-to-console.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/error-events/error-events.md
  docs/components/zeebe/technical-concepts/architecture.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/reference/announcements.md
  docs/reference/glossary.md
  docs/self-managed/operational-guides/update-guide/130-to-800.md
  docs/self-managed/operational-guides/update-guide/810-to-820.md
  docs/self-managed/zeebe-deployment/operations/backpressure.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  optimize/apis-tools/optimize-api/overview.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/concepts/process-instance-modification.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
Labels: component:modeler, component:docs, component:optimize, component:console

#3013 docs(forms): add table component
  docs/components/modeler/forms/configuration/forms-config-table-data-binding.md
  docs/components/modeler/forms/form-element-library/forms-element-library-table.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  static/img/form-icons/form-table.svg
Labels: target:8.4

#3054 docs(web-modeler): update ci-cd polling approach
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:modeler, target:8.4

#3042 docs(identity): add new environment variable for components' client id
  docs/self-managed/identity/deployment/configuration-variables.md
Labels: component:identity, component:self-managed, target:8.4

#3100 feat(self-managed): support custom tenant providers in zeebe
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
Labels: component:zeebe, target:8.4

#3017 feat(self-managed): document multi-tenancy enabled flag
  docs/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate

#3164 Typo in Supported Environments
  versioned_docs/version-8.3/reference/supported-environments.md
Labels: kind/bug, component:optimize

#3101 doc(self-managed): expand docs on unsupported multi-tenancy components
  docs/apis-tools/cli-client/cli-get-started.md
  docs/apis-tools/go-client/go-get-started.md
  docs/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/apis-tools/go-client/go-get-started.md
Labels: component:docs, target:8.4

#3076 Clarifying MT + Identity
  docs/reference/supported-environments.md
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  sidebars.js
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/concepts/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:identity, component:docs

#3135 chore: Improve description for variables values
  docs/apis-tools/tasklist-api-rest/schemas/models/task-variables.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/variable-input.mdx
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/schemas/models/task-variables.mdx
Labels: component:tasklist, target:8.4, 8.4.0-alpha2

#3095 Document Go job worker usage
  docs/apis-tools/go-client/job-worker.md
  docs/apis-tools/java-client/job-worker.md
  docs/components/concepts/job-workers.md
Labels: component:docs, target:8.4

#3161 clean up vague termminology
  docs/apis-tools/cli-client/cli-get-started.md
  docs/apis-tools/go-client/go-get-started.md
  docs/apis-tools/java-client/job-worker.md
  docs/apis-tools/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  docs/apis-tools/tasklist-api/tasklist-api-tutorial.md
  docs/components/best-practices/architecture/understanding-human-tasks-management.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/concepts/process-instance-modification.md
  docs/components/connectors/custom-built-connectors/update-guide/030-to-040.md
  docs/components/connectors/out-of-the-box-connectors/amazon-dynamodb.md
  docs/components/connectors/out-of-the-box-connectors/automation-anywhere.md
  docs/components/connectors/out-of-the-box-connectors/googledrive.md
  docs/components/connectors/out-of-the-box-connectors/power-automate.md
  docs/components/connectors/out-of-the-box-connectors/twilio.md
  docs/components/connectors/out-of-the-box-connectors/uipath.md
  docs/self-managed/concepts/access-control/resource-authorizations.md
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.2/self-managed/concepts/access-control/resource-authorizations.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.3/self-managed/concepts/access-control/resource-authorizations.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:docs

#3090 update elasticsearch support
  docs/self-managed/platform-deployment/manual.md
Labels: component:docs, target:8.4

#3035 Soften Amazon S3 references in broker config docs
  docs/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
Labels: component:zeebe, component:docs

#3156 docs(web-modeler): document helm values for custom OIDC
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:modeler, target:8.4

#3163 chore: synchronize sidebars for v8.3/3.11.0
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
Labels: kind/cleanup, dx

#3176 docs(web-modeler): update dependencies for 8.4.1
  docs/reference/dependencies.md
Labels: component:modeler, target:8.4

#3175 fix: fix missing go job worker sidebar link
  sidebars.js
Labels: component:zeebe, target:8.4

#3173 fix(aws-marketplace): installs ingress-nginx and includes fix for nod…
  docs/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
Labels: component:self-managed

#3174 chore: synchronize sidebars for vNext
  optimize_sidebars.js
Labels: kind/cleanup, dx, target:8.4

#3152 fix(aws-marketplace): removes options typically used in testing
  docs/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/aws-marketplace.md
Labels: component:self-managed

#3179 Only migrate waiting process instances
  docs/components/concepts/process-instance-migration.md
Labels: component:docs

#3180 Clarify wait state term
  docs/components/concepts/process-instance-migration.md
Labels: target:8.4

#3184 feat: versions 8.4/3.12.0, reviewable steps
  docusaurus.config.js
  spec/regression/versionMapping.spec.ts
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.1/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.1/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/concepts/backups.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.3/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.4/apis-tools/working-with-apis-tools.md
Labels: kind/feature, dx

#3185 Add 8.4 blog link
  docs/self-managed/operational-guides/update-guide/introduction.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/introduction.md
Labels: target:8.4

#3187 feat(announcements): add known limitations section
  docs/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: target:8.4

#3189 Add dev and prod clusters callout + resuming cluster page
  docs/components/console/manage-clusters/resume-cluster.md
  docs/components/console/manage-organization/usage-history.md
  sidebars.js
  versioned_docs/version-8.4/components/console/manage-clusters/resume-cluster.md
  versioned_docs/version-8.4/components/console/manage-organization/usage-history.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:console

#3181 docs: announce remove of responsive liveness indicator
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/820-to-830.md
Labels: component:zeebe, target:8.3

#3188 docs(call activity): add `propagateAllParentVariables`
  docs/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.2/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.3/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.4/components/modeler/bpmn/call-activities/call-activities.md
Labels: component:zeebe

#3192 fix: quiet down noisy console logs from determineCanonical
  src/theme/DocItem/Metadata/determineCanonical.js
Labels: kind/cleanup, dx

#3191 console-webhook-alerts: HEAD is now optional again
  docs/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-alerts.md
Labels: component:console

#3194 chore(announcements): deeplink install guide from limitations
  docs/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: component:docs

#3200 Remove POST only admonition for http webhook connector
  docs/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.4/components/connectors/protocol/http-webhook.md
Labels: component:connectors

#3209 Remove rogue ::: in SM deploy
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/deploy.md
Labels: component:docs, component:self-managed

#3203 Add Tasklist to SaaS concepts page on data retention
  docs/components/concepts/data-retention.md
  versioned_docs/version-8.4/components/concepts/data-retention.md
Labels: component:tasklist, component:docs

#3210 Clarify Optimize alerting (webhooks and email)
  optimize/components/userguide/additional-features/alerts.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/configuration/webhooks.md
  optimize_versioned_docs/version-3.10.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/webhooks.md
  optimize_versioned_docs/version-3.11.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/webhooks.md
  optimize_versioned_docs/version-3.12.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/webhooks.md
  optimize_versioned_docs/version-3.9.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/configuration/webhooks.md
Labels: component:docs, component:optimize

#3208 Update app matrix for 8.4
  docs/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
Labels: component:docs

#3182 improve: eliminate manual configuration from synchronizing sidebars, and infer it based on current URL.
  hacks/generateOptimizeSidebars.js
  hacks/generateOptimizeSidebars.md
Labels: dx

#3197 Update CLA config to camundait user
  howtos/configuration.md
Labels: dx

#3158 docs(tasklist): document alwaysReturnFullValue flag in search request
  docs/apis-tools/tasklist-api-rest/schemas/models/include-variable.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/variables-search-request.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/variable-search-response.mdx
Labels: component:tasklist, target:8.5, 8.5.0-alpha1

#3213 Operate ISM configuration
  docs/self-managed/operate-deployment/data-retention.md
  versioned_docs/version-8.4/self-managed/operate-deployment/data-retention.md
Labels: component:operate

#3207 Add guides link to what-is-identity
  docs/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.4/self-managed/identity/what-is-identity.md
Labels: component:identity, component:docs, component:self-managed

#3204 Backport tasklist data retention page
  versioned_docs/version-8.2/self-managed/tasklist-deployment/data-retention.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/data-retention.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:tasklist, component:docs

#3130 docs(frontend): Add introduction section to frontend docs
  docs/apis-tools/frontend-development/img/task-assignment.png
  docs/apis-tools/frontend-development/img/task-lifecycle.png
  docs/apis-tools/frontend-development/img/tasklist-details.png
  docs/apis-tools/frontend-development/img/tasklist-processes.png
  docs/apis-tools/frontend-development/introduction-to-task-applications.md
  docs/apis-tools/frontend-development/sidebar-schema.js
  docs/apis-tools/frontend-development/styles.module.css
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/apis-tools/working-with-apis-tools.md
  docs/components/best-practices/architecture/understanding-human-tasks-management.md
  sidebars.js
  src/pages/index.js
Labels: kind/enhancement, component:tasklist, component:docs

#3223 docs: document StreamActivatedJobs RPC
  docs/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/gateway-service.md
Labels: component:zeebe

#3230 Document how to verify Zeebe configuration starting with 8.4
  docs/self-managed/operational-guides/update-guide/830-to-840.md
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/830-to-840.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/configuration.md
Labels: component:zeebe, target:8.4

#3136 identity and modeler sm review
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/identity/deployment/starting-configuration.md
  docs/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  docs/self-managed/identity/user-guide/authorizations/managing-resource-authorizations.md
  docs/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  docs/self-managed/identity/what-is-identity.md
  versioned_docs/version-8.3/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.3/self-managed/identity/deployment/starting-configuration.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/authorizations/generating-m2m-tokens.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/authorizations/managing-resource-authorizations.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
Labels: component:modeler, component:identity, component:docs

#3231 add note on cawemo end of life
  docs/guides/migrating-from-cawemo.md
  versioned_docs/version-8.4/guides/migrating-from-cawemo.md
Labels: component:docs

#3206 docs(connectors): Add Github Create workflow dispatch event section
  docs/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/github.md
Labels: component:connectors

#3241 feat: integrate kapa.ai into docs
  docusaurus.config.js
Labels: kind/feature, component:docs, dx

#3202 docs(web-modeler): document collaborator endpoints in CI/CD guide
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.4/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:modeler

#3218 docs: update golang version to 1.21 and Zeebe go-client to 8.4.0
  docs/apis-tools/go-client/go-get-started.md
  docs/apis-tools/go-client/index.md
Labels: component:zeebe, component:docs

#3234 Add Components grouping to SM
  sidebars.js
Labels: component:docs

#3257 feat: document `zeebe:calledElement` bindings
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.4/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: component:desktop-modeler

#3229 docs(frontend): Merge frontend-docs section into 8.4
  versioned_docs/version-8.4/apis-tools/frontend-development/img/task-assignment.png
  versioned_docs/version-8.4/apis-tools/frontend-development/img/task-lifecycle.png
  versioned_docs/version-8.4/apis-tools/frontend-development/img/tasklist-details.png
  versioned_docs/version-8.4/apis-tools/frontend-development/img/tasklist-processes.png
  versioned_docs/version-8.4/apis-tools/frontend-development/introduction-to-task-applications.md
  versioned_docs/version-8.4/apis-tools/frontend-development/sidebar-schema.js
  versioned_docs/version-8.4/apis-tools/frontend-development/styles.module.css
  versioned_docs/version-8.4/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.4/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.4/components/best-practices/architecture/understanding-human-tasks-management.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: kind/enhancement, component:tasklist, component:docs, target:8.4

#3252 style(formatting): fix 404ing link
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.4/components/connectors/protocol/rest.md
Labels: kind/bug, component:modeler, component:docs, component:connectors

#3259 adjust components naming
  docs/components/components-overview.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  optimize_versioned_sidebars/version-3.7.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_docs/version-8.2/components/components-overview.md
  versioned_docs/version-8.3/components/components-overview.md
  versioned_docs/version-8.4/components/components-overview.md
Labels: component:docs

#3256 Document configuration changes to the Exporter Context
  docs/self-managed/concepts/exporters.md
  versioned_docs/version-8.4/self-managed/concepts/exporters.md
Labels: component:self-managed, 8.5.0-alpha1

#3190 docs(web-modeler): document Web Modeler backup & restore
  docs/self-managed/operational-guides/backup-restore/backup-and-restore.md
  docs/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  sidebars.js
  versioned_docs/version-8.2/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/self-managed/backup-restore/modeler-backup-and-restore.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/modeler-backup-and-restore.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:modeler, component:web-modeler-sm

#3262 Re-introduce Operate OpenAPI explorer!
  README.md
  api/operate/docs/by-id.api.mdx
  api/operate/docs/by-key-1.api.mdx
  api/operate/docs/by-key-2.api.mdx
  api/operate/docs/by-key-3.api.mdx
  api/operate/docs/by-key-4.api.mdx
  api/operate/docs/by-key-5.api.mdx
  api/operate/docs/by-key-6.api.mdx
  api/operate/docs/by-key.api.mdx
  api/operate/docs/delete.api.mdx
  api/operate/docs/get-statistics.api.mdx
  api/operate/docs/operate-public-api.info.mdx
  api/operate/docs/search-1.api.mdx
  api/operate/docs/search-2.api.mdx
  api/operate/docs/search-3.api.mdx
  api/operate/docs/search-4.api.mdx
  api/operate/docs/search-5.api.mdx
  api/operate/docs/search-6.api.mdx
  api/operate/docs/search-7.api.mdx
  api/operate/docs/search.api.mdx
  api/operate/docs/sequence-flows-by-key.api.mdx
  api/operate/docs/sidebar.js
  api/operate/docs/xml-by-key-1.api.mdx
  api/operate/docs/xml-by-key.api.mdx
  api/operate/operate-openapi.yaml
  api/operate/operate-sidebars.js
  docs/apis-tools/operate-api/authentication.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/operate-api/sidebar-schema.js
  docusaurus.config.js
  howtos/documentation-guidelines.md
  howtos/interactive-api-explorers.md
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/NavbarItem/index.js
  versioned_docs/version-8.4/apis-tools/operate-api/authentication.md
  versioned_docs/version-8.4/apis-tools/operate-api/overview.md
  versioned_docs/version-8.4/apis-tools/operate-api/sidebar-schema.js
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:operate, dx

#3239 Add design, automate, improve to group guides
  docs/guides/automating-a-process-using-bpmn.md
  sidebars.js
Labels: component:docs

#3263 feat: document form HTML component
  docs/components/modeler/forms/form-element-library/forms-element-library-html.md
  docs/components/modeler/forms/form-element-library/forms-element-library-text.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  static/img/form-icons/form-html.svg
Labels: component:modeler, 8.5.0-alpha1

#3242 feat: document iframe security parameters and add advisory
  docs/components/modeler/forms/form-element-library/forms-element-library-iframe.md
Labels: component:modeler, 8.5.0-alpha1

#3237 docs(optimize): add tile copying
  optimize/components/userguide/edit-mode.md
  optimize/components/userguide/img/dashboard-dashboardEditActions.png
  optimize/components/userguide/img/dashboard-reportEditActions.png
  optimize/components/userguide/img/tile-copy-button.png
  optimize/components/userguide/img/tile-delete-button.png
  optimize/components/userguide/img/tile-edit-button.png
Labels: component:optimize, 8.5.0-alpha1

#3276 fix(guidelines): Update reviewers for Tasklist
  howtos/documentation-guidelines.md
Labels: component:tasklist

#3240 Add privileges for ES
  docs/self-managed/concepts/elasticsearch-privileges.md
  sidebars.js
  versioned_docs/version-8.1/self-managed/concepts/elasticsearch-privileges.md
  versioned_docs/version-8.2/self-managed/concepts/elasticsearch-privileges.md
  versioned_docs/version-8.3/self-managed/concepts/elasticsearch-privileges.md
  versioned_docs/version-8.4/self-managed/concepts/elasticsearch-privileges.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs, component:self-managed
