Repository camunda/camunda-docs, pull requests merged in 2024-08, with the labels that each got.

#4084 Remove Arcade from HTO guide
  docs/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-human-tasks.md
Labels: kind/bug, component:tasklist, component:docs

#4082 Exporter metrics with Micrometer
  docs/self-managed/concepts/exporters.md
Labels: component:self-managed

#4091 update operate screenshot links
  howtos/documentation-guidelines.md
Labels: kind/bug, component:operate

#4072 update spring zeebe guide
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
Labels: component:docs, deploy, e2e

#4100 update exporter configure
  docs/self-managed/concepts/exporters.md
Labels: kind/bug

#4051 docs(java-client): add announcement of zeebe java client deprecation
  docs/apis-tools/java-client/index.md
  docs/reference/announcements.md
Labels: target:8.6

#4018 docs: document reverse proxy config for job streams
  docs/apis-tools/go-client/job-worker.md
  docs/apis-tools/java-client/job-worker.md
  docs/components/concepts/job-workers.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/job-streaming.md
  sidebars.js
  versioned_docs/version-8.4/apis-tools/go-client/job-worker.md
  versioned_docs/version-8.4/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.4/components/concepts/job-workers.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/zeebe-gateway/job-streaming.md
  versioned_docs/version-8.5/apis-tools/go-client/job-worker.md
  versioned_docs/version-8.5/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.5/components/concepts/job-workers.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/zeebe-gateway/job-streaming.md
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs

#4010 Update supported-environments.md
  docs/reference/supported-environments.md
Labels: component:docs

#4103 Remove 8.6 references for Task Listeners
  docs/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
Labels: component:tasklist

#4102 fix(optimizeBackup): adjust backup api response
  docs/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.2/self-managed/backup-restore/optimize-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/optimize-backup.md
Labels: component:self-managed

#4094 Edit sign up announcement banner
  docusaurus.config.js
Labels: kind/bug, component:docs, deploy

#4088 update tutorial links with marketplace
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
Labels: component:docs

#4079 feat: describe example data usage in play
  docs/components/modeler/data-handling.md
  docs/components/modeler/web-modeler/img/play-example-data.png
  docs/components/modeler/web-modeler/play-your-process.md
Labels: 8.6.0-alpha4

#4106 chore(web-modeler): update dependency list for August patch releases
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:web-modeler-sm

#4052 add spring support policy
  docs/reference/supported-environments.md
  versioned_docs/version-8.5/reference/supported-environments.md
Labels: component:docs

#4099 fix: include warning about console and OIDC not being supported together
  docs/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:console, component:self-managed

#4110 docs: added ES,OS versions to announcement
  docs/reference/announcements.md
Labels: component:zeebe

#4113 august bing tweaks
  docs/components/best-practices/development/testing-process-definitions-c7.md
  docs/components/connectors/out-of-the-box-connectors/sql.md
  docs/reference/help-center.md
  docs/self-managed/console-deployment/overview.md
  docs/self-managed/setup/deploy/other/docker.md
Labels: component:docs

#4114 august third party link corrections
  docs/apis-tools/java-client/job-worker.md
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  versioned_docs/version-8.3/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.4/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.4/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.4/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.5/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.5/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.5/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/security/client-authorization.md
Labels: kind/bug, component:docs

#4073 docs(web modeler): add feature documentation for git sync
  docs/components/modeler/web-modeler/git-sync.md
  docs/components/modeler/web-modeler/img/git-sync.png
  sidebars.js
Labels: component:docs, component:web-modeler-SaaS, component:web-modeler-sm, 8.6.0-alpha4

#4122 Remove SM top-nav CSS
  src/css/custom.css
Labels: component:docs, dx

#4118 true/false in config docs
  docs/self-managed/operate-deployment/importer-and-archiver.md
  docs/self-managed/tasklist-deployment/importer-and-archiver.md
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-1.3/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.2/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.3/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.4/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.5/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:docs

#4128 docs: explain C8 REST Query API availability
  api/camunda/camunda-openapi.yaml
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/apis-tools/camunda-api-rest/specifications/query-decision-definitions-experimental.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-process-instances-experimental.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-user-tasks-experimental.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-user-task.api.mdx
Labels: component:docs, deploy

#4104 docs(operate): add section: monitor operation status
  docs/components/operate/userguide/img/monitor-operation-state/expand-row-button.png
  docs/components/operate/userguide/img/monitor-operation-state/expanded-instances-row.png
  docs/components/operate/userguide/img/monitor-operation-state/expanded-operations-panel.png
  docs/components/operate/userguide/img/monitor-operation-state/operation-state-row.png
  docs/components/operate/userguide/img/monitor-operation-state/operations-panel.png
  docs/components/operate/userguide/monitor-operation-status.md
  docs/components/operate/userguide/process-instance-batch-modification.md
  docs/components/operate/userguide/process-instance-migration.md
  docs/components/operate/userguide/process-instance-modification.md
  docs/components/operate/userguide/selections-operations.md
  sidebars.js
Labels: component:operate, 8.6.0-alpha4

#4129 removing post-renderer from OpenShift docs
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.5/self-managed/setup/deploy/openshift/redhat-openshift.md
Labels: component:self-managed

#4115 Reorganize Ingress content
  docs/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.5/self-managed/setup/guides/ingress-setup.md
Labels: dx, component:self-managed, deploy

#4133 Remove unsupported versions from SM update guide
  docs/self-managed/operational-guides/update-guide/130-to-800.md
  docs/self-managed/operational-guides/update-guide/800-to-810.md
  docs/self-managed/operational-guides/update-guide/810-to-820.md
  docs/self-managed/operational-guides/update-guide/introduction.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/130-to-800.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/800-to-810.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/810-to-820.md
  versioned_docs/version-8.3/self-managed/operational-guides/update-guide/introduction.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/130-to-800.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/800-to-810.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/810-to-820.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/introduction.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/130-to-800.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/800-to-810.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/810-to-820.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/introduction.md
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: dx, component:self-managed

#4107 docs(web modeler): Milestones and process application changelist
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-action-menu-item-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-code-diffing.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-compare-process-application-files-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-versioned-milestone-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-icon-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore-complete-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-show-history-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-visual-diffing.png
  docs/components/modeler/web-modeler/img/process-applications/process-application-milestone-diagram.png
  docs/components/modeler/web-modeler/milestones.md
  docs/components/modeler/web-modeler/process-applications.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, deploy, 8.6.0-alpha4

#4134 add note of intention to spring java guide
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
Labels: component:docs

#3910 draft docs for web modeler api tutorial
  docs/apis-tools/web-modeler-api/tutorial.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/tutorial.md
Labels: component:web-modeler-SaaS

#4058 zeebe api tutorial
  docs/apis-tools/zeebe-api-rest/sidebar-schema.js
  docs/apis-tools/zeebe-api-rest/tutorial.md
  versioned_docs/version-8.5/apis-tools/zeebe-api-rest/sidebar-schema.js
  versioned_docs/version-8.5/apis-tools/zeebe-api-rest/tutorial.md
Labels: component:zeebe, component:docs, theme:api-streamline

#4132 docs(bpmn): explain binding types for call activities, business rule tasks, and user tasks
  docs/components/best-practices/modeling/choosing-the-resource-binding-type.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/call-activities/call-activities.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  optimize_sidebars.js
  sidebars.js
Labels: component:zeebe, component:modeler, 8.6.0-alpha4

#4017 docs(concepts): Add documentation for Execution Listeners
  docs/components/concepts/execution-listeners.md
  docs/reference/glossary.md
  sidebars.js
Labels: component:zeebe, deploy, 8.6.0-alpha4

#4135 Rework component version matrix
  docs/reference/supported-environments.md
Labels: kind/cleanup, component:docs, deploy

#4125 clean up bpmn landing page
  docs/components/best-practices/modeling/creating-readable-process-models.md
  docs/components/modeler/bpmn/assets/demo.gif
  docs/components/modeler/bpmn/bpmn.md
  versioned_docs/version-8.5/components/best-practices/modeling/creating-readable-process-models.md
  versioned_docs/version-8.5/components/modeler/bpmn/assets/demo.gif
  versioned_docs/version-8.5/components/modeler/bpmn/bpmn.md
Labels: component:modeler

#4130 Document REST API middleware
  docs/apis-tools/java-client/job-worker.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/guides/migrating-from-camunda-7/migration-readiness.md
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/filters.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
  sidebars.js
Labels: component:zeebe, component:self-managed, target:8.6, 8.6.0-alpha4

#4105 Link table data binding to data source
  docs/components/modeler/forms/form-element-library/forms-element-library-table.md
  versioned_docs/version-8.4/components/modeler/forms/form-element-library/forms-element-library-table.md
  versioned_docs/version-8.5/components/modeler/forms/form-element-library/forms-element-library-table.md
Labels: component:modeler

#4032 docs(aws-bedrock): AWS bedrock documentation
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  sidebars.js
Labels: component:connectors, 8.6.0-alpha4

#4083 add licensing notification
  docs/reference/announcements.md
  docs/self-managed/console-deployment/configuration.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/react-components/licensing.md
  docs/self-managed/setup/deploy/local/manual.md
  docs/self-managed/setup/deploy/other/docker.md
  docs/self-managed/setup/install.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
Labels: component:self-managed, 8.6.0-alpha4

#4090 add selecting a default cluster
  docs/components/modeler/web-modeler/process-applications.md
Labels: component:modeler, component:docs, 8.6.0-alpha4

#4053 Document connector templates in desktop modeler
  docs/components/modeler/desktop-modeler/flags/flags.md
  docs/components/modeler/desktop-modeler/img/use-connectors/apply.png
  docs/components/modeler/desktop-modeler/img/use-connectors/error.png
  docs/components/modeler/desktop-modeler/img/use-connectors/up-to-date.png
  docs/components/modeler/desktop-modeler/use-connectors.md
  sidebars.js
Labels: component:desktop-modeler, 8.6.0-alpha4

#4142 chore(docs): fix unclear introduction
  docs/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, 8.6.0-alpha4

#4096 docs(slack-documentation): update the documentation for slack connector
  docs/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors, 8.6.0-alpha4

#4063 8.6.0-alpha4 release notes
  docs/reference/release-notes/860.md
Labels: component:docs, 8.6.0-alpha4

#4127 fix: add disclaimer on user-task-restrictions
  docs/components/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.5/components/concepts/access-control/user-task-access-restrictions.md
Labels: component:tasklist

#4149 fix typo in blog url
  docs/reference/release-notes/860.md
Labels: kind/bug, 8.6.0-alpha4

#4153 docs(spring-sdk): add row to version compatibility table
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: target:8.6

#4159 refactor: remove optimize 7 plugins from mono repo
  optimize/self-managed/optimize-deployment/plugins/plugin-system.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/plugin-system.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/plugin-system.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/plugin-system.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/plugin-system.md
Labels: component:optimize

#4170 chore(web-modeler): adjust for sentence case in UI
  docs/components/modeler/web-modeler/token-simulation.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm

#4148 Docs: Add Configure Flow Control page to the operational guides
  docs/components/zeebe/technical-concepts/internal-processing.md
  docs/self-managed/operational-guides/configure-flow-control/configure-flow-control.md
  docs/self-managed/operational-guides/configure-flow-control/img/accepted-by-writes-source.png
  docs/self-managed/operational-guides/configure-flow-control/img/backpressure-throttling.png
  docs/self-managed/operational-guides/configure-flow-control/img/exporting-backlog.png
  docs/self-managed/operational-guides/configure-flow-control/img/mesured-exporting-rate.png
  docs/self-managed/operational-guides/configure-flow-control/img/write-rate-limit.png
  docs/self-managed/zeebe-deployment/operations/backpressure.md
  sidebars.js
Labels: component:zeebe, component:self-managed

#4172 doc(marketplace): mention file types supported in Blueprints
  docs/components/modeler/web-modeler/camunda-marketplace.md
Labels: kind/enhancement, component:web-modeler-SaaS, component:web-modeler-sm

#4174 update sign up text and screenshot
  docs/guides/create-account.md
  docs/guides/img/signup.png
  docs/guides/react-components/saas-prerequisites.md
  versioned_docs/version-8.2/guides/create-account.md
  versioned_docs/version-8.2/guides/img/signup.png
  versioned_docs/version-8.3/guides/create-account.md
  versioned_docs/version-8.3/guides/img/signup.png
  versioned_docs/version-8.4/guides/create-account.md
  versioned_docs/version-8.4/guides/img/signup.png
  versioned_docs/version-8.5/guides/create-account.md
  versioned_docs/version-8.5/guides/img/signup.png
Labels: component:docs

#4169 docs: update supported version for Keycloak to 24 and 25
  docs/reference/supported-environments.md
Labels: component:identity, target:8.6

#4157 clean up bpmn zeebe user task section
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.5/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: component:docs

#4180 fix: link to telemetry sample asset via absolute github URL
  docs/self-managed/console-deployment/telemetry.md
  versioned_docs/version-8.5/self-managed/console-deployment/telemetry.md
Labels: component:docs

#4150 Clarify steps for adding an OIDC provider
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:docs, component:self-managed, deploy

#4177 docs: improve description of binding type 'latest' + fix XML examples
  docs/components/best-practices/modeling/choosing-the-resource-binding-type.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/call-activities/call-activities.md
Labels: component:zeebe, component:modeler

#4175 Docs site landing page redesign
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.js
  src/pages/styles.module.css
  static/img/hero-bg.png
  static/img/home-apis.png
  static/img/home-bp.png
  static/img/home-components.png
  static/img/home-get-started.png
  static/img/home-reference.png
  static/img/home-self-managed.png
Labels: kind/enhancement, component:docs, deploy

#4144 OOTB PDLC Happy Path documentation
  docs/components/modeler/web-modeler/create-a-process-application.md
  docs/components/modeler/web-modeler/deploy-process-application.md
  docs/components/modeler/web-modeler/img/process-applications/define-stages-deploy.png
  docs/components/modeler/web-modeler/img/process-applications/define-stages.png
  docs/components/modeler/web-modeler/img/process-applications/diagram-process-application-get-started.png
  docs/components/modeler/web-modeler/img/process-applications/diagram-process-application-pipeline.png
  docs/components/modeler/web-modeler/process-application-pipeline.md
  docs/components/modeler/web-modeler/process-application-versioning.md
  docs/components/modeler/web-modeler/process-applications.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  sidebars.js
Labels: kind/feature, component:web-modeler-SaaS

#4162 rename console sm to admin sm
  docs/apis-tools/administration-sm-api/administration-sm-api-authentication.md
  docs/apis-tools/administration-sm-api/administration-sm-api-overview.md
  docs/apis-tools/administration-sm-api/sidebar-schema.js
  docs/apis-tools/administration-sm-api/specifications/get-clusters.api.mdx
  docs/apis-tools/administration-sm-api/specifications/get-usage-metrics.api.mdx
  docs/apis-tools/administration-sm-api/specifications/sidebar.js
  docs/apis-tools/administration-sm-api/specifications/sm-administration-api.info.mdx
  docs/apis-tools/camunda-api-rest/specifications/sidebar.js
  docs/apis-tools/console-sm-api/console-sm-api-overview.md
  docs/apis-tools/console-sm-api/sidebar-schema.js
  sidebars.js
  static/.htaccess
Labels: component:docs

#4086 add hint about flyway usage
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-database-connection.md
Labels: component:web-modeler-sm

#4152 feat: rewrite Tasklist API auth guide
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
Labels: component:docs, theme:api-streamline

#4138 feat: rewrite Operate API auth guide
  docs/apis-tools/operate-api/authentication.md
  versioned_docs/version-8.5/apis-tools/operate-api/authentication.md
Labels: component:docs, theme:api-streamline

#4078 feat: unify API Auth docs (Admin, Camunda 8, and Web Modeler APIs)
  docs/apis-tools/administration-api/authentication.md
  docs/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
  docs/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.5/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/authentication.md
Labels: component:docs, theme:api-streamline, deploy

#4193 add zeebe tutorial to 8.5 sidebar
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:zeebe, deploy

#4195 fix(self-managed): include deprecation notice for separated ingress
  docs/reference/announcements.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/upgrade.md
Labels: component:self-managed, 8.6.0-alpha5

#4178 docs: include priority field in camunda and tasklist API definitions
  api/camunda/camunda-openapi.yaml
  api/tasklist/tasklist-openapi.yaml
  docs/apis-tools/camunda-api-rest/specifications/get-cluster-topology.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-user-tasks-experimental.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-user-task.api.mdx
  docs/apis-tools/tasklist-api-rest/schemas/enums/task-sort-fields.mdx
  docs/apis-tools/tasklist-api-rest/schemas/requests/task-search-request.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/task-response.mdx
  docs/apis-tools/tasklist-api-rest/schemas/responses/task-search-response.mdx
  docs/apis-tools/tasklist-api-rest/specifications/assign-task.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/complete-task.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/get-form.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/get-task-by-id.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/get-variable-by-id.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/save-draft-task-variables.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/search-task-variables.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/search-tasks.api.mdx
  docs/apis-tools/tasklist-api-rest/specifications/unassign-task.api.mdx
Labels: component:zeebe, component:tasklist, 8.6.0-alpha5

#4065 Remove community supported Spring Zeebe SDK references
  docs/apis-tools/community-clients/index.md
  docs/apis-tools/community-clients/spring.md
  docs/components/best-practices/development/writing-good-workers.md
  sidebars.js
  static/.htaccess
Labels: component:docs, target:8.6, 8.6.0-alpha5

#4081 docs: mention docker tag change in upgrade
  optimize/self-managed/optimize-deployment/migration-update/3.13_8.5-to-3.14_8.6.md
Labels: target:8.6

#4171 Guide for DB interceptor plugins
  docs/self-managed/setup/guides/configure-db-custom-headers.md
  optimize_sidebars.js
  sidebars.js
Labels: component:zeebe, component:operate, component:tasklist, component:self-managed, 8.6.0-alpha5

#4204 fix: clarified OS version
  docs/reference/supported-environments.md
Labels: target:8.6, 8.6.0-alpha5

#4192 feat: update minimum supported DB versions for optimize
  optimize/self-managed/optimize-deployment/migration-update/3.13_8.5-to-3.14_8.6.md
Labels: component:optimize, target:8.6

#4201 add hybrid mode to glossary
  docs/reference/glossary.md
Labels: component:docs, component:connectors

#4188 Corrected path to variable in mapping
  versioned_docs/version-8.5/components/connectors/use-connectors/index.md
Labels: kind/bug, component:connectors

#4173 Test adding option to hide docusaurus tabs
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  src/css/custom.css
  versioned_docs/version-8.2/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.3/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.4/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.5/components/operate/userguide/resolve-incidents-update-variables.md
Labels: dx, deploy

#4211 Backport #4188
  docs/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.3/components/connectors/use-connectors/index.md
  versioned_docs/version-8.4/components/connectors/use-connectors/index.md
Labels: kind/bug, component:docs, component:connectors

#4206 docs(connectors): clarify jobError's relationship to incidents
  docs/components/connectors/use-connectors/index.md
  versioned_docs/version-8.2/components/connectors/use-connectors/index.md
  versioned_docs/version-8.3/components/connectors/use-connectors/index.md
  versioned_docs/version-8.4/components/connectors/use-connectors/index.md
  versioned_docs/version-8.5/components/connectors/use-connectors/index.md
Labels: component:connectors

#3949 docs(sm) - update secrets extraction for version 8.5
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#4168 Automate rest api docs generation
  .github/workflows/sync-rest-api-docs.yaml
  .husky/pre-commit
Labels: dx

#4219 Update dependency list for 8.6.0-alpha5 and patch releases
  docs/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: dependencies, component:web-modeler-sm

#4218 fix: use proper properties for assign team reviews
  .github/workflows/sync-rest-api-docs.yaml
Labels: dx

#4205 chore(multi-region): add operational simplification from Zeebe 8.6.
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/operational-guides/multi-region/img/10.svg
  docs/self-managed/operational-guides/multi-region/img/11.svg
  docs/self-managed/operational-guides/multi-region/img/12.svg
  docs/self-managed/operational-guides/multi-region/img/13.svg
  docs/self-managed/operational-guides/multi-region/img/14.svg
  docs/self-managed/operational-guides/multi-region/img/15.svg
  docs/self-managed/operational-guides/multi-region/img/3.svg
  docs/self-managed/operational-guides/multi-region/img/4.svg
  docs/self-managed/operational-guides/multi-region/img/5.svg
  docs/self-managed/operational-guides/multi-region/img/6.svg
  docs/self-managed/operational-guides/multi-region/img/7.svg
  docs/self-managed/operational-guides/multi-region/img/8.svg
  docs/self-managed/operational-guides/multi-region/img/9.svg
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.5/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.5/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
Labels: component:self-managed, component:infex, target:8.6, 8.6.0-alpha5

#4181 Consolidate intro to camunda
  docs/components/components-overview.md
  docs/components/modeler/about-modeler.md
  docs/components/operate/operate-introduction.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-cluster.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/img/ComponentsAndArchitecture_SaaS.png
  docs/guides/improve-processes-with-optimize.md
  docs/guides/introduction-to-camunda-8.md
Labels: component:docs, deploy

#4190 Reorganize the SM update guide
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:docs, component:self-managed, deploy

#4209 Add badges to 8.5 release notes
  docs/reference/release-notes/850.md
  src/css/custom.css
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: component:docs, deploy

#4226 backport consolidate intro to camunda
  versioned_docs/version-8.5/components/components-overview.md
  versioned_docs/version-8.5/components/modeler/about-modeler.md
  versioned_docs/version-8.5/components/operate/operate-introduction.md
  versioned_docs/version-8.5/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.5/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.5/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.5/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.5/guides/create-cluster.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/img/ComponentsAndArchitecture_SaaS.png
  versioned_docs/version-8.5/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.5/guides/introduction-to-camunda-8.md
Labels: component:docs

#4229 remove link to current version
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
Labels: kind/bug, component:web-modeler-sm

#4214 update launch web modeler page
  docs/components/modeler/web-modeler/img/camunda-marketplace-example.png
  docs/components/modeler/web-modeler/img/web-modeler-blueprint.png
  docs/components/modeler/web-modeler/img/web-modeler-new-user-home.png
  docs/components/modeler/web-modeler/launch-web-modeler.md
  versioned_docs/version-8.5/components/modeler/web-modeler/img/camunda-marketplace-example.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/web-modeler-blueprint.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/web-modeler-new-user-home.png
  versioned_docs/version-8.5/components/modeler/web-modeler/launch-web-modeler.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, deploy
