Repository camunda/camunda-docs, pull requests merged in 2024-04, with the labels that each got.

#3500 docs(identity): Add note regarding single sign out limitation
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:identity, component:self-managed

#3547 Update enable-alpha-features.md
  docs/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.4/components/console/manage-organization/enable-alpha-features.md
Labels: component:console

#3548 chore(docs): document email server checking configuration option
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize

#3523 Update rest.md
  docs/components/connectors/protocol/graphql.md
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.1/components/connectors/protocol/graphql.md
  versioned_docs/version-8.1/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/graphql.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/graphql.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.4/components/connectors/protocol/graphql.md
  versioned_docs/version-8.4/components/connectors/protocol/rest.md
Labels: component:connectors

#3546 Update routing-events-to-processes.md
  versioned_docs/version-8.4/components/best-practices/development/routing-events-to-processes.md
Labels: component:docs

#3553 backport 3546
  docs/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.1/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.2/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.3/components/best-practices/development/routing-events-to-processes.md
Labels: best-practices

#3513 docs(web-modeler): permissions are evaluated with OIDC provider
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: target:8.5, component:web-modeler-sm

#3542 docs(web-modeler): update design mode section to include information about Documentation property
  docs/components/modeler/web-modeler/design-your-process.md
  docs/components/modeler/web-modeler/img/design-mode.png
Labels: component:modeler, target:8.5

#3535 Update product snapshots for Tasklist processes user guide
  docs/components/tasklist/userguide/img/tasklist-processes-search.png
  docs/components/tasklist/userguide/img/tasklist-processes-start-with-form.png
  docs/components/tasklist/userguide/img/tasklist-processes-start.png
  docs/components/tasklist/userguide/img/tasklist-processes.png
Labels: kind/enhancement, component:tasklist

#3554 docs: update credentials provider docs with new API
  docs/self-managed/zeebe-deployment/security/client-authorization.md
Labels: component:zeebe, component:self-managed

#3557 docs: SSL configuration for REST API
  docs/self-managed/zeebe-deployment/security/secure-client-communication.md
Labels: component:zeebe, target:8.5

#3558 docs: document REST & management configuration
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  docs/self-managed/zeebe-deployment/operations/health.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  docs/self-managed/zeebe-deployment/operations/network-ports.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/zeebe-gateway-overview.md
Labels: component:zeebe, target:8.5

#3559 feat: Clarify terms in Zeebe-Process-Test
  docs/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.1/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.2/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.3/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.4/apis-tools/java-client/zeebe-process-test.md
Labels: component:zeebe

#3561 feat: Rename Zeebe gPRC page title (Gateway service)
  docs/apis-tools/zeebe-api/gateway-service.md
  docs/apis-tools/zeebe-api/grpc.md
  versioned_docs/version-8.1/apis-tools/grpc.md
  versioned_docs/version-8.2/apis-tools/grpc.md
  versioned_docs/version-8.3/apis-tools/grpc.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/grpc.md
Labels: component:zeebe

#3518 doc: add azure backup configuration to broker configuration page.
  docs/self-managed/zeebe-deployment/configuration/broker.md
Labels: component:zeebe, component:self-managed

#3371 docs remove compensation event note
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
Labels: component:docs, target:8.5

#3495 docs(connectors): Add documentation and exemple for ConnectorRetryException
  docs/components/connectors/custom-built-connectors/connector-sdk.md
Labels: component:connectors, target:8.5

#3526 docs(ootbc): Update timeout settings in network communication docs
  docs/components/connectors/protocol/graphql.md
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.1/components/connectors/protocol/graphql.md
  versioned_docs/version-8.1/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/graphql.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/graphql.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.4/components/connectors/protocol/graphql.md
  versioned_docs/version-8.4/components/connectors/protocol/rest.md
Labels: component:connectors, target:8.5

#3539 docs(operate): update supported elements in migration guide
  docs/components/operate/userguide/process-instance-migration.md
Labels: component:operate, target:8.5

#3563 feat(console-sm): telemetry config
  docs/self-managed/console-deployment/configuration.md
Labels: component:console, component:self-managed, target:8.5

#3522 docs: document migrating embedded subprocesses
  docs/components/concepts/assets/process-instance-migration/migration-subprocess_after.png
  docs/components/concepts/assets/process-instance-migration/migration-subprocess_before.png
  docs/components/concepts/process-instance-migration.md
Labels: component:zeebe, target:8.5

#3536 feat(helm): includes section about application configuration passthrough options
  docs/self-managed/operational-guides/application-configs.md
  sidebars.js
Labels: component:self-managed, target:8.5

#3566 refactor: generalize the strategy for generating API Explorers
  api/generate-api-docs.js
  api/zeebe/generation-strategy.js
  api/zeebe/post-generate.sh
  howtos/interactive-api-explorers.md
  package-lock.json
  package.json
Labels: kind/enhancement, dx, epic:api-interactivity

#3552 draft spring zeebe sdk
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/apis-tools/working-with-apis-tools.md
  sidebars.js
Labels: target:8.5

#3571 docs(zeebe): document rolling updates
  docs/self-managed/zeebe-deployment/operations/update-zeebe.md
Labels: component:zeebe, component:self-managed, target:8.5

#3578 Reference REST API for Zeebe where applicable
  docs/apis-tools/java-client-examples/cluster-topology-request.md
  docs/apis-tools/java-client/index.md
  docs/apis-tools/java-client/zeebe-process-test.md
  docs/apis-tools/working-with-apis-tools.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  docs/components/zeebe/technical-concepts/architecture.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/reference/glossary.md
Labels: component:zeebe, target:8.5

#3507 feat: move GraphQL docs to deprecated folder
  docs/apis-tools/tasklist-api/tasklist-api-overview.md
  optimize_sidebars.js
  sidebars.js
Labels: kind/cleanup, component:tasklist, target:8.5

#3549 Describe task lifecycle best practices and how they work with optimize
  docs/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
  docs/apis-tools/frontend-development/01-task-applications/_category_.yml
  docs/apis-tools/frontend-development/01-task-applications/img/task-assignment.png
  docs/apis-tools/frontend-development/01-task-applications/img/task-lifecycle-ui.png
  docs/apis-tools/frontend-development/01-task-applications/img/tasklist-details.png
  docs/apis-tools/frontend-development/01-task-applications/img/tasklist-processes.png
  docs/apis-tools/frontend-development/01-task-applications/styles.module.css
  docs/apis-tools/frontend-development/img/task-lifecycle.png
  docs/apis-tools/working-with-apis-tools.md
  docusaurus.config.js
  optimize_sidebars.js
  package-lock.json
  package.json
Labels: kind/feature, component:tasklist, component:optimize, dx, target:8.5

#3579 docs: note incompatibility of multi-tenancy interceptors for rest
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/interceptors.md
Labels: component:self-managed, target:8.5

#3588 feat(user-tasks): remove notes for Zeebe task availability in alpha
  docs/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/tasklist/introduction-to-tasklist.md
Labels: kind/cleanup, component:tasklist, target:8.5

#3503 docs(announcements): web-modeler beta api removal
  docs/apis-tools/web-modeler-api/index.md
  docs/reference/announcements.md
Labels: component:docs, component:web-modeler-sm

#3593 fix: spring zeebe sdk doc improvements
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: component:docs, target:8.5

#3590 docs: announce minimum go version bump for zeebe client
  docs/apis-tools/go-client/go-get-started.md
  docs/apis-tools/go-client/index.md
  docs/reference/announcements.md
Labels: component:docs, target:8.5

#3567 chore: update zeebe rest api docs
  api/zeebe/generation-strategy.js
  api/zeebe/zeebe-openapi.yaml
  docs/apis-tools/zeebe-api-rest/specifications/complete-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/update-a-user-task.api.mdx
Labels: kind/cleanup, component:docs, dx

#3598 fix: revert zeebe-api-rest sidebar removal
  sidebars.js
Labels: kind/bug, component:docs, dx

#3565 clarify console saas/sm
  versioned_docs/version-8.4/components/components-overview.md
  versioned_docs/version-8.4/components/console/introduction-to-console.md
  versioned_docs/version-8.4/guides/introduction-to-camunda-8.md
  versioned_docs/version-8.4/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.4/self-managed/about-self-managed.md
Labels: component:console, component:self-managed

#3499 docs(announcements): add note on updating Web Modeler 8.2 to a newer version
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
Labels: component:web-modeler-sm

#3572 feat(concepts): update backup docs
  docs/components/concepts/backups.md
  versioned_docs/version-8.2/components/concepts/backups.md
  versioned_docs/version-8.3/components/concepts/backups.md
  versioned_docs/version-8.4/components/concepts/backups.md
Labels: component:docs

#3564 docs(Optimize): Technical documentation for Optimize with OpenSearch
  docs/reference/supported-environments.md
  docs/self-managed/platform-deployment/docker.md
  optimize/self-managed/optimize-deployment/configuration/getting-started.md
  optimize/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize/self-managed/optimize-deployment/configuration/shared-elasticsearch-cluster.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize, target:8.5

#3516 Update Tasklist overview and example use case documentation
  docs/components/tasklist/img/tasklist-start-screen_light.png
  docs/components/tasklist/userguide/img/tasklist-claim_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-empty_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me-list_light.png
  docs/components/tasklist/userguide/img/tasklist-claimed-by-me_light.png
  docs/components/tasklist/userguide/img/tasklist-complete-task_light.png
  docs/components/tasklist/userguide/img/tasklist-task-completed_light.png
  docs/components/tasklist/userguide/img/tasklist-task-ordering.png
  docs/components/tasklist/userguide/img/tasklist-with-variables-claimed-by-me_light.png
  docs/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist

#3592 chore(deps): update dependencies for web-modeler 8.2,8.3,8.4
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
Labels: target:8.5, component:web-modeler-sm

#3541 docs(optimize): document kpi modal
  docs/guides/improve-processes-with-optimize.md
  optimize/components/userguide/creating-reports.md
  optimize/components/userguide/img/process-kpi-step1.png
  optimize/components/userguide/img/process-kpi-step2.png
  optimize/components/userguide/img/processOverview.png
  optimize/components/userguide/process-KPIs.md
  optimize/components/userguide/process-dashboards.md
  optimize_sidebars.js
  sidebars.js
Labels: component:optimize

#3509 Update Local deployment guide with connectivity topics
  docs/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
Labels: component:self-managed

#3562 docs(dual-region): add all related dual-region topics
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/concepts/multi-region/img/dual-region.svg
  docs/self-managed/operational-guides/multi-region/components/stateContainer.css
  docs/self-managed/operational-guides/multi-region/components/stateContainer.jsx
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/operational-guides/multi-region/img/10.svg
  docs/self-managed/operational-guides/multi-region/img/11.svg
  docs/self-managed/operational-guides/multi-region/img/12.svg
  docs/self-managed/operational-guides/multi-region/img/13.svg
  docs/self-managed/operational-guides/multi-region/img/14.svg
  docs/self-managed/operational-guides/multi-region/img/15.svg
  docs/self-managed/operational-guides/multi-region/img/3.svg
  docs/self-managed/operational-guides/multi-region/img/4.svg
  docs/self-managed/operational-guides/multi-region/img/5.svg
  docs/self-managed/operational-guides/multi-region/img/6.svg
  docs/self-managed/operational-guides/multi-region/img/7.svg
  docs/self-managed/operational-guides/multi-region/img/9.svg
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/assets/core-dns-kube-dns.svg
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/dual-region.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
Labels: component:self-managed, target:8.5, component:infex

#3550 add versioning details to release policy
  docs/reference/release-policy.md
Labels: component:docs

#3599 typo for update endpoint
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
Labels: component:docs, target:8.5

#3605 chore(deps): update web modeler deps
  docs/reference/dependencies.md
Labels: component:modeler, component:web-modeler-sm

#3601 chore(sidebars): sync sidebars in v8.4
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs, dx, target:8.5

#3556 chore: Tutorial to use Tasklist REST API
  docs/apis-tools/tasklist-api-rest/assets/img/simple-user-task-process.png
  docs/apis-tools/tasklist-api-rest/sidebar-schema.js
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-tutorial.md
  static/bpmn/apis-tools/api-test-process.bpmn
Labels: component:tasklist, target:8.5

#3597 feat(zeebe-api): link Zeebe API docs where endpoints are mentioned
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
  docs/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
Labels: kind/enhancement, component:zeebe, component:tasklist, target:8.5

#3603 Adding Telemetry page to describe Console SM telemetry.
  docs/self-managed/console-deployment/img/telemetry-page-view.png
  docs/self-managed/console-deployment/telemetry-sample.json
  docs/self-managed/console-deployment/telemetry.md
  sidebars.js
Labels: component:console, component:self-managed

#3521 docs(self-managed): external-elasticsearch configuration
  docs/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  docs/self-managed/setup/guides/using-existing-elasticsearch.md
  docs/self-managed/setup/guides/using-existing-opensearch.md
  docs/self-managed/setup/upgrade.md
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed

#3600 chore(sidebars): sync sidebars in vNext
  optimize_sidebars.js
  sidebars.js
Labels: component:docs, dx, target:8.5

#3589 feat(tasklist-docs): clean up graphQL references
  docs/components/tasklist/introduction-to-tasklist.md
Labels: component:tasklist, target:8.5

#3610 Zeebe process test requires java 21+
  docs/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.4/apis-tools/java-client/zeebe-process-test.md
Labels: component:docs

#3609 Migrate process instances at your own risk
  docs/components/concepts/assets/process-instance-migration/migration-use-at-your-own-risk.png
  docs/components/concepts/process-instance-migration.md
  docs/components/concepts/process-instance-modification.md
  versioned_docs/version-8.4/components/concepts/assets/process-instance-migration/migration-use-at-your-own-risk.png
  versioned_docs/version-8.4/components/concepts/process-instance-migration.md
  versioned_docs/version-8.4/components/concepts/process-instance-modification.md
Labels: component:docs

#3494 Compensation events
  docs/components/modeler/bpmn/bpmn-coverage.md
  docs/components/modeler/bpmn/compensation-events/assets/compensation-activity-ref.png
  docs/components/modeler/bpmn/compensation-events/assets/compensation-embedded-subprocess.png
  docs/components/modeler/bpmn/compensation-events/assets/compensation-event-subprocess.png
  docs/components/modeler/bpmn/compensation-events/assets/compensation-multi-instance-activity.png
  docs/components/modeler/bpmn/compensation-events/assets/compensation-throw-event.png
  docs/components/modeler/bpmn/compensation-events/compensation-events.md
  docs/components/modeler/bpmn/compensation-handler/assets/call-activity-compensation-handler.png
  docs/components/modeler/bpmn/compensation-handler/assets/compensation-marker-example.png
  docs/components/modeler/bpmn/compensation-handler/assets/multi-instance-compensation-handler.png
  docs/components/modeler/bpmn/compensation-handler/assets/subprocess-compensation-handler.png
  docs/components/modeler/bpmn/compensation-handler/compensation-handler.md
  docs/components/modeler/bpmn/events.md
  docs/components/modeler/bpmn/markers.md
  sidebars.js
Labels: component:modeler, target:8.5

#3456 onboarding extSso: hint to openid-configuration
  docs/components/console/manage-organization/external-sso.md
  versioned_docs/version-8.4/components/console/manage-organization/external-sso.md
Labels: component:console

#3577 docs: update Helm chart docs for REST API
  docs/self-managed/setup/deploy/amazon/aws-marketplace.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  docs/self-managed/setup/deploy/other/docker.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/guides/multi-namespace-deployment.md
  docs/self-managed/setup/upgrade.md
Labels: component:self-managed, target:8.5

#3581 Telemetry and Alpha tag updates
  docs/self-managed/console-deployment/configuration.md
  docs/self-managed/console-deployment/overview.md
Labels: component:console, target:8.5

#3465 Update announcements.md
  docs/reference/announcements.md
Labels: target:8.5

#3594 docs(identity): document existing self-managed permissions
  docs/self-managed/identity/user-guide/roles/add-assign-permission.md
Labels: component:identity, component:self-managed

#3615 feat: add docs for tasklist custom filters
  docs/components/tasklist/userguide/img/custom-filters-icon.png
  docs/components/tasklist/userguide/img/tasklist-custom-filters-modal.png
  docs/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist

#3625 docs(sidebar): resurrect aws dual-region setup
  sidebars.js
Labels: component:self-managed

#3623 chore(operate): update version dependencies
  docs/reference/dependencies.md
  versioned_docs/version-8.1/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
Labels: component:operate

#3616 chore(sidebars): sync sidebars in v8.3/3.11.0
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:docs, dx, target:8.5

#3617 chore(sidebars): sync sidebars in v8.2/3.10.0
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
Labels: component:docs, dx, target:8.5

#3618 chore(sidebars): sync sidebars in v8.1/3.9.0
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  versioned_sidebars/version-8.1-sidebars.json
Labels: component:docs, dx, target:8.5

#3619 chore(sidebars): sync sidebars in v1.3/3.7.0
  optimize_versioned_sidebars/version-3.7.0-sidebars.json
Labels: component:docs, dx, target:8.5

#3530 docs(self-managed): Upgrade instructions for Helm chart 10.0.0 - Camunda 8.5
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  docs/self-managed/setup/deploy/amazon/aws-marketplace.md
  docs/self-managed/setup/deploy/azure/microsoft-aks.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  docs/self-managed/setup/deploy/local/manual.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  docs/self-managed/setup/deploy/other/docker.md
  docs/self-managed/setup/guides/air-gapped-installation.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/guides/multi-namespace-deployment.md
  docs/self-managed/setup/guides/upgrade.md
  docs/self-managed/setup/guides/using-existing-keycloak.md
  docs/self-managed/setup/install.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.4/self-managed/platform-deployment/troubleshooting.md
Labels: component:self-managed, target:8.5

#3622 add node.js sdk
  docs/apis-tools/img/process-model.png
  docs/apis-tools/node-js-sdk.md
  optimize_sidebars.js
  sidebars.js
Labels: target:8.5

#3630 release 8.5, reviewable steps
  .github/workflows/build-docs.yaml
  .github/workflows/check-versions/version-config.json
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile.build
  docusaurus.config.js
  hacks/cutNewVersions.sh
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.1/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.4/apis-tools/working-with-apis-tools.md
  versions.json
Labels: component:docs, dx, target:8.5

#3632 fix: remove the 'unsupported' banner from the optimize 3.12 docs
  docusaurus.config.js
Labels: kind/bug, component:docs, dx

#3545 chore: update play docs
  docs/components/modeler/data-handling.md
  docs/components/modeler/web-modeler/img/play-instance.png
  docs/components/modeler/web-modeler/img/play-rewind.png
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.2/components/modeler/data-handling.md
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.2/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.3/components/modeler/data-handling.md
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.3/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.4/components/modeler/data-handling.md
  versioned_docs/version-8.4/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.4/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.4/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#3631 docs(self-managed): add helm chart section in 8.5 announcements
  docs/reference/announcements.md
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/reference/announcements.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/840-to-850.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#3626 match text and code snippet
  docs/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-1.3/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.1/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.2/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.3/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.4/components/modeler/desktop-modeler/flags/flags.md
Labels: component:desktop-modeler

#3638 chore: backport play doc updates to 8.5
  versioned_docs/version-8.2/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.3/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.4/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.5/components/modeler/data-handling.md
  versioned_docs/version-8.5/components/modeler/web-modeler/img/play-instance.png
  versioned_docs/version-8.5/components/modeler/web-modeler/img/play-rewind.png
  versioned_docs/version-8.5/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#3640 Set value to false 3.11 and onward
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration-platform-7.md
Labels: kind/bug, component:docs, component:optimize

#3641 fix?: maybe fix these two api explorer redirects?
  static/.htaccess
Labels: component:docs, dx

#3642 bug fix admonitions
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/components/best-practices/operations/operating-camunda-c7.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.1/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.2/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.3/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.4/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.5/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.5/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: kind/bug, component:docs

#3644 docs(self-managed): set web-modeler postgresql helm key back
  docs/self-managed/setup/guides/air-gapped-installation.md
  docs/self-managed/setup/guides/multi-namespace-deployment.md
  docs/self-managed/setup/install.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.5/self-managed/setup/guides/multi-namespace-deployment.md
  versioned_docs/version-8.5/self-managed/setup/install.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#3647 Add a warning message to not Update upgrade until major 10.0.1 issues are fixed.
  docs/reference/announcements.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/reference/announcements.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#3648 Update warning caution message for HC v10 upgrade guide
  docs/reference/announcements.md
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/reference/announcements.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/840-to-850.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: kind/bug, component:self-managed, target:8.5

#3651 docs(web-modeler): remove migration guide from next
  docs/apis-tools/web-modeler-api/index.md
Labels: component:docs, component:web-modeler-sm

#3591 feat(optimize): add optimize c8 userTask docs
  optimize/components/userguide/process-analysis/img/userTask_duration_heatMap.png
  optimize/components/userguide/process-analysis/img/userTask_features1.png
  optimize/components/userguide/process-analysis/img/userTask_features2.png
  optimize/components/userguide/process-analysis/img/userTask_heatMap.png
  optimize/components/userguide/process-analysis/img/userTask_report_filters.png
  optimize/components/userguide/process-analysis/img/userTask_target_heatMap.png
  optimize/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize/components/userguide/process-analysis/report-analysis/measures.md
  optimize/components/userguide/process-analysis/user-task-analytics.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_duration_heatMap.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_features1.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_features2.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_heatMap.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_report_filters.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_target_heatMap.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/report-analysis/define-reports.md
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/report-analysis/measures.md
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/user-task-analytics.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  sidebars.js
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:optimize

#3652 docs: simplify API Explorer docs
  howtos/interactive-api-explorers.md
Labels: kind/cleanup, component:docs, dx

#3636 feature: task context variables
  docs/components/concepts/assets/context-variables.png
  docs/components/concepts/variables.md
  versioned_docs/version-8.5/components/concepts/assets/context-variables.png
  versioned_docs/version-8.5/components/concepts/variables.md
Labels: component:tasklist, target:8.5, component:web-modeler-SaaS, component:desktop-modeler, 8.5.0

#3583 Update local-kubernetes-cluster.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/local-kubernetes-cluster.md
Labels: component:self-managed

#3663 chore(web-modeler): clarify target container for timeout increases
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
Labels: component:web-modeler-sm

#3455 8.5 release notes
  docs/reference/overview.md
  docs/reference/release-notes/850.md
  docs/reference/release-notes/release-notes.md
  sidebars.js
  versioned_docs/version-8.5/reference/overview.md
  versioned_docs/version-8.5/reference/release-notes/850.md
  versioned_docs/version-8.5/reference/release-notes/release-notes.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs, target:8.5

#3659 Backport to 8.5
  versioned_docs/version-8.5/self-managed/setup/deploy/local/local-kubernetes-cluster.md
Labels: component:self-managed

#3667 docs(spring-zeebe-sdk): add repo for identity sdk
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: component:zeebe

#3675 Add 860 update guide
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  sidebars.js
Labels: component:docs, component:self-managed, target:8.6

#3674 Add 8.5 update guide to intro page
  docs/self-managed/operational-guides/update-guide/introduction.md
  versioned_docs/version-8.5/self-managed/operational-guides/update-guide/introduction.md
Labels: kind/bug, component:docs, component:self-managed, target:8.5

#3660 Zeebe 8.5.0 breaks serialization of timestamp values in management API
  docs/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:zeebe

#3671 chore(optimize): move usertask sidebars to correct location
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  sidebars.js
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:optimize

#3669 feat(announcements): document upcoming change to generation naming
  docs/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:docs

#3664 operate-6227-opensearch-permissions
  docs/self-managed/concepts/opensearch-privileges.md
  sidebars.js
  versioned_docs/version-8.4/self-managed/concepts/opensearch-privileges.md
  versioned_docs/version-8.5/self-managed/concepts/opensearch-privileges.md
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:operate

#3683 console: update screenshots for 8.5
  docs/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/components/console/manage-clusters/img/cluster-delete.png
  docs/components/console/manage-clusters/img/cluster-detail-alerts.png
  docs/components/console/manage-clusters/img/cluster-detail-clients.png
  docs/components/console/manage-clusters/img/cluster-detail-create-alert.png
  docs/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  docs/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  docs/components/console/manage-clusters/img/cluster-detail-secrets.png
  docs/components/console/manage-clusters/img/cluster-details-create-client.png
  docs/components/console/manage-clusters/img/cluster-details-created-client.png
  docs/components/console/manage-clusters/img/cluster-overview-empty.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  docs/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  docs/components/console/manage-clusters/img/cluster-rename.png
  docs/components/console/manage-clusters/img/cluster-settings.png
  docs/components/console/manage-organization/img/activity-view.png
  docs/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  docs/components/console/manage-organization/img/avatar-menue.png
  docs/components/console/manage-organization/img/billing-overview.png
  docs/components/console/manage-organization/img/create-console-api-client.png
  docs/components/console/manage-organization/img/delete-account.png
  docs/components/console/manage-organization/img/trial-usage-history.png
  docs/components/console/manage-plan/img/checkout.png
  docs/guides/img/home.png
  versioned_docs/version-8.5/components/console/console-troubleshooting/img/contact-feedback-and-support.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-delete.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-alerts.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-clients.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-create-alert.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-create-ip-whitelist.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-ip-whitelists.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-secrets-create.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-secrets-view.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-secrets.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-details-create-client.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-details-created-client.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-overview-empty.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-overview-new-cluster-creating.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-overview-new-cluster-healthy.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-rename.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-settings.png
  versioned_docs/version-8.5/components/console/manage-organization/img/activity-view.png
  versioned_docs/version-8.5/components/console/manage-organization/img/avatar-menue-multiple-organisations.png
  versioned_docs/version-8.5/components/console/manage-organization/img/avatar-menue.png
  versioned_docs/version-8.5/components/console/manage-organization/img/billing-overview.png
  versioned_docs/version-8.5/components/console/manage-organization/img/create-console-api-client.png
  versioned_docs/version-8.5/components/console/manage-organization/img/delete-account.png
  versioned_docs/version-8.5/components/console/manage-organization/img/trial-usage-history.png
  versioned_docs/version-8.5/components/console/manage-plan/img/checkout.png
  versioned_docs/version-8.5/guides/img/home.png
Labels: component:docs, component:console

#3680 chore: add helm cli versions into docs and troubleshooting sections
  docs/reference/supported-environments.md
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.5/self-managed/operational-guides/troubleshooting/troubleshooting.md
Labels: component:docs, component:self-managed, target:8.5, 8.5.0

#3690 adjust redirect for grpc link
  static/.htaccess
Labels: component:zeebe

#3696 Follow up on 8.5 release notes - Zeebe API
  docs/reference/release-notes/850.md
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: component:zeebe, component:docs, target:8.5

#3694 fix(connectors): slack inbound data mapping
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors

#3695 fix(dual-region): Rephrase the release notes on supported components for clarity
  docs/reference/release-notes/850.md
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: component:infex

#3639 docs: adding restAddress configuration for integration with Zeebe API
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist, component:self-managed, target:8.5

#3702 chore(optimize): add 3.13 migration notes to sidebars
  sidebars.js
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:optimize

#3692 Add `linux/amd64` to supported environments
  docs/reference/supported-environments.md
  docs/self-managed/setup/deploy/other/docker.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.5/self-managed/setup/deploy/other/docker.md
Labels: component:docs, component:self-managed

#3606 feat: add refactoring suggestions docs
  docs/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-1.png
  docs/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-2.png
  docs/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-3.png
  docs/components/modeler/web-modeler/advanced-modeling/refactoring-suggestions.md
  sidebars.js
  versioned_docs/version-8.5/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-1.png
  versioned_docs/version-8.5/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-2.png
  versioned_docs/version-8.5/components/modeler/web-modeler/advanced-modeling/img/refactoring-suggestions-3.png
  versioned_docs/version-8.5/components/modeler/web-modeler/advanced-modeling/refactoring-suggestions.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:modeler, target:8.5

#3693 feat(connectors): inbound deduplication
  docs/components/connectors/img/deduplication-example.png
  docs/components/connectors/img/deduplication-input-example.png
  docs/components/connectors/use-connectors/inbound.md
Labels: component:connectors, 8.6.0-alpha1

#3703 Connectors: Fix broken code snippet
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.5/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors

#3700 docs(spring-zeebe-sdk): remove references to old annotation
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/components/best-practices/development/writing-good-workers.md
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.1/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.1/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.1/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.1/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.1/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.1/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.2/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.2/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.2/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.2/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.2/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.3/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.3/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.3/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.3/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.3/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.4/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.4/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.4/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.4/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.4/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.5/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.5/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.5/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.5/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.5/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/conceptual-differences.md
Labels: kind/bug, component:zeebe

#3716 sync sidebars for next
  optimize_sidebars.js
  sidebars.js
Labels: component:docs

#3717 sync sidebars 8.5/3.13
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
Labels: component:docs

#3718 sync sidebars 8.4/3.12
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
Labels: component:docs

#3420 Add "Manage Connector Templates" docs
  docs/components/connectors/img/connector-templates/manage-connector-templates-no-org-privileges.png
  docs/components/connectors/img/connector-templates/manage-connector-templates-org-privileges.png
  docs/components/connectors/manage-connector-templates.md
Labels: component:connectors

#3713 Remove deprecated community Node clients
  docs/apis-tools/community-clients/index.md
  docs/apis-tools/community-clients/javascript.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.5/apis-tools/community-clients/index.md
  versioned_docs/version-8.5/apis-tools/community-clients/javascript.md
  versioned_docs/version-8.5/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: target:8.5

#3697 chore(optimize): update usertask docs
  optimize/components/userguide/process-analysis/img/userTask_features1.png
  optimize/components/userguide/process-analysis/img/userTask_features2.png
  optimize/components/userguide/process-analysis/user-task-analytics.md
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_features1.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/img/userTask_features2.png
  optimize_versioned_docs/version-3.13.0/components/userguide/process-analysis/user-task-analytics.md
Labels: component:optimize

#3710 Add context path info to component REST APIs
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  versioned_docs/version-8.2/apis-tools/operate-api/overview.md
  versioned_docs/version-8.2/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.3/apis-tools/operate-api/overview.md
  versioned_docs/version-8.3/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.4/apis-tools/operate-api/overview.md
  versioned_docs/version-8.4/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.5/apis-tools/operate-api/overview.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.5/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
Labels: kind/enhancement, component:zeebe, component:operate, component:tasklist

#3723 docs(various): rephrase volume performance from cluster nodes to pers…
  docs/reference/supported-environments.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/amazon-eks.md
  docs/self-managed/setup/deploy/azure/microsoft-aks.md
  docs/self-managed/setup/deploy/gcp/google-gke.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.4/reference/supported-environments.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/amazon-eks.md
  versioned_docs/version-8.5/self-managed/setup/deploy/azure/microsoft-aks.md
  versioned_docs/version-8.5/self-managed/setup/deploy/gcp/google-gke.md
Labels: component:self-managed

#3729 note spring sdk in community client
  docs/apis-tools/community-clients/spring.md
  versioned_docs/version-8.5/apis-tools/community-clients/spring.md
Labels: component:docs

#3724 docs(self-managed): add section about helm cli in the upgrade page
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
Labels: component:self-managed

#3719 Improve PR template
  .github/pull_request_template.md
Labels: component:docs, dx

#3720 Document soft pause exporter.
  docs/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/management-api.md
Labels: component:zeebe

#3633 feat: document expression field in form element library (8.5)
  docs/components/modeler/forms/form-element-library/forms-element-library-expression.md
  docs/components/modeler/forms/form-element-library/forms-element-library.md
  docs/components/modeler/forms/sidebar-schema.js
  optimize_sidebars.js
  static/img/form-icons/form-expression.svg
  versioned_docs/version-8.5/components/modeler/forms/form-element-library/forms-element-library-expression.md
  versioned_docs/version-8.5/components/modeler/forms/form-element-library/forms-element-library.md
  versioned_docs/version-8.5/components/modeler/forms/sidebar-schema.js
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:modeler, target:8.5

#3742 Refresh style guide
  howtos/technical-writing-cheatsheet.md
  howtos/technical-writing-styleguide.md
Labels: component:docs
