Repository camunda/camunda-docs, pull requests merged in 2024-10, with the labels that each got.

#4342 Dual region pages update for clarity
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
Labels: component:self-managed, component:infex, deploy

#4334 docs: update Announcement doc with new Operate and Tasklist webapp urls
  docs/reference/announcements.md
Labels: target:8.6

#4349 lowercase blueprints
  docs/components/modeler/web-modeler/launch-web-modeler.md
  docs/reference/release-notes/860.md
  versioned_docs/version-8.5/components/modeler/web-modeler/launch-web-modeler.md
Labels: component:docs

#4228 Move Go and CLI client to community section
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-other.png
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-pong.png
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-process-id.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-sequence-flows.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced.png
  docs/apis-tools/community-clients/cli-client/cli-get-started.md
  docs/apis-tools/community-clients/cli-client/index.md
  docs/apis-tools/community-clients/go-client/assets/java-get-started-monitor-1.gif
  docs/apis-tools/community-clients/go-client/assets/java-get-started-monitor-2.gif
  docs/apis-tools/community-clients/go-client/assets/order-process-simple.png
  docs/apis-tools/community-clients/go-client/assets/order-process.png
  docs/apis-tools/community-clients/go-client/go-get-started.md
  docs/apis-tools/community-clients/go-client/index.md
  docs/apis-tools/community-clients/go-client/job-worker.md
  docs/apis-tools/community-clients/index.md
  docs/apis-tools/working-with-apis-tools.md
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/reference/announcements.md
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  docs/self-managed/setup/deploy/local/manual.md
  docs/self-managed/setup/guides/accessing-components-without-ingress.md
  docs/self-managed/zeebe-deployment/security/client-authorization.md
  docs/self-managed/zeebe-deployment/security/secure-client-communication.md
  docs/self-managed/zeebe-deployment/zeebe-gateway/job-streaming.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:docs, deploy, 8.6.0

#4374 Remove auto-pause note
  docs/components/concepts/clusters.md
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/console/manage-clusters/manage-cluster.md
  versioned_docs/version-8.3/components/concepts/clusters.md
  versioned_docs/version-8.4/components/concepts/clusters.md
  versioned_docs/version-8.5/components/concepts/clusters.md
  versioned_docs/version-8.5/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.5/components/console/manage-clusters/manage-cluster.md
Labels: kind/bug, kind/cleanup, component:docs, component:console, 8.6.0

#4307 doc(email-connector): create a documentation for the new email connector
  docs/components/connectors/out-of-the-box-connectors/email.md
  optimize_sidebars.js
  sidebars.js
Labels: target:8.6, 8.6.0

#4381 chore(sidebars): sync sidebars in vNext
  optimize_sidebars.js
Labels: component:docs, dx

#4380 docs: address auth rewrite feedback
  docs/apis-tools/administration-api/authentication.md
  docs/apis-tools/administration-sm-api/administration-sm-api-authentication.md
  docs/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
  docs/apis-tools/operate-api/authentication.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  docs/apis-tools/web-modeler-api/authentication.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  optimize/apis-tools/optimize-api/optimize-api-authentication.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/optimize-api-authentication.md
  versioned_docs/version-8.5/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.5/apis-tools/operate-api/authentication.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.5/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
Labels: component:docs, theme:api-streamline

#4379 docs: update 3rd party deps for monorepo
  docs/reference/dependencies.md
Labels: 8.6.0

#4241 feat: split optimize upgrade to camunda 8 & 7 versions
  optimize/self-managed/optimize-deployment/configuration/common-problems.md
  optimize/self-managed/optimize-deployment/configuration/multi-tenancy.md
  optimize/self-managed/optimize-deployment/configuration/setup-event-based-processes.md
  optimize/self-managed/optimize-deployment/migration-update/3.13_8.5-to-3.14_8.6.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.1-to-2.2.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.2-to-2.3.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.3-to-2.4.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.4-to-2.5.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.5-to-2.6.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.6-to-2.7.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.7-to-3.0.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.0-to-3.1.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.1-to-3.2.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.10-to-3.11.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.11-to-3.12.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.12-to-3.13.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.13-to-3.14.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.2-to-3.3.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.3-to-3.4.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.4-to-3.5.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.5-to-3.6.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.6-to-3.7.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.7-to-3.8.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.8-to-3.9-preview.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.9-preview-to-3.9.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.9-to-3.10.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/img/private_report_access_1_create_collection.png
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/img/private_report_access_2_create_view_permission_mary.png
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/img/private_report_access_3_1_copy_report.png
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/img/private_report_access_3_2_copy_report.png
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/img/private_report_access_4_mary_sees_collection.png
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/instructions.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.10-to-3.11_8.3.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.11_8.3-to-3.12_8.4.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.12_8.4-to-3.13_8.5.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.13_8.5-to-8.6.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.7-to-3.8.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.8-to-3.9-preview.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.9-preview-to-3.9.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.9-to-3.10.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/instructions.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:optimize, target:8.6, deploy

#4384 fix: fix broken 3rd party deps disclosure
  docs/reference/dependencies.md
Labels: deploy, 8.6.0

#4367 Document Deploy and Play for process applications
  docs/components/modeler/web-modeler/deploy-process-application.md
  docs/components/modeler/web-modeler/process-applications.md
Labels: kind/feature, component:modeler, component:web-modeler-SaaS, target:8.6, 8.6.0

#4385 chore(sidebars): sync sidebars in v8.5/3.13.0
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: dx

#4386 chore(sidebars): sync sidebars in v8.4/3.12.0
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
Labels: dx

#4363 feat: redefine union request types when c8 REST docs are generated
  api/camunda/camunda-openapi.yaml
  api/camunda/generation-strategy.js
  api/zeebe/generation-strategy.js
  docs/apis-tools/camunda-api-rest/specifications/activate-jobs.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/assign-user-task.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/broadcast-signal.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/cancel-process-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/complete-job.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/complete-user-task.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/correlate-a-message.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/create-document-link-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/create-process-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/delete-document-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/delete-resource.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/deploy-resources.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/download-document-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/evaluate-decision.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/fail-job.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-all-users.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-cluster-topology.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-definition-xml-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-incident-by-key-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-status-of-camunda-license.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/migrate-process-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/modify-process-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/pin-internal-clock-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/publish-a-message.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-decision-definitions-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-decision-instances-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-decision-requirements-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-flow-node-instances-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-incidents-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-process-instances-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/query-user-tasks-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/report-error-for-job.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/reset-internal-clock-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/resolve-incident.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/unassign-user-task.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-a-job.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-element-instance-variables.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-user-task.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/upload-document-alpha.api.mdx
Labels: epic:api-interactivity, theme:api-streamline, deploy

#4387 chore(sidebars): sync sidebars in v8.3/3.11.0
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
Labels: dx

#4388 chore(sidebars): sync sidebars in v8.2/3.10.0
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
Labels: dx

#4346 ms entra integration: added identity to list of platforms
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:identity

#4340 feat(dependencies): link to written offer
  docs/reference/dependencies.md
Labels: target:8.6, 8.6.0

#4394 docs: update Optimize dependencies list
  docs/reference/dependencies.md
Labels: component:optimize

#4378 Add C8Run to the getting started guides
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/img/form-id.png
  docs/guides/img/form-values-bottom.png
  docs/guides/img/form-values-top.png
  docs/guides/img/run-process-sm.png
  docs/guides/react-components/install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, deploy, 8.6.0

#4361 Advanced SaaS Offering with increased uptime
  docs/components/best-practices/architecture/sizing-your-environment.md
  docs/components/concepts/clusters.md
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
Labels: kind/feature, component:console, 8.6.0

#4362 update licensing information for 8.6
  docs/reference/licenses.md
  docs/self-managed/react-components/components.md
Labels: 8.6.0

#4390 chore: add optimize translation diff
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.13-to-3.14.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.13_8.5-to-8.6.md
  optimize/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_313_314.diff
Labels: component:optimize, component:self-managed, 8.6.0

#4409 Dependency edits from PR 4340
  docs/reference/dependencies.md
Labels: kind/enhancement, component:docs, deploy, 8.6.0

#4407 backport typos according to 4364
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/zeebe/zeebe-overview.md
  docs/guides/migrating-from-cawemo.md
  docs/reference/supported-environments.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  docs/self-managed/setup/overview.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-1.3/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.2/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.3/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.3/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.4/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.4/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.4/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.4/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.4/reference/supported-environments.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/overview.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/platforms.md
  versioned_docs/version-8.4/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.5/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.5/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.5/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.5/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.5/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.5/self-managed/setup/overview.md
Labels: component:docs

#4413 clean up docs typos
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/apis-tools/testing/connectors.md
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-1.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.2/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.2/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.3/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.3/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.3/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.4/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.4/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.4/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.5/components/best-practices/architecture/deciding-about-your-stack-c7.md
  versioned_docs/version-8.5/components/best-practices/development/invoking-services-from-the-process-c7.md
  versioned_docs/version-8.5/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: kind/bug, component:docs

#4411 Fix Release Policy diagram typo
  docs/reference/img/diagram-releases.png
  versioned_docs/version-8.2/reference/img/diagram-releases.png
  versioned_docs/version-8.3/reference/img/diagram-releases.png
  versioned_docs/version-8.4/reference/img/diagram-releases.png
  versioned_docs/version-8.5/reference/img/diagram-releases.png
Labels: kind/bug, component:docs

#4400 feat: Adding documentation for OpenSearch installations
  optimize/self-managed/optimize-deployment/advanced-features/engine-data-deletion.md
  optimize/self-managed/optimize-deployment/configuration/getting-started.md
  optimize/self-managed/optimize-deployment/configuration/security-instructions.md
  optimize/self-managed/optimize-deployment/configuration/shared-elasticsearch-cluster.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/install-and-start.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.13-to-3.14.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/3.13_8.5-to-8.6.md
Labels: component:optimize, target:8.6, deploy

#4348 Document instance migration phases 3 and 4
  docs/apis-tools/zeebe-api/gateway-service.md
  docs/components/concepts/assets/process-instance-migration/migration-boundary-event_after.png
  docs/components/concepts/assets/process-instance-migration/migration-catch-event-different-target-trigger-updated.png
  docs/components/concepts/assets/process-instance-migration/migration-catch-event-different-target.png
  docs/components/concepts/assets/process-instance-migration/migration-catch-event-identical-target-trigger-updated.png
  docs/components/concepts/assets/process-instance-migration/migration-catch-event-source.png
  docs/components/concepts/assets/process-instance-migration/migration-catch-event-target-added.png
  docs/components/concepts/process-instance-migration.md
Labels: component:zeebe, deploy, 8.6.0

#4402 docs(self-managed): bitnami images can be pulled from Camunda's Docker Registry
  docs/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.5/self-managed/setup/guides/air-gapped-installation.md
Labels: component:self-managed

#4291 Update announcements.md
  docs/reference/announcements.md
Labels: component:optimize, 8.6.0

#4414 Use C8Run in the Spring getting started guide
  docs/guides/getting-started-java-spring.md
  docs/guides/react-components/install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, e2e, 8.6.0

#4417 fix: remove docuactions/cache
  .github/workflows/preview-env-deploy.yml
Labels: dx, deploy

#4389 docs(sqs-inbound): add a note about the polling time
  docs/components/connectors/out-of-the-box-connectors/amazon-sqs.md
Labels: component:connectors, 8.6.0

#4405 feat: improve minor version release procedure by automating git commits
  hacks/cutNewVersions.sh
  howtos/release-procedure.md
Labels: kind/enhancement, component:docs, dx

#4354 8.6 release notes
  docs/reference/release-notes/860.md
Labels: target:8.6, deploy, 8.6.0

#4419 clean up bedrock connector
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
Labels: kind/bug, component:connectors

#4383 docs(infraex): bump versions and fix links
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/irsa.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
Labels: component:self-managed, component:infex

#4355 docs(infraex): adds rest api option besides zbctl
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
Labels: component:self-managed, component:infex

#4421 release 8.6 (reviewable changes)
  .github/workflows/check-versions/version-config.json
  docusaurus.config.js
  hacks/cutNewVersions.sh
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.5/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.6/apis-tools/working-with-apis-tools.md
  versions.json
Labels: component:docs, dx, target:8.6, deploy

#4329 chore(connectors): add deprecation notice for some message start event templates
  docs/reference/announcements.md
Labels: component:connectors, target:8.6

#4426 document rest api long polling limitation
  docs/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.6/apis-tools/java-client/job-worker.md
Labels: 8.6.0

#4431 backport deprecation notice for some message start event templates
  versioned_docs/version-8.6/reference/announcements.md
Labels: 8.6.0

#4425 Release follow up, links and dates
  docs/reference/announcements.md
  docs/reference/release-notes/860.md
  docs/reference/release-notes/release-notes.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/reference/release-notes/860.md
  versioned_docs/version-8.6/reference/release-notes/release-notes.md
Labels: component:docs, target:8.6, deploy, 8.6.0

#4301 Update the Spring developer guide
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: target:8.6, deploy

#4432 add links to spring guide
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: component:docs

#4391 docs: add comprehend doc
  docs/components/connectors/out-of-the-box-connectors/amazon-comprehend.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  optimize_sidebars.js
  sidebars.js
Labels: component:connectors, target:8.7

#4433 Update Spring Boot to 8.6.0
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: target:8.6, deploy, 8.6.0

#4434 Auth issue c8run
  docs/guides/getting-started-java-spring.md
  docs/guides/react-components/install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/react-components/install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: kind/bug, target:8.6, deploy, 8.6.0

#4438 docs(dual-region): update base branch for 8.6 release scripts
  versioned_docs/version-8.6/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
Labels: component:self-managed, component:infex

#4437 Camunda 8 Run authentication warning
  docs/guides/getting-started-java-spring.md
  docs/guides/react-components/install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/react-components/install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: kind/bug, component:docs, component:self-managed, deploy

#4369 feat: customize URL of Google Tag Manager
  docusaurus.config.js
  package-lock.json
  package.json
  static/plugins/gtm/index.js
Labels: dx, deploy

#4443 docs: document file size configuration for deploy endpoint
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
Labels: component:zeebe, target:8.6, deploy

#4436 feat: reintroduce docusaurus caching to CI
  .github/actions/docusaurus-cache/action.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/preview-env-deploy.yml
  .github/workflows/publish-stage.yaml
Labels: dx, deploy

#4324 Docs site styling improvements
  docusaurus.config.js
  src/css/custom.css
Labels: kind/enhancement, component:docs, a11y

#4450 add sm detail to flow control announcement
  docs/reference/announcements.md
  versioned_docs/version-8.6/reference/announcements.md
Labels: component:docs

#4451 Add language to codeblock in Java Spring GSG
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: kind/cleanup

#4454 lowercase plan
  docs/components/concepts/clusters.md
  docs/components/console/manage-clusters/create-cluster-include.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/components/react-components/create-cluster.md
  versioned_docs/version-8.2/components/concepts/clusters.md
  versioned_docs/version-8.2/components/console/manage-plan/update-creditcard.md
  versioned_docs/version-8.2/components/console/manage-plan/upgrade-to-starter-plan.md
  versioned_docs/version-8.2/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.3/components/concepts/clusters.md
  versioned_docs/version-8.3/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.3/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.4/components/concepts/clusters.md
  versioned_docs/version-8.4/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.4/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.5/components/concepts/clusters.md
  versioned_docs/version-8.5/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.5/guides/assets/react-components/create-cluster.md
  versioned_docs/version-8.6/components/concepts/clusters.md
  versioned_docs/version-8.6/components/console/manage-clusters/create-cluster-include.md
  versioned_docs/version-8.6/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.6/components/react-components/create-cluster.md
Labels: component:docs

#4448 Prevent partials in Getting Started from appearing in search
  docs/guides/getting-started-java-spring.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/model-your-first-process.md
  docs/guides/react-components/_install-c8run.md
  docs/guides/react-components/_install-docker-compose.md
  docs/guides/react-components/_install-plain-java.md
  docs/guides/react-components/_saas-prerequisites.md
  docs/guides/react-components/_sm-prerequisites.md
  static/.htaccess
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/guides/model-your-first-process.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-docker-compose.md
  versioned_docs/version-8.6/guides/react-components/_install-plain-java.md
  versioned_docs/version-8.6/guides/react-components/_saas-prerequisites.md
  versioned_docs/version-8.6/guides/react-components/_sm-prerequisites.md
Labels: component:docs, deploy

#4459 Add cookie auth instructions to C8Run
  docs/guides/react-components/_install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, deploy

#4461 Bump Spring SDK to 3.6.0
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/guides/getting-started-java-spring.md
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: component:docs

#4456 CSS styling enhancements
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/guides/getting-started-java-spring.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/model-your-first-process.md
  src/css/custom.css
  versioned_docs/version-8.6/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/guides/model-your-first-process.md
Labels: kind/cleanup, component:docs, deploy

#4444 docs: adding restriction to tasklist process diagram view
  docs/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.6/components/tasklist/userguide/using-tasklist.md
Labels: component:tasklist

#4440 experimental: RPA documentation
  docs/components/experimental/img/rpa-task-example.png
  docs/components/experimental/img/testing-rpa.png
  docs/components/experimental/rpa/camunda-rpa-framework-library.md
  docs/components/experimental/rpa/rpa-integration-with-camunda.md
  sidebars.js
Labels: deploy

#4213 Incorporate experimental and alpha features
  docs/components/early-access/alpha/sap/btp-integration.md
  docs/components/early-access/alpha/sap/camunda-sap-integration.md
  docs/components/early-access/alpha/sap/img/btp-destination-rfc.png
  docs/components/early-access/alpha/sap/img/btp-destination.png
  docs/components/early-access/alpha/sap/img/odata-connector-error-expression.png
  docs/components/early-access/alpha/sap/img/odata-steps.png
  docs/components/early-access/alpha/sap/img/rfc-overview.png
  docs/components/early-access/alpha/sap/img/sap-integration-overview.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-element-template-advanced.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-element-template-result.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-element-template.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-task-error-handling1.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-task-error-handling2.png
  docs/components/early-access/alpha/sap/img/sap-odata-connector-task-in-model.png
  docs/components/early-access/alpha/sap/img/sap-rfc-connector-element-template.png
  docs/components/early-access/alpha/sap/img/sap-rfc-connector-task-in-model.png
  docs/components/early-access/alpha/sap/odata-connector.md
  docs/components/early-access/alpha/sap/rfc-connector.md
  docs/components/early-access/experimental/rpa/camunda-rpa-framework-library.md
  docs/components/early-access/experimental/rpa/img/rpa-task-example.png
  docs/components/early-access/experimental/rpa/img/testing-rpa.png
  docs/components/early-access/experimental/rpa/rpa-integration-with-camunda.md
  docs/components/early-access/overview.md
  sidebars.js
Labels: deploy

#4359 Update the recommended version upgrade path
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
Labels: component:self-managed

#4470 consistent usage of tenant id placeholder
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:identity, component:self-managed

#4476 add links
  docs/reference/release-notes/860.md
  docs/reference/release-notes/release-notes.md
Labels: 8.6.0

#4478 Backout/revert changes for 8.5 to SDK scope
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: component:docs

#4430 feat: Adding some clarifications for Optimize usage with OpenSearch
  docs/self-managed/setup/guides/using-existing-opensearch.md
  docs/self-managed/setup/install.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.6/self-managed/setup/guides/using-existing-opensearch.md
  versioned_docs/version-8.6/self-managed/setup/install.md
Labels: component:optimize, deploy

#4422 feat(web-modeler): add git sync commit limitation to troubleshooting …
  docs/components/modeler/web-modeler/git-sync.md
  versioned_docs/version-8.6/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-sm

#4462 feat: add docs for cluster configManager configuration
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:zeebe, target:8.7

#4489 Update backup and restore actuator endpoint port
  docs/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.6/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
Labels: kind/bug, component:operate, component:tasklist, component:docs, component:self-managed, 8.6.0

#4477 docs(rest): Describe error handling
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
Labels: deploy

#4484 Define human, user, and manual tasks
  docs/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  docs/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
  docs/apis-tools/frontend-development/03-forms/_category_.yml
  docs/apis-tools/node-js-sdk.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/components/best-practices/architecture/extending-human-task-management-c7.md
  docs/components/best-practices/architecture/sizing-your-environment.md
  docs/components/best-practices/architecture/understanding-human-tasks-management.md
  docs/components/best-practices/development/routing-events-to-processes-c7.md
  docs/components/best-practices/development/routing-events-to-processes.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/call-activities/call-activities.md
  docs/components/modeler/bpmn/manual-tasks/manual-tasks.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/reference/glossary.md
  versioned_docs/version-8.6/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  versioned_docs/version-8.6/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
  versioned_docs/version-8.6/apis-tools/node-js-sdk.md
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.6/components/best-practices/architecture/extending-human-task-management-c7.md
  versioned_docs/version-8.6/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.6/components/best-practices/architecture/understanding-human-tasks-management.md
  versioned_docs/version-8.6/components/best-practices/development/routing-events-to-processes-c7.md
  versioned_docs/version-8.6/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.6/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.6/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.6/components/modeler/bpmn/manual-tasks/manual-tasks.md
  versioned_docs/version-8.6/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  versioned_docs/version-8.6/reference/glossary.md
Labels: component:modeler

#4501 Add message correlation API ref link to release notes
  docs/reference/release-notes/860.md
  versioned_docs/version-8.6/reference/release-notes/860.md
Labels: component:docs, 8.6.0

#4412 feat(broker): update docs in backups/GCS regarding initialization and added update guide from 8.6 to 8.7
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  sidebars.js
Labels: component:zeebe, target:8.7

#4467 docs(web-modeler): add configuration options for proxy servers and lo…
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/logging.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-proxy-configuration.md
  sidebars.js
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-proxy-configuration.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-proxy-configuration.md
  versioned_sidebars/version-8.5-sidebars.json
  versioned_sidebars/version-8.6-sidebars.json
Labels: component:web-modeler-sm

#4512 fix(ci): pass base URL settings as env variables in publish workflows
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
Labels: kind/cleanup, dx

#4513 Add GHA to auto assign PR author as assignee
  .github/workflows/auto-assign-pr.yml
Labels: component:docs

#4475 archive(1.3) exclusion: remove versions 1.3 and 3.7.0, part 1: reviewable steps
  docusaurus.config.js
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, theme:performance

#4502 update links for 8.6 minor
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/metrics.md
Labels: component:docs, 8.6.0

#4497 Update camunda-platform-latest url references
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  docs/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.5/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.5/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.5/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.6/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.6/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.6/self-managed/setup/guides/ingress-setup.md
Labels: component:self-managed

#4496 Spring Zeebe SDK - Getting Started - Removal of unnecessary identity repo setup
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: component:docs

#4492 Add cluster resize
  docs/components/best-practices/architecture/sizing-your-environment.md
  docs/components/concepts/clusters.md
  docs/components/console/manage-clusters/manage-cluster.md
  versioned_docs/version-8.6/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.6/components/concepts/clusters.md
  versioned_docs/version-8.6/components/console/manage-clusters/manage-cluster.md
Labels: kind/feature, component:console, deploy

#4525 Fix typo in #4412
  docs/self-managed/operational-guides/update-guide/860-to-870.md
Labels: component:docs

#4524 Add link to deprecation announcement for CLI & Go
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/cli-get-started.md
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/index.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/go-get-started.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/index.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/job-worker.md
Labels: component:docs, target:8.6

#4465 migrate alpha feaures landing page
  api/camunda/camunda-openapi.yaml
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/apis-tools/camunda-api-rest/specifications/pin-internal-clock-alpha.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/reset-internal-clock-alpha.api.mdx
  docs/apis-tools/testing/getting-started.md
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  docs/components/console/manage-organization/enable-alpha-features.md
  docs/components/early-access/alpha/alpha-features.md
  docs/components/early-access/overview.md
  docs/components/modeler/web-modeler/advanced-modeling/camunda-docs-ai.md
  docs/reference/overview.md
  docs/reference/release-notes/860.md
  docs/reference/release-policy.md
  docs/self-managed/setup/deploy/local/c8run.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.6/reference/release-notes/860.md
Labels: target:8.7, deploy

#4505 docs(sm): add troubleshooting on k8s issues affecting zeebe
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  versioned_docs/version-8.5/self-managed/operational-guides/troubleshooting/troubleshooting.md
  versioned_docs/version-8.6/self-managed/operational-guides/troubleshooting/troubleshooting.md
Labels: component:self-managed, component:infex

#4460 Clarify and describe how to use initial claims
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:identity, component:self-managed

#4490 update SM app config with latest configmap, release name
  docs/self-managed/operational-guides/application-configs.md
  versioned_docs/version-8.5/self-managed/operational-guides/application-configs.md
  versioned_docs/version-8.6/self-managed/operational-guides/application-configs.md
Labels: component:self-managed

#4516 fix: reference the up-to-date REST API instead of the deprecated GraphQL API
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: component:tasklist

#4536 October 2024 bing fixes
  docs/apis-tools/community-clients/cli-client/cli-get-started.md
  docs/apis-tools/community-clients/go-client/go-get-started.md
  docs/apis-tools/working-with-apis-tools.md
  docs/components/concepts/job-workers.md
  docs/components/modeler/bpmn/timer-events/timer-events.md
  docs/components/modeler/feel/what-is-feel.md
Labels: kind/cleanup, component:docs

#4539 Remove suggestion to convert from YAML to env vars for optimize config
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize, component:self-managed
