Repository camunda/camunda-docs, pull requests merged in 2024-03, with the labels that each got.

#3359 rename console api
  docs/apis-tools/administration-api/administration-api-reference.md
  docs/apis-tools/administration-api/authentication.md
  docs/apis-tools/administration-api/sidebar-schema.js
  docs/apis-tools/web-modeler-api/authentication.md
  docs/apis-tools/working-with-apis-tools.md
  docs/components/concepts/backups.md
  docs/components/console/introduction-to-console.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.1/apis-tools/administration-api-reference.md
  versioned_docs/version-8.1/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.1/components/console/introduction-to-console.md
  versioned_docs/version-8.2/apis-tools/administration-api-reference.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/concepts/backups.md
  versioned_docs/version-8.2/components/console/introduction-to-console.md
  versioned_docs/version-8.3/apis-tools/administration-api-reference.md
  versioned_docs/version-8.3/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.3/components/concepts/backups.md
  versioned_docs/version-8.3/components/console/introduction-to-console.md
  versioned_docs/version-8.4/apis-tools/administration-api/administration-api-reference.md
  versioned_docs/version-8.4/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.4/apis-tools/administration-api/sidebar-schema.js
  versioned_docs/version-8.4/apis-tools/web-modeler-api/authentication.md
  versioned_docs/version-8.4/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.4/components/concepts/backups.md
  versioned_docs/version-8.4/components/console/introduction-to-console.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:console

#3402 fix: make check-versions workflow function on forked PRs
  .github/workflows/check-versions.yaml
Labels: kind/bug, dx

#3404 Add Identity contact
  howtos/documentation-guidelines.md
Labels: component:identity, component:docs

#3405 Removing possible discriminatory language
  docs/apis-tools/zeebe-api/technical-error-handling.md
  versioned_docs/version-1.3/apis-tools/grpc.md
  versioned_docs/version-8.1/apis-tools/grpc.md
  versioned_docs/version-8.2/apis-tools/grpc.md
  versioned_docs/version-8.3/apis-tools/grpc.md
  versioned_docs/version-8.4/apis-tools/zeebe-api/technical-error-handling.md
Labels: component:docs

#3409 Add InfEx contact
  howtos/documentation-guidelines.md
Labels: component:docs, component:self-managed

#3412 Direct link to C7 support page
  src/pages/contact.md
Labels: component:docs, support

#3401 new SaaS role: `Modeler`
  docs/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.4/components/console/manage-organization/manage-users.md
Labels: component:console

#3424 Update tasklist-api-rest-authentication.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.4/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
Labels: component:docs

#3418 adjust step x references
  docs/components/console/manage-clusters/manage-api-clients.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  optimize/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/migration-update/instructions.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.9.0/self-managed/optimize-deployment/migration-update/instructions.md
  versioned_docs/version-8.1/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:docs

#3435 oops: fix formatter by reverting accidental commit
  package.json
Labels: kind/bug, dx

#3419 Add "other volume storage types" to NFS admonition
  docs/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/zeebe-installation.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/zeebe-installation.md
Labels: component:zeebe, component:docs

#3391 document console API tutorial
  docs/apis-tools/administration-api/tutorial.md
  versioned_docs/version-8.4/apis-tools/administration-api/tutorial.md
Labels: component:docs, component:console

#3436 Move Install Zeebe Exporters
  docs/self-managed/zeebe-deployment/exporters/exporters.md
  docs/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/self-managed/zeebe-deployment/exporters/exporters.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/exporters.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/exporters.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:docs, component:self-managed

#3392 adjust remaining whitelist references
  docs/apis-tools/administration-api/authentication.md
  docs/components/console/introduction-to-console.md
  docs/components/console/manage-clusters/manage-ip-allowlists.md
  docs/components/modeler/forms/form-element-library/forms-element-library-iframe.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.2/apis-tools/administration-api-reference.md
  versioned_docs/version-8.2/components/console/introduction-to-console.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.2/components/console/manage-clusters/manage-ip-whitelists.md
  versioned_docs/version-8.3/apis-tools/administration-api-reference.md
  versioned_docs/version-8.3/components/console/introduction-to-console.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.4/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.4/components/console/introduction-to-console.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
Labels: component:console

#3425 chore(web-modeler): update dependencies for 8.2.12
  versioned_docs/version-8.2/reference/dependencies.md
Labels: component:modeler

#3428 chore(web-modeler): update dependencies for 8.3.5
  versioned_docs/version-8.3/reference/dependencies.md
Labels: component:modeler

#3429 chore(web-modeler): update dependencies for 8.4.3
  versioned_docs/version-8.4/reference/dependencies.md
Labels: component:modeler

#3443 chore(web-modeler): update dependencies for 8.5.0-alpha2
  docs/reference/dependencies.md
Labels: component:modeler

#3400 docs: remove process instance migration incident limitation
  docs/components/concepts/assets/process-instance-migration/migration-process_instance_with_incident.png
  docs/components/concepts/assets/process-instance-migration/migration-process_instance_with_incident_resolved.png
  docs/components/concepts/process-instance-migration.md
Labels: component:docs, 8.5.0-alpha2

#3325 docs(tasklist): tasklist filter processes by start form
  docs/components/tasklist/userguide/img/tasklist-processes-search.png
  docs/components/tasklist/userguide/img/tasklist-processes-start-with-form.png
  docs/components/tasklist/userguide/img/tasklist-processes-start.png
  docs/components/tasklist/userguide/img/tasklist-processes.png
  docs/components/tasklist/userguide/starting-processes.md
Labels: kind/feature, component:tasklist, 8.5.0-alpha2

#3272 docs(ootbc,slack): updated Slack doc with new property
  docs/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors, 8.5.0-alpha2

#3434 feat: write user task migration guide
  docs/apis-tools/tasklist-api-rest/assets/css/cleanImages.module.css
  docs/apis-tools/tasklist-api-rest/assets/css/condensedTable.module.css
  docs/apis-tools/tasklist-api-rest/assets/forms/userTaskMigrationDecisionHelperForm.js
  docs/apis-tools/tasklist-api-rest/assets/img/api-architecture.png
  docs/apis-tools/tasklist-api-rest/assets/img/zeebe-user-task-selection.png
  docs/apis-tools/tasklist-api-rest/assets/react-components/NoItem.js
  docs/apis-tools/tasklist-api-rest/assets/react-components/TableTextSmall.js
  docs/apis-tools/tasklist-api-rest/assets/react-components/YesItem.js
  docs/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
  docs/apis-tools/tasklist-api-rest/sidebar-schema.js
  package-lock.json
  package.json
  src/mdx/FormViewer.jsx
Labels: component:tasklist, 8.5.0-alpha2

#3413 feat: Add User Task Restrictions on SaaS Document
  docs/components/concepts/access-control/user-groups.md
  docs/components/concepts/access-control/user-task-access-restrictions.md
  docs/components/concepts/assets/access-control/assign-member.png
  docs/components/concepts/assets/access-control/create-group.png
  docs/components/concepts/assets/access-control/enforce-user-task-restriction.png
  docs/components/concepts/assets/access-control/group-management.png
  docs/components/concepts/assets/access-control/group-members.png
  sidebars.js
Labels: component:tasklist, component:console, 8.5.0-alpha2

#3295 Introducing Console Self Managed to docs
  docs/reference/dependencies.md
  docs/reference/licenses.md
  docs/self-managed/about-self-managed.md
  docs/self-managed/console-deployment/configuration.md
  docs/self-managed/console-deployment/installation.md
  docs/self-managed/console-deployment/overview.md
  docs/self-managed/platform-deployment/helm-kubernetes/deploy.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/multi-namespace-deployment.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  docs/self-managed/platform-deployment/overview.md
  sidebars.js
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.4/reference/licenses.md
  versioned_docs/version-8.4/self-managed/about-self-managed.md
  versioned_docs/version-8.4/self-managed/console-deployment/configuration.md
  versioned_docs/version-8.4/self-managed/console-deployment/installation.md
  versioned_docs/version-8.4/self-managed/console-deployment/overview.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/multi-namespace-deployment.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/overview.md
Labels: component:console, component:self-managed

#3394 reorg bpmn references
  docs/apis-tools/cli-client/cli-get-started.md
  docs/apis-tools/go-client/go-get-started.md
  docs/components/modeler/bpmn/assets/order-process.bpmn
  docs/components/modeler/bpmn/assets/process.bpmn
  docs/components/modeler/bpmn/error-events/assets/error-catch-events.bpmn
  docs/components/modeler/bpmn/error-events/assets/error-events.bpmn
  docs/components/operate/userguide/basic-operate-navigation.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  docs/guides/img/gettingstarted_quickstart.bpmn
  docs/guides/img/gettingstarted_quickstart_advanced.bpmn
  howtos/documentation-guidelines.md
  static/bpmn/apis-tools/gettingstarted_quickstart_advanced.bpmn
  static/bpmn/operate/order-process.bpmn
  versioned_docs/version-8.4/apis-tools/java-client-examples/process-deploy.md
Labels: component:docs

#3330 docs(optimize): rename idle and work to unassigned and assigned
  optimize/components/userguide/combined-process-reports.md
  optimize/components/userguide/process-analysis/report-analysis/measures.md
Labels: component:docs, component:optimize, 8.5.0-alpha2

#3453 adjust subprocess naming
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/development/service-integration-patterns.md
  docs/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  docs/components/best-practices/operations/operating-camunda-c7.md
  docs/components/best-practices/operations/versioning-process-definitions.md
  docs/components/concepts/process-instance-migration.md
  docs/components/concepts/variables.md
  docs/components/connectors/use-connectors/inbound.md
  docs/components/modeler/bpmn/bpmn-primer.md
  docs/components/modeler/bpmn/error-events/error-events.md
  docs/components/modeler/bpmn/subprocesses.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  optimize/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.10.0/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.11.0/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.12.0/components/userguide/additional-features/event-based-processes.md
  optimize_versioned_docs/version-3.7.0/components/userguide/additional-features/event-based-processes.md
  versioned_docs/version-8.1/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.1/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.1/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  versioned_docs/version-8.1/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.1/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.1/components/concepts/variables.md
  versioned_docs/version-8.1/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.1/components/modeler/bpmn/bpmn-primer.md
  versioned_docs/version-8.1/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.2/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.2/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.2/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  versioned_docs/version-8.2/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.2/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.2/components/concepts/variables.md
  versioned_docs/version-8.2/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.2/components/modeler/bpmn/bpmn-primer.md
  versioned_docs/version-8.2/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.3/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.3/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  versioned_docs/version-8.3/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.3/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.3/components/concepts/variables.md
  versioned_docs/version-8.3/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.3/components/modeler/bpmn/bpmn-primer.md
  versioned_docs/version-8.3/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.3/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.4/components/best-practices/development/dealing-with-problems-and-exceptions.md
  versioned_docs/version-8.4/components/best-practices/development/service-integration-patterns.md
  versioned_docs/version-8.4/components/best-practices/modeling/modeling-beyond-the-happy-path.md
  versioned_docs/version-8.4/components/best-practices/operations/operating-camunda-c7.md
  versioned_docs/version-8.4/components/best-practices/operations/versioning-process-definitions.md
  versioned_docs/version-8.4/components/concepts/process-instance-migration.md
  versioned_docs/version-8.4/components/concepts/variables.md
  versioned_docs/version-8.4/components/connectors/use-connectors/inbound.md
  versioned_docs/version-8.4/components/modeler/bpmn/bpmn-primer.md
  versioned_docs/version-8.4/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.4/components/modeler/bpmn/subprocesses.md
  versioned_docs/version-8.4/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:docs

#3356 docs(ootbc): added avro docs to kafka
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/kafka.md
Labels: component:connectors, 8.5.0-alpha2

#3454 docs(identity): Add docs for mapping rule feature
  docs/self-managed/concepts/mapping-rules.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/identity/user-guide/img/mapping-rule-add-mapping-modal.png
  docs/self-managed/identity/user-guide/img/mapping-rule-add-mapping.png
  docs/self-managed/identity/user-guide/img/mapping-rule-delete-modal.png
  docs/self-managed/identity/user-guide/img/mapping-rule-management-tab.png
  docs/self-managed/identity/user-guide/img/mapping-rule-refreshed-table.png
  docs/self-managed/identity/user-guide/mapping-rules/managing-mapping-rules.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  sidebars.js
Labels: component:identity, 8.5.0-alpha2

#3364 Adjust user tasks to Zeebe user tasks
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/guides/getting-started-orchestrate-human-tasks.md
Labels: kind/feature, component:zeebe, target:8.5, 8.5.0-alpha2

#3452 docs:adding Tasklist restriction about Zeebe User Tasks
  docs/components/tasklist/introduction-to-tasklist.md
Labels: component:tasklist, 8.5.0-alpha2

#3459 feat: add alpha availability hint to migration guide
  docs/apis-tools/tasklist-api-rest/migrate-to-zeebe-user-tasks.md
Labels: 8.5.0-alpha2

#3414 3324 retro review
  docs/components/modeler/reference/modeling-guidance/rules/history-time-to-live.md
Labels: component:modeler, component:docs

#3451 docs(identity): add required grant types with oidc
  docs/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
Labels: component:self-managed

#3466 Backport/forwardport 3449
  docs/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-1.3/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-8.1/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-8.2/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
  versioned_docs/version-8.3/components/best-practices/modeling/choosing-the-dmn-hit-policy.md
Labels: component:docs

#3353 feat: document new context pad alpha feature
  docs/components/modeler/web-modeler/img/new-context-pad/append-boundary-event.png
  docs/components/modeler/web-modeler/img/new-context-pad/append-element.png
  docs/components/modeler/web-modeler/img/new-context-pad/comments.png
  docs/components/modeler/web-modeler/img/new-context-pad/feedback.png
  docs/components/modeler/web-modeler/img/new-context-pad/linking.png
  docs/components/modeler/web-modeler/img/new-context-pad/overview.png
  docs/components/modeler/web-modeler/new-context-pad.md
  sidebars.js
Labels: component:web-modeler-SaaS

#3444 docs: update information about improved C7 support
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/guides/migrating-from-camunda-7/adjusting-dmn-models.md
  docs/guides/migrating-from-cawemo.md
Labels: component:modeler, component:docs

#3468 Update exporters.md - Fix links
  versioned_docs/version-8.4/self-managed/concepts/exporters.md
Labels: component:zeebe, component:docs

#3467 chore: sync sidebars based on new API Explorers
  hacks/generateOptimizeSidebars.md
  howtos/versioning.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
Labels: kind/bug, dx

#3477 Revert #3402 (check-versions running on forks)
  .github/workflows/check-versions.yaml
Labels: kind/bug, dx

#3472 Update Exporter GitHub links
  docs/self-managed/concepts/exporters.md
  versioned_docs/version-8.1/self-managed/concepts/exporters.md
  versioned_docs/version-8.2/self-managed/concepts/exporters.md
  versioned_docs/version-8.3/self-managed/concepts/exporters.md
Labels: component:zeebe, component:docs

#3481 chore: add note to turn properties to ENV_VARS
  docs/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.2/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.4/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate

#3480 chore: add on assignments a link to user task restrictions
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: component:tasklist, component:modeler, 8.5.0-alpha2

#3464 docs: add user task changes to the update guide
  docs/self-managed/operational-guides/update-guide/830-to-840.md
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  versioned_docs/version-8.4/self-managed/operational-guides/update-guide/830-to-840.md
Labels: component:zeebe, component:self-managed, target:8.5

#3493 Remove technology from components list
  docs/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.2/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.3/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.4/self-managed/platform-deployment/overview.md
Labels: component:docs, component:self-managed

#3479 Consolidate troubleshooting in SM
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  docs/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/amazon-eks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/google-gke.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/microsoft-aks.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
Labels: component:docs, component:self-managed

#3430 docs(aws): dual-region setup in AWS
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/assets/core-dns-kube-dns.svg
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/dual-region.md
  docs/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
Labels: component:self-managed, target:8.5, component:infex

#3496 Add Identity EM
  howtos/documentation-guidelines.md
Labels: component:identity, component:docs

#3450 docs: Update deciding-about-your-stack.md
  docs/components/best-practices/architecture/deciding-about-your-stack-assets/greenfield-architecture.png
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack-assets/greenfield-architecture.png
  versioned_docs/version-8.2/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.3/components/best-practices/architecture/deciding-about-your-stack-assets/greenfield-architecture.png
  versioned_docs/version-8.3/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.4/components/best-practices/architecture/deciding-about-your-stack-assets/greenfield-architecture.png
  versioned_docs/version-8.4/components/best-practices/architecture/deciding-about-your-stack.md
Labels: component:docs, best-practices, target:8.5

#3490 docs(self-managed): upgrade instractions fo components moved to top-level in v8.5
  docs/self-managed/operational-guides/update-guide/840-to-850.md
  docs/self-managed/platform-deployment/helm-kubernetes/upgrade.md
Labels: component:self-managed, target:8.5

#3368 docs(web-modeler): update super-user mode
  docs/components/modeler/web-modeler/collaboration.md
  versioned_docs/version-8.3/components/modeler/web-modeler/collaboration.md
  versioned_docs/version-8.4/components/modeler/web-modeler/collaboration.md
Labels: component:web-modeler-SaaS

#3497 style(formatting): fix network ports typo
  docs/self-managed/zeebe-deployment/operations/network-ports.md
  versioned_docs/version-8.1/self-managed/zeebe-deployment/operations/network-ports.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/network-ports.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/network-ports.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/network-ports.md
Labels: component:self-managed

#3474 docs(self-managed): backup procedure slightly different for optimize
  docs/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/optimize-backup.md
Labels: component:optimize, component:self-managed

#3514 chore(optimize): add 3.13 Optimize migration notes
  optimize/self-managed/optimize-deployment/migration-update/3.12_8.4-to-3.13_8.5.md
  optimize/self-managed/optimize-deployment/migration-update/instructions.md
  optimize/self-managed/optimize-deployment/migration-update/translation-diffs/differences_localization_312_313.diff
Labels: component:optimize

#3432 docs(optimize): Add documentation maxNumDataSourcesForReport
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize

#3502 docs(connectors): add new GitHub connector operations
  docs/components/connectors/out-of-the-box-connectors/github.md
Labels: component:connectors

#3491 docs(self-managed): clarify restore steps
  docs/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.1/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/backup-and-restore.md
Labels: component:self-managed

#3462 Camunda 8.5 generation name scheme announcement
  docs/reference/announcements.md
  docs/reference/img/generation-naming-scheme-sample.png
Labels: target:8.5

#3520 Update create-account.md
  versioned_docs/version-8.4/guides/create-account.md
Labels: component:docs, component:console

#3519 chore(aws): add multi-region concept page
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/concepts/multi-region/img/dual-region.svg
  optimize_sidebars.js
  sidebars.js
Labels: component:self-managed, target:8.5, component:infex

#3510 draft out rate limit details
  docs/apis-tools/administration-api/authentication.md
  docs/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.4/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-api-clients.md
Labels: component:docs, component:console

#3531 docs(reference): Add Connectors information to supported environments
  docs/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
Labels: component:docs, component:connectors

#3543 docs(connectors): Add hybrid secret docs
  docs/guides/use-connectors-in-hybrid-mode.md
Labels: component:connectors

#3537 3520 backport
  docs/guides/create-account.md
  versioned_docs/version-8.2/guides/create-account.md
  versioned_docs/version-8.3/guides/create-account.md
Labels: component:docs, component:console

#3538 3528 follow up
  docs/components/modeler/forms/form-element-library/forms-element-library.md
Labels: component:modeler

#3544 docs(web-modeler): add the relation between modes and roles
  docs/components/modeler/web-modeler/collaborate-with-modes.md
  docs/components/modeler/web-modeler/collaboration.md
  docs/components/modeler/web-modeler/img/read-only-properties.png
Labels: component:modeler, target:8.5

#3529 feat: Zeebe REST API Explorer (integrated approach)
  api/zeebe/post-generate.sh
  api/zeebe/zeebe-openapi.yaml
  docs/apis-tools/zeebe-api-rest/sidebar-schema.js
  docs/apis-tools/zeebe-api-rest/specifications/assign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/complete-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/get-cluster-topology.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/sidebar.js
  docs/apis-tools/zeebe-api-rest/specifications/unassign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/update-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/zeebe-rest-api.info.mdx
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  docusaurus.config.js
  package.json
  sidebars.js
  src/theme/SchemaItem/index.js
Labels: kind/enhancement, dx, epic:api-interactivity
