Repository camunda/camunda-docs, pull requests merged in 2024-11, with the labels that each got.

#4537 docs(play): mention limitation for execution listeners
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.6/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler, deploy

#4545 update screeshots in concepts and guides
  docs/components/concepts/assets/access-control/group-management.png
  docs/components/console/manage-clusters/img/cluster-detail-clients.png
  docs/components/console/manage-clusters/img/cluster-details-create-client.png
  docs/components/console/manage-clusters/img/cluster-details-created-client.png
  docs/guides/img/form-editor.png
Labels: component:docs

#4514 Remove the message correlation guide from 8.5 and above
  docs/components/concepts/messages.md
  docs/guides/message-correlation.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.5/components/concepts/messages.md
  versioned_docs/version-8.5/guides/message-correlation.md
  versioned_docs/version-8.6/components/concepts/messages.md
  versioned_docs/version-8.6/guides/message-correlation.md
  versioned_sidebars/version-8.5-sidebars.json
  versioned_sidebars/version-8.6-sidebars.json
Labels: dx

#4288 Clarify code snippet use
  docs/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  docs/self-managed/operational-guides/backup-restore/optimize-backup.md
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.2/self-managed/backup-restore/optimize-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.6/self-managed/operational-guides/backup-restore/operate-tasklist-backup.md
  versioned_docs/version-8.6/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.6/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
Labels: component:self-managed, deploy

#4521 adjust performance numbers based on new benchmark results
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.6/components/best-practices/architecture/sizing-your-environment.md
Labels: kind/enhancement, kind/feature, component:docs, component:console, deploy

#4464 cluster restructure
  docs/components/console/manage-clusters/cluster-backups.md
  docs/components/console/manage-clusters/manage-alerts.md
  docs/components/console/manage-clusters/manage-api-clients.md
  docs/components/console/manage-clusters/manage-ip-allowlists.md
  docs/components/console/manage-clusters/manage-secrets.md
  sidebars.js
  versioned_docs/version-8.6/components/console/manage-clusters/cluster-backups.md
  versioned_docs/version-8.6/components/console/manage-clusters/manage-alerts.md
  versioned_docs/version-8.6/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.6/components/console/manage-clusters/manage-ip-allowlists.md
  versioned_docs/version-8.6/components/console/manage-clusters/manage-secrets.md
  versioned_sidebars/version-8.6-sidebars.json
Labels: component:docs, component:console, deploy

#4382 Connector template generator
  docs/components/connectors/custom-built-connectors/connector-template-generator.md
  docs/components/connectors/custom-built-connectors/img/Imported-methods.png
  docs/components/connectors/custom-built-connectors/img/Launch-template-generator.png
  docs/components/connectors/custom-built-connectors/img/configure-template-details.png
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/connector-template-generator.md
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/img/Imported-methods.png
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/img/Launch-template-generator.png
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/img/configure-template-details.png
  versioned_sidebars/version-8.6-sidebars.json
Labels: kind/feature, component:docs, component:connectors, component:web-modeler-SaaS, target:8.7, deploy

#4551 Export metrics example
  docs/self-managed/concepts/exporters.md
  versioned_docs/version-8.6/self-managed/concepts/exporters.md
Labels: component:self-managed

#4540 add new web modeler deploy config
  docs/components/modeler/web-modeler/play-your-process.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: 8.7.0-alpha1

#4549 fix: Removing references to OpenSearch proxy
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: deploy

#4529 docs: update comprehend doc
  docs/components/connectors/out-of-the-box-connectors/amazon-comprehend.md
Labels: component:connectors, target:8.7, 8.7.0-alpha1

#4559 Fix admonition syntax
  docs/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.6/self-managed/concepts/multi-region/dual-region.md
Labels: kind/bug, component:docs, d3

#4533 Edit auto-pause behaviour
  docs/components/concepts/clusters.md
  versioned_docs/version-8.2/components/concepts/clusters.md
  versioned_docs/version-8.3/components/concepts/clusters.md
  versioned_docs/version-8.4/components/concepts/clusters.md
  versioned_docs/version-8.5/components/concepts/clusters.md
  versioned_docs/version-8.6/components/concepts/clusters.md
Labels: kind/enhancement, component:console, deploy

#4566 Change heading fonts
  src/css/custom.css
Labels: kind/cleanup, component:docs, deploy

#4556 Add codewrap to request bodies
  optimize/apis-tools/optimize-api/event-ingestion.md
  optimize/apis-tools/optimize-api/external-variable-ingestion.md
  optimize/apis-tools/optimize-api/report/get-data-export.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.10.0/apis-tools/optimize-api/report/get-data-export.md
  optimize_versioned_docs/version-3.11.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.11.0/apis-tools/optimize-api/report/get-data-export.md
  optimize_versioned_docs/version-3.12.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.12.0/apis-tools/optimize-api/external-variable-ingestion.md
  optimize_versioned_docs/version-3.12.0/apis-tools/optimize-api/report/get-data-export.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/external-variable-ingestion.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/report/get-data-export.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/external-variable-ingestion.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/report/get-data-export.md
Labels: component:docs, d3

#4563 fix typo Testconainers
  docs/apis-tools/testing/getting-started.md
  versioned_docs/version-8.6/apis-tools/testing/getting-started.md
Labels: component:docs

#4561 Remove {{}} in Optimize update guide links
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/2.1-to-2.2.md
  optimize/self-managed/optimize-deployment/migration-update/camunda-7/3.3-to-3.4.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/migration-update/camunda-7/2.1-to-2.2.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/migration-update/camunda-7/3.3-to-3.4.md
Labels: component:docs, deploy, d3

#4541 feat: inject docs links for alpha features in C8 REST API docs
  api/camunda/camunda-openapi.yaml
  api/camunda/generation-strategy.js
  docs/apis-tools/camunda-api-rest/specifications/create-document-link.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/create-document.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-authorizations.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-decision-definitions.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-decision-instances.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-decision-requirements.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-flow-node-instances.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-incidents.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-process-definitions.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-process-instances.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-user-authorizations.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-user-task-variables.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-user-tasks.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-users.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/find-variables.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-definition-xml.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-definition.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-requirements-xml.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-decision-requirements.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-flow-node-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-incident.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-process-definition-xml.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-process-definition.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-process-instance.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-start-process-form.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-user-task-form.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-user-task.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/get-variable.api.mdx
  docs/apis-tools/camunda-api-rest/specifications/update-user-task.api.mdx
Labels: dx, theme:api-streamline

#4568 Add backticks to example
  docs/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:docs, d3

#4446 Clarify that task priority is supported for user tasks with zeebe use…
  docs/components/tasklist/userguide/defining-task-priorities.md
  versioned_docs/version-8.6/components/tasklist/userguide/defining-task-priorities.md
Labels: component:tasklist

#4569 Add backticks
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.2/components/connectors/protocol/rest.md
  versioned_docs/version-8.3/components/connectors/protocol/rest.md
  versioned_docs/version-8.4/components/connectors/protocol/rest.md
  versioned_docs/version-8.5/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
Labels: component:docs, d3

#4567 Remove deprecated zbctl and Go from supported env page
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
Labels: component:docs, 8.6.0

#4428 Add link to FEEL temporal expression examples
  docs/components/modeler/feel/language-guide/feel-context-expressions.md
  docs/components/modeler/feel/language-guide/feel-list-expressions.md
  docs/components/modeler/feel/language-guide/feel-temporal-expressions.md
Labels: kind/enhancement, component:docs, deploy

#4574 Fix encryption links for versioning
  docs/components/concepts/encryption-at-rest.md
  versioned_docs/version-8.6/components/concepts/encryption-at-rest.md
Labels: kind/bug, component:docs

#4570 Add backticks for JWT-Token in Connectors HTTP Webhook docs
  docs/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.2/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.3/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.4/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.5/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.6/components/connectors/protocol/http-webhook.md
Labels: component:docs, d3

#4530 feat(web-modeler): add monorepo to git sync
  docs/components/modeler/web-modeler/git-sync.md
  versioned_docs/version-8.6/components/modeler/web-modeler/git-sync.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, 8.7.0-alpha1

#4500 docs: initial docs page for camunda-exporter
  docs/self-managed/setup/guides/configure-db-custom-headers.md
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/exporters/camunda-exporter.md
  docs/self-managed/zeebe-deployment/exporters/exporters.md
  sidebars.js
Labels: component:zeebe, component:docs, 8.7.0-alpha1

#4555 add details on env variables to api tutorials
  docs/apis-tools/administration-api/tutorial.md
  docs/apis-tools/web-modeler-api/tutorial.md
  optimize/apis-tools/optimize-api/tutorial.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/tutorial.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/tutorial.md
  versioned_docs/version-8.5/apis-tools/administration-api/tutorial.md
  versioned_docs/version-8.5/apis-tools/web-modeler-api/tutorial.md
  versioned_docs/version-8.6/apis-tools/administration-api/tutorial.md
  versioned_docs/version-8.6/apis-tools/web-modeler-api/tutorial.md
Labels: component:docs

#4576 Replace <= and >= with single chars
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/reference/notices.md
  docs/self-managed/operate-deployment/importer-and-archiver.md
  docs/self-managed/tasklist-deployment/importer-and-archiver.md
  docs/self-managed/zeebe-deployment/configuration/broker.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/telemetry.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/telemetry.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/telemetry.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/telemetry.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.2/reference/notices.md
  versioned_docs/version-8.2/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/reference/notices.md
  versioned_docs/version-8.3/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/reference/notices.md
  versioned_docs/version-8.4/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/reference/notices.md
  versioned_docs/version-8.5/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/reference/notices.md
  versioned_docs/version-8.6/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/broker.md
Labels: d3

#4579 feat: replace raw alpha warnings with admonitions when generating C8 REST API docs
  api/camunda/generation-strategy.js
Labels: dx, theme:api-streamline

#4469 docs(rest): Add REST Connector proxy documentation
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
Labels: 8.7.0-alpha1

#4508 fix: removing Separated ingress
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/install.md
  optimize_sidebars.js
Labels: component:self-managed, 8.7.0-alpha1

#4571 Update connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.6/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
Labels: component:docs

#4548 feat: update screenshots for Desktop Modeler v5.29.0
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/deploy-icon.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-1.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-2.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/history-time-to-live/info.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-icon.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:desktop-modeler, 8.7.0-alpha1

#4480 8.7.0-alpha1 release notes
  docs/reference/release-notes/870.md
  docs/reference/release-notes/release-notes.md
  sidebars.js
Labels: component:docs, 8.7.0-alpha1

#4591 Update c8run release version
  docs/guides/react-components/_install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, 8.7.0-alpha1

#4592 remove 8.7 link on 8.6
  versioned_docs/version-8.6/reference/release-notes/release-notes.md
Labels: kind/bug

#4593 Add 8.7 section to Announcements page
  docs/reference/announcements.md
Labels: target:8.7

#4371 update instructions to add a blueprint
  docs/components/modeler/web-modeler/img/web-modeler-blueprint.png
  docs/components/modeler/web-modeler/launch-web-modeler.md
  versioned_docs/version-8.5/components/modeler/web-modeler/img/web-modeler-blueprint.png
  versioned_docs/version-8.5/components/modeler/web-modeler/launch-web-modeler.md
Labels: component:connectors

#4586 Grab last author to nag about versions
  .github/workflows/check-versions.yaml
Labels: dx

#4589 Update release blog URL in release notes
  docs/reference/release-notes/870.md
Labels: kind/enhancement, component:docs, deploy, 8.7.0-alpha1

#4553 adjust guides naming
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-cluster.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/improve-processes-with-optimize.md
  docs/guides/setting-up-development-project.md
  sidebars.js
  versioned_docs/version-8.6/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.6/guides/create-cluster.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.6/guides/setting-up-development-project.md
  versioned_sidebars/version-8.6-sidebars.json
Labels: component:docs, deploy

#4600 archive(8.2) preparation: ignore 8.2.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx

#4612 Remove slash link to heading
  docs/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
Labels: component:docs

#4613 Add 8.7 release date and EOM
  docs/reference/release-notes/870.md
  docs/reference/release-notes/release-notes.md
Labels: target:8.7

#4518 Fix package names in ConnectorJobHandler example
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.3/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.4/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.5/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/connector-sdk.md
Labels: kind/bug, component:connectors

#4607 docs(modeler): add troubleshooting entry for sandboxing issue
  docs/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/troubleshooting.md
Labels: component:desktop-modeler

#4614 feat(sass): add export activity
  docs/components/console/manage-organization/img/activity-view.png
  docs/components/console/manage-organization/view-organization-activity.md
  versioned_docs/version-8.6/components/console/manage-organization/img/activity-view.png
  versioned_docs/version-8.6/components/console/manage-organization/view-organization-activity.md
Labels: component:docs, component:console

#4611 remove user names in connectors and tasklist doc screenshots
  docs/components/connectors/img/connector-templates/create-connector-template-1.png
  docs/components/connectors/img/connector-templates/create-connector-template-3.png
  docs/components/connectors/img/connector-templates/edit-connector-template-1.png
  docs/components/connectors/img/connector-templates/fix-connector-template-problems-2.png
  docs/components/connectors/img/connector-templates/fix-connector-template-problems.png
  docs/components/connectors/img/use-connectors-error-general.png
  docs/components/connectors/manage-connector-templates.md
  docs/components/tasklist/userguide/defining-task-priorities.md
  docs/components/tasklist/userguide/img/modeler-user-task-priority.jpg
  docs/components/tasklist/userguide/img/tasklist-language-settings.jpg
  docs/components/tasklist/userguide/img/tasklist-tasks-with-priority-sorting.jpg
  docs/components/tasklist/userguide/img/tasklist–tasks-with-priority.jpg
  versioned_docs/version-8.6/components/connectors/img/connector-templates/create-connector-template-1.png
  versioned_docs/version-8.6/components/connectors/img/connector-templates/create-connector-template-3.png
  versioned_docs/version-8.6/components/connectors/img/connector-templates/edit-connector-template-1.png
  versioned_docs/version-8.6/components/connectors/img/connector-templates/fix-connector-template-problems-2.png
  versioned_docs/version-8.6/components/connectors/img/connector-templates/fix-connector-template-problems.png
  versioned_docs/version-8.6/components/connectors/img/use-connectors-error-general.png
  versioned_docs/version-8.6/components/connectors/manage-connector-templates.md
  versioned_docs/version-8.6/components/tasklist/userguide/defining-task-priorities.md
  versioned_docs/version-8.6/components/tasklist/userguide/img/modeler-user-task-priority.jpg
  versioned_docs/version-8.6/components/tasklist/userguide/img/tasklist-language-settings.jpg
  versioned_docs/version-8.6/components/tasklist/userguide/img/tasklist-tasks-with-priority-sorting.jpg
  versioned_docs/version-8.6/components/tasklist/userguide/img/tasklist–tasks-with-priority.jpg
Labels: component:tasklist, component:docs, component:connectors

#4623 docs(modeler): update Play limitations
  docs/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.6/components/modeler/web-modeler/play-your-process.md
Labels: component:modeler

#4499 Add special config for Web Modeler application/client
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:self-managed, component:web-modeler-sm

#4608 feat(concepts): suspend free trial
  docs/components/concepts/clusters.md
  versioned_docs/version-8.3/components/concepts/clusters.md
  versioned_docs/version-8.4/components/concepts/clusters.md
  versioned_docs/version-8.5/components/concepts/clusters.md
  versioned_docs/version-8.6/components/concepts/clusters.md
Labels: kind/enhancement, component:docs, component:console

#4624 chore: update version archival process to account for infrastructure changes
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  docusaurus.config.js
  hacks/isolateVersion/6-updateCIWorkflows.sh
  hacks/isolateVersion/7-updateDocusaurusConfig.sh
Labels: kind/cleanup, component:docs, dx

#4620 fix(assets): display bpmn-element images
  docs/components/best-practices/development/understanding-transaction-handling-c7.md
  versioned_docs/version-8.2/components/best-practices/development/understanding-transaction-handling-c7.md
  versioned_docs/version-8.3/components/best-practices/development/understanding-transaction-handling-c7.md
  versioned_docs/version-8.4/components/best-practices/development/understanding-transaction-handling-c7.md
  versioned_docs/version-8.5/components/best-practices/development/understanding-transaction-handling-c7.md
  versioned_docs/version-8.6/components/best-practices/development/understanding-transaction-handling-c7.md
Labels: kind/bug, component:modeler

#4596 feat(saas): document the upcoming Singapore region
  docs/reference/announcements.md
  docs/reference/regions.md
  versioned_docs/version-8.3/reference/regions.md
  versioned_docs/version-8.4/reference/regions.md
  versioned_docs/version-8.5/reference/regions.md
  versioned_docs/version-8.6/reference/regions.md
Labels: component:docs

#4626 archive(8.2) isolation: pt 2, reviewable steps
  .github/workflows/build-docs.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  hacks/isolateVersion/6-updateCIWorkflows.sh
  hacks/isolateVersion/7-updateDocusaurusConfig.sh
  hacks/isolateVersion/allSteps.sh
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_sidebars/version-3.10.0-sidebars.json
  optimize_versions.json
  src/pages/index.js
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  src/versions.js
  static/.htaccess
  static/robots.txt
  versioned_docs/version-8.2/apis-tools/operate-api/tutorial.md
  versioned_docs/version-8.2/apis-tools/tasklist-api/enums/sort.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/enums/task-sort-fields.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/inputs/date-filter-input.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/inputs/task-order-by.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/inputs/task-query.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/scalars/DateTime.mdx
  versioned_docs/version-8.2/apis-tools/tasklist-api/tasklist-api-graphql-to-rest-migration.md
  versioned_docs/version-8.2/apis-tools/tasklist-api/tasklist-api-overview.md
  versioned_docs/version-8.2/apis-tools/web-modeler-api/index.md
  versioned_docs/version-8.2/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.2/components/concepts/backups.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.2/components/connectors/protocol/polling.md
  versioned_docs/version-8.2/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.2/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/call-activities/call-activities.md
  versioned_docs/version-8.2/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/escalation-events/escalation-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/receive-tasks/receive-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/service-tasks/service-tasks.md
  versioned_docs/version-8.2/components/modeler/bpmn/timer-events/timer-events.md
  versioned_docs/version-8.2/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.2/components/modeler/feel/language-guide/feel-boolean-expressions.md
  versioned_docs/version-8.2/components/modeler/feel/language-guide/feel-functions.md
  versioned_docs/version-8.2/components/modeler/feel/language-guide/feel-string-expressions.md
  versioned_docs/version-8.2/components/modeler/feel/language-guide/feel-variables.md
  versioned_docs/version-8.2/components/modeler/forms/form-element-library/forms-element-library-image.md
  versioned_docs/version-8.2/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.2/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.2/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.2/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.2/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.2/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-login.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
  versioned_docs/version-8.2/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_sidebars/version-8.2-sidebars.json
  versions.json
Labels: kind/cleanup, dx, theme:performance

#4522 clarify dependencies between performance, retention time and disk space
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.6/components/best-practices/architecture/sizing-your-environment.md
Labels: kind/enhancement, kind/feature, component:docs, component:console, deploy

#4452 update gateway service protobuf references
  docs/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.6/apis-tools/zeebe-api/gateway-service.md
Labels: component:docs, theme:api-streamline

#4644 Update ID references
  docs/components/best-practices/architecture/extending-human-task-management-c7.md
  docs/components/best-practices/modeling/naming-technically-relevant-ids.md
  docs/components/concepts/messages.md
  docs/components/console/manage-organization/external-sso.md
  docs/components/modeler/bpmn/call-activities/call-activities.md
  docs/components/modeler/bpmn/message-events/message-events.md
  docs/components/modeler/bpmn/signal-events/signal-events.md
  docs/components/modeler/bpmn/timer-events/timer-events.md
  docs/components/modeler/desktop-modeler/telemetry/telemetry.md
  docs/components/modeler/dmn/decision-literal-expression.md
  docs/components/modeler/dmn/decision-requirements-graph.md
  docs/components/modeler/dmn/decision-table-input.md
  docs/components/modeler/dmn/decision-table-output.md
  docs/components/modeler/dmn/decision-table.md
  docs/components/modeler/dmn/dmn.md
  docs/components/modeler/feel/language-guide/feel-data-types.md
  docs/components/operate/userguide/monitor-operation-status.md
  docs/components/zeebe/technical-concepts/process-lifecycles.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/model-your-first-process.md
Labels: kind/enhancement, component:zeebe, component:operate, component:tasklist, component:modeler, component:docs, component:console, component:web-modeler-SaaS, component:desktop-modeler

#4645 Add 8.6 to supported env page
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
Labels: component:docs

#4641 archive(8.2) exclusion: logically remove versions 8.2/3.10.0. Reviewable steps.
  docusaurus.config.js
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx, theme:performance

#4646 Introduce orchestration cluster
  docs/components/concepts/clusters.md
  docs/reference/announcements.md
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/console-deployment/overview.md
  docs/self-managed/setup/guides/multi-namespace-deployment.md
Labels: component:docs, target:8.7

#4622 move general availability section
  docs/components/early-access/alpha/alpha-features.md
  docs/components/early-access/overview.md
  docs/components/modeler/web-modeler/advanced-modeling/camunda-docs-ai.md
  docs/reference/release-policy.md
Labels: component:docs

#4652 lowercase copilot
  docs/reference/release-notes/860.md
  versioned_docs/version-8.6/reference/release-notes/860.md
Labels: component:docs

#4638 Add link to Identity logging configuration
  docs/self-managed/operational-guides/troubleshooting/log-levels.md
  versioned_docs/version-8.3/self-managed/operational-guides/troubleshooting/log-levels.md
  versioned_docs/version-8.4/self-managed/operational-guides/troubleshooting/log-levels.md
  versioned_docs/version-8.5/self-managed/operational-guides/troubleshooting/log-levels.md
  versioned_docs/version-8.6/self-managed/operational-guides/troubleshooting/log-levels.md
Labels: component:identity, component:self-managed

#4647 Add inline-image style for BPMN icon images
  docs/components/best-practices/modeling/creating-readable-process-models.md
  src/css/custom.css
Labels: kind/bug, component:docs, deploy

#4664 chore: apply suggestion
  docs/self-managed/tasklist-deployment/data-retention.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/data-retention.md
Labels: component:docs, component:self-managed

#4682 Change Process Instances per day to Process Instances per second
  docs/components/best-practices/architecture/sizing-your-environment.md
  versioned_docs/version-8.6/components/best-practices/architecture/sizing-your-environment.md
Labels: component:docs, deploy
