Repository camunda/camunda-docs, pull requests merged in 2024-05, with the labels that each got.

#3681 [Docs][Connectors] Azure OpenAI and Hugging Face
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  docs/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  docs/components/connectors/out-of-the-box-connectors/hugging-face.md
  docs/components/connectors/out-of-the-box-connectors/openai.md
  optimize_sidebars.js
  sidebars.js
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/hugging-face.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/hugging-face.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/hugging-face.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/hugging-face.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/openai.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/azure-open-ai.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/hugging-face.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/openai.md
  versioned_sidebars/version-8.1-sidebars.json
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:connectors, 8.6.0-alpha1

#3737 cleanup: remove outdated 8.1 upgrade page and redirect to current upgrade page
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  static/.htaccess
  versioned_docs/version-8.1/components/console/manage-plan/upgrade-to-professional-plan.md
  versioned_sidebars/version-8.1-sidebars.json
Labels: kind/cleanup, component:docs

#3738 archive(8.1) prep: filter 8.1.x tags when publishing to production
  .github/workflows/publish-prod.yaml
Labels: kind/cleanup, dx

#3753 rephrase personal organization
  docs/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.1/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.2/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.3/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.4/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.5/components/console/manage-organization/manage-users.md
Labels: component:docs, component:console

#3746 retro review 3720
  docs/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/management-api.md
Labels: component:docs

#3755 archive(8.1) isolation: automated steps
  .github/workflows/build-docs.yaml
  .github/workflows/publish-prod.yaml
  .github/workflows/publish-stage.yaml
  Dockerfile
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.9.0-sidebars.json
  optimize_versions.json
  src/theme/AnnouncementBar/index.js
  src/theme/DocVersionBanner/index.js
  src/versions.js
  static/robots.txt
  versioned_sidebars/version-8.1-sidebars.json
  versions.json
Labels: kind/cleanup, dx

#3740 Hot Backups: Document changes in protocol for backup and restore.
  docs/reference/glossary.md
  docs/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/reference/glossary.md
  versioned_docs/version-8.2/self-managed/backup-restore/backup-and-restore.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.3/reference/glossary.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.4/reference/glossary.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_docs/version-8.5/reference/glossary.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/backup-and-restore.md
Labels: component:self-managed

#3759 fix: update archival scripts
  hacks/isolateVersion/6-updateCIWorkflows.sh
  hacks/isolateVersion/8-configureOptimizeDocs.sh
  hacks/isolateVersion/allSteps.sh
Labels: kind/bug, dx

#3762 docs: operate patches dependency updates
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:operate

#3741 docs(requirements): update optimize requirement with Java 21
  docs/reference/supported-environments.md
  optimize/self-managed/optimize-deployment/migration-update/3.13_8.5-to-3.14_8.6.md
Labels: component:optimize

#3760 archive(8.1) isolation: manual steps
  src/theme/DocItem/Metadata/determineCanonical.js
  src/theme/DocItem/Metadata/determineCanonical.spec.js
  src/theme/DocItem/Metadata/index.js
  static/.htaccess
  versioned_docs/version-8.1/apis-tools/operate-api/index.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/google-maps-platform.md
  versioned_docs/version-8.1/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.1/components/connectors/protocol/polling.md
  versioned_docs/version-8.1/components/console/manage-organization/enable-alpha-features.md
  versioned_docs/version-8.1/components/modeler/feel/language-guide/feel-variables.md
  versioned_docs/version-8.1/reference/release-policy.md
  versioned_docs/version-8.1/self-managed/identity/user-guide/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.1/self-managed/platform-deployment/helm-kubernetes/platforms/redhat-openshift.md
Labels: kind/cleanup, component:docs, dx

#3765 archive(8.1) isolation: incorporate recent changes
  versioned_docs/version-8.1/components/console/manage-organization/manage-users.md
Labels: kind/cleanup, component:docs

#3725 Adding section to avoid issue with Ci/CD
  docs/self-managed/setup/install.md
Labels: component:self-managed

#3758 docs(general): add missing link back and variable to the oidc docs
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:identity

#3679 Change openserach wording
  docs/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  docs/self-managed/setup/guides/using-existing-opensearch.md
  docs/self-managed/setup/install.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/irsa.md
  versioned_docs/version-8.5/self-managed/setup/guides/using-existing-opensearch.md
  versioned_docs/version-8.5/self-managed/setup/install.md
Labels: component:self-managed

#3766 Add community-supported disclaimer to Tasklist tutorial
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-tutorial.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-tutorial.md
Labels: component:tasklist

#3769 archive(8.1) exclude: remove versions 8.1 and 3.9.0, part 1: reviewable steps
  docusaurus.config.js
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versions.json
Labels: kind/cleanup, dx

#3774 chore(web-modeler): fix names of "create new" menu and menu items
  docs/components/modeler/web-modeler/camunda-marketplace.md
  docs/guides/automating-a-process-using-bpmn.md
  docs/guides/configuring-out-of-the-box-connector.md
  docs/guides/create-decision-tables-using-dmn.md
  docs/guides/getting-started-orchestrate-apis.md
  docs/guides/getting-started-orchestrate-human-tasks.md
  docs/guides/getting-started-orchestrate-microservices.md
  docs/guides/model-your-first-process.md
  docs/guides/utilizing-forms.md
  versioned_docs/version-8.5/components/modeler/web-modeler/camunda-marketplace.md
  versioned_docs/version-8.5/guides/automating-a-process-using-bpmn.md
  versioned_docs/version-8.5/guides/configuring-out-of-the-box-connector.md
  versioned_docs/version-8.5/guides/create-decision-tables-using-dmn.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-apis.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-human-tasks.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/model-your-first-process.md
  versioned_docs/version-8.5/guides/utilizing-forms.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm

#3767 PR template tweaks
  .github/pull_request_template.md
Labels: component:docs, dx

#3773 Add missing shard and replica docs for elastic and opensearch exporter
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: component:zeebe, component:self-managed

#3771 feat(connectors): Response expression
  docs/components/connectors/protocol/http-webhook.md
Labels: component:connectors

#3763 8874 marketplace integrated process blueprint dialog
  docs/components/modeler/web-modeler/camunda-marketplace.md
  docs/components/modeler/web-modeler/img/Browse-process-blueprints-ctas.png
  docs/components/modeler/web-modeler/img/Marketplace-modal-blueprints.png
  docs/components/modeler/web-modeler/img/change-element.png
  docs/components/modeler/web-modeler/img/marketplace-icon.png
  docs/components/modeler/web-modeler/launch-web-modeler.md
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:docs, component:connectors, 8.6.0-alpha1

#3781 feat: support fully-qualified absolute canonical URLs
  src/theme/DocItem/Metadata/determineCanonical.js
  src/theme/DocItem/Metadata/determineCanonical.spec.js
  src/theme/DocItem/Metadata/index.js
Labels: kind/feature, dx

#3672 feature: add csrf token to the tasklist docs
  docs/apis-tools/tasklist-api/tasklist-api-authentication.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.5/apis-tools/tasklist-api/tasklist-api-authentication.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:tasklist, 8.6.0-alpha1, 8.5.1

#3776 fix bmpn errors
  docs/components/connectors/use-connectors/index.md
  versioned_docs/version-1.3/components/best-practices.md
  versioned_docs/version-8.4/components/connectors/use-connectors/index.md
  versioned_docs/version-8.5/components/connectors/use-connectors/index.md
Labels: kind/bug, component:docs

#3783 [3/?] Fix Optimize "setup" anchor links
  optimize/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize/self-managed/optimize-deployment/plugins/variable-import-plugin.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/plugins/variable-import-plugin.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/plugins/variable-import-plugin.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/plugins/variable-import-plugin.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/plugins/variable-import-plugin.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/migration-update/2.5-to-2.6.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/businesskey-import-plugin.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/decision-import-plugin.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/elasticsearch-header.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/engine-rest-filter-plugin.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/single-sign-on.md
  optimize_versioned_docs/version-3.7.0/self-managed/optimize-deployment/plugins/variable-import-plugin.md
Labels: component:docs

#3733 [2/?] Fix anchor links - Connectors
  docs/components/concepts/outbound-connectors-job-workers.md
  docs/components/connectors/custom-built-connectors/connector-sdk.md
  docs/components/connectors/introduction.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.2/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.2/components/connectors/introduction.md
  versioned_docs/version-8.2/self-managed/connectors-deployment/install-and-start.md
  versioned_docs/version-8.3/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.3/components/connectors/introduction.md
  versioned_docs/version-8.4/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.4/components/connectors/introduction.md
  versioned_docs/version-8.5/components/connectors/custom-built-connectors/connector-sdk.md
  versioned_docs/version-8.5/components/connectors/introduction.md
Labels: component:docs

#3747 docs: add operate batch modification page
  docs/components/operate/operate-introduction.md
  docs/components/operate/userguide/img/batch-modification/batch-mode-entered.png
  docs/components/operate/userguide/img/batch-modification/confirmation-modal.png
  docs/components/operate/userguide/img/batch-modification/information-modal.png
  docs/components/operate/userguide/img/batch-modification/monitor-progress-using-operations-panel.png
  docs/components/operate/userguide/img/batch-modification/select-flownode.png
  docs/components/operate/userguide/img/batch-modification/select-instances-batch-move-available.png
  docs/components/operate/userguide/img/batch-modification/select-target-flownode.png
  docs/components/operate/userguide/process-instance-batch-modification.md
  docs/components/operate/userguide/process-instance-modification.md
  sidebars.js
Labels: component:operate, 8.6.0-alpha1

#3787 docs(web-modeler): update dependencies for 8.6.0-alpha1
  docs/reference/dependencies.md
  versioned_docs/version-8.2/reference/dependencies.md
  versioned_docs/version-8.3/reference/dependencies.md
  versioned_docs/version-8.4/reference/dependencies.md
  versioned_docs/version-8.5/reference/dependencies.md
Labels: component:docs, component:web-modeler-sm, 8.6.0-alpha1

#3756 chore(dual-region): Improve phrasing around supported envrionments
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.5/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.5/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
Labels: component:self-managed

#3751 document locating c8 credentials
  docs/self-managed/modeler/web-modeler/installation.md
  docs/self-managed/setup/overview.md
  src/pages/contact.md
  src/pages/img/create-issue-request.png
Labels: component:docs, component:web-modeler-sm

#3793 update UI references
  docs/components/modeler/web-modeler/camunda-marketplace.md
Labels: component:modeler

#3772 feat(saas): document the upcoming London region
  docs/reference/regions.md
  versioned_docs/version-8.2/reference/regions.md
  versioned_docs/version-8.3/reference/regions.md
  versioned_docs/version-8.4/reference/regions.md
  versioned_docs/version-8.5/reference/regions.md
Labels: component:docs

#3784 8.6.0-alpha1 release notes
  docs/reference/release-notes/860.md
  sidebars.js
Labels: 8.6.0-alpha1

#3794 Remove Updating Tasklist (SaaS & Cloud)
  docs/components/tasklist/userguide/updating-tasklist.md
  docs/self-managed/tasklist-deployment/updating-tasklist.md
  static/.htaccess
  versioned_docs/version-8.2/components/tasklist/userguide/updating-tasklist.md
  versioned_docs/version-8.2/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.2/self-managed/tasklist-deployment/updating-tasklist.md
  versioned_docs/version-8.3/components/tasklist/userguide/updating-tasklist.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/updating-tasklist.md
  versioned_docs/version-8.4/components/tasklist/userguide/updating-tasklist.md
  versioned_docs/version-8.4/self-managed/platform-deployment/manual.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/updating-tasklist.md
  versioned_docs/version-8.5/components/tasklist/userguide/updating-tasklist.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/updating-tasklist.md
  versioned_sidebars/version-8.2-sidebars.json
  versioned_sidebars/version-8.3-sidebars.json
Labels: component:tasklist, component:docs

#3786 docs(web-modeler): add documentation on process applications
  docs/components/modeler/web-modeler/advanced-modeling/business-rule-task-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  docs/components/modeler/web-modeler/camunda-marketplace.md
  docs/components/modeler/web-modeler/img/Browse-process-blueprints-ctas.png
  docs/components/modeler/web-modeler/img/browse-process-blueprints-ctas.png
  docs/components/modeler/web-modeler/img/marketplace-modal-blueprints.png
  docs/components/modeler/web-modeler/img/process-applications/deploy-error.png
  docs/components/modeler/web-modeler/img/process-applications/deploy-process-application.png
  docs/components/modeler/web-modeler/img/process-applications/empty-project.png
  docs/components/modeler/web-modeler/img/process-applications/file-list.png
  docs/components/modeler/web-modeler/img/process-applications/run-process-application.png
  docs/components/modeler/web-modeler/process-applications.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/guides/img/blank-project.png
  optimize_sidebars.js
  sidebars.js
Labels: component:docs, component:web-modeler-SaaS, 8.6.0-alpha1

#3580 docs(ootbc): add avro to kafka consumer docs
  docs/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.2/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.3/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.4/components/connectors/out-of-the-box-connectors/kafka.md
  versioned_docs/version-8.5/components/connectors/out-of-the-box-connectors/kafka.md
Labels: 8.6.0-alpha1

#3790 Introduce changelog (vs. release notes)
  docs/reference/release-notes/release-notes.md
  versioned_docs/version-8.5/reference/release-notes/release-notes.md
Labels: component:docs

#3691 docs(self-managed): tidy up sidebar names and add openshift version
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.5/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:self-managed

#3752 clarify connecting to oidc provider
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:self-managed

#3778 docs(optimzie): remove telemetry
  optimize/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize/self-managed/optimize-deployment/configuration/telemetry.md
  optimize/self-managed/optimize-deployment/migration-update/3.13_8.5-to-3.14_8.6.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
Labels: component:optimize, 8.5.0-alpha1

#3706 feat: activate support for ISM
  docs/self-managed/tasklist-deployment/data-retention.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/data-retention.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/data-retention.md
Labels: component:tasklist

#3801 Add to alpha1 release notes
  docs/reference/release-notes/860.md
Labels: 8.6.0-alpha1

#3797 Add Kapa search
  docusaurus.config.js
Labels: dx

#3785 Add links to 8.5 release notes
  docs/reference/release-notes/850.md
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: component:docs

#3810 Remove references to max number of snapshots.
  docs/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/resource-planning.md
Labels: component:zeebe, component:self-managed

#3809 chore(docs): bump aws eks guide versions
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
Labels: component:self-managed

#3804 Remove `/docs` from Spring Zeebe docs
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: kind/bug, component:docs

#3805 Remove fully qualified URLs from docs
  docs/apis-tools/administration-api/authentication.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/reference/usage-metrics.md
  versioned_docs/version-8.2/apis-tools/administration-api-reference.md
  versioned_docs/version-8.2/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.2/reference/usage-metrics.md
  versioned_docs/version-8.3/apis-tools/administration-api-reference.md
  versioned_docs/version-8.3/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.3/reference/usage-metrics.md
  versioned_docs/version-8.4/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.4/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.4/reference/usage-metrics.md
  versioned_docs/version-8.5/apis-tools/administration-api/authentication.md
  versioned_docs/version-8.5/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.5/reference/usage-metrics.md
Labels: kind/bug, component:docs

#3806 Add release date and EOM to release notes
  docs/reference/release-notes/850.md
  docs/reference/release-notes/860.md
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: component:docs

#3808 chore: update Camunda Modeler screenshots to v5.23
  docs/components/modeler/desktop-modeler/element-templates/img/chooser.png
  docs/components/modeler/desktop-modeler/element-templates/img/entries-visible.png
  docs/components/modeler/desktop-modeler/element-templates/img/field-dropdown.png
  docs/components/modeler/desktop-modeler/element-templates/img/groups.png
  docs/components/modeler/desktop-modeler/element-templates/img/icons.png
  docs/components/modeler/desktop-modeler/element-templates/img/modal.png
  docs/components/modeler/desktop-modeler/element-templates/img/overview.png
  docs/components/modeler/desktop-modeler/element-templates/img/template-not-found.png
  docs/components/modeler/desktop-modeler/element-templates/img/unlink-remove.png
  docs/components/modeler/desktop-modeler/element-templates/img/update-template.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-remember.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud-success.png
  docs/components/modeler/desktop-modeler/img/deploy-diagram-camunda-cloud.png
  docs/components/modeler/desktop-modeler/img/deploy-icon.png
  docs/components/modeler/desktop-modeler/img/element-configuration.png
  docs/components/modeler/desktop-modeler/img/elements.png
  docs/components/modeler/desktop-modeler/img/empty.png
  docs/components/modeler/desktop-modeler/img/new-diagram.png
  docs/components/modeler/desktop-modeler/img/properties-panel.png
  docs/components/modeler/desktop-modeler/img/start-instance-icon.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-1.png
  docs/components/modeler/desktop-modeler/img/start-instance-step-2.png
  docs/components/modeler/desktop-modeler/img/start-instance-successful.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/called-element/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/element-type/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/error-reference/wrong-no-error-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-code.png
  docs/components/modeler/reference/modeling-guidance/rules/img/escalation-reference/wrong-no-escalation-reference.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/feel/wrong.png
  docs/components/modeler/reference/modeling-guidance/rules/img/history-time-to-live/info.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/right.png
  docs/components/modeler/reference/modeling-guidance/rules/img/message-reference/wrong-no-message-reference.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-empty.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-endpoint.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-icon.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-success.png
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-oauth.png
Labels: component:modeler

#3788 docs(optimize): document SNI configuration options
  docs/self-managed/setup/deploy/other/docker.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.10.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.11.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.12.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.13.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.2/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.5/self-managed/setup/deploy/other/docker.md
Labels: component:optimize, component:self-managed

#3743 elasticsearch-exporter: Add link to index templates
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
Labels: component:zeebe, component:self-managed

#3828 Announce repo rename impact to Go Client
  docs/reference/announcements.md
  versioned_docs/version-8.2/reference/announcements.md
  versioned_docs/version-8.3/reference/announcements.md
  versioned_docs/version-8.4/reference/announcements.md
  versioned_docs/version-8.5/reference/announcements.md
Labels: component:docs

#3795 fix configuration file links
  docs/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.2/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/configuration.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/configuration.md
Labels: component:zeebe, component:self-managed

#3780 Remove extra annotation - @SpringBootTest
  docs/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.2/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.3/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.4/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.5/components/best-practices/development/testing-process-definitions.md
Labels: kind/bug, best-practices

#3827 chore(doc): use latest 8.5 helm values and explicitly state postgres usage
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eks-helm.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
Labels: component:self-managed

#3811 feat(self-managed): add basic auth for deployments docs
  docs/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  docs/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  versioned_docs/version-8.2/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.2/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  versioned_docs/version-8.3/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.3/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  versioned_docs/version-8.4/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.4/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
  versioned_docs/version-8.5/self-managed/modeler/desktop-modeler/deploy-to-self-managed.md
  versioned_docs/version-8.5/self-managed/modeler/desktop-modeler/img/deploy-with-basic-auth.png
Labels: component:self-managed

#3791 Create backup docs
  docs/components/console/manage-clusters/cluster-backups.md
  docs/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  docs/components/console/manage-clusters/img/cluster-detail-backups.png
  docs/components/console/manage-clusters/img/cluster-detail-create-scheduled-backup.png
  sidebars.js
  versioned_docs/version-8.4/components/console/manage-clusters/cluster-backups.md
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-backups.png
  versioned_docs/version-8.4/components/console/manage-clusters/img/cluster-detail-create-scheduled-backup.png
  versioned_docs/version-8.5/components/console/manage-clusters/cluster-backups.md
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-backups-manual.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-backups.png
  versioned_docs/version-8.5/components/console/manage-clusters/img/cluster-detail-create-scheduled-backup.png
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs, component:console

#3761 feat(connectors,sagemaker): introduce AWS SageMaker connector
  docs/components/connectors/out-of-the-box-connectors/amazon-sagemaker.md
  docs/components/connectors/out-of-the-box-connectors/available-connectors-overview.md
  optimize_sidebars.js
  sidebars.js
Labels: component:connectors, target:8.6

#3839 chore(dual-region): Address old wording for operational procedure
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.5/self-managed/operational-guides/multi-region/dual-region-ops.md
Labels: component:infex

#3840 Fix: replace misleading statements on DMN migration with links to pages with more information
  docs/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.2/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/migration-readiness.md
Labels: component:docs

#3817 add clearer messaging for Spring Zeebe
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  docs/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.5/components/best-practices/architecture/deciding-about-your-stack.md
  versioned_docs/version-8.5/components/best-practices/development/connecting-the-workflow-engine-with-your-world.md
  versioned_docs/version-8.5/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.5/components/best-practices/development/writing-good-workers.md
Labels: component:zeebe, component:docs

#3813 docs(web-modeler): document Camunda Docs AI feature
  docs/components/modeler/web-modeler/advanced-modeling/camunda-docs-ai.md
  docs/components/modeler/web-modeler/advanced-modeling/img/camunda-docs-ai-trigger.png
  sidebars.js
Labels: component:modeler

#3830 fix(dual-region): more precise language for tasklist limitations
  docs/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.5/self-managed/concepts/multi-region/dual-region.md
Labels: component:self-managed

#3835 docs(operate): add call activities to supported elements in instance migration guide
  docs/components/operate/userguide/process-instance-migration.md
  versioned_docs/version-8.5/components/operate/userguide/process-instance-migration.md
Labels: component:operate, target:8.6, 8.6.0-alpha2

#3844 document camunda help center
  docs/guides/help-center.md
  docs/guides/img/automation-project-guide.png
  docs/guides/img/open-help-center.png
  sidebars.js
  versioned_docs/version-8.5/guides/help-center.md
  versioned_docs/version-8.5/guides/img/automation-project-guide.png
  versioned_docs/version-8.5/guides/img/open-help-center.png
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:docs

#3708 Create optimize api tutorial and revise admin api tutorial
  docs/apis-tools/administration-api/tutorial.md
  optimize/apis-tools/optimize-api/tutorial.md
  optimize_sidebars.js
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/tutorial.md
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.4/apis-tools/administration-api/tutorial.md
  versioned_docs/version-8.5/apis-tools/administration-api/tutorial.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: component:optimize

#3851 fix: link to actual create-cluster page
  optimize/apis-tools/optimize-api/tutorial.md
  optimize_versioned_docs/version-3.13.0/apis-tools/optimize-api/tutorial.md
Labels: kind/bug, component:docs

#3842 docs(self-managed): reference helm cli version
  docs/reference/supported-environments.md
  versioned_docs/version-8.2/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
  versioned_docs/version-8.5/reference/supported-environments.md
Labels: component:docs

#3853 Add orphaned page to Optimize sidebars
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
Labels: kind/bug, component:docs

#3855 Add Go client repo rename changes to 8.6
  docs/apis-tools/go-client/go-get-started.md
  docs/reference/announcements.md
Labels: component:docs

#3845 fix(releaseNotes): correct table header row
  docs/reference/release-notes/850.md
  docs/reference/release-notes/860.md
  versioned_docs/version-8.5/reference/release-notes/850.md
Labels: kind/bug, component:docs

#3864 Add tech-writers team to PR template
  .github/pull_request_template.md
  howtos/documentation-guidelines.md
Labels: component:docs, dx
