Repository camunda/camunda-docs, pull requests merged in 2025-03, with the labels that each got.

#4962 Helm char Production guide (8.7)
  versioned_docs/version-8.7/self-managed/operational-guides/production-guide/helm-chart-production-guide.md
  versioned_docs/version-8.7/self-managed/operational-guides/production-guide/img/architecture.png
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:self-managed, target:8.7, deploy

#5112 Remove meta page
  docusaurus.config.js
  src/pages/meta.md
  static/.htaccess
Labels: component:docs, low prio, level-up

#5113 docs: recommend the sync workflow for changes to C8 REST API vNext
  howtos/interactive-api-explorers.md
Labels: low prio, component:api

#5037 update opensearch warning to call out backups clearly
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/system-configuration.md
  optimize_versioned_docs/version-3.15.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.6/self-managed/setup/guides/using-existing-opensearch.md
  versioned_docs/version-8.7/reference/supported-environments.md
  versioned_docs/version-8.7/self-managed/setup/guides/using-existing-opensearch.md
Labels: component:optimize, component:self-managed, low prio

#5132 feat: add redirect for vNext
  howtos/release-procedure.md
  static/.htaccess
Labels: dx

#5139 Add basic auth to Java client / Spring SDK
  docs/apis-tools/java-client/authentication.md
  docs/apis-tools/java-client/index.md
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docusaurus.config.js
  sidebars.js
Labels: 8.8.0-alpha2

#5127 Amazon Bedrock connector text file limitation
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
Labels: component:connectors

#5131 adjust zbctl references in versioned docs
  docs/apis-tools/community-clients/cli-client/cli-get-started.md
  docs/apis-tools/community-clients/cli-client/index.md
  docs/apis-tools/community-clients/go-client/go-get-started.md
  docs/apis-tools/community-clients/go-client/index.md
  docs/apis-tools/community-clients/go-client/job-worker.md
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.6/components/concepts/messages.md
  versioned_docs/version-8.6/components/concepts/process-instance-creation.md
  versioned_docs/version-8.6/components/console/console-troubleshooting/common-pitfalls.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.6/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.6/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.6/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.6/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.6/self-managed/setup/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/security/secure-client-communication.md
  versioned_docs/version-8.7/apis-tools/community-clients/cli-client/cli-get-started.md
  versioned_docs/version-8.7/apis-tools/community-clients/cli-client/index.md
  versioned_docs/version-8.7/apis-tools/community-clients/go-client/go-get-started.md
  versioned_docs/version-8.7/apis-tools/community-clients/go-client/index.md
  versioned_docs/version-8.7/apis-tools/community-clients/go-client/job-worker.md
  versioned_docs/version-8.7/components/concepts/messages.md
  versioned_docs/version-8.7/components/concepts/process-instance-creation.md
  versioned_docs/version-8.7/components/console/console-troubleshooting/common-pitfalls.md
  versioned_docs/version-8.7/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.7/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.7/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.7/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  versioned_docs/version-8.7/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/dual-region.md
  versioned_docs/version-8.7/self-managed/setup/guides/accessing-components-without-ingress.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/security/secure-client-communication.md
Labels: component:docs, deploy

#5152 Fix 8.8 and 8.7 announcements links
  docs/reference/announcements.md
  docs/reference/announcements/870.md
  docs/reference/announcements/880.md
  versioned_docs/version-8.7/reference/announcements.md
  versioned_docs/version-8.7/reference/announcements/870.md
Labels: 8.7.0-alpha5

#5162 Update usage of "guess" to "determine"
  docs/self-managed/operate-deployment/importer-and-archiver.md
  docs/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.7/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.7/self-managed/tasklist-deployment/importer-and-archiver.md
Labels: component:docs, low prio

#5164 Remove link to C7 Optimize matrix in supported environments
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:optimize, low prio

#5159 Add one-liner to forms guide for AI Form Builder
  docs/guides/utilizing-forms.md
  versioned_docs/version-8.3/guides/utilizing-forms.md
  versioned_docs/version-8.4/guides/utilizing-forms.md
  versioned_docs/version-8.5/guides/utilizing-forms.md
  versioned_docs/version-8.6/guides/utilizing-forms.md
  versioned_docs/version-8.7/guides/utilizing-forms.md
Labels: component:docs

#5109 docs: rewrite 8.7 rest overview to better align with 8.6
  versioned_docs/version-8.7/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
Labels: component:docs, target:8.7, deploy

#4907 update document handling content
  docs/components/concepts/assets/document-handling-tasklist.png
  docs/components/concepts/document-handling.md
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  docs/components/connectors/out-of-the-box-connectors/amazon-s3.md
  docs/components/connectors/out-of-the-box-connectors/amazon-textract.md
  docs/components/connectors/out-of-the-box-connectors/box.md
  docs/components/connectors/out-of-the-box-connectors/email.md
  versioned_docs/version-8.7/components/concepts/assets/document-handling-tasklist.png
  versioned_docs/version-8.7/components/concepts/document-handling.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-s3.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-textract.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/box.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/email.md
Labels: deploy, 8.7.0-alpha5

#5155 Remove migration guide for C8 API from 8.7
  versioned_docs/version-8.7/apis-tools/migration-manuals/migrate-to-camunda-api.md
  versioned_docs/version-8.7/apis-tools/operate-api/overview.md
  versioned_docs/version-8.7/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.7/apis-tools/working-with-apis-tools.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:docs, target:8.7, component:api

#5141 docs(identity): add keycloak upgrade to the announcements for 8.7 and 8.8
  docs/reference/announcements.md
  docs/reference/announcements/870.md
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  versioned_docs/version-8.7/reference/announcements.md
  versioned_docs/version-8.7/reference/announcements/870.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/860-to-870.md
Labels: component:identity, 8.7.0-alpha5, 8.8.0-alpha2

#5084 update zeebe spring references
  docs/apis-tools/java-client/zeebe-process-test.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/reference/announcements/860.md
  docs/reference/announcements/880.md
  docs/reference/supported-environments.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.6/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.7/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.7/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:docs

#5145 feat: unprotected API for C8Run
  docs/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, 8.8.0-alpha2, component:api

#5147 Remove go & zbctl pages, links to CCH in 8.8
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-other.png
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-pong.png
  docs/apis-tools/community-clients/cli-client/assets/operate-advanced-instances.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-process-id.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-sequence-flows.png
  docs/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced.png
  docs/apis-tools/community-clients/cli-client/cli-get-started.md
  docs/apis-tools/community-clients/cli-client/index.md
  docs/apis-tools/community-clients/go-client/assets/java-get-started-monitor-1.gif
  docs/apis-tools/community-clients/go-client/assets/java-get-started-monitor-2.gif
  docs/apis-tools/community-clients/go-client/assets/order-process-simple.png
  docs/apis-tools/community-clients/go-client/assets/order-process.png
  docs/apis-tools/community-clients/go-client/go-get-started.md
  docs/apis-tools/community-clients/go-client/index.md
  docs/apis-tools/community-clients/go-client/job-worker.md
  docs/apis-tools/community-clients/index.md
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/zeebe-deployment/security/secure-client-communication.md
  sidebars.js
  static/.htaccess
Labels: target:8.8, low prio

#5089 docs: Update docs after C7 config got removed from Optimize C8
  optimize/self-managed/optimize-deployment/configuration/service-config.yaml
  optimize/self-managed/optimize-deployment/configuration/system-configuration.md
Labels: component:optimize, low prio

#5119 docs(self-managed): rename camunda distros repo
  docs/self-managed/setup/deploy/local/docker-compose.md
  docs/self-managed/setup/overview.md
  src/components/CamundaDistributions/DockerCompose.jsx
  versioned_docs/version-8.3/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.5/self-managed/setup/overview.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.6/self-managed/setup/overview.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.7/self-managed/setup/overview.md
Labels: component:self-managed, low prio

#5169 hide link
  docs/guides/migrating-from-camunda-7/code-conversion.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/code-conversion.md
  versioned_docs/version-8.7/guides/migrating-from-camunda-7/code-conversion.md
Labels: low prio

#5158 provide details on user task restrictions
  docs/components/concepts/access-control/user-groups.md
  docs/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.5/components/concepts/access-control/user-groups.md
  versioned_docs/version-8.5/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.6/components/concepts/access-control/user-groups.md
  versioned_docs/version-8.6/components/console/manage-organization/manage-users.md
  versioned_docs/version-8.7/components/concepts/access-control/user-groups.md
  versioned_docs/version-8.7/components/console/manage-organization/manage-users.md
Labels: component:tasklist, component:console, deploy, available & undocumented

#5049 docs(sdk): update java client replacement versions
  docs/apis-tools/java-client/index.md
  docs/reference/announcements/860.md
  docs/reference/announcements/870.md
  docs/reference/announcements/880.md
  versioned_docs/version-8.6/apis-tools/java-client/index.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.7/apis-tools/java-client/index.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/reference/announcements/870.md
Labels: deploy

#5189 docs(spring sdk): update bundled spring boot versions for spring sdk 8.5
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: target:8.5

#5153 Add note of temporary Helm chart alpha limitations
  docs/reference/announcements/880.md
  docs/self-managed/setup/install.md
Labels: component:docs, component:self-managed, 8.8.0-alpha2

#5166 Fix broken link in Spring SDK
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: kind/bug, component:zeebe, low prio

#5135 Pare down Go client 8.6, 8.7, 8.8
  docs/components/concepts/job-workers.md
  docs/components/zeebe/technical-concepts/protocols.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/self-managed/zeebe-deployment/operations/setting-up-a-cluster.md
  versioned_docs/version-8.6/components/concepts/job-workers.md
  versioned_docs/version-8.6/components/zeebe/technical-concepts/protocols.md
  versioned_docs/version-8.6/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/setting-up-a-cluster.md
  versioned_docs/version-8.7/components/concepts/job-workers.md
  versioned_docs/version-8.7/components/zeebe/technical-concepts/protocols.md
  versioned_docs/version-8.7/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/setting-up-a-cluster.md
Labels: target:8.6, target:8.7, target:8.8, low prio

#5193 Remove cut off sentence in dual region docs
  docs/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.6/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.7/self-managed/concepts/multi-region/dual-region.md
Labels: component:docs, low prio

#5034 chore: kubernetes single-stop page for reference arch
  docs/self-managed/reference-architecture/img/k8s-cluster-view-managing.jpg
  docs/self-managed/reference-architecture/img/k8s-cluster-view-orchestration.jpg
  docs/self-managed/reference-architecture/img/k8s-single.jpg
  docs/self-managed/reference-architecture/img/k8s-single.pdf
  docs/self-managed/reference-architecture/img/manual-ha.jpg
  docs/self-managed/reference-architecture/img/manual-single.jpg
  docs/self-managed/reference-architecture/kubernetes.md
  docs/self-managed/reference-architecture/manual.md
  docs/self-managed/reference-architecture/reference-architecture.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/amazon-eks.md
  docs/self-managed/setup/deploy/azure/microsoft-aks.md
  docs/self-managed/setup/deploy/gcp/google-gke.md
  sidebars.js
  versioned_docs/version-8.7/self-managed/reference-architecture/img/k8s-cluster-view-managing.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/img/k8s-cluster-view-orchestration.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/img/k8s-single.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/img/k8s-single.pdf
  versioned_docs/version-8.7/self-managed/reference-architecture/kubernetes.md
  versioned_docs/version-8.7/self-managed/reference-architecture/reference-architecture.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/amazon-eks.md
  versioned_docs/version-8.7/self-managed/setup/deploy/azure/microsoft-aks.md
  versioned_docs/version-8.7/self-managed/setup/deploy/gcp/google-gke.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:self-managed, component:infex, target:8.7, deploy

#5198 remove non-existent config options
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/configuration.md
Labels: available & undocumented

#5171 Error variables clarification
  docs/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.6/components/modeler/bpmn/error-events/error-events.md
  versioned_docs/version-8.7/components/modeler/bpmn/error-events/error-events.md
Labels: 8.8.0-alpha3

#5201 docs: renamed archiver to history and removed enable setting
  docs/self-managed/zeebe-deployment/exporters/camunda-exporter.md
Labels: component:zeebe, target:8.8, 8.8.0-alpha3

#5179 Bump Spring Boot for Spring SDK to 3.4.x
  docs/reference/announcements/870.md
  docs/reference/supported-environments.md
  versioned_docs/version-8.7/reference/announcements/870.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:zeebe, component:docs, target:8.7

#4846 Add data collection page
  docs/reference/data-collection/data-collection.md
  docs/reference/data-collection/usage-metrics.md
  docs/reference/img/analytics.png
  docs/reference/img/cookie-preferences.png
  docs/reference/overview.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.6/reference/data-collection/data-collection.md
  versioned_docs/version-8.6/reference/data-collection/usage-metrics.md
  versioned_docs/version-8.6/reference/img/analytics.png
  versioned_docs/version-8.6/reference/img/cookie-preferences.png
  versioned_docs/version-8.6/reference/overview.md
  versioned_docs/version-8.7/reference/data-collection/data-collection.md
  versioned_docs/version-8.7/reference/data-collection/usage-metrics.md
  versioned_docs/version-8.7/reference/img/analytics.png
  versioned_docs/version-8.7/reference/img/cookie-preferences.png
  versioned_docs/version-8.7/reference/overview.md
  versioned_sidebars/version-8.6-sidebars.json
  versioned_sidebars/version-8.7-sidebars.json
Labels: deploy, available & undocumented

#5186 feat: add RPA getting started guide
  docs/components/RPA/getting-started.md
  docs/components/RPA/img/create-new-task.png
  docs/components/RPA/img/rpa-editor-initial.png
  docs/components/RPA/img/rpa-editor-results.png
  docs/components/RPA/img/rpa-task-configuration.png
  docs/components/RPA/overview.md
  docs/components/RPA/production.md
  docs/components/early-access/experimental/rpa/camunda-rpa-framework-library.md
  docs/components/early-access/experimental/rpa/img/rpa-task-example.png
  docs/components/early-access/experimental/rpa/img/testing-rpa.png
  docs/components/early-access/experimental/rpa/rpa-integration-with-camunda.md
  docs/components/early-access/overview.md
  docs/components/modeler/desktop-modeler/flags/flags.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.7/components/early-access/experimental/rpa/camunda-rpa-framework-library.md
  versioned_docs/version-8.7/components/early-access/experimental/rpa/img/rpa-task-example.png
  versioned_docs/version-8.7/components/early-access/experimental/rpa/img/testing-rpa.png
  versioned_docs/version-8.7/components/early-access/experimental/rpa/rpa-integration-with-camunda.md
  versioned_docs/version-8.7/components/early-access/overview.md
  versioned_docs/version-8.7/components/modeler/desktop-modeler/flags/flags.md
  versioned_docs/version-8.7/components/rpa/getting-started.md
  versioned_docs/version-8.7/components/rpa/img/create-new-task.png
  versioned_docs/version-8.7/components/rpa/img/rpa-editor-initial.png
  versioned_docs/version-8.7/components/rpa/img/rpa-editor-results.png
  versioned_docs/version-8.7/components/rpa/img/rpa-task-configuration.png
  versioned_docs/version-8.7/components/rpa/overview.md
  versioned_docs/version-8.7/components/rpa/production.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: target:8.7, deploy, 8.7.0-alpha5

#5149 chore: add security notice 14
  docs/reference/notices.md
  versioned_docs/version-8.3/reference/notices.md
  versioned_docs/version-8.4/reference/notices.md
  versioned_docs/version-8.5/reference/notices.md
  versioned_docs/version-8.6/reference/notices.md
  versioned_docs/version-8.7/reference/notices.md
Labels: kind/bug, component:web-modeler-sm

#5209 Reconcile 8.7 and 8.8 announcement pages, summary
  docs/reference/announcements.md
  docs/reference/announcements/870.md
  docs/reference/announcements/880.md
  versioned_docs/version-8.7/reference/announcements.md
  versioned_docs/version-8.7/reference/announcements/870.md
Labels: kind/bug, 8.7.0-alpha5, 8.8.0-alpha2

#5205 remove go and zbctl from 8.6
  static/.htaccess
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-other.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/operate-advanced-instances-pong.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/operate-advanced-instances.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-process-id.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced-sequence-flows.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/assets/zeebe-modeler-advanced.png
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/cli-get-started.md
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/index.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/assets/java-get-started-monitor-1.gif
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/assets/java-get-started-monitor-2.gif
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/assets/order-process-simple.png
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/assets/order-process.png
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/go-get-started.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/index.md
  versioned_docs/version-8.6/apis-tools/community-clients/go-client/job-worker.md
  versioned_docs/version-8.6/apis-tools/community-clients/index.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/troubleshooting.md
  versioned_docs/version-8.6/components/operate/userguide/resolve-incidents-update-variables.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/security/secure-client-communication.md
  versioned_sidebars/version-8.6-sidebars.json
Labels: target:8.8, low prio

#5136 8.7-alpha5 release notes
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: component:docs, deploy, 8.7.0-alpha5

#5143 8.8-alpha2 release notes
  docs/reference/release-notes/880.md
Labels: component:docs, deploy, 8.8.0-alpha2

#5210 Fix casing on RPA links
  docs/components/rpa/getting-started.md
  docs/components/rpa/img/create-new-task.png
  docs/components/rpa/img/rpa-editor-initial.png
  docs/components/rpa/img/rpa-editor-results.png
  docs/components/rpa/img/rpa-task-configuration.png
  docs/components/rpa/overview.md
  docs/components/rpa/production.md
  docs/reference/release-notes/870.md
  sidebars.js
  static/.htaccess
Labels: kind/bug, 8.7.0-alpha5, 8.8.0-alpha2

#5204 IDP document storage
  docs/components/modeler/web-modeler/idp/idp-reference.md
  docs/components/modeler/web-modeler/idp/img/idp-document-storage.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-reference.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-document-storage.png
Labels: deploy, 8.7.0-alpha5

#5051 Cluster capacity
  docs/components/console/manage-clusters/cluster-capacity.md
  docs/components/console/manage-clusters/img/cluster-capacity-percent.png
  docs/components/console/manage-clusters/img/cluster-capacity.png
  sidebars.js
  versioned_docs/version-8.6/components/console/manage-clusters/cluster-capacity.md
  versioned_docs/version-8.6/components/console/manage-clusters/img/cluster-capacity-percent.png
  versioned_docs/version-8.6/components/console/manage-clusters/img/cluster-capacity.png
  versioned_docs/version-8.7/components/console/manage-clusters/cluster-capacity.md
  versioned_docs/version-8.7/components/console/manage-clusters/img/cluster-capacity-percent.png
  versioned_docs/version-8.7/components/console/manage-clusters/img/cluster-capacity.png
  versioned_sidebars/version-8.6-sidebars.json
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:zeebe, component:docs, component:console, target:8.7, deploy, 8.6.0-alpha5

#5211 IDP file size limit
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-reference.md
Labels: 8.7.0-alpha5

#5213 tweak rpa release note
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: component:docs

#5212 TW review edits
  docs/reference/release-notes/870.md
  docs/reference/release-notes/880.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: deploy, 8.7.0-alpha5, 8.8.0-alpha2

#5184 docs(bpmn-copilot): reflect new BPMN to Text functionality
  docs/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
  versioned_docs/version-8.7/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
Labels: deploy, 8.7.0-alpha5

#5215 Add bpmn-to-text release note
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: 8.7.0-alpha5

#5218 IDP release note edit
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  docs/components/modeler/web-modeler/intelligent-document-processing.md
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/intelligent-document-processing.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: 8.7.0-alpha5

#5137 fix(rest-connector): add hint about breaking change in 8.6
  docs/components/connectors/protocol/rest.md
  docs/reference/announcements/860.md
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.7/components/connectors/protocol/rest.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/850-to-860.md
Labels: component:connectors, support, deploy, available & undocumented

#5228 docs(web-modeler): clarify security notice 14 for SaaS
  docs/reference/notices.md
  versioned_docs/version-8.3/reference/notices.md
  versioned_docs/version-8.4/reference/notices.md
  versioned_docs/version-8.5/reference/notices.md
  versioned_docs/version-8.6/reference/notices.md
  versioned_docs/version-8.7/reference/notices.md
Labels: component:web-modeler-SaaS, available & undocumented

#5222 fix: update c8run links manually
  docs/guides/react-components/_install-c8run.md
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.7/guides/react-components/_install-c8run.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed, 8.7.0-alpha5, 8.8.0-alpha2

#5214 Document Micrometer usage in Camunda 8
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/logging.md
  docs/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  docs/self-managed/operational-guides/monitoring/assets/grafana-preview.png
  docs/self-managed/operational-guides/monitoring/log-levels.md
  docs/self-managed/operational-guides/monitoring/metrics.md
  docs/self-managed/reference-architecture/kubernetes.md
  docs/self-managed/setup/deploy/amazon/aws-ec2.md
  docs/self-managed/setup/deploy/local/c8run.md
  docs/self-managed/zeebe-deployment/operations/health.md
  docs/self-managed/zeebe-deployment/operations/metrics.md
  docs/self-managed/zeebe-deployment/operations/rebalancing.md
  docs/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.14.0-sidebars.json
  optimize_versioned_sidebars/version-3.15.0-sidebars.json
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.6/self-managed/operational-guides/monitoring/assets/grafana-preview.png
  versioned_docs/version-8.6/self-managed/operational-guides/monitoring/log-levels.md
  versioned_docs/version-8.6/self-managed/operational-guides/monitoring/metrics.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/metrics.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/configuration/logging.md
  versioned_docs/version-8.7/self-managed/operational-guides/backup-restore/zeebe-backup-and-restore.md
  versioned_docs/version-8.7/self-managed/operational-guides/monitoring/assets/grafana-preview.png
  versioned_docs/version-8.7/self-managed/operational-guides/monitoring/log-levels.md
  versioned_docs/version-8.7/self-managed/operational-guides/monitoring/metrics.md
  versioned_docs/version-8.7/self-managed/reference-architecture/kubernetes.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/health.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/metrics.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/rebalancing.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/zeebe-in-production.md
  versioned_sidebars/version-8.6-sidebars.json
  versioned_sidebars/version-8.7-sidebars.json
Labels: available & undocumented

#5063 fix: improvements to the oidc document
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.7/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: kind/bug, support, component:self-managed

#5240 fix(rest-connector): Add proxy table
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
  versioned_docs/version-8.7/components/connectors/protocol/rest.md
Labels: low prio, available & undocumented

#5196 added undocumented property
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/configuration.md
Labels: available & undocumented

#5195 remove non-existent config options
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/configuration.md
Labels: available & undocumented

#5234 feat: adding extra manifests
  docs/self-managed/setup/guides/add-extra-manifests.md
  sidebars.js
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/add-extra-manifests.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/add-extra-manifests.md
  versioned_docs/version-8.5/self-managed/setup/guides/add-extra-manifests.md
  versioned_docs/version-8.6/self-managed/setup/guides/add-extra-manifests.md
  versioned_docs/version-8.7/self-managed/setup/guides/add-extra-manifests.md
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
  versioned_sidebars/version-8.6-sidebars.json
  versioned_sidebars/version-8.7-sidebars.json
Labels: target:8.4, target:8.6, target:8.7, target:8.5

#5259 differentiate between signal and message events
  docs/components/modeler/bpmn/message-events/message-events.md
  docs/components/modeler/bpmn/signal-events/signal-events.md
  versioned_docs/version-8.5/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.5/components/modeler/bpmn/signal-events/signal-events.md
  versioned_docs/version-8.6/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.6/components/modeler/bpmn/signal-events/signal-events.md
  versioned_docs/version-8.7/components/modeler/bpmn/message-events/message-events.md
  versioned_docs/version-8.7/components/modeler/bpmn/signal-events/signal-events.md
Labels: component:modeler, component:docs, low prio

#5236 fix(rest-connector): Add hints about breaking changes for pre encoded…
  docs/reference/announcements/860.md
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/850-to-860.md
Labels: component:connectors, available & undocumented

#5255 Amazon Bedrock connector supported file formats
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
Labels: kind/bug, component:connectors

#5052 Landing page search
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.js
Labels: kind/enhancement, component:docs, dx, target:8.7, low prio

#5264 docs: document log pattern changes
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/860-to-870.md
Labels: target:8.7

#5203 docs: document standalone backup manager
  versioned_docs/version-8.6/self-managed/concepts/elasticsearch-without-cluster-privileges.md
  versioned_docs/version-8.6/self-managed/operational-guides/backup-restore/backup-and-restore.md
Labels: target:8.6, target:8.7, deploy, available & undocumented

#5271 doc: add elasticsearch-without-cluster-privileges page in 8.7
  versioned_docs/version-8.7/self-managed/concepts/elasticsearch-without-cluster-privileges.md
  versioned_docs/version-8.7/self-managed/operational-guides/backup-restore/backup-and-restore.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: target:8.7, deploy

#5226 IDP Docker configuration
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  docs/components/modeler/web-modeler/idp/idp-integrate.md
  docs/components/modeler/web-modeler/idp/idp-unstructured-extraction.md
  docs/components/modeler/web-modeler/idp/img/idp-extraction-fields-unstructured.png
  docs/components/modeler/web-modeler/idp/img/idp-extraction-fields.png
  docs/components/modeler/web-modeler/intelligent-document-processing.md
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-integrate.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-unstructured-extraction.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-extraction-fields-unstructured.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-extraction-fields.png
  versioned_docs/version-8.7/components/modeler/web-modeler/intelligent-document-processing.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: 8.7.0-alpha5

#5251 docs(web-modeler): add troubleshooting for WAF problems
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  optimize_versioned_sidebars/version-3.14.0-sidebars.json
  optimize_versioned_sidebars/version-3.15.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-other-problems.md
  versioned_sidebars/version-8.3-sidebars.json
  versioned_sidebars/version-8.4-sidebars.json
  versioned_sidebars/version-8.5-sidebars.json
  versioned_sidebars/version-8.6-sidebars.json
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:web-modeler-sm, available & undocumented

#5262 fix: docker compose setup changes for versions previous to 8.6
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.5/guides/getting-started-java-spring.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/docker-compose.md
Labels: target:8.4, target:8.5

#5286 downgrade vale
  .github/workflows/check-format.yaml
Labels: dx

#5207 update document handling/connectors details
  docs/components/concepts/assets/document-preview-settings.png
  docs/components/concepts/assets/inbound-webhook-document.png
  docs/components/concepts/document-handling.md
  docs/components/connectors/out-of-the-box-connectors/googledrive.md
  docs/components/connectors/out-of-the-box-connectors/sendgrid.md
  docs/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.7/components/concepts/assets/document-preview-settings.png
  versioned_docs/version-8.7/components/concepts/assets/inbound-webhook-document.png
  versioned_docs/version-8.7/components/concepts/document-handling.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/googledrive.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/sendgrid.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors, deploy

#5235 Add ad-hoc subprocess completion attributes
  docs/components/modeler/bpmn/ad-hoc/ad-hoc.md
Labels: deploy, 8.8.0-alpha3

#5296 correct date fo 8.8 release
  docs/guides/migrating-from-camunda-7/migration-tooling.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/migration-tooling.md
  versioned_docs/version-8.7/guides/migrating-from-camunda-7/migration-tooling.md
Labels: available & undocumented

#5275 Remove C7 Best Practices pages
  docs/components/best-practices/architecture/deciding-about-your-stack-c7-assets/greenfield-architecture.png
  docs/components/best-practices/architecture/deciding-about-your-stack-c7-assets/greenfield-architecture.pptx
  docs/components/best-practices/architecture/deciding-about-your-stack-c7.md
  docs/components/best-practices/architecture/deciding-about-your-stack.md
  docs/components/best-practices/architecture/extending-human-task-management-c7-assets/assign.png
  docs/components/best-practices/architecture/extending-human-task-management-c7-assets/follow-up-filter.png
  docs/components/best-practices/architecture/extending-human-task-management-c7-assets/process-variables.png
  docs/components/best-practices/architecture/extending-human-task-management-c7-assets/processinstanceinfo.png
  docs/components/best-practices/architecture/extending-human-task-management-c7-assets/task-lifecycle.png
  docs/components/best-practices/architecture/extending-human-task-management-c7.md
  docs/components/best-practices/architecture/sizing-your-environment-c7.md
  docs/components/best-practices/architecture/sizing-your-environment.md
  docs/components/best-practices/best-practices-overview.md
  docs/components/best-practices/development/dealing-with-problems-and-exceptions.md
  docs/components/best-practices/development/invoking-services-from-the-process-c7.md
  docs/components/best-practices/development/routing-events-to-processes-c7.md
  docs/components/best-practices/development/testing-process-definitions-c7.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/components/best-practices/development/understanding-transaction-handling-c7-assets/rollback.png
  docs/components/best-practices/development/understanding-transaction-handling-c7.md
  docs/components/best-practices/management/doing-a-proper-poc.md
  docs/components/best-practices/operations/operating-camunda-c7-assets/document-request-failed.png
  docs/components/best-practices/operations/operating-camunda-c7-assets/insurance-application-detail.png
  docs/components/best-practices/operations/operating-camunda-c7-assets/insurance-application-failed-with-detail.png
  docs/components/best-practices/operations/operating-camunda-c7-assets/insurance-application-failed.png
  docs/components/best-practices/operations/operating-camunda-c7.md
  docs/components/best-practices/operations/performance-tuning-camunda-c7.md
  docs/components/best-practices/operations/securing-camunda-c7.md
  docs/guides/migrating-from-camunda-7/code-conversion.md
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
  optimize/components/userguide/process-analysis/instance-state-filters.md
  sidebars.js
Labels: best-practices, low prio

#5148 Zeebe overview revamp
  docs/components/zeebe/react-components/_zeebe-card-data.js
  docs/components/zeebe/react-components/_zeebe-card.js
  docs/components/zeebe/react-components/_zeebe-table.css
  docs/components/zeebe/technical-concepts/assets/icon-arrow.png
  docs/components/zeebe/technical-concepts/assets/icon-blackbox.png
  docs/components/zeebe/technical-concepts/assets/icon-end-to-end.png
  docs/components/zeebe/technical-concepts/assets/icon-partition.png
  docs/components/zeebe/technical-concepts/assets/icon-protocol.png
  docs/components/zeebe/technical-concepts/assets/icon-workflow-engine.png
  docs/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.6/components/zeebe/react-components/_zeebe-card-data.js
  versioned_docs/version-8.6/components/zeebe/react-components/_zeebe-card.js
  versioned_docs/version-8.6/components/zeebe/react-components/_zeebe-table.css
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-arrow.png
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-blackbox.png
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-end-to-end.png
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-partition.png
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-protocol.png
  versioned_docs/version-8.6/components/zeebe/technical-concepts/assets/icon-workflow-engine.png
  versioned_docs/version-8.6/components/zeebe/zeebe-overview.md
  versioned_docs/version-8.7/components/zeebe/react-components/_zeebe-card-data.js
  versioned_docs/version-8.7/components/zeebe/react-components/_zeebe-card.js
  versioned_docs/version-8.7/components/zeebe/react-components/_zeebe-table.css
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-arrow.png
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-blackbox.png
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-end-to-end.png
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-partition.png
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-protocol.png
  versioned_docs/version-8.7/components/zeebe/technical-concepts/assets/icon-workflow-engine.png
  versioned_docs/version-8.7/components/zeebe/zeebe-overview.md
Labels: component:zeebe, deploy, low prio

#4455 Add cookie auth to C8 REST API
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
  versioned_docs/version-8.7/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
Labels: target:8.7, 8.6.0, available & undocumented, component:api

#5183 hide link
  docs/guides/migrating-from-camunda-7/code-conversion.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/code-conversion.md
  versioned_docs/version-8.7/guides/migrating-from-camunda-7/code-conversion.md
Labels: c7migration, low prio

#5248 docs: add context in the spring getting started guide
  docs/guides/getting-started-java-spring.md
Labels: component:docs

#5161 c8 api tutorial
  docs/apis-tools/camunda-api-rest/sidebar-schema.js
  docs/apis-tools/camunda-api-rest/tutorial.md
Labels: theme:api-streamline, deploy, component:api

#5288 edit sidebar label for 8.6 kafka docs
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/kafka.md
Labels: component:connectors

#5239 Rename cluster capacity to load
  docs/components/console/manage-clusters/cluster-capacity.md
  docs/components/console/manage-clusters/img/cluster-capacity-percent.png
  docs/components/console/manage-clusters/img/cluster-capacity.png
  versioned_docs/version-8.6/components/console/manage-clusters/cluster-capacity.md
  versioned_docs/version-8.7/components/console/manage-clusters/cluster-capacity.md
Labels: component:console, target:8.7

#5316 Update cluster load images for 8.6 and 8.7
  versioned_docs/version-8.6/components/console/manage-clusters/img/cluster-capacity-percent.png
  versioned_docs/version-8.6/components/console/manage-clusters/img/cluster-capacity.png
  versioned_docs/version-8.7/components/console/manage-clusters/img/cluster-capacity-percent.png
  versioned_docs/version-8.7/components/console/manage-clusters/img/cluster-capacity.png
Labels: component:console, target:8.7

#5180 docs(data-purge): adds operational guide for data purge
  docs/self-managed/operational-guides/data-purge.md
  sidebars.js
Labels: component:self-managed, deploy

#5268 feat(organization resources): added guide for shared project setting
  docs/guides/img/invite-all-organization-members.png
  docs/guides/img/share-asset-version.png
  docs/guides/use-shared-project-for-organization-wide-collaboration.md
  sidebars.js
  versioned_docs/version-8.7/guides/img/invite-all-organization-members.png
  versioned_docs/version-8.7/guides/img/share-asset-version.png
  versioned_docs/version-8.7/guides/use-shared-project-for-organization-wide-collaboration.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: kind/feature, component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#5090 add-initial-element-template-link-check-file
  .github/actions/muffet/action.yaml
  .github/workflows/build-docs.yaml
  connectors-element-template-links.txt
  docs/components/connectors/use-connectors/index.md
  docs/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  docs/components/modeler/bpmn/script-tasks/script-tasks.md
  docs/guides/utilizing-forms.md
  static/.htaccess
  versioned_docs/version-8.6/components/connectors/use-connectors/index.md
  versioned_docs/version-8.6/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.6/components/modeler/bpmn/script-tasks/script-tasks.md
  versioned_docs/version-8.6/guides/utilizing-forms.md
  versioned_docs/version-8.7/components/connectors/use-connectors/index.md
  versioned_docs/version-8.7/components/modeler/bpmn/business-rule-tasks/business-rule-tasks.md
  versioned_docs/version-8.7/components/modeler/bpmn/script-tasks/script-tasks.md
  versioned_docs/version-8.7/guides/utilizing-forms.md
Labels: component:connectors, deploy

#5274 feat: Include cloud permissions in doc handling docs
  docs/components/concepts/document-handling.md
  versioned_docs/version-8.7/components/concepts/document-handling.md
Labels: target:8.7

#5315 make spring sdk spring zeebe sdk again
  docs/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.6/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.7/components/best-practices/development/writing-good-workers.md
Labels: low prio

#5282 docs: add authorization and user management user guide
  docs/components/identity/authorization.md
  docs/components/identity/identity-introduction.md
  docs/components/identity/img/create-authorization-tab.png
  docs/components/identity/img/create-user-tab.png
  docs/components/identity/img/update-user-tab.png
  docs/components/identity/user.md
  docs/self-managed/identity/orchestration-identity/img/create-authorization-tab.png
  docs/self-managed/identity/orchestration-identity/img/create-user-tab.png
  docs/self-managed/identity/orchestration-identity/img/update-user-tab.png
  docs/self-managed/identity/orchestration-identity/installation.md
  docs/self-managed/identity/what-is-identity.md
  sidebars.js
  versioned_docs/version-8.7/components/modeler/web-modeler/versions.md
Labels: component:identity, component:docs, component:self-managed, deploy

#5227 docs: small rewrite of EKS TF guide to conform with new monorepo
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/terraform-setup.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/terraform-setup-dual-region.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/terraform-setup.md
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/redhat-openshift.md
Labels: component:self-managed, component:infex, target:8.7, deploy

#5041 Document process instance migration phase 5
  docs/components/concepts/assets/process-instance-migration/migration-compensation_after.png
  docs/components/concepts/assets/process-instance-migration/migration-compensation_before.png
  docs/components/concepts/assets/process-instance-migration/migration-joining-gateway-after.png
  docs/components/concepts/assets/process-instance-migration/migration-joining-gateway-before.png
  docs/components/concepts/process-instance-migration.md
  versioned_docs/version-8.7/components/concepts/process-instance-migration.md
Labels: deploy, target:8.8

#5023 Update guide for Camunda exporter
  docs/reference/announcements-release-notes/880/880-announcements.md
  docs/reference/announcements-release-notes/880/880-release-notes.md
  docs/reference/img/87-orchestration-cluster-state.png
  docs/reference/img/brown-field-orchestration-cluster-without-optimize.png
  docs/self-managed/operational-guides/update-guide/870-to-880.md
  docs/self-managed/operational-guides/update-guide/img/import-complete-metrics.png
Labels: component:zeebe, component:operate, component:tasklist, component:self-managed, deploy, target:8.8, 8.8.0-alpha3

#5338 Algolia crawler now runs daily
  howtos/release-procedure.md
Labels: dx, low prio

#5327 Document multi-tenancy for new identity (8.8)
  docs/self-managed/concepts/multi-tenancy.md
  docs/self-managed/identity/deployment/configuration-variables.md
  docs/self-managed/identity/orchestration-identity/configuration.md
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-modal.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-refreshed.png
  docs/self-managed/identity/user-guide/img/tenant-management-assign-users-tab.png
  docs/self-managed/identity/user-guide/img/tenant-management-details.png
  docs/self-managed/identity/user-guide/img/tenant-management-modal-1.png
  docs/self-managed/identity/user-guide/img/tenant-management-tab.png
  docs/self-managed/identity/user-guide/tenants/managing-tenants.md
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
Labels: 8.8.0-alpha3

#5298 (WIP) IDP worked example
  docs/components/modeler/web-modeler/idp/idp-example.md
  docs/components/modeler/web-modeler/idp/idp-integrate.md
  docs/components/modeler/web-modeler/idp/img/idp-example-extract-step.png
  docs/components/modeler/web-modeler/idp/img/idp-example-process.png
  docs/components/modeler/web-modeler/idp/img/idp-example-results.png
  docs/components/modeler/web-modeler/idp/img/idp-example-template.png
  docs/components/modeler/web-modeler/idp/img/idp-filepicker.png
  docs/components/modeler/web-modeler/intelligent-document-processing.md
  sidebars.js
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-example.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-example-extract-step.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-example-process.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-example-results.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-example-template.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-filepicker.png
  versioned_docs/version-8.7/components/modeler/web-modeler/intelligent-document-processing.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: kind/enhancement, component:modeler, target:8.7, deploy

#5324 Update Docker URL
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#4998 docs(web-modeler): remove unnecessary links from publish process options
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.3/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.4/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.5/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.6/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.7/components/modeler/web-modeler/run-or-publish-your-process.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, low prio

#5258 clarify sm cookie auth for tasklist api
  versioned_docs/version-8.5/apis-tools/tasklist-api/tasklist-api-authentication.md
  versioned_docs/version-8.6/apis-tools/tasklist-api/tasklist-api-authentication.md
  versioned_docs/version-8.7/apis-tools/tasklist-api/tasklist-api-authentication.md
Labels: component:tasklist, component:self-managed, available & undocumented, component:api

#5249 Update Algolia crawler instructions for manual triggers
  howtos/release-procedure.md
Labels: component:docs, dx, low prio

#5333 feat(connectors): Add document handling for channels
  docs/components/concepts/document-handling.md
  docs/components/connectors/out-of-the-box-connectors/microsoft-teams.md
  versioned_docs/version-8.7/components/concepts/document-handling.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/microsoft-teams.md
Labels: 8.8.0-alpha3, 8.7.0

#5354 Update supported ES version
  docs/reference/announcements-release-notes/880/880-announcements.md
  docs/reference/supported-environments.md
  docs/self-managed/operational-guides/update-guide/870-to-880.md
Labels: 8.8.0-alpha3

#5344 IDP region and bucket connector secrets
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  docs/components/modeler/web-modeler/idp/idp-example.md
  docs/components/modeler/web-modeler/idp/idp-integrate.md
  docs/components/modeler/web-modeler/idp/img/idp-connector-secrets.png
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-example.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-integrate.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/img/idp-connector-secrets.png
Labels: kind/feature, component:web-modeler-SaaS, component:web-modeler-sm, target:8.7, deploy, 8.7.0

#5356 add note on service and port for exporters api
  docs/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/operations/management-api.md
Labels: component:docs, component:self-managed, low prio

#5352 chore: backport #5248 to 8.6 & 8.7
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
  versioned_docs/version-8.7/guides/getting-started-java-spring.md
Labels: component:docs

#5351 Remove Operate config for all versions
  docs/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.4/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.5/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.6/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.7/self-managed/operate-deployment/operate-configuration.md
Labels: component:operate, low prio

#5364 chore(product-links): link modeling guidance
  product-links.txt
  static/.htaccess
Labels: component:modeler

#5355 docs: restructure navbar of ref arch & pull in Openshift to single k8s page
  docs/self-managed/reference-architecture/kubernetes.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  sidebars.js
  versioned_docs/version-8.7/self-managed/reference-architecture/kubernetes.md
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:docs, component:self-managed, component:infex, target:8.7, deploy

#5348 docs: remove translation TODO, there are no translation differences for optimize
  optimize/self-managed/optimize-deployment/migration-update/camunda-8/8.6-to-8.7.md
  optimize_versioned_docs/version-3.15.0/self-managed/optimize-deployment/migration-update/camunda-8/8.6-to-8.7.md
Labels: 8.7.0

#5293 chore: optimize reabsorption (v8.3) -- reviewable PR
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.11.0-sidebars.json
  optimize_versions.json
  src/versions.js
  versioned_docs/version-8.3/apis-tools/optimize-api/dashboard/export-dashboard-definitions.md
  versioned_docs/version-8.3/apis-tools/optimize-api/import-entities.md
  versioned_docs/version-8.3/apis-tools/optimize-api/optimize-api-authorization.md
  versioned_docs/version-8.3/apis-tools/optimize-api/report/export-report-definitions.md
  versioned_docs/version-8.3/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.3/components/components-overview.md
  versioned_docs/version-8.3/components/concepts/data-retention.md
  versioned_docs/version-8.3/components/concepts/what-is-camunda-8.md
  versioned_docs/version-8.3/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.3/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.3/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.3/components/optimize/userguide/additional-features/ml-dataset.md
  versioned_docs/version-8.3/components/optimize/userguide/process-analysis/instance-state-filters.md
  versioned_docs/version-8.3/components/optimize/what-is-optimize.md
  versioned_docs/version-8.3/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.3/guides/introduction-to-camunda-8.md
  versioned_docs/version-8.3/guides/setting-up-development-project.md
  versioned_docs/version-8.3/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.3/reference/release-policy.md
  versioned_docs/version-8.3/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.3/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/configuration/authorization-management.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/configuration/multi-tenancy.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/install-and-start.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/2.3-to-2.4.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/2.6-to-2.7.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/2.7-to-3.0.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.0-to-3.1.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.1-to-3.2.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.2-to-3.3.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.4-to-3.5.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.5-to-3.6.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.9-preview-to-3.9.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/plugins/plugin-system.md
  versioned_docs/version-8.3/self-managed/optimize-deployment/version-policy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.3/self-managed/platform-deployment/manual.md
  versioned_sidebars/version-8.3-sidebars.json
Labels: dx, epic:optimize-versions, deploy

#5379 docs on docs: tip for generating numbered versions of API docs
  howtos/interactive-api-explorers.md
Labels: kind/enhancement, dx

#5381 docs: add missing ES connection config
  versioned_docs/version-8.6/self-managed/concepts/elasticsearch-without-cluster-privileges.md
Labels: support

#5371 chore: optimize reabsorption (v8.4) -- reviewable PR
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.12.0-sidebars.json
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.4/apis-tools/optimize-api/dashboard/export-dashboard-definitions.md
  versioned_docs/version-8.4/apis-tools/optimize-api/import-entities.md
  versioned_docs/version-8.4/apis-tools/optimize-api/optimize-api-authentication.md
  versioned_docs/version-8.4/apis-tools/optimize-api/report/export-report-definitions.md
  versioned_docs/version-8.4/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.4/components/components-overview.md
  versioned_docs/version-8.4/components/concepts/data-retention.md
  versioned_docs/version-8.4/components/concepts/what-is-camunda-8.md
  versioned_docs/version-8.4/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.4/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.4/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.4/components/optimize/userguide/additional-features/ml-dataset.md
  versioned_docs/version-8.4/components/optimize/userguide/process-analysis/instance-state-filters.md
  versioned_docs/version-8.4/components/optimize/what-is-optimize.md
  versioned_docs/version-8.4/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.4/guides/introduction-to-camunda-8.md
  versioned_docs/version-8.4/guides/setting-up-development-project.md
  versioned_docs/version-8.4/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.4/reference/release-policy.md
  versioned_docs/version-8.4/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.4/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/configuration/authorization-management.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/configuration/multi-tenancy.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/install-and-start.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/2.3-to-2.4.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/2.6-to-2.7.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/2.7-to-3.0.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.0-to-3.1.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.1-to-3.2.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.2-to-3.3.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.4-to-3.5.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.5-to-3.6.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.9-preview-to-3.9.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/plugins/plugin-system.md
  versioned_docs/version-8.4/self-managed/optimize-deployment/version-policy.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/manual.md
  versioned_sidebars/version-8.4-sidebars.json
Labels: dx, epic:optimize-versions, deploy

#5383 docs: document how to use ES/OS exporter with self signed certificates
  docs/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  docs/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/exporters/elasticsearch-exporter.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/exporters/opensearch-exporter.md
Labels: available & undocumented

#5360 add cookie auth to tasklist rest api
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.5/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
  versioned_docs/version-8.7/apis-tools/tasklist-api-rest/tasklist-api-rest-authentication.md
Labels: component:api

#5367 update env vars for document handling
  docs/components/concepts/document-handling.md
  versioned_docs/version-8.7/components/concepts/document-handling.md
Labels: component:docs, deploy

#5266 docs(self-managed): update helm version matrix
  docs/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:self-managed, deploy, available & undocumented

#5350 fix(ad-hoc): fix 8.7 redirect after page move
  static/.htaccess
Labels: kind/bug, 8.7.0

#5384 fix: update C7 code used in C8 examples
  docs/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.3/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.4/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.5/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.6/components/best-practices/development/routing-events-to-processes.md
  versioned_docs/version-8.7/components/best-practices/development/routing-events-to-processes.md
Labels: kind/bug, best-practices, severity/mid

#5307 rework RPA docs
  docs/components/rpa/getting-started.md
  docs/components/rpa/overview.md
  docs/components/rpa/production.md
  docs/reference/supported-environments.md
  versioned_docs/version-8.7/components/rpa/getting-started.md
  versioned_docs/version-8.7/components/rpa/overview.md
  versioned_docs/version-8.7/components/rpa/production.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:docs, target:8.7, deploy

#5325 docs(web-modeler): clarify Web Modeler public API OIDC setup
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.7/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: component:web-modeler-sm, deploy, available & undocumented

#5283 feat(web-modeler): add custom schema docs
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
  docs/self-managed/modeler/web-modeler/configuration/database.md
  versioned_docs/version-8.3/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.4/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.5/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.6/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/configuration/configuration.md
  versioned_docs/version-8.7/self-managed/modeler/web-modeler/configuration/database.md
Labels: component:docs, component:web-modeler-sm, target:8.7

#5397 IDP known limitations
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
Labels: kind/feature, component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#5322 chore: document changes in connectors properties in 8.7+
  docs/reference/announcements-release-notes/870/870-announcements.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  versioned_docs/version-8.7/reference/announcements-release-notes/870/870-announcements.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/860-to-870.md
Labels: component:connectors, target:8.7

#5400 fix zeebe camunda user task wording
  docs/apis-tools/migration-manuals/migrate-to-camunda-user-tasks.md
  versioned_docs/version-8.7/apis-tools/migration-manuals/migrate-to-camunda-user-tasks.md
Labels: kind/bug, target:8.7

#5389 fix: Color BPMN coverage symbols
  docs/components/modeler/bpmn/assets/bpmn-symbols/ad-hoc.svg
  docs/components/modeler/bpmn/assets/bpmn-symbols/compensation.svg
  docs/components/modeler/bpmn/assets/bpmn-symbols/lane.svg
  docs/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-parallel.svg
  docs/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-sequential.svg
  docs/components/modeler/bpmn/assets/bpmn-symbols/pool.svg
  versioned_docs/version-8.6/components/modeler/bpmn/assets/bpmn-symbols/compensation.svg
  versioned_docs/version-8.6/components/modeler/bpmn/assets/bpmn-symbols/lane.svg
  versioned_docs/version-8.6/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-parallel.svg
  versioned_docs/version-8.6/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-sequential.svg
  versioned_docs/version-8.6/components/modeler/bpmn/assets/bpmn-symbols/pool.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/ad-hoc.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/compensation.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/lane.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-parallel.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/multi-instance-sequential.svg
  versioned_docs/version-8.7/components/modeler/bpmn/assets/bpmn-symbols/pool.svg
Labels: deploy, low prio

#5386 chore: optimize reabsorption (v8.5) -- reviewable PR
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.13.0-sidebars.json
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.5/apis-tools/optimize-api/dashboard/export-dashboard-definitions.md
  versioned_docs/version-8.5/apis-tools/optimize-api/import-entities.md
  versioned_docs/version-8.5/apis-tools/optimize-api/optimize-api-authentication.md
  versioned_docs/version-8.5/apis-tools/optimize-api/report/export-report-definitions.md
  versioned_docs/version-8.5/apis-tools/optimize-api/tutorial.md
  versioned_docs/version-8.5/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.5/components/concepts/data-retention.md
  versioned_docs/version-8.5/components/concepts/what-is-camunda-8.md
  versioned_docs/version-8.5/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.5/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.5/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.5/components/optimize/userguide/additional-features/ml-dataset.md
  versioned_docs/version-8.5/components/optimize/userguide/process-analysis/instance-state-filters.md
  versioned_docs/version-8.5/components/optimize/userguide/process-analysis/user-task-analytics.md
  versioned_docs/version-8.5/components/optimize/what-is-optimize.md
  versioned_docs/version-8.5/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.5/guides/setting-up-development-project.md
  versioned_docs/version-8.5/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.5/reference/release-notes/850.md
  versioned_docs/version-8.5/reference/release-policy.md
  versioned_docs/version-8.5/self-managed/operational-guides/application-configs.md
  versioned_docs/version-8.5/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.5/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/configuration/authorization-management.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/configuration/multi-tenancy.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/install-and-start.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/2.1-to-2.2.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/2.3-to-2.4.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/2.6-to-2.7.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/2.7-to-3.0.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.0-to-3.1.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.1-to-3.2.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.10-to-3.11_8.3.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.12_8.4-to-3.13_8.5.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.2-to-3.3.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.3-to-3.4.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.4-to-3.5.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.5-to-3.6.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.7-to-3.8.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.9-preview-to-3.9.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/migration-update/3.9-to-3.10.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/plugins/plugin-system.md
  versioned_docs/version-8.5/self-managed/optimize-deployment/version-policy.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.5/self-managed/setup/deploy/other/docker.md
  versioned_sidebars/version-8.5-sidebars.json
Labels: dx, epic:optimize-versions, deploy

#5401 fix: connector env var names
  docs/guides/host-custom-connector.md
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.3/guides/host-custom-connector.md
  versioned_docs/version-8.3/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.4/guides/host-custom-connector.md
  versioned_docs/version-8.4/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.5/guides/host-custom-connector.md
  versioned_docs/version-8.5/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.6/guides/host-custom-connector.md
  versioned_docs/version-8.6/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/guides/host-custom-connector.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors, component:self-managed, low prio

#5387 feat(hubspot-connector): Add docs for new hubspot connector
  docs/components/connectors/img/connector-hubspot.png
  docs/components/connectors/out-of-the-box-connectors/hubspot.md
  docs/components/connectors/react-components/_connectors-card-data.js
  docs/components/connectors/react-components/_connectors-table.js
  optimize_sidebars.js
  sidebars.js
Labels: 8.8.0-alpha3

#5405 docs: update tasklist user access restrictions property
  docs/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/tasklist-authentication.md
  versioned_docs/version-8.7/self-managed/tasklist-deployment/tasklist-authentication.md
Labels: kind/bug

#5237 fix zeebe:taskDefintion
  docs/components/connectors/custom-built-connectors/connector-templates.md
  versioned_docs/version-8.6/components/connectors/custom-built-connectors/connector-templates.md
  versioned_docs/version-8.7/components/connectors/custom-built-connectors/connector-templates.md
Labels: kind/bug, component:connectors, target:8.6, target:8.7, target:8.8, bug

#5392 docs: added recommendation for suppressing ES deprecation logs
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/tasklist-deployment/tasklist-configuration.md
  versioned_docs/version-8.7/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.7/self-managed/tasklist-deployment/tasklist-configuration.md
Labels: component:operate, component:tasklist, 8.8.0-alpha3, 8.7.0

#5377 remove optimize c7 material from 3.14 on
  docs/guides/improve-processes-with-optimize.md
  optimize/components/userguide/additional-features/alerts.md
  optimize/components/userguide/collections-dashboards-reports.md
  optimize/components/userguide/user-permissions.md
  optimize_versioned_docs/version-3.14.0/apis-tools/optimize-api/event-ingestion.md
  optimize_versioned_docs/version-3.14.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.14.0/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.14.0/components/userguide/user-permissions.md
  optimize_versioned_docs/version-3.14.0/self-managed/optimize-deployment/configuration/event-based-processes.md
  optimize_versioned_docs/version-3.15.0/components/userguide/additional-features/alerts.md
  optimize_versioned_docs/version-3.15.0/components/userguide/collections-dashboards-reports.md
  optimize_versioned_docs/version-3.15.0/components/userguide/user-permissions.md
  static/.htaccess
  versioned_docs/version-8.6/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.7/guides/improve-processes-with-optimize.md
Labels: component:optimize, target:8.7

#5403 Remove support for macOS 12
  docs/reference/announcements-release-notes/870/870-announcements.md
  docs/reference/supported-environments.md
  versioned_docs/version-8.7/reference/announcements-release-notes/870/870-announcements.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:desktop-modeler, low prio

#5390 docs(self-managed): add a precision on a specific env variables
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.6/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors, available & undocumented

#5415 Small edits for IDP
  docs/components/modeler/web-modeler/idp/idp-configuration.md
  docs/components/modeler/web-modeler/idp/idp-example.md
  docs/components/modeler/web-modeler/idp/idp-integrate.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-configuration.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-example.md
  versioned_docs/version-8.7/components/modeler/web-modeler/idp/idp-integrate.md
Labels: kind/enhancement, component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#5420 chore: optimize reabsorption (v8.7) -- reviewable PR
  docusaurus.config.js
  optimize_versions.json
  src/versions.js
  static/.htaccess
  versioned_docs/version-8.7/apis-tools/optimize-api/dashboard/export-dashboard-definitions.md
  versioned_docs/version-8.7/apis-tools/optimize-api/import-entities.md
  versioned_docs/version-8.7/apis-tools/optimize-api/optimize-api-authentication.md
  versioned_docs/version-8.7/apis-tools/optimize-api/report/export-report-definitions.md
  versioned_docs/version-8.7/apis-tools/optimize-api/tutorial.md
  versioned_docs/version-8.7/apis-tools/working-with-apis-tools.md
  versioned_docs/version-8.7/components/concepts/what-is-camunda-8.md
  versioned_docs/version-8.7/components/console/manage-clusters/manage-api-clients.md
  versioned_docs/version-8.7/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.7/components/operate/userguide/basic-operate-navigation.md
  versioned_docs/version-8.7/components/optimize/userguide/additional-features/ml-dataset.md
  versioned_docs/version-8.7/components/optimize/userguide/process-analysis/instance-state-filters.md
  versioned_docs/version-8.7/components/optimize/userguide/process-analysis/user-task-analytics.md
  versioned_docs/version-8.7/components/optimize/what-is-optimize.md
  versioned_docs/version-8.7/guides/improve-processes-with-optimize.md
  versioned_docs/version-8.7/guides/setting-up-development-project.md
  versioned_docs/version-8.7/guides/setup-client-connection-credentials.md
  versioned_docs/version-8.7/reference/announcements-release-notes/850/850-release-notes.md
  versioned_docs/version-8.7/reference/announcements-release-notes/860/860-announcements.md
  versioned_docs/version-8.7/reference/announcements-release-notes/release-policy.md
  versioned_docs/version-8.7/self-managed/operational-guides/application-configs.md
  versioned_docs/version-8.7/self-managed/operational-guides/backup-restore/optimize-backup.md
  versioned_docs/version-8.7/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.7/self-managed/operational-guides/production-guide/helm-chart-production-guide.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/configuration/multi-tenancy.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/install-and-start.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/3.10-to-3.11_8.3.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/3.13_8.5-to-8.6.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/3.9-preview-to-3.9.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/3.9-to-3.10.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/8.6-to-8.7.md
  versioned_docs/version-8.7/self-managed/optimize-deployment/migration-update/camunda-8/instructions.md
  versioned_docs/version-8.7/self-managed/reference-architecture/kubernetes.md
  versioned_docs/version-8.7/self-managed/reference-architecture/reference-architecture.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.7/self-managed/setup/deploy/other/docker.md
  versioned_docs/version-8.7/self-managed/setup/install.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:optimize, dx, epic:optimize-versions, deploy

#5417 fix(htaccess): fix incorrect rewrite rule
  static/.htaccess
Labels: kind/bug, severity/mid
