Repository camunda/camunda-docs, pull requests merged in 2025-02, with the labels that each got.

#4837 connectors add hint to skip encoding for rest outbound
  docs/components/connectors/protocol/rest.md
Labels: component:connectors

#4861 WIP: add vale rules for wording
  styles/camunda/all/americanBritish.yml
  styles/camunda/all/glossary.yml
  styles/camunda/all/inclusiveLanguage.yml
Labels: component:docs, dx

#4926 fix: remove terminating slash from .md links
  docs/components/modeler/web-modeler/git-sync.md
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
  docs/self-managed/zeebe-deployment/operations/management-api.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/cluster-scaling.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/management-api.md
Labels: kind/bug, component:docs, epic:docusaurus3

#4929 d3: reintroduce 8.3 docs
  docusaurus.config.js
  optimize_versions.json
  src/versions.js
  versioned_docs/version-8.3/components/best-practices/development/writing-good-workers.md
  versioned_docs/version-8.3/reference/dependencies.md
  versions.json
Labels: dx, d3, epic:docusaurus3

#4897 fix: misleading config
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
Labels: low prio

#4937 d3: rewrite Metadata override
  .husky/pre-commit
  src/theme/DocItem/Metadata/determineCanonical.js
  src/theme/DocItem/Metadata/determineCanonical.spec.js
  src/theme/DocItem/Metadata/index.tsx
Labels: dx, d3, epic:docusaurus3

#4931 fix: update path in guide to the relevant one
  docs/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
Labels: kind/bug, component:docs, low prio

#4939 docs: update supported environments for web modeler
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
Labels: component:web-modeler-sm, 8.7.0-alpha4

#4904 fix(element-templates): add allowed types
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: low prio

#4901 docs(web-modeler): announce milestone to version renaming
  docs/components/modeler/web-modeler/process-application-versioning.md
  docs/components/modeler/web-modeler/versions.md
  docs/reference/announcements/870.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, 8.7.0-alpha4

#4940 Add Operate/Tasklist path changes to SM upgrade and update guides
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
Labels: component:self-managed, low prio

#4864 doc(self-managed): clarify quotas needed for AWS usage
  docs/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/terraform-setup.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/openshift/terraform-setup.md
Labels: component:infex

#4950 fix: replace white space with the dash in path
  docs/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.3/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.4/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.5/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
Labels: kind/bug, component:docs, low prio

#4951 docs: update OpenAPI generation docs
  howtos/interactive-api-explorers.md
Labels: component:docs, dx, d3, epic:docusaurus3

#4960 docs(web-modeler): fix wording in cluster configuration
  docs/self-managed/modeler/web-modeler/configuration/configuration.md
Labels: component:web-modeler-sm, available & undocumented

#4952 Adding note about Docker Hub limits
  docs/self-managed/setup/install.md
  versioned_docs/version-8.5/self-managed/setup/install.md
  versioned_docs/version-8.6/self-managed/setup/install.md
Labels: available & undocumented

#4959 add details to grpc overview page
  docs/apis-tools/zeebe-api/grpc.md
  versioned_docs/version-8.5/apis-tools/zeebe-api/grpc.md
  versioned_docs/version-8.6/apis-tools/zeebe-api/grpc.md
Labels: component:docs, theme:api-streamline

#4957 chore: update 8.6 c8 rest api docs
  api/camunda/version-8.6/camunda-openapi.yaml
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/activate-jobs.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/broadcast-signal.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/correlate-a-message.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/create-process-instance.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/deploy-resources.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/evaluate-decision.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/find-all-users.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/get-incident-by-key-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/migrate-process-instance.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/modify-process-instance.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/publish-a-message.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-definitions-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-requirements-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-flow-node-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-incidents-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-process-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-user-tasks-alpha.api.mdx
Labels: component:docs, dx, deploy

#4917 Add the Helm version matrix to supported environments
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
Labels: component:self-managed, deploy

#4735 draft bpmn copilot
  docs/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
  docs/components/early-access/alpha/bpmn-copilot/img/bpmn-copilot-chat.png
  sidebars.js
Labels: component:web-modeler-SaaS, deploy, 8.7.0-alpha4

#4934 8.7.0-alpha4 Release Notes
  docs/reference/release-notes/870.md
Labels: component:docs, deploy, 8.7.0-alpha4

#4969 release: create 8.7/8.8 split alpha docs (reviewable)
  .github/workflows/check-versions/version-config.json
  api/administration-sm/version-8.7/administration-sm-openapi.yaml
  api/camunda/version-8.7/camunda-openapi.yaml
  api/operate/version-8.7/operate-openapi.yaml
  api/tasklist/version-8.7/tasklist-openapi.yaml
  docusaurus.config.js
  optimize_versioned_sidebars/version-3.15.0-sidebars.json
  src/theme/DocItem/Footer/index.js
  src/theme/NavbarItem/index.js
  src/theme/NavbarItem/index.tsx
  src/versions.js
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:docs, target:8.7, deploy

#4945 8.8.0-alpha1 Release Notes
  docs/reference/release-notes/870.md
  docs/reference/release-notes/880.md
  docs/reference/release-notes/release-notes.md
  sidebars.js
Labels: component:docs, deploy, 8.8.0-alpha1

#4919 Warning about importer configuration and usage metrics
  versioned_docs/version-8.3/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.3/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.4/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.5/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.6/self-managed/tasklist-deployment/importer-and-archiver.md
  versioned_docs/version-8.7/self-managed/operate-deployment/importer-and-archiver.md
  versioned_docs/version-8.7/self-managed/tasklist-deployment/importer-and-archiver.md
Labels: target:8.7, low prio

#4964 Identity: document stackdriver logging feature
  docs/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.3/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.4/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.5/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.6/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.7/self-managed/identity/deployment/configuration-variables.md
Labels: component:identity, low prio

#4972 Add admonition link underline
  src/css/custom.css
Labels: kind/bug, component:docs, deploy

#4921 Add regions map and backport
  docs/components/console/manage-clusters/img/cluster-creating-modal.png
  docs/reference/img/diagram-regions-map.png
  docs/reference/regions.md
  versioned_docs/version-8.3/reference/img/diagram-regions-map.png
  versioned_docs/version-8.3/reference/regions.md
  versioned_docs/version-8.4/reference/img/diagram-regions-map.png
  versioned_docs/version-8.4/reference/regions.md
  versioned_docs/version-8.5/reference/img/diagram-regions-map.png
  versioned_docs/version-8.5/reference/regions.md
  versioned_docs/version-8.6/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.6/reference/img/diagram-regions-map.png
  versioned_docs/version-8.6/reference/regions.md
  versioned_docs/version-8.7/components/console/manage-clusters/img/cluster-creating-modal.png
  versioned_docs/version-8.7/reference/img/diagram-regions-map.png
  versioned_docs/version-8.7/reference/regions.md
Labels: kind/enhancement, component:docs, deploy

#4971 Add announcement for AWS
  docs/reference/announcements.md
  docs/reference/announcements/870.md
  versioned_docs/version-8.7/reference/announcements.md
  versioned_docs/version-8.7/reference/announcements/870.md
Labels: kind/enhancement, kind/feature, component:docs, deploy

#4977 docs(bpmn-copilot): add disclaimers
  docs/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
  versioned_docs/version-8.7/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
Labels: kind/bug

#4848 Add guide for custom connector secret provider with helm installation
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.5/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.6/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors, component:self-managed

#4731 docs(web-modeler): document basic review feature
  docs/components/modeler/web-modeler/process-application-pipeline.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.7/components/modeler/web-modeler/process-application-pipeline.md
  versioned_docs/version-8.7/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, target:8.7, available & undocumented

#4983 fix: spelling
  docs/components/early-access/alpha/sap/rfc-connector.md
  versioned_docs/version-8.7/components/early-access/alpha/sap/rfc-connector.md
Labels: kind/bug, 8.7.0-alpha4, 8.8.0-alpha1

#4821 feat(self-managed): dual-region for openshift
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/amazon/openshift/assets/rosa-dual-region.jpg
  docs/self-managed/setup/deploy/amazon/openshift/assets/rosa-dual-region.pdf
  docs/self-managed/setup/deploy/amazon/openshift/terraform-setup-dual-region.md
  docs/self-managed/setup/deploy/amazon/openshift/terraform-setup.md
  docs/self-managed/setup/deploy/openshift/assets/openshift-dual-region.jpg
  docs/self-managed/setup/deploy/openshift/assets/openshift-dual-region.pdf
  docs/self-managed/setup/deploy/openshift/assets/submariner-hld.jpg
  docs/self-managed/setup/deploy/openshift/dual-region.md
  docs/self-managed/setup/deploy/openshift/redhat-openshift.md
  optimize_sidebars.js
  optimize_versioned_sidebars/version-3.15.0-sidebars.json
  sidebars.js
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/openshift/terraform-setup.md
  versioned_docs/version-8.7/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.7/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/assets/rosa-dual-region.jpg
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/assets/rosa-dual-region.pdf
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/terraform-setup-dual-region.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/openshift/terraform-setup.md
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/assets/openshift-dual-region.jpg
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/assets/openshift-dual-region.pdf
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/assets/submariner-hld.jpg
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/dual-region.md
  versioned_docs/version-8.7/self-managed/setup/deploy/openshift/redhat-openshift.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:self-managed, target:8.7, deploy

#4978 add ad hoc redirects for modeler team
  static/.htaccess
Labels: kind/bug, component:modeler

#4980 Adjust 8.6 JDK version for SDK
  versioned_docs/version-8.6/guides/getting-started-java-spring.md
Labels: component:docs, support, 8.6.0

#4982 chore: update PR template
  .github/pull_request_template.md
Labels: dx

#4990 bump to alpha3
  docs/guides/react-components/_install-c8run.md
  docs/guides/react-components/_install-plain-java.md
  versioned_docs/version-8.7/guides/react-components/_install-c8run.md
  versioned_docs/version-8.7/guides/react-components/_install-plain-java.md
Labels: target:8.7, target:8.8, 8.7.0-alpha4, 8.8.0-alpha1

#4863 Adding possible configuration variables for identity and also linked it to the gateway configuration
  versioned_docs/version-8.4/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.5/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.6/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.7/self-managed/identity/deployment/configuration-variables.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/configuration/gateway.md
Labels: component:identity, component:self-managed, low prio

#4888 Add 8.8 Announcements
  docs/reference/announcements.md
  docs/reference/announcements/880.md
  sidebars.js
Labels: deploy, target:8.8, 8.8.0-alpha1

#4999 fix: no hypen in env var
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.6/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
Labels: kind/bug, component:connectors, component:self-managed

#5002 Revert "bump to alpha3"
  docs/guides/react-components/_install-c8run.md
  docs/guides/react-components/_install-plain-java.md
  versioned_docs/version-8.7/guides/react-components/_install-c8run.md
  versioned_docs/version-8.7/guides/react-components/_install-plain-java.md
Labels: component:self-managed

#5003 fix: add a workaround to open non signed c8run artifact on mac
  docs/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.7/self-managed/setup/deploy/local/c8run.md
Labels: kind/bug

#4893 extend limitations on accessible user names in case of custom OpenID Connect provider
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.7/self-managed/setup/guides/connect-to-an-oidc-provider.md
Labels: available & undocumented

#5004 add mac warning to reused c8run component
  docs/guides/react-components/_install-c8run.md
  versioned_docs/version-8.6/guides/react-components/_install-c8run.md
  versioned_docs/version-8.7/guides/react-components/_install-c8run.md
Labels: kind/bug, deploy

#4974 Add release blog to 8.7, 8.8 release notes
  docs/reference/release-notes/870.md
  docs/reference/release-notes/880.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: component:docs, 8.7.0-alpha1, 8.7.0-alpha4

#5012 fix 8.6 release note table
  versioned_docs/version-8.5/reference/release-notes/release-notes.md
  versioned_docs/version-8.6/reference/release-notes/release-notes.md
Labels: kind/bug, component:docs

#5007 docs(spring-sdk): update bundled spring boot version
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/getting-started.md
Labels: target:8.7, target:8.8

#4987 add deploy options and troubleshooting note to howtos
  howtos/setup.md
Labels: component:docs

#5005 alphabetize feel sidebar schemas
  docs/components/modeler/feel/sidebar-schema.js
  versioned_docs/version-8.6/components/modeler/feel/sidebar-schema.js
  versioned_docs/version-8.7/components/modeler/feel/sidebar-schema.js
Labels: component:modeler, component:docs, deploy

#4927 remove /docs/ in links
  docs/components/best-practices/modeling/choosing-the-resource-binding-type.md
  docs/components/concepts/messages.md
  docs/components/connectors/out-of-the-box-connectors/email.md
  docs/components/early-access/overview.md
  docs/components/modeler/bpmn/bpmn.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/web-modeler/advanced-modeling/business-rule-task-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  docs/components/modeler/web-modeler/advanced-modeling/form-linking.md
  docs/components/modeler/web-modeler/git-sync.md
  docs/components/modeler/web-modeler/process-application-pipeline.md
  docs/components/modeler/web-modeler/process-application-versioning.md
  docs/components/modeler/web-modeler/process-applications.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/components/tasklist/introduction-to-tasklist.md
  docs/components/tasklist/userguide/using-tasklist.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  docs/reference/announcements/870.md
  docs/reference/release-notes/860.md
  docs/self-managed/setup/deploy/local/c8run.md
  docs/self-managed/setup/deploy/local/docker-compose.md
  docs/self-managed/zeebe-deployment/exporters/camunda-exporter.md
  docs/self-managed/zeebe-deployment/operations/backpressure.md
  versioned_docs/version-8.6/components/best-practices/modeling/choosing-the-resource-binding-type.md
  versioned_docs/version-8.6/components/concepts/messages.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/email.md
  versioned_docs/version-8.6/components/modeler/bpmn/bpmn.md
  versioned_docs/version-8.6/components/modeler/web-modeler/advanced-modeling/business-rule-task-linking.md
  versioned_docs/version-8.6/components/modeler/web-modeler/advanced-modeling/call-activity-linking.md
  versioned_docs/version-8.6/components/modeler/web-modeler/advanced-modeling/form-linking.md
  versioned_docs/version-8.6/components/modeler/web-modeler/process-application-pipeline.md
  versioned_docs/version-8.6/components/modeler/web-modeler/process-applications.md
  versioned_docs/version-8.6/components/modeler/web-modeler/run-or-publish-your-process.md
  versioned_docs/version-8.6/components/tasklist/introduction-to-tasklist.md
  versioned_docs/version-8.6/components/tasklist/userguide/using-tasklist.md
  versioned_docs/version-8.6/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/adjusting-bpmn-models.md
  versioned_docs/version-8.6/reference/release-notes/860.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/backpressure.md
Labels: kind/bug, component:docs, low prio

#4973 Merged archiver config
  docs/self-managed/zeebe-deployment/exporters/camunda-exporter.md
Labels: target:8.8, low prio

#5015 Add Google Gemini to connectors page
  docs/components/connectors/img/connector-google-gemini.png
  docs/components/connectors/react-components/_connectors-table.js
  versioned_docs/version-8.7/components/connectors/img/connector-google-gemini.png
  versioned_docs/version-8.7/components/connectors/react-components/_connectors-table.js
Labels: kind/bug, component:docs

#5016 chore: add pdf exemption to .htaccess for trailing slashes
  static/.htaccess
Labels: dx

#4981 Add back Zeebe REST API to deprecated section in 8.7
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/sidebar-schema.js
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/assign-a-user-task.api.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/complete-a-user-task.api.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/get-cluster-topology.api.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/sidebar.ts
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/unassign-a-user-task.api.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/update-a-user-task.api.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/specifications/zeebe-rest-api.info.mdx
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/tutorial.md
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  versioned_docs/version-8.7/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:docs, target:8.7

#5027 fix: update 8.6 and 8.7 c8 REST API docs with base schema hierarchy so that job activation renders properly
  api/camunda/version-8.6/camunda-openapi.yaml
  api/camunda/version-8.7/camunda-openapi.yaml
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/activate-jobs.api.mdx
  versioned_docs/version-8.7/apis-tools/camunda-api-rest/specifications/activate-jobs.api.mdx
Labels: kind/bug, component:docs, dx, deploy

#5030 docs(web-modeler): clarify internal api permissions
  docs/self-managed/identity/user-guide/roles/add-assign-permission.md
  versioned_docs/version-8.5/self-managed/identity/user-guide/roles/add-assign-permission.md
  versioned_docs/version-8.6/self-managed/identity/user-guide/roles/add-assign-permission.md
  versioned_docs/version-8.7/self-managed/identity/user-guide/roles/add-assign-permission.md
Labels: component:web-modeler-sm, low prio

#5022 Job streaming should be disabled by default
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/configuration.md
Labels: 8.7.0-alpha5

#5036 move opensearch warning back into 8.7 docs
  optimize_versioned_docs/version-3.15.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.7/reference/supported-environments.md
  versioned_docs/version-8.7/self-managed/setup/guides/using-existing-opensearch.md
Labels: kind/bug, component:optimize

#5033 Fix CSS styles from D3 migration
  src/css/custom.css
Labels: component:docs, deploy, epic:docusaurus3

#5032 Add back Zeebe REST API to deprecated section in 8.8
  docs/apis-tools/zeebe-api-rest/sidebar-schema.js
  docs/apis-tools/zeebe-api-rest/specifications/assign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/complete-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/get-cluster-topology.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/sidebar.ts
  docs/apis-tools/zeebe-api-rest/specifications/unassign-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/update-a-user-task.api.mdx
  docs/apis-tools/zeebe-api-rest/specifications/zeebe-rest-api.info.mdx
  docs/apis-tools/zeebe-api-rest/tutorial.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-authentication.md
  docs/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  sidebars.js
Labels: component:zeebe, component:docs, target:8.8

#5039 fix: let vale print the problem and solution
  styles/camunda/all/americanBritish.yml
  styles/camunda/all/codeBlocksAreOurs.yml
  styles/camunda/all/glossary.yml
  styles/camunda/all/inclusiveLanguage.yml
Labels: dx

#4997 First iteration to completely rewrite the migration guide to provide actual guidance
  docs/guides/img/MigrationGuidePics.pptx
  docs/guides/img/adapt-code.png
  docs/guides/img/advanced-journey.png
  docs/guides/img/analyzer-screenshot.png
  docs/guides/img/big-bang.png
  docs/guides/img/data-migration.png
  docs/guides/img/drain-out-vs-big-bang.png
  docs/guides/img/drain-out.png
  docs/guides/img/icon-migration-bpm.png
  docs/guides/img/icon-migration-checklist.png
  docs/guides/img/icon-migration-code.png
  docs/guides/img/icon-migration-concept.png
  docs/guides/img/icon-migration-journey.png
  docs/guides/img/icon-migration-tooling.png
  docs/guides/img/refactor-code.png
  docs/guides/img/simple-journey.png
  docs/guides/img/starting-ontime.png
  docs/guides/img/target-version.png
  docs/guides/migrating-from-camunda-7/adjusting-dmn-models.md
  docs/guides/migrating-from-camunda-7/adjusting-source-code.md
  docs/guides/migrating-from-camunda-7/code-conversion.md
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
  docs/guides/migrating-from-camunda-7/index.md
  docs/guides/migrating-from-camunda-7/migration-journey.md
  docs/guides/migrating-from-camunda-7/migration-readiness.md
  docs/guides/migrating-from-camunda-7/migration-tooling.md
  docs/guides/migrating-from-camunda-7/technical-details.md
  docs/guides/react-components/_migration-card-data.js
  docs/guides/react-components/_migration-card.js
  docs/guides/react-components/_migration-table.css
  sidebars.js
  src/css/custom.css
  static/img/icon-list-cross.png
  static/img/icon-list-tick.png
Labels: component:docs, c7migration

#4835 Clarify required helm charts for air-gapped installation
  docs/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/air-gapped-installation.md
  versioned_docs/version-8.5/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.6/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.7/self-managed/setup/guides/air-gapped-installation.md
Labels: component:self-managed

#5057 Update the alpha1 release date
  docs/reference/release-notes/880.md
Labels: kind/bug, 8.8.0-alpha1

#5026 Pare down zbctl in 8.8
  docs/components/concepts/messages.md
  docs/components/concepts/process-instance-creation.md
  docs/components/console/console-troubleshooting/common-pitfalls.md
  docs/components/modeler/desktop-modeler/troubleshooting.md
  docs/components/operate/userguide/resolve-incidents-update-variables.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  docs/self-managed/concepts/multi-region/dual-region.md
  docs/self-managed/modeler/web-modeler/troubleshooting/troubleshoot-zeebe-connection.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/eks-helm.md
  docs/self-managed/setup/deploy/local/local-kubernetes-cluster.md
  docs/self-managed/setup/deploy/local/manual.md
  docs/self-managed/setup/deploy/openshift/dual-region.md
  docs/self-managed/setup/guides/accessing-components-without-ingress.md
  docs/self-managed/zeebe-deployment/operations/cluster-scaling.md
  docs/self-managed/zeebe-deployment/security/secure-client-communication.md
Labels: component:zeebe, component:self-managed, deploy, target:8.8

#4955 feat: add documentation for number keys removal
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/reference/announcements/870.md
  docs/reference/announcements/880.md
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  docs/self-managed/operational-guides/update-guide/870-to-880.md
  sidebars.js
  versioned_docs/version-8.7/reference/announcements/870.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/860-to-870.md
Labels: target:8.8, low prio

#4916 feat(sendgrid): update documentation with attachments feature
  docs/components/connectors/out-of-the-box-connectors/sendgrid.md
Labels: component:connectors

#5072 feat(sendgrid): update documentation with attachments feature 8.7
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/sendgrid.md
Labels: component:docs, component:connectors, target:8.7

#4899 feat(drive): update doc with upload/download file feat
  docs/components/connectors/out-of-the-box-connectors/googledrive.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/googledrive.md
Labels: component:connectors, target:8.7

#4820 update textract documentation with doc handing feature
  docs/components/connectors/out-of-the-box-connectors/amazon-textract.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/amazon-textract.md
Labels: component:docs, component:connectors, target:8.7, deploy, target:8.8

#5046 docs(bpmn-copilot): add example prompts
  docs/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
  versioned_docs/version-8.7/components/early-access/alpha/bpmn-copilot/bpmn-copilot.md
Labels: low prio

#5069 Remove Kafka exporter
  docs/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
  versioned_docs/version-8.7/self-managed/zeebe-deployment/exporters/install-zeebe-exporters.md
Labels: component:zeebe, support

#5068 Move Operate and Tasklist REST APIs to deprecated section in 8.8
  sidebars.js
Labels: component:operate, component:tasklist, target:8.8

#5074 Revert the removal of OpenSearch warnings from the 8.7 docs
  optimize_versioned_docs/version-3.15.0/self-managed/optimize-deployment/configuration/shared-elasticsearch-cluster.md
  optimize_versioned_docs/version-3.15.0/self-managed/optimize-deployment/configuration/system-configuration.md
  versioned_docs/version-8.7/self-managed/operational-guides/backup-restore/optimize-backup.md
Labels: kind/bug, component:docs, target:8.7

#5079 Update email.md
  docs/components/connectors/out-of-the-box-connectors/email.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/email.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/email.md
Labels: available & undocumented

#5083 Fix Best Practice title
  src/pages/index.js
Labels: kind/bug, component:docs

#4996 chore: remove manual jar and adjust diagram + text to fit 8.7
  docs/self-managed/reference-architecture/manual/manual.md
  versioned_docs/version-8.7/self-managed/reference-architecture/img/orchestration-cluster.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/manual/img/manual-ha.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/manual/img/manual-single.jpg
  versioned_docs/version-8.7/self-managed/reference-architecture/manual/manual.md
  versioned_docs/version-8.7/self-managed/reference-architecture/reference-architecture.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/aws-ec2.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:self-managed, component:infex, target:8.7, deploy

#5010 connectors proxy settings
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.7/components/connectors/protocol/rest.md
Labels: 8.7.0-alpha5, 8.8.0-alpha2

#5064 docs(identity): update supported keycloak versions for 8.7 and 8.8
  docs/reference/supported-environments.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: 8.7.0-alpha5

#5055 docs(sdk): Update Java Client and spring SDK docs
  docs/apis-tools/java-client/index.md
  docs/apis-tools/java-client/job-worker.md
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/guides/getting-started-java-spring.md
  versioned_docs/version-8.3/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.4/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.5/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.6/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.7/apis-tools/java-client/job-worker.md
  versioned_docs/version-8.7/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.7/guides/getting-started-java-spring.md
Labels: target:8.8

#5071 Remove user task listeners from 8.7
  docs/self-managed/operational-guides/update-guide/860-to-870.md
  docs/self-managed/operational-guides/update-guide/870-to-880.md
  static/.htaccess
  versioned_docs/version-8.7/apis-tools/zeebe-api/gateway-service.md
  versioned_docs/version-8.7/components/concepts/job-workers.md
  versioned_docs/version-8.7/components/concepts/user-task-listeners.md
  versioned_docs/version-8.7/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.7/reference/glossary.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/860-to-870.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: deploy, 8.7.0-alpha4, 8.8.0-alpha1, 8.7.0-alpha5, 8.8.0-alpha2

#5013 chore: update connectors SM config for 8.7 and 8.8
  docs/self-managed/connectors-deployment/connectors-configuration.md
  versioned_docs/version-8.7/self-managed/connectors-deployment/connectors-configuration.md
Labels: component:connectors, target:8.7, 8.7.0-alpha5

#5098 docs: remove form-js compat table
  docs/reference/supported-environments.md
  versioned_docs/version-8.3/reference/supported-environments.md
  versioned_docs/version-8.4/reference/supported-environments.md
  versioned_docs/version-8.5/reference/supported-environments.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: component:modeler

#4975 feat(process landscape): added landscape visualization documentation
  docs/components/modeler/web-modeler/img/process-landscape-connection.png
  docs/components/modeler/web-modeler/img/process-landscape-node-information.png
  docs/components/modeler/web-modeler/img/process-landscape-search.png
  docs/components/modeler/web-modeler/img/process-landscape-view-button.png
  docs/components/modeler/web-modeler/img/process-landscape-visualization.png
  docs/components/modeler/web-modeler/process-landscape-visualization.md
  sidebars.js
  versioned_docs/version-8.7/components/modeler/web-modeler/img/process-landscape-connection.png
  versioned_docs/version-8.7/components/modeler/web-modeler/img/process-landscape-node-information.png
  versioned_docs/version-8.7/components/modeler/web-modeler/img/process-landscape-search.png
  versioned_docs/version-8.7/components/modeler/web-modeler/img/process-landscape-view-button.png
  versioned_docs/version-8.7/components/modeler/web-modeler/img/process-landscape-visualization.png
  versioned_docs/version-8.7/components/modeler/web-modeler/process-landscape-visualization.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:modeler, target:8.7, 8.7.0-alpha4

#5107 Correct mentions of 8.7 release
  docs/reference/announcements/860.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/self-managed/setup/upgrade.md
Labels: component:docs, low prio

#5106 Update query API release note
  docs/reference/release-notes/870.md
  versioned_docs/version-8.7/reference/release-notes/870.md
Labels: target:8.7, component:api

#5091 feat(supportedEnv): update compatability matrix
  docs/reference/announcements/860.md
  docs/reference/announcements/880.md
  docs/reference/supported-environments.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/reference/supported-environments.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/reference/supported-environments.md
Labels: deploy

#5001 docs(web-modeler): document review governance feature
  docs/components/modeler/web-modeler/img/web-modeler-settings/web-modeler-settings.png
  docs/components/modeler/web-modeler/process-application-pipeline.md
  docs/components/modeler/web-modeler/web-modeler-settings.md
  sidebars.js
  versioned_docs/version-8.7/components/modeler/web-modeler/img/web-modeler-settings/web-modeler-settings.png
  versioned_docs/version-8.7/components/modeler/web-modeler/process-application-pipeline.md
  versioned_docs/version-8.7/components/modeler/web-modeler/web-modeler-settings.md
  versioned_sidebars/version-8.7-sidebars.json
Labels: component:web-modeler-SaaS, component:web-modeler-sm, target:8.7

#5101 feat: Documentation for starting standalone schema manager
  versioned_docs/version-8.6/self-managed/concepts/elasticsearch-privileges.md
  versioned_docs/version-8.6/self-managed/concepts/elasticsearch-without-cluster-privileges.md
  versioned_sidebars/version-8.6-sidebars.json
Labels: kind/bug, target:8.6, 8.6.0

#5081 feat(slack): add attachments support documentation
  docs/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.7/components/connectors/out-of-the-box-connectors/slack.md
Labels: component:connectors, target:8.7

#5114 feat: Update documentation for Schema Manager
  versioned_docs/version-8.6/self-managed/concepts/elasticsearch-without-cluster-privileges.md
Labels: kind/bug, target:8.6, 8.6.0

#5117 Update eks cluster config to not imply multi-region
  docs/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/platforms/amazon-eks/eksctl.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
  versioned_docs/version-8.7/self-managed/setup/deploy/amazon/amazon-eks/eksctl.md
Labels: component:self-managed, low prio

#5122 Remove `_ENTERPRISE` vars from 8.6+
  docs/self-managed/setup/deploy/other/docker.md
  versioned_docs/version-8.6/self-managed/setup/deploy/other/docker.md
  versioned_docs/version-8.7/self-managed/setup/deploy/other/docker.md
Labels: component:self-managed, low prio

#5121 Adjust deprecations/removals for 8.7 to 8.8
  docs/reference/announcements/860.md
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
  versioned_docs/version-8.7/reference/announcements/860.md
  versioned_docs/version-8.7/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.7/self-managed/setup/upgrade.md
Labels: component:self-managed
