Repository camunda/camunda-docs, pull requests merged in 2025-01, with the labels that each got.

#4808 Adding `JobResult` to `CompleteJobRequest` for gRPC
  docs/apis-tools/zeebe-api/gateway-service.md
Labels: deploy, 8.7.0-alpha3

#4795 update bedrock documentation to include support for doc handling
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
Labels: 8.7.0-alpha3

#4773 feat: add form-js document preview component docs
  docs/components/modeler/forms/form-element-library/forms-element-library-document-preview.md
  docs/components/modeler/forms/sidebar-schema.js
  static/img/form-icons/form-documentPreview.svg
Labels: target:8.7

#4819 Fix form introduction link
  docs/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
  versioned_docs/version-8.5/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
  versioned_docs/version-8.6/apis-tools/frontend-development/03-forms/01-introduction-to-forms.md
Labels: kind/bug, component:docs

#4776 clarify 10.0.2 helm chart upgrade path
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
Labels: component:self-managed

#4751 docs(rest-connector): Add documentation for the Document upload in the REST Connector
  docs/components/connectors/protocol/rest.md
Labels: component:connectors, 8.7.0-alpha3

#4737 docs(play): add scenarios section
  docs/components/modeler/web-modeler/img/play-cluster-configuration.png
  docs/components/modeler/web-modeler/img/play-coverage.png
  docs/components/modeler/web-modeler/img/play-definition.png
  docs/components/modeler/web-modeler/img/play-example-data.png
  docs/components/modeler/web-modeler/img/play-instance.png
  docs/components/modeler/web-modeler/img/play-modifications.png
  docs/components/modeler/web-modeler/img/play-rewind.png
  docs/components/modeler/web-modeler/img/play-save-scenario.png
  docs/components/modeler/web-modeler/img/play-scenario-runs.png
  docs/components/modeler/web-modeler/play-your-process.md
Labels: kind/feature, component:modeler, 8.7.0-alpha3

#4686 Update local-kubernetes-cluster.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/local-kubernetes-cluster.md
Labels: component:docs, component:self-managed

#4780 Add execution platform compatibility section for element templates
  docs/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.5/components/modeler/desktop-modeler/element-templates/defining-templates.md
  versioned_docs/version-8.6/components/modeler/desktop-modeler/element-templates/defining-templates.md
Labels: kind/feature, component:modeler, 8.7.0-alpha3

#4810 feat(box): Add box connector docs
  docs/components/connectors/out-of-the-box-connectors/box.md
  optimize_sidebars.js
  sidebars.js
Labels: component:connectors, 8.7.0-alpha3

#4797 chore(dependencies): remove Optimize 7 dependencies
  docs/reference/dependencies.md
  versioned_docs/version-8.6/reference/dependencies.md
Labels: component:optimize

#4602 Add the REST config to the Ingress guides
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.5/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  versioned_docs/version-8.5/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  versioned_docs/version-8.6/self-managed/setup/guides/ingress-setup.md
Labels: component:self-managed, deploy

#4807 Crete concept page for user task listeners
  docs/components/concepts/user-task-listeners.md
  docs/reference/glossary.md
  sidebars.js
Labels: deploy, 8.7.0-alpha3

#4813 Document job result in Job Workers concept page
  docs/components/concepts/job-workers.md
  docs/components/concepts/user-task-listeners.md
Labels: deploy, 8.7.0-alpha3

#4814 Document user task listeners for user task modeling
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
Labels: 8.7.0-alpha3

#4746 docs(aws-s3): add documentation for the new aws s3 connector
  docs/apis-tools/tasklist-api/tasklist-api-tutorial.md
  docs/components/connectors/out-of-the-box-connectors/amazon-s3.md
  sidebars.js
  versioned_docs/version-8.3/apis-tools/tasklist-api/tasklist-api-tutorial.md
  versioned_docs/version-8.4/apis-tools/tasklist-api/tasklist-api-tutorial.md
  versioned_docs/version-8.5/apis-tools/tasklist-api/tasklist-api-tutorial.md
  versioned_docs/version-8.6/apis-tools/tasklist-api/tasklist-api-tutorial.md
Labels: kind/feature, component:docs, component:connectors, 8.7.0-alpha3

#4832 Add REST endpoint to Concepts > Signal
  docs/components/concepts/signals.md
  versioned_docs/version-8.6/components/concepts/signals.md
Labels: component:docs

#4834 Add note for id length in Web Modeler
  docs/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  versioned_docs/version-8.3/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  versioned_docs/version-8.4/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  versioned_docs/version-8.5/components/modeler/web-modeler/fix-problems-in-your-diagram.md
  versioned_docs/version-8.6/components/modeler/web-modeler/fix-problems-in-your-diagram.md
Labels: support

#4816 docs(self-managed): refine docker compose page
  docs/self-managed/operate-deployment/operate-configuration.md
  docs/self-managed/operational-guides/configure-multi-tenancy.md
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  docs/self-managed/operational-guides/troubleshooting/troubleshooting.md
  docs/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  docs/self-managed/setup/deploy/local/docker-compose.md
  docs/self-managed/setup/guides/ingress-setup.md
  docs/self-managed/setup/overview.md
  versioned_docs/version-8.3/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/deploy.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.3/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.3/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.4/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.4/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/guides/ingress-setup.md
  versioned_docs/version-8.4/self-managed/platform-deployment/overview.md
  versioned_docs/version-8.4/self-managed/platform-deployment/troubleshooting.md
  versioned_docs/version-8.5/self-managed/concepts/multi-region/dual-region.md
  versioned_docs/version-8.5/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.5/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.5/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.5/self-managed/operational-guides/troubleshooting/troubleshooting.md
  versioned_docs/version-8.5/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.5/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.5/self-managed/setup/overview.md
  versioned_docs/version-8.6/self-managed/operate-deployment/operate-configuration.md
  versioned_docs/version-8.6/self-managed/operational-guides/configure-multi-tenancy.md
  versioned_docs/version-8.6/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.6/self-managed/operational-guides/troubleshooting/troubleshooting.md
  versioned_docs/version-8.6/self-managed/setup/deploy/amazon/amazon-eks/dual-region.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.6/self-managed/setup/guides/ingress-setup.md
  versioned_docs/version-8.6/self-managed/setup/overview.md
Labels: component:self-managed, deploy

#4655 Update the Camunda 8.3 elasticsearch tag to 8.8.2
  docs/self-managed/setup/upgrade.md
  versioned_docs/version-8.3/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.4/self-managed/platform-deployment/helm-kubernetes/upgrade.md
  versioned_docs/version-8.5/self-managed/setup/upgrade.md
  versioned_docs/version-8.6/self-managed/setup/upgrade.md
Labels: component:self-managed

#4843 update zeebe chaos links
  docs/components/zeebe/technical-concepts/partitions.md
  docs/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.3/components/zeebe/technical-concepts/partitions.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.4/components/zeebe/technical-concepts/partitions.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.5/components/zeebe/technical-concepts/partitions.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/operations/resource-planning.md
  versioned_docs/version-8.6/components/zeebe/technical-concepts/partitions.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/operations/resource-planning.md
Labels: kind/bug, component:docs

#4723 intro changes for smooth migration zeebe user tasks next
  api/tasklist/tasklist-openapi.yaml
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/apis-tools/frontend-development/01-task-applications/02-user-task-lifecycle.md
  docs/apis-tools/frontend-development/01-task-applications/03-task-application-architecture.md
  docs/apis-tools/java-client/zeebe-process-test.md
  docs/apis-tools/migration-manuals/migrate-to-camunda-user-tasks.md
  docs/apis-tools/tasklist-api-rest/assets/forms/userTaskMigrationDecisionHelperForm.js
  docs/apis-tools/tasklist-api-rest/assets/img/camunda-user-task-selection.png
  docs/apis-tools/tasklist-api-rest/assets/img/zeebe-user-task-selection.png
  docs/apis-tools/tasklist-api-rest/specifications/search-tasks.api.mdx
  docs/components/concepts/process-instance-migration.md
  docs/components/modeler/bpmn/user-tasks/user-tasks.md
  docs/components/modeler/web-modeler/advanced-modeling/form-linking.md
  docs/reference/announcements/870.md
  docs/reference/glossary.md
  docs/reference/release-notes/850.md
  optimize/components/userguide/process-analysis/user-task-analytics.md
  optimize/self-managed/optimize-deployment/configuration/system-configuration-platform-8.md
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.6/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  versioned_docs/version-8.6/apis-tools/frontend-development/01-task-applications/03-task-application-architecture.md
  versioned_docs/version-8.6/apis-tools/migration-manuals/migrate-to-zeebe-user-tasks.md
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/zeebe-api-rest/tutorial.md
  versioned_docs/version-8.6/components/modeler/bpmn/user-tasks/user-tasks.md
  versioned_docs/version-8.6/components/modeler/web-modeler/advanced-modeling/form-linking.md
Labels: 8.7.0-alpha3

#4828 d3: fix alpha URLs for 8.6 c8 REST API docs
  api/camunda/generation-strategy.js
  api/camunda/version-8.6/camunda-openapi.yaml
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/create-document-link-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/delete-document-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/download-document-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/find-all-users.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/get-decision-definition-xml-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/get-incident-by-key-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-definitions-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-decision-requirements-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-flow-node-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-incidents-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-process-instances-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/query-user-tasks-alpha.api.mdx
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/specifications/upload-document-alpha.api.mdx
Labels: dx, epic:docusaurus3

#4826 Update docs about sdk client configuration options
  docs/apis-tools/spring-zeebe-sdk/configuration.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/configuration.md
Labels: deploy

#4847 Update alpha release blog URL
  docs/reference/release-notes/870.md
Labels: 8.7.0-alpha3

#4849 Update connectors URL
  docs/reference/release-notes/870.md
Labels: 8.7.0-alpha3

#4838 Quick overhaul of outdated information in the migration guide
  docs/guides/migrating-from-camunda-7/adjusting-source-code.md
  docs/guides/migrating-from-camunda-7/conceptual-differences.md
  docs/guides/migrating-from-camunda-7/index.md
  docs/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/adjusting-source-code.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/index.md
  versioned_docs/version-8.3/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/adjusting-source-code.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/index.md
  versioned_docs/version-8.4/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/adjusting-source-code.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/index.md
  versioned_docs/version-8.5/guides/migrating-from-camunda-7/migration-readiness.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/adjusting-source-code.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/conceptual-differences.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/index.md
  versioned_docs/version-8.6/guides/migrating-from-camunda-7/migration-readiness.md
Labels: component:docs

#4774 draft framework for document handling
  docs/components/concepts/assets/document-preview-settings.png
  docs/components/concepts/assets/document-preview.png
  docs/components/concepts/assets/inbound-webhook-document.png
  docs/components/concepts/assets/rest-outbound-document.png
  docs/components/concepts/document-handling.md
  docs/components/connectors/out-of-the-box-connectors/amazon-bedrock.md
  docs/components/connectors/out-of-the-box-connectors/amazon-s3.md
  docs/components/connectors/out-of-the-box-connectors/amazon-textract.md
  docs/components/connectors/out-of-the-box-connectors/box.md
  docs/components/connectors/out-of-the-box-connectors/email.md
  docs/components/connectors/protocol/http-webhook.md
  docs/components/connectors/protocol/rest.md
  docs/components/modeler/forms/form-element-library/forms-element-library-document-preview.md
  docs/components/modeler/forms/form-element-library/forms-element-library-filepicker.md
  docs/components/tasklist/userguide/using-tasklist.md
  sidebars.js
Labels: deploy, 8.7.0-alpha3

#4845 Document Spring SDK 8.6.7+ Testing support
  docs/apis-tools/java-client/zeebe-process-test.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/components/best-practices/development/testing-process-definitions.md
  docs/reference/announcements/860.md
  docs/self-managed/operational-guides/update-guide/850-to-860.md
  versioned_docs/version-8.6/apis-tools/java-client/zeebe-process-test.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/components/best-practices/development/testing-process-definitions.md
  versioned_docs/version-8.6/reference/announcements.md
  versioned_docs/version-8.6/self-managed/operational-guides/update-guide/850-to-860.md
Labels: deploy, 8.7.0-alpha3

#4767 chore: remove osano styles
  docusaurus.config.js
  src/css/custom.css
Labels: component:docs, deploy

#4853 Update C8Run to 8.7.0-alpha3
  docs/self-managed/setup/deploy/local/c8run.md
Labels: component:docs, 8.7.0-alpha3

#4852 Clarify scope of `Execution listeners` in concept page
  docs/components/concepts/execution-listeners.md
  versioned_docs/version-8.6/components/concepts/execution-listeners.md
Labels: available & undocumented

#4867 Backport AWS region changes
  versioned_docs/version-8.3/reference/regions.md
  versioned_docs/version-8.4/reference/regions.md
  versioned_docs/version-8.5/reference/regions.md
  versioned_docs/version-8.6/reference/regions.md
Labels: component:docs

#4871 Fix typo on Announcements page
  docs/reference/announcements/860.md
  versioned_docs/version-8.6/reference/announcements.md
Labels: kind/bug, component:docs

#4873 update broken third party links to latest
  docs/self-managed/identity/getting-started/install-identity.md
  docs/self-managed/identity/troubleshooting/troubleshoot-identity.md
  docs/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  versioned_docs/version-8.3/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.4/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.5/self-managed/identity/getting-started/install-identity.md
  versioned_docs/version-8.5/self-managed/identity/troubleshooting/troubleshoot-identity.md
  versioned_docs/version-8.5/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  versioned_docs/version-8.5/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
  versioned_docs/version-8.6/self-managed/identity/getting-started/install-identity.md
  versioned_docs/version-8.6/self-managed/identity/troubleshooting/troubleshoot-identity.md
  versioned_docs/version-8.6/self-managed/identity/user-guide/configuration/configure-external-identity-provider.md
  versioned_docs/version-8.6/self-managed/identity/user-guide/configuration/connect-to-an-existing-keycloak.md
Labels: kind/bug, component:docs

#4729 I can read how to use an ad-hoc subprocess
  docs/components/modeler/bpmn/ad-hoc/ad-hoc.md
  docs/components/modeler/bpmn/ad-hoc/assets/ad-hoc-subprocess-activation.png
  docs/components/modeler/bpmn/ad-hoc/assets/ad-hoc-subprocess.png
  docs/components/modeler/bpmn/assets/bpmn-symbols/ad-hoc.svg
  docs/components/modeler/bpmn/bpmn-coverage.md
  docs/components/modeler/bpmn/markers.md
  media-pre-src/docs/components/modeler/bpmn/ad-hoc/ad-hoc-subprocess-activate.bpmn
  media-pre-src/docs/components/modeler/bpmn/ad-hoc/ad-hoc-subprocess-demo.bpmn
  sidebars.js
Labels: component:zeebe, target:8.7, deploy

#4881 Change 8.7 scheduled dates to April
  docs/reference/announcements/870.md
  docs/reference/release-notes/870.md
  docs/reference/release-notes/release-notes.md
Labels: component:docs, deploy

#4840 Update PR template, move to more automation via labels
  .github/pull_request_template.md
Labels: dx

#4884 Fix 8.7 announcements date
  docs/reference/announcements.md
Labels: kind/bug, component:docs

#4857 adjust references of region to regionid
  docs/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
  docs/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  docs/apis-tools/operate-api/overview.md
  docs/apis-tools/spring-zeebe-sdk/getting-started.md
  docs/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  docs/components/connectors/out-of-the-box-connectors/amazon-eventbridge.md
  docs/components/connectors/out-of-the-box-connectors/amazon-sns.md
  docs/components/connectors/out-of-the-box-connectors/github.md
  docs/components/connectors/out-of-the-box-connectors/operate.md
  docs/components/connectors/out-of-the-box-connectors/slack.md
  docs/components/connectors/out-of-the-box-connectors/twilio.md
  docs/components/connectors/protocol/http-webhook.md
  docs/guides/getting-started-orchestrate-microservices.md
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/camunda-api-rest-authentication.md
  versioned_docs/version-8.6/apis-tools/camunda-api-rest/camunda-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/operate-api/overview.md
  versioned_docs/version-8.6/apis-tools/spring-zeebe-sdk/getting-started.md
  versioned_docs/version-8.6/apis-tools/tasklist-api-rest/tasklist-api-rest-overview.md
  versioned_docs/version-8.6/apis-tools/zeebe-api-rest/zeebe-api-rest-overview.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/amazon-sns.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/github.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/operate.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/slack.md
  versioned_docs/version-8.6/components/connectors/out-of-the-box-connectors/twilio.md
  versioned_docs/version-8.6/components/connectors/protocol/http-webhook.md
  versioned_docs/version-8.6/guides/getting-started-orchestrate-microservices.md
Labels: kind/cleanup, component:docs, component:console

#4885 add values details for httl
  docs/components/modeler/reference/modeling-guidance/rules/history-time-to-live.md
  versioned_docs/version-8.5/components/modeler/reference/modeling-guidance/rules/history-time-to-live.md
  versioned_docs/version-8.6/components/modeler/reference/modeling-guidance/rules/history-time-to-live.md
Labels: component:docs, low prio

#4891 fix: correct component name for TabItem
  docs/self-managed/operational-guides/multi-region/dual-region-ops.md
  versioned_docs/version-8.6/self-managed/operational-guides/multi-region/dual-region-ops.md
Labels: kind/bug, dx

#4890 Adjust 8.7 announcements
  docs/reference/announcements.md
  docs/reference/announcements/870.md
Labels: target:8.7, deploy, available & undocumented

#4878 docs(self-managed): add download link for Docker Compose
  docs/self-managed/setup/deploy/local/docker-compose.md
  src/components/CamundaDistributions/DockerCompose.jsx
  src/components/CamundaDistributions/index.jsx
  versioned_docs/version-8.3/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.4/self-managed/platform-deployment/docker.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/docker-compose.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/docker-compose.md
Labels: component:self-managed, deploy

#4510 Docs dark mode v1.0
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.js
  src/pages/styles.module.css
  src/theme/ColorModeToggle/index.js
  static/img/hero-bg-dark.png
  static/img/home-get-started.png
  static/img/home-self-managed.png
  static/img/light-C.png
Labels: kind/enhancement, component:docs, deploy

#4886 add sm address details for cli client
  docs/apis-tools/community-clients/cli-client/index.md
  versioned_docs/version-8.5/apis-tools/cli-client/index.md
  versioned_docs/version-8.6/apis-tools/community-clients/cli-client/index.md
Labels: component:docs, low prio

#4868 docs(web-modeler): rename milestone to version
  docs/components/connectors/manage-connector-templates.md
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-action-menu-item-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-action-menu-item.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-code-diffing.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-compare-process-application-files-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-versioned-milestone-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-breadcrumb.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-icon-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-create-via-icon.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-diffing.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore-complete-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore-complete.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-restore.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-show-history-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/milestones/web-modeler-milestone-visual-diffing.png
  docs/components/modeler/web-modeler/img/process-applications/process-application-milestone-diagram.png
  docs/components/modeler/web-modeler/img/process-applications/process-application-version-diagram.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-action-menu-item-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-code-diffing.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-compare-process-application-files-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-create-versioned-milestone-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-create-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-create-via-icon-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-restore-complete-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-restore-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-show-via-breadcrumb-highlight.png
  docs/components/modeler/web-modeler/img/versions/web-modeler-version-visual-diffing.png
  docs/components/modeler/web-modeler/milestones.md
  docs/components/modeler/web-modeler/process-application-pipeline.md
  docs/components/modeler/web-modeler/process-application-versioning.md
  docs/components/modeler/web-modeler/process-applications.md
  docs/components/modeler/web-modeler/versions.md
  docs/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
  optimize_sidebars.js
  sidebars.js
  static/.htaccess
  versioned_docs/version-8.6/components/modeler/web-modeler/process-application-pipeline.md
  versioned_docs/version-8.6/components/modeler/web-modeler/process-application-versioning.md
  versioned_docs/version-8.6/guides/devops-lifecycle/integrate-web-modeler-in-ci-cd.md
Labels: component:web-modeler-SaaS, component:web-modeler-sm, deploy, 8.7.0-alpha4

#4896 fix: wrong property mapping
  versioned_docs/version-8.5/apis-tools/spring-zeebe-sdk/configuration.md
Labels: low prio

#4902 Fix improperly formatted internal deep links; prevent them from happening again.
  docs/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  docs/components/concepts/execution-listeners.md
  docs/components/concepts/job-workers.md
  docs/components/console/manage-clusters/settings.md
  docs/components/modeler/web-modeler/collaborate-with-modes.md
  docs/components/modeler/web-modeler/deploy-process-application.md
  docs/components/modeler/web-modeler/play-your-process.md
  docs/components/modeler/web-modeler/run-or-publish-your-process.md
  docs/reference/release-notes/850.md
  docs/self-managed/concepts/access-control/user-task-access-restrictions.md
  docs/self-managed/setup/deploy/amazon/aws-ec2.md
  docs/self-managed/setup/deploy/local/c8run.md
  docs/self-managed/setup/deploy/local/manual.md
  docs/self-managed/setup/guides/connect-to-an-oidc-provider.md
  docs/self-managed/zeebe-deployment/configuration/broker.md
  docs/self-managed/zeebe-deployment/configuration/gateway.md
  styles/camunda/all/deepLinksAreFormattedCorrectly.yml
  styles/camunda/all/hrefProduction.yml
  styles/camunda/docsInstance/hrefDocsToDocs.yml
  styles/camunda/docsInstance/hrefDocsToOptimize.yml
  styles/camunda/optimizeInstance/hrefOptimizeToDocs.yml
  styles/camunda/optimizeInstance/hrefOptimizeToOptimize.yml
  versioned_docs/version-8.3/components/console/manage-clusters/settings.md
  versioned_docs/version-8.3/self-managed/react-components/components.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.3/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.4/apis-tools/frontend-development/introduction-to-task-applications.md
  versioned_docs/version-8.4/components/console/manage-clusters/settings.md
  versioned_docs/version-8.4/self-managed/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.4/self-managed/react-components/components.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.4/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.5/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  versioned_docs/version-8.5/components/console/manage-clusters/settings.md
  versioned_docs/version-8.5/components/modeler/web-modeler/collaborate-with-modes.md
  versioned_docs/version-8.5/reference/release-notes/850.md
  versioned_docs/version-8.5/self-managed/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.5/self-managed/react-components/components.md
  versioned_docs/version-8.5/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.5/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.5/self-managed/zeebe-deployment/configuration/gateway.md
  versioned_docs/version-8.6/apis-tools/frontend-development/01-task-applications/01-introduction-to-task-applications.md
  versioned_docs/version-8.6/components/concepts/execution-listeners.md
  versioned_docs/version-8.6/components/console/manage-clusters/settings.md
  versioned_docs/version-8.6/components/modeler/web-modeler/collaborate-with-modes.md
  versioned_docs/version-8.6/components/modeler/web-modeler/play-your-process.md
  versioned_docs/version-8.6/reference/release-notes/850.md
  versioned_docs/version-8.6/self-managed/concepts/access-control/user-task-access-restrictions.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
  versioned_docs/version-8.6/self-managed/setup/deploy/local/manual.md
  versioned_docs/version-8.6/self-managed/setup/guides/connect-to-an-oidc-provider.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/broker.md
  versioned_docs/version-8.6/self-managed/zeebe-deployment/configuration/gateway.md
Labels: kind/cleanup, dx

#4900 remove/reword remaining references to private docker registries
  docs/self-managed/setup/deploy/other/docker.md
  docs/self-managed/setup/guides/air-gapped-installation.md
  docs/self-managed/setup/install.md
  versioned_docs/version-8.6/self-managed/setup/deploy/other/docker.md
  versioned_docs/version-8.6/self-managed/setup/guides/air-gapped-installation.md
  versioned_docs/version-8.6/self-managed/setup/install.md
Labels: component:self-managed, available & undocumented

#4909 chore(c8run): point to latest patch
  versioned_docs/version-8.6/self-managed/setup/deploy/local/c8run.md
Labels: component:self-managed

#4875 connectors: Add hint about merging set cookie headers
  docs/components/connectors/protocol/rest.md
  versioned_docs/version-8.6/components/connectors/protocol/rest.md
Labels: component:connectors
